[2016-05-21 00:06] raamdev commented on #740
#### **Comet Cache v160521** has been released and includes changes from this GitHub Issue. See the [v160521 announcement](https://cometcache.com/blog/comet-cache-v160521-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#740).

[2016-05-21 00:06] raamdev commented on #690
#### **Comet Cache v160521** has been released and includes changes from this GitHub Issue. See the [v160521 announcement](https://cometcache.com/blog/comet-cache-v160521-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#690).

[2016-05-21 00:06] raamdev commented on #693
#### **Comet Cache v160521** has been released and includes changes from this GitHub Issue. See the [v160521 announcement](https://cometcache.com/blog/comet-cache-v160521-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#693).

[2016-05-21 00:06] raamdev commented on #756
#### **Comet Cache v160521** has been released and includes changes from this GitHub Issue. See the [v160521 announcement](https://cometcache.com/blog/comet-cache-v160521-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#756).

[2016-05-21 00:52] raamdev opened #771 "Add social links to plugin options page"
We should have links to the Comet Cache [Twitter](http://twitter.com/cometcache) and [Facebook](http://facebook.com/cometcache/) pages. We can use `si-facebook` and `si-twitter` for the icons (from the [Sharkicons library](http://websharks.github.io/sharkicons/demo.html)).
## Pro

![2016-05-20_20-49-56](https://cloud.githubusercontent.com/assets/53005/15445440/8e98e368-1ecc-11e6-8628-e6fa35df4b2c.

[2016-05-21 00:58] raamdev opened #772 "Pro Plugin Updater does not reactivate Comet Cache Pro after update"
While testing the upgrade from Comet Cache Pro v160417 → v160521 via the Pro Plugin Updater, I'm noticing that in some cases the plugin does not reactivate despite having been active before the update, and despite WordPress saying the plugin was reactivated successfully. Manually activating the plugin after the update works fine and the plugin does not produce any errors.

This appears to be just

[2016-05-21 01:54] Reedyseth commented on #772
@raamdev Did you test this on the WordPress 4.5.2 ?

[2016-05-21 04:38] renzms commented on #772
Was unable to reproduce this after multiple reinstallation and uninstalls from **Comet Cache Pro v160417 → v160521 via the Pro Plugin Updater**.

I also tested three extra scenarios just in case:
- 1 scenario where I had ZenCache installed, uninstalled and installed Comet Cache Pro v160417 then upgraded
- 1 scenario where I cleared the settings from Plugin Deletion Safeguards and installed Comet C

[2016-05-21 04:59] VR51 opened #773 "Incorrect Directory and File Permissions for C. Cache 650251"
The download package for the latest release of Comet Cache Pro (v. 650251) has incorrect directory and file permissions. The directory permissions are set to 777 (should be 755) and files are set to 666 (should be 644). Package downloaded from the Comet Cache website. Just letting you know.

[2016-05-21 08:05] kristineds commented on #772
@raamdev Was unable to reproduce this issue either. Tested using WP 4.5.2. Steps I followed:
- Removed installed Comet Cache v160521 on site with Plugin Deletion Safeguards disabled
- Installed and activated old Comet Cache Pro v160416 from the Release Archive.
- Used Pro Plugin Updater to update to the latest version `v160521`.
- Returned to Plugins page and check if Comet Cache is activated.

![

[2016-05-21 12:29] raamdev commented on #773
@VR51 Thank you for the heads up! This has been fixed.

[2016-05-21 12:29] #773 closed, assigned to nobody

[2016-05-21 13:51] raamdev opened #774 "Show PHP Memory Usage in Stats / Charts"
Comet Cache Pro allows us to see the system memory usage (via the `free` command) but it would be nice to also include information from PHP's `get_memory_usage()` command to see information about memory available to PHP (the [WP Memory Usage](https://wordpress.org/plugins/wp-memory-usage/) does this).

It would also be nice to have `get_memory_usage()` available as a backup in case it's not possib

[2016-05-21 14:40] raamdev opened #775 "Stats / Charts broken when disk_total_space and/or disk_free_space are disabled via PHP"
When the PHP `disk_total_space()` and/or the `disk_free_space()` function has been disabled by a web host (a common security practice), Comet Cache Pro does not handle the situation gracefully and instead the entire Stats / Charts section does not load (you see an indefinite spinning animation).

![2016-05-21_10-38-36](https://cloud.githubusercontent.com/assets/53005/15449023/3480d128-1f40-11e6-89

[2016-05-21 15:01] raamdev commented on #771
Next Release Changelog:
- **Enhancement**: Added links the Options Page for the Comet Cache [Twitter](http://twitter.com/cometcache) and [Facebook](http://facebook.com/cometcache) accounts. Props @renzms. [Issue #771](https://github.com/websharks/comet-cache/issues/771).

[2016-05-21 15:01] #771 closed, assigned to renzms

[2016-05-21 17:07] patdumond commented on #772
I was unable to reproduce this issue, but I also unable to update using the Plugin Updater for Comet Cache. Clicking the **Update Comet Cache Now** button takes me to a 404 page at this link: http://s2m.sitegeeks.net/wp-admin/update.php?action=upgrade-plugin&plugin=comet-cache-pro%2Fcomet-cache-pro.php&_wpnonce=561d193fc9&comet_cache_update_pro_version=160521&comet_cache_update_pro_zip=aHR0cHM6Ly9

[2016-05-21 19:00] jaswrks commented on #772
Do you know if your server running Mod Security for Apache?

@raamdev I'm guessing the problem reported by @patdumond is related to `&comet_cache_update_pro_zip=aHR0cHM6Ly9jb21ldGNhY2hlLmNvbS8%2FdHNsPXgyMjBy` on the end of the URL. That's probably triggering Mod Security rules.

@patdumond You can check the Apache error log (if you have access to it) and confirm that.

[2016-05-21 20:36] raamdev commented on #772
@jaswsinc writes...

I agree, and we have a separate GitHub issue for that; see https://github.com/websharks/comet-cache/issues/416.

However, that doesn't explain the issue that I've reproduced across several hosting environments with Comet Cache Pro not reactivating after an update. The environments I reproduced this in included Apache, NGINX, PHP 5.5 and PHP 7. Nothing appears in the PHP error

[2016-05-21 21:00] raamdev commented on #772
I finally managed to get a PHP error associated with problem:

[code]

[2016-05-21 21:03] raamdev commented on #772
And looking at the part of `advanced-cache.php` that is producing this error reveals why others may not have been able to reproduce it; if you don't have `WP_DEBUG` enabled, the error is suppressed with `@include_once`:

[code]

[2016-05-21 21:55] gwfc opened #776 "Hey folks...want to report this on HTML Compression but where categories/content not showing up"
With this on http://screencast.com/t/Pgr4fTFo4uPw

The list of categories excerpts are on the page but hidden from view for logged out users (effectively showing a blank page to people who are logged out).

For logged in users, the are fine and work and can be seen.

When I disable http://screencast.com/t/Pgr4fTFo4uPw then categories excerpts are seen perfectly for logged out and logged in users.

[2016-05-21 22:00] patdumond commented on #772
No Mod Security errors in the error log, but I did find this:

[code]

Looks like FastCGI?

[2016-05-21 22:05] jaswrks commented on #772
@patdumond Removing `&comet_cache_update_pro_zip=aHR0cHM6Ly9jb21ldGNhY2hlLmNvbS8%2FdHNsPXgyMjBy` from this URL gets rid of the 404 error, so there is something on the web server that doesn't like this series of characters. It's most likely Mod Security or a web application firewall of another name that uses similar heuristic rulesets.

Thank you. Have you been able to confirm that those files do i

[2016-05-21 23:06] jaswrks commented on #772
I haven't been able to reproduce this yet, but I will take a closer look shortly. That file should exist in that location, so I'm curious to see how this happens.

[2016-05-21 23:07] patdumond commented on #772
Yes. They all exist.

[2016-05-21 23:30] raamdev commented on #772
@jaswsinc writes...

My guess is that it has something to do with the old version of Comet Cache being deleted during the update process, and then something (I'm not sure what) leading to a call to `advanced-cache.php`, which will obviously fail when Comet Cache doesn't exist. However, immediately after the latest version of Comet Cache is unpacked and then `advanced-cache.php` loads just fine.

S

[2016-05-21 23:58] raamdev commented on #772
Here's a screencast I did demonstrating the deactivation after Pro update: http://quick.as/k8j5f5xbv

[2016-05-22 00:02] raamdev commented on #772
I should add that this error does not _always_ show up when Comet Cache fails to reactivate after a Pro update:

So it could be that it's unrelated and just a red herring.

[2016-05-22 11:59] raamdev commented on #776
@gwfc Not all themes/plugins are compatible with HTML Compression, so you may need to turn off certain HTML Compression features or exclude certain scripts from being compressed. Otherwise, you'll need to get in touch with the developer of the problematic theme/plugin and work with them to make it compatible with compression.

Also, we reserve GitHub for filing bug reports and making feature reque

[2016-05-22 11:59] #776 closed, assigned to nobody

[2016-05-23 05:29] Reedyseth commented on #772
I was not able to reproduce this as well on my live site, it runs **PHP 5.6.14**,**WordPress 4.5.2** and **Apache 2.2.31**, I did:
- Deactivate Comet Cache.
- Delete my v160514-RC version and then update the v160417 version downloaded from here https://cometcache.com/release-archive/
- Install the the version v160417 through the Plugin Dashboard and upload the zip file.
- Run the autoupdate by cli

[2016-05-23 18:50] jaswrks commented on #772
I ran this same test, moving from CC Pro v160417 to v160521 at HostGator. I was unable to reproduce the issue that you're having. I tried it three times and each time it upgraded as expected.

However, I am seeing another (seemingly unrelated) issue at HostGator. It appears that HostGator is having problems connecting to the WordPress.org update server over SSL.

[code]

I saw that same error on a

[2016-05-23 18:51] jaswrks commented on #772
↑ My last tests were on PHP v7.0.4 @ HostGator by the way.

[2016-05-23 19:00] raamdev commented on #772
I actually noticed that error a few times while running these tests locally (NGINX + PHP 7), but they were never consistent so I assumed they were just the result of temporary connectivity issues.

Bummer. That's so strange. I can (relatively) consistently reproduce the issue across three separate hosting platforms (locally, HostGator, and LiquidWeb).

Hmm, now I'm wondering if I might have a brow

[2016-05-23 19:04] jaswrks opened #777 "Query Monitor Conflict"
During some recent testing, I had both Comet Cache Pro and Query Monitor active at the same time. This seems to bring down a site for whatever reason. I didn't have time to run many tests with this combination, but I wanted to report that there definitely seems to be an issue between these two.

https://wordpress.org/plugins/query-monitor/

[2016-05-23 19:08] raamdev commented on #772
Well, I'll be. I can't reproduce the problem using Firefox (I was using Chrome before). So it must be a browser issue on my end.

@websharks/team Ugh. Sorry for the false alarm, but thank you very much for testing.

[2016-05-23 19:08] #772 closed, assigned to nobody

[2016-05-23 19:17] bobo1 opened #778 "Updating"
This is becoming a bit of nuisance. We have almost 100 sites now using Comet Cache. Plugin updates on all sites are handled via managewp - allowing us to update all sites at once. Your plugin requires actual going the admin panel and activating an update. This is ridiculous! You need to come up with a compatible method of the standard Wordpress updating...

[2016-05-23 19:20] raamdev commented on #772
FYI, I tracked it down to this [WordPress Theme and Plugins detector](https://chrome.google.com/webstore/detail/wordpress-theme-and-plugi/jdflfokckhmchfpokjmpcoblghjngjja) extension that I installed about a week ago.

[2016-05-23 19:24] raamdev commented on #777
Related: https://github.com/websharks/comet-cache/issues/686#issuecomment-194457147

[2016-05-23 19:25] raamdev commented on #778
@bobo1 Are you using Comet Cache Pro or Comet Cache Lite?

[2016-05-23 19:27] raamdev commented on #465
@jaswsinc Any opposition to what I suggested in the last paragraph above?

[2016-05-23 19:36] jaswrks commented on #465
Nope. It sounds like a plan to me. I think all that really needs to happen is that [this filter](https://github.com/websharks/comet-cache-pro/blob/160521/src/includes/traits/Plugin/UpdateUtils.php#L112) needs to be capable of working without relying on request variables, the current user, or transients. That way CC details are given whenever WordPress itself looks for available upgrades.

I recent

[2016-05-23 19:46] bobo1 commented on #778
Pro

John Phipps
RADX Corporation
972-422-9903
www.roadhog.com http://www.roadhog.com/

The information transmitted is intended only for the person or entity to which it is addressed and may contain confidential and/or privileged material. If the reader of this message is not the intended recipient, you are hereby notified that your access is unauthorized, and any review, dissemination, distributi

[2016-05-23 19:47] jaswrks commented on #772
Ah. Thanks for the follow-up. Glad you found the underlying problem.

No problem. Happy to do it.

[2016-05-23 19:47] raamdev commented on #778
@bobo1 In that case, please see this GitHub issue that is already open to add Pro Updater compatibility for ManageWP: https://github.com/websharks/comet-cache/issues/465

I'll see if we can work that into the current development cycle for the next release.

[2016-05-23 19:47] #778 closed, assigned to nobody

[2016-05-23 19:48] raamdev commented on #465
+1 here: https://github.com/websharks/comet-cache/issues/778

[2016-05-23 21:49] Reedyseth commented on #772
@raamdev just FYI I tested on Chrome without any issue.

[2016-05-23 22:03] raamdev commented on #772
@Reedyseth Thanks. Please see my comment above about the browser extension that caused the problem.

[2016-05-24 08:36] joeldbirch opened #779 "Excluding inline JS snippets setting not working."
When I select "No, do not compress inline JavaScript snippets" it has no effect. I still need to add exclusion patterns to exclude them one by one. Anyone else seeing this?

[2016-05-24 21:14] Reedyseth commented on #772
haha :smile_cat: I just saw that, my bad !

[2016-05-25 21:05] Presskopp opened #780 "Feature Request: Link "Cache Stats" button in Admin Bar to the Cache Stats page"
![dashstatslink](https://cloud.githubusercontent.com/assets/18373563/15556157/cb7d065c-22cc-11e6-9a97-0ce41323b9cb.jpg)

It's more an idea than a feature request.. :)

If you click on 'Cache Stats' in Adminbar, why not end up here?
/wp-admin/admin.php?page=comet_cache

After talking to @raamdev  I just drop it here.

[2016-05-26 07:32] renzms opened #781 "Enhancement: Clarify the use of Full URLs in inline docs for Misc. Auto-Clear Options"
Under **Automatic Cache Clearing → Misc. Auto-Clear Options**

It would be great to explain that a single URL must be complete including `https/http` and domain.

![screen shot 2016-05-26 at 3 26 16 pm](https://cloud.githubusercontent.com/assets/13220018/15567127/2300492c-2357-11e6-9834-6c5f3e5cf50f.png)

Some users were under the impression relative links for single URLs could be used. e.g. `/nam

[2016-05-26 08:39] Li-An commented on #695
I confirm the problem with AMP and last version of Comet Cache. I do not use HTML compression on my sites and I've got a bunch of 404 errors. ![See here](https://framapic.org/1avHTcvG3BbE/Je4h2tBLeX9C)

[2016-05-26 18:10] raamdev commented on #695
@Li-An This GitHub issue is specifically related to Comet Cache + HTML Compressor and the AMP plugin. If you're not using the HTML Compressor and you're seeing an issue, please provide us with some additional details about the problem so that we can investigate more closely.

Also, the URLs in your screenshot indicate the 404 errors were for `blog/11/`, etc. However, the WordPress AMP plugin speci

[2016-05-26 18:13] raamdev commented on #779
@joeldbirch Can you give us an example? Perhaps copy/paste the part of your page source code that you're expecting Comet Cache to exclude? Or if you could provide us with a link to the page, that would work too.

[2016-05-26 18:16] raamdev commented on #780
@Presskopp Thank you for opening a GitHub issue. :-)

I think it would make more sense for that to link to the Comet Cache Stats page:
`wp-admin/admin.php?page=comet_cache-stats`

Note that the Cache Stats panel that opens up includes a "More Info" button at the bottom, which _does_ link to the Cache Stats page, however I agree that it makes sense to also link the "Cache Stats" at the top to this

[2016-05-26 18:19] Li-An commented on #695
OK, sorry. After reflexion I may be wrong but cannot understant where the problem comes from.

[2016-05-26 19:13] Presskopp commented on #780
First: Sorry, just a typo I have here, always talking about `wp-admin/admin.php?page=comet_cache-stats`

Nothing more to say here but Thank you.

[2016-06-01 07:33] jaswrks commented on #781
The intended functionality is for this to require a full URL so that a host can be considered as well, or even the scheme, which may (at times) be desirable; e.g., to only clear the `https://` cache or to only clear the cache for a particular domain that you're using.

However, I do agree that in most cases the full URL is not necessary and it seems like it would be worth it for us to somehow supp

[2016-06-01 12:27] raamdev commented on #741
## What needs to be done

We need to add a second button to the bottom of the Plugin Updater page, one that goes right next to the "Save All Changes" button and says "Save and Update Comet Cache" (note: the screenshot says "Save and Update Comet Cache Now", but I feel we should take out the "Now").

![2016-04-19_20-37-48](https://cloud.githubusercontent.com/assets/53005/14659990/af632e12-066e-11e6

[2016-06-01 12:31] raamdev commented on #741
@jaswsinc writes...

It seems this is the only workaround (even as recently as March 2016): http://stackoverflow.com/a/15917221/130664 I'm not sure how I feel about adding hidden fields to the page to solve this, but if you think it's worth doing, I'm fine with it.

[2016-06-01 14:04] jaswrks commented on #741
Nah, I'm not wild about that idea either.

[2016-06-01 14:07] jaswrks commented on #741
Did you give this a go?
http://stackoverflow.com/a/30976223/1219741

[2016-06-01 14:12] raamdev commented on #741
@jaswsinc writes...

Whoa! I just tried that and it worked! Sweet.

Now I wonder if that's cross-browser compatible though... will Firefox obey `autocomplete="new-password"`?

[2016-06-01 14:14] raamdev commented on #741
Nope, `autocomplete="new-password"` is not compatible with Firefox—when you use `new-password`, Firefox ends up auto-filling the fields.

[2016-06-01 14:18] jaswrks commented on #741
Ah. Awesome! Well, at least Chrome can be made to obey. That's progress!

[2016-06-01 14:22] raamdev commented on #741
It looks like we can use `autocomplete="off"` in the `<form>` tag and Firefox will obey that. Then we can use `autocomplete="new-password"` in the individual fields, and Chrome will obey that. Woohoo!

@renzms Please include the above changes in your PR for this issue. :-)

[2016-06-03 12:21] szepeviktor opened #782 "Webserver-only caching"
Do you plan to support HTML-only caching (without starting PHP)?

[2016-06-03 12:24] szepeviktor commented on #701
Clear your cache and use https://redbot.org/
It'll tell you all kinds of problems.

[2016-06-03 21:16] raamdev opened #783 "Feature Request: Load cached pages via Apache mod_rewrite"
As we know, using Apache `mod_rewrite` (i.e., the web server) to load a cached HTML file, and avoiding PHP altogether, makes for a dramatic speed increases. But doing so comes with downsides too, which is why we've chosen to focus on the more compatible PHP-only caching.

We've discussed this in various areas (internally [here](https://github.com/websharks/cometcache.com/issues/55)) and agreed to

[2016-06-03 22:38] raamdev commented on #728
Next Release Changelog:
- **WP-CLI Compatibility**: Fixed a bug with deactivating Comet Cache using WP-CLI. Doing so was producing a "Invalid argument; host token empty!" error message. This has been resolved. Props @MarioKnight @jaswsinc @renzms. See [Issue #728](https://github.com/websharks/comet-cache/issues/728).

[2016-06-03 22:38] #728 closed, assigned to renzms

[2016-06-03 22:42] raamdev commented on #781
@jaswsinc writes...

Does it? I would think that would need to be `**/category-abc/*`, where the `**` would include the slashes in the scheme (e.g., `http://`).

[2016-06-03 22:48] raamdev commented on #781
@jaswsinc Actually, I just tested this and neither `*/category-abc/*` nor `**/category-abc/*` worked. I had to enter the full first part of the URL to get it to clear the URL: `http://example.com/category-abc/*`

[2016-06-03 23:19] raamdev commented on #768
The following was applied to both the Logged-In Users panel and the Client-Side Caching panel:

![2016-06-03_19-17-49](https://cloud.githubusercontent.com/assets/53005/15795502/07ecb8a4-29c0-11e6-8b1b-967a610bd608.png)
![2016-06-03_19-17-59](https://cloud.githubusercontent.com/assets/53005/15795503/0956f42a-29c0-11e6-81ca-1152898ce52d.png)

Additionally, the "Enable HTML Compression for Logged-In

[2016-06-03 23:20] raamdev commented on #768
Next Release Changelog:
- **UI Enhancements**: Improved the Logged-In Users and the Client-Side Caching options panels to dim additional options when the feature is disabled. Additionally, the "Enable HTML Compression for Logged-In Users?" option has been relocated from the HTML Compressor option panel to the more appropriate Logged-In Users option panel. See [Issue #768](https://github.com/websha

[2016-06-03 23:20] #768 closed, assigned to raamdev

[2016-06-03 23:27] raamdev commented on #703
@jaswsinc writes...

Ping. ↑ 😄

[2016-06-03 23:41] jaswrks commented on #781
Oh, I'm so sorry. I was mistaken. Yep, I can see [from this method](https://github.com/websharks/comet-cache-pro/blob/160521/src/includes/traits/Shared/CachePathUtils.php#L279) that a full URL is required by this routine, because it currently depends on `buildCachePath()` which expects a parseable URL. So while the wildcards work in the inner portions of the URL, they won't make it past the `parse

[2016-06-03 23:41] jaswrks commented on #781
Yes, you are correct there also. Very sorry for the confusion.

[2016-06-03 23:45] jaswrks commented on #782
@szepeviktor Yep. Take a look here: https://github.com/websharks/comet-cache/issues/134

[2016-06-03 23:45] jaswrks commented on #782
Closing this in favor of https://github.com/websharks/comet-cache/issues/134

[2016-06-03 23:45] #782 closed, assigned to nobody

[2016-06-03 23:49] raamdev commented on #782
@szepeviktor I think @jaswsinc meant https://github.com/websharks/comet-cache/issues/783.

[2016-06-03 23:59] jaswrks commented on #703
Anything which currently uses `str_ireplace()` can be updated to use `preg_replace('//ui', ...)` instead, for unicode compatibility. So for instance: https://github.com/websharks/comet-cache-pro/search?utf8=%E2%9C%93&q=str_ireplace

[code]

Becomes:

[code]

That way if the URL contains a multibyte character it won't get mangled when doing string replacements.

In WordPress (as it stands), this is

[2016-06-04 00:10] jaswrks commented on #703
[This line](https://github.com/websharks/comet-cache-pro/blob/866bbf7011f42c2ebe0441156384486a465a6f59/src/includes/traits/Shared/CacheDirUtils.php#L145) can become:

[code]

[This line](https://github.com/websharks/comet-cache-pro/blob/866bbf7011f42c2ebe0441156384486a465a6f59/src/includes/traits/Shared/CacheDirUtils.php#L310) can become:

[code]

[This line](https://github.com/websharks/comet-cac

[2016-06-04 00:15] jaswrks commented on #703
The `stripos()` examples in this file could be updated to show `mb_stripos()`.
https://github.com/websharks/comet-cache-pro/blob/feature/703/src/includes/templates/ac-plugin.txt

[2016-06-04 00:21] jaswrks commented on #703
[These lines](https://github.com/websharks/comet-cache-pro/blob/feature/703/src/includes/traits/Plugin/InstallUtils.php#L346-L354) can be replaced with:

[code]

[2016-06-04 00:23] jaswrks commented on #703
[This line](https://github.com/websharks/comet-cache-pro/blob/feature/703/src/includes/traits/Plugin/InstallUtils.php#L364) can be replaced with:

[code]

[2016-06-04 00:26] jaswrks commented on #703
In [this file](https://github.com/websharks/comet-cache-pro/blob/feature/703/src/includes/classes/MenuPageOptions.php) there are a few instances of `strtolower()` that still should be changed to `mb_strtolower()`.

[2016-06-04 00:27] jaswrks commented on #703
In [this file](https://github.com/websharks/comet-cache-pro/blob/feature/703/src/includes/traits/Shared/CacheDirUtils.php) also. Convert all instances of `strtolower()` into `mb_strtolower()`.

[2016-06-04 00:28] jaswrks commented on #703
Everything else looks great. I'd like to do another round of testing once the above changes are implemented though.

[2016-06-05 00:08] szepeviktor commented on #783
After asking it in #782 I've made some measurements.
Using Apache mpm_event, the difference between downloading an HTML file and the same content by PHP (WP+Comet Cache) is within standard deviation: +/- 2 msec for 32 msec.
(full page generation time is ~174 msec)

[2016-06-07 20:37] raamdev commented on #703
@jaswsinc This is ready for another round of tests. Your latest suggestions have been committed in https://github.com/websharks/comet-cache-pro/pull/225/commits/edadf24ad6d0d30c6cc2ec3c70da8226ed4e3b46.

[2016-06-07 20:51] jaswrks commented on #703
@raamdev The code sample I gave [here](https://github.com/websharks/comet-cache/issues/703#issuecomment-223723562) has a misspelled word `preq` instead of `preg`.

[2016-06-07 21:15] raamdev commented on #703
Ha, glad somebody caught that. 😳

[2016-06-08 22:03] raamdev opened #784 "Installing Comet Cache on site with PHP < 5.3 causes fatal error"
PHP 5.3 is the version where the `__DIR__` magic constant was introduced. The `comet-cache.php` file, which is the very first thing loaded when you install Comet Cache, loads the `plugin.php`, but it does so using a magic constant to figure out the full path to that file:

[code]

While Comet Cache requires PHP 5.4+ and there's [a version check](https://github.com/websharks/comet-cache/blob/160521

[2016-06-09 15:28] Presskopp commented on #784
Worth mentioning that WP itself requires PHP 5.6 (or higher), so anybody installing it on lower versions is playing with fire anyway.
https://wordpress.org/about/requirements/

[2016-06-09 15:37] raamdev commented on #784
@Presskopp WordPress does not _require_ PHP 5.6 or higher, it simply recommends it. WordPress still runs on PHP 5.2.4. See the following from the page you linked to:

[2016-06-09 15:45] #723 closed, assigned to nobody

[2016-06-09 23:21] Presskopp commented on #784
You're right. It's still riding a dead horse :)

[2016-06-10 17:09] raamdev commented on #741
Next Release Changelog:
- **UX Bug Fix** (Pro): If you had your WordPress Dashboard login details saved by your browser, the browser autofill would automatically fill in the Pro Plugin Updater fields with those details, which then needed to be replaced with your actual Pro license details. The browser autofill has been disabled for those fields (tested in Chrome, Firefox, and Safari). Props @renzm

[2016-06-10 18:02] mennobouma opened #785 "Comet Cache Pro Visual Composer Post Grid bug"
Hi Websharks,

Thanks for this great plugin. Almost everything works fine for me, except one thing. I'm running into a issue with the Visual Composer plugin and elements like the Post Grid where it uses Ajax and nonces with 24 hour lifetime. The problem also mentioned here: http://www.wpfastestcache.com/features/visual-composer-post-grid-problem/.

I need my cache to stay 'alive' for longer than 2

[2016-06-10 21:14] raamdev commented on #785
@mennobouma Thanks for the report. We have an existing GitHub issue already open for Visual Composer Post Grid compatibility; please see https://github.com/websharks/comet-cache/issues/673. I'm going to close this issue in favor of https://github.com/websharks/comet-cache/issues/673.

[2016-06-10 21:14] #785 closed, assigned to nobody

[2016-06-13 22:50] raamdev commented on #703
@jaswsinc writes...

Were you able to run those tests? Can I merge now, or would you like to do some more testing?

[2016-06-14 18:35] Ed-AITpro commented on #440
allow_url_fopen is unfortunately is a common attack vector used by hackers so it should be disabled/turned off in a php.ini file for security reasons.  I just purchased the Pro unlimited version and will unfortunately have to request a refund for now since I am not willing to open up this attack vector and allow allow_url_fopen on any of my websites.  I will repurchase Comet Cache Pro again at a l

[2016-06-14 19:16] jaswrks commented on #703
I'm running some additional tests now...

[2016-06-15 00:59] raamdev opened #786 "Warning: mkdir(): File exists [...] src/includes/traits/Plugin/InstallUtils.php on line 356"
Originally reported [in the community forum](https://wordpress.org/support/topic/php-warning-just-showed-up-on-my-published-site), and [here](https://wordpress.org/support/topic/warning-message-when-loading-front-page).

Here's [`src/includes/traits/Plugin/InstallUtils.php#L356`](https://github.com/websharks/comet-cache/blob/160521/src/includes/traits/Plugin/InstallUtils.php#L356).

---

_Quoting

[2016-06-15 01:00] raamdev commented on #786
Noting that I also requested PHP version info and `phpinfo()` from the two users who originally [reported](https://wordpress.org/support/topic/php-warning-just-showed-up-on-my-published-site) the issue. I'll update here if/when I hear back.

[2016-06-15 19:36] raamdev commented on #781
Next Release Changelog:
- **UX Enhancement**: Improved the inline docs for Auto-Clear List of Custom URLs to clarify that full URLs must be provided. Props @renzms. See [Issue #781](https://github.com/websharks/comet-cache/issues/781).

[2016-06-15 19:36] #781 closed, assigned to renzms

[2016-06-16 01:06] jaswrks commented on #703
I ran some tests on this branch and I haven't seen any problems thus far. Looks good-to-go.

[2016-06-16 02:41] raamdev commented on #741
@renzms The **Save All Changes** button should not be half-width on the Plugin Options or Stats/Charts pages, only the Plugin Updater page:

![2016-06-15_22-39-33](https://cloud.githubusercontent.com/assets/53005/16103868/4f64aaaa-334a-11e6-8e2f-cdfe5ecb50ee.png)

[2016-06-16 11:42] renzms commented on #741
@raamdev Thanks for catching that, I'll make a new class for the buttons on the Plugin Updater page, so it only affects that page.

[2016-06-17 04:17] magnoliaman commented on #753
Thank you for looking into this. I've not had any recent problems so upgrades on both sides must have corrected the conflict. Thanks again!

[2016-06-17 13:51] raamdev commented on #554
Noting that this feature should be _disabled_ by default. We should not be updating the `.htaccess` unless the site owner tells Comet Cache it should be doing so.

**Apache Optimization** should be a Pro-only feature, yes.

Otherwise the outline looks good to me.

[2016-06-17 15:06] raamdev commented on #764
Noting that this feature should be _disabled_ by default. We should not be updating the `.htaccess` unless the site owner tells Comet Cache it should be doing so.

**Apache Optimization** should be a Pro-only feature, yes.

Otherwise the outline looks good to me.

[2016-06-17 15:07] raamdev commented on #765
Noting that this feature should be _disabled_ by default. We should not be updating the `.htaccess` unless the site owner tells Comet Cache it should be doing so.

**Apache Optimization** should be a Pro-only feature, yes.

Otherwise the outline looks good to me.

[2016-06-17 15:31] raamdev opened #787 "Option to disable automatic insertion of .htaccess rules for Static CDN Filters"
This is related to https://github.com/websharks/comet-cache/issues/646.

As of Comet Cache Pro v160521, when **Static CDN Filters** are enabled we automatically attempt to update the `.htaccess` file with rules to prevent issues with CORS (see https://github.com/websharks/comet-cache/issues/427#issuecomment-148869705 changelog details).

What we need is an option inside the new **Apache Optimizati

[2016-06-17 16:16] raamdev opened #788 "Pro Preview: Simplify "additional pro version only features""
"additional pro version only features" should be simplified to "additional pro features":

![2016-06-17_12-14-44](https://cloud.githubusercontent.com/assets/53005/16157088/20c29946-3485-11e6-8e91-854263353587.png)

[2016-06-17 16:28] raamdev commented on #554
@raamdev writes in https://github.com/websharks/comet-cache/issues/554#issuecomment-150065142...

@renzms As I mentioned on Slack, let's go ahead and move GZIP Compression into the Apache Optimizations panel. Also, we'll **make the Apache Optimizations panel available in the Lite version** (so that Lite users still gain access to GZIP Compression), but all options, except for the GZIP Compression,

[2016-06-17 16:40] #741 closed, assigned to renzms

[2016-06-17 23:25] raamdev commented on #753
@magnoliaman Thank you for the update. :-)

[2016-06-17 23:25] #753 closed, assigned to nobody

[2016-06-20 21:39] raamdev commented on #769
@KTS915 writes...

The problem is that if a Nonce is cached for longer than its lifetime, the user ends up being presented with a cached page that contains an invalid (expired) Nonce value. What does that mean for the user? It means that when they click a link or submit a form that contains that (expired) Nonce value, whatever they were trying to do won't work.

See the following [from the WordPre

[2016-06-20 21:56] raamdev commented on #608
@jaswsinc So I see this as involving two fixes: one for Standard WP installations and one for Multisite WP installations, correct?

If that's the case, let's start with improving this for Standard WP installations. If all that's required is an update to the RegEx, that sounds easy enough.

I think it's a great idea to clear all variations of the domain when operating on a standard WP installation,

[2016-06-20 22:26] raamdev commented on #784
Next Release Changelog:
- **PHP Compatibility:** Improved compatibility back to PHP 5.2 (the lowest version allowed by WordPress). Comet Cache still requires PHP 5.4+, but if you install Comet Cache on a site running PHP 5.2, it will now fail gracefully with a Dashboard notice indicating PHP 5.4+ is required, instead of producing a fatal error. See [Issue #784](https://github.com/websharks/comet-c

[2016-06-20 22:26] #784 closed, assigned to raamdev

[2016-06-20 23:04] raamdev commented on #703
Next Release Changelog:
- **Enhancement:** Added full support for UTF-8 (multibyte strings). This release adds full support for UTF-8 throughout the Comet Cache codebase, greatly enhancing Comet Cache's ability to deal with file paths and URLs that may contain UTF-8 characters. Props @jaswsinc. [Issue #703](https://github.com/websharks/comet-cache/issues/703).

[2016-06-20 23:04] #703 closed, assigned to raamdev

[2016-06-20 23:09] jaswrks commented on #608
@raamdev Sounds like a plan ...

## General Outline for Standard Installations
- After [this line](https://github.com/websharks/comet-cache-pro/blob/000000-dev/src/includes/traits/Shared/CacheDirUtils.php#L271) add the following:

[code]

[2016-06-20 23:25] jaswrks commented on #769
@raamdev writes...

I went over this carefully and it sounds like an excellent plan to me. With that in place we can stop [removing the admin bar](https://github.com/websharks/comet-cache-pro/blob/160521/src/includes/classes/Plugin.php#L578-L582) for logged-in users.

---

@raamdev writes...

I suggest not allowing this to be overridden, even with a filter, because anyone changing this will be goi

[2016-06-20 23:28] jaswrks commented on #769
_I guess it would be OK to reduce the time, as long as it's not allowed to be longer than 12 hours._

[2016-06-21 00:20] raamdev commented on #769
Yep, I agree.

Right. That sounds fine to me as well.

Related to this: If the Cache Expiration Time in the Comet Cache settings is _lower_ than 12 hours, then the Nonce cache expiration should follow that. E.g., if we set the Cache Expiration Time to 6 hours (in the Comet Cache options), then the cache files that contain Nonces should expire in 6 hours as well, otherwise we will be creating cause

[2016-06-21 00:29] jaswrks commented on #769
I see. Yep.

[2016-06-21 01:28] jaswrks commented on #764
Noting that we should remove this section as it is unnecessary.
The deflate module does this automatically in a more effective way.

[code]

[2016-06-21 22:16] raamdev opened #789 "Apache Optimizations"
Coming soon to Comet Cache is an entirely new option panel called **Apache Optimizations** where we'll be providing new options for optimizing Apache-based WordPress sites (we'll be exploring an "Nginx Optimizations" feature next).

This will (mostly) involve writing various snippets of code to the site's `.htaccess` file when enabling specific options, or removing the snippet from the `.htaccess`

[2016-06-21 23:33] raamdev opened #790 "Improve formatting and clarity of HTML Notes"
_This is related to #528._

The HTML Notes generated by Comet Cache include information about the cache file and statistical information about how long it took to generate the cache file and load it. These notes contain a lot of information, but they are currently compressed into a format that makes easily retrieving the information you're looking for unnecessarily difficult (e.g., try finding how

[2016-06-21 23:33] raamdev commented on #528
Related: https://github.com/websharks/comet-cache/issues/790

[2016-06-22 01:44] jaswrks commented on #790
I agree. I love the example you gave. I imagine it being tabulated like this also.

[code]

[2016-06-22 01:47] raamdev commented on #790
Yep, that looks good to me. Except we shouldn't use hyphens anywhere inside the comment—that's a no-no when it comes to multiline HTML comments. It would be better to use `=` or `*` or `+` for that section divider.

[2016-06-22 01:59] jaswrks commented on #790
Copy that.

---

Including the Comet Cache version might be helpful also. Referencing: https://github.com/websharks/comet-cache-pro/pull/262

[2016-06-22 02:02] raamdev commented on #790
Hmm, I'd only want to do that when the additional debugging notes are enabled. Including the Comet Cache version creates an information leak that could be helpful to a potential attacker.

[2016-06-22 02:10] jaswrks commented on #790
Yup. That's a great point. In the debugging mode sounds like a good idea to me.

It would be nice if WordPress didn't do this either, and we should probably take a closer look at some of our other plugins for that same sort of leakage in the future.

![2016-06-21_18-09-17](https://cloud.githubusercontent.com/assets/1563559/16252532/78232ec2-37db-11e6-9779-238dba1956d8.png)

[2016-06-24 08:56] lkraav commented on #639
How's this doing? My clients are still struggling with caching campaign pages properly.

It would be a useful incremental win if simply a query-string free cached version could be opted into serving, until the more complex dynamics described in above messages can be fully implemented.

[2016-06-24 12:19] raamdev commented on #639
@lkraav Thank you for the ping here. I'll see if we can work this into the next development cycle (the current cycle ends today and enters a 1 week testing phase).

---

@jaswsinc writes...

I'd rather put this inside the existing **GET Requests** panel for now. If you could outline this one when you get a chance, that would be great! 😁

[2016-06-24 12:56] raamdev commented on #440
The work on this issue includes a new filter that allows you to force the use of the fallback when fetching the XML Sitemap. The fallback uses the WP HTTP API to download the XML Sitemap and then parses it from the local file. The WP HTTP API includes a fallback to cURL, so if `allow_fopen_url` is disabled, it will use cURL instead.

If `allow_fopen_url` is enabled and you want to force the use of

[2016-06-24 13:01] raamdev commented on #440
Next Release Changelog:
- **Enhancement** (Pro): The Auto-Cache Engine now supports a fallback to cURL using the WP HTTP API. If your PHP configuration has `allow_fopen_url=0`, the Auto-Cache Engine will use the fallback to download the XML Sitemap and parse it from a temporary file. If you want to force the use of this fallback even when `allow_fopen_url=1`, you can use [a filter](https://github.

[2016-06-24 13:01] #440 closed, assigned to raamdev

[2016-06-24 16:01] Ed-AITpro commented on #440
Awesome!  Very impressed with how quickly you created the additional options/features to get the cURL alternative caching method implemented. Woo Hoo!!!

[2016-06-24 18:30] raamdev commented on #754
![2016-06-24_14-29-51](https://cloud.githubusercontent.com/assets/53005/16346969/20f5f00a-3a18-11e6-95fe-28f001fa6e07.png)

[2016-06-24 18:33] raamdev commented on #754
Next Release Changelog:
- **New Feature!** Multisite Host Exclusion Patterns. It's now possible to exclude entire sites from the cache in a Multisite Network environment. Domain mapping is also supported! See _Comet Cache → Plugin Options → Host Exclusion Patterns_. If you're running a Multisite Network with Sub-Directories, you can exclude sites using the existing URI Exclusion Patterns feature.

[2016-06-24 18:33] #754 closed, assigned to kristineds

[2016-06-24 18:54] raamdev commented on #653
Next Release Changelog:
- **Bug Fix**: In some scenarios the Cron Event that cleans up expired cache files (`_cron_comet_cache_cleanup`) would never run, or the Next Run time would constantly reset to 1 minute away from running every time a page was reloaded. We suspect this is a race condition and in attempt to work around this issue we now skip all of our Cron-related checks if Cron is currently

[2016-06-24 22:17] raamdev commented on #471
+1 here: https://forums.wpsharks.com/t/integration-with-wp-mobile-pack-2-2-4/477

[2016-06-24 23:59] raamdev commented on #608
Next Release Changelog:
- **Bug Fix**: If your site uses aliased domains, Comet Cache now properly considers all possible domain variations when it clears the cache on WP Standard installations. Props @kristineds, @jaswsinc, @yoffe, and @VR51. See [Issue #608](https://github.com/websharks/comet-cache/issues/608).

[2016-06-24 23:59] #608 closed, assigned to raamdev

[2016-06-25 02:08] raamdev commented on #765
@jaswsinc writes...

Would you mind if we changed this (and the `htaccess_client_side_cache_enable` option) to say `browser-caching` instead? My feeling is saying `client_side_cache` adds a _lot_ of confusion because we already have a **Client-Side Cache** feature that is totally unrelated to this new feature (one controls `nocache` headers, the other controls whether or not the browser caches sta

[2016-06-25 02:30] jaswrks commented on #765
Agreed. No problem.

[2016-06-25 06:49] lkraav commented on #653
Superb, looking forward to testing this in the next release!

[2016-06-25 14:09] raamdev commented on #780
Next Release Changelog:
- **UI Enhancement** (Pro): The "Cache Stats" button in Admin Bar is now linked to the Cache Stats page. Instead of hovering over the button and then clicking "More Info" inside the popup panel, you can now just click the "Cache Stats" button to go directly to the Cache Stats page. Props @Presskopp, @renzms. See [Issue #780](https://github.com/websharks/comet-cache/issues/7

[2016-06-25 14:09] #780 closed, assigned to renzms

[2016-06-27 16:36] jaswrks commented on #766
## Suggested Nginx Configuration Snippets

[code]

[code]

[code]

[2016-06-27 16:40] jaswrks commented on #660
Also requested here. Referencing internal/private ticket.
https://websharks.zendesk.com/agent/tickets/13167

[2016-06-27 16:55] jaswrks opened #791 "Gain Control of `.htaccess` Tweaks Order"
@raamdev I just wanted to suggest that we alter the iteration of `.htaccess` tweaks just a bit so that we can gain control over the order in which they are applied to the `.htaccess` file.

I worked on this a bit in `feature/sonic-boom` as seen here by example.
https://github.com/websharks/comet-cache-pro/pull/165/files#diff-9c436c451e7c22ab8953f50e98f9b793R36

[2016-06-27 16:56] jaswrks commented on #791
Notice that I used a custom array filled with the templates I wanted to iterate (in a specific order), instead of using `scandir()`.

[2016-06-27 16:57] raamdev commented on #791
@jaswsinc Ah, nice. I like that idea. I'll work that into the work I'm doing on https://github.com/websharks/comet-cache-pro/pull/260 before the RC later today. Thanks!

[2016-06-27 21:09] raamdev commented on #791
@jaswsinc Fixed via https://github.com/websharks/comet-cache-pro/commit/9d076abf36411c3bbb0e7348d172e6cf5e3e684e.

[2016-06-27 21:09] #791 closed, assigned to raamdev

[2016-06-29 02:52] raamdev commented on #788
Closed via https://github.com/websharks/comet-cache-pro/pull/260.

[2016-06-29 02:52] #788 closed, assigned to renzms

[2016-06-29 02:59] raamdev commented on #554
Next Release Changelog:
- **Bug Fix** (Pro): Fixed a bug where Comet Cache would appear to prevent WordPress from redirecting Permalinks that don't include a trailing slash, to the URL that does include a trailing slash. This was due to the fact that Comet Cache loads very early on (for caching purposes) and as a result the WordPress `redirect_canonical()` function never gets run. This was fixed b

[2016-06-29 02:59] #554 closed, assigned to renzms

[2016-06-29 03:04] raamdev commented on #764
Next Release Changelog:
- **New Feature!** A new "Enable GZIP Compression" option has been added to the new Apache Optimizations panel. This option will automatically add the appropriate configuration to your `.htaccess` file to enable GZIP compression. This option is disabled by default. The old "GZIP Compression" panel has been removed in favor of the new option inside Apache Optimizations. Prop

[2016-06-29 03:04] #764 closed, assigned to renzms

[2016-06-29 03:10] raamdev commented on #765
Next Release Changelog:
- **New Pro Feature!** A new "Leverage Browser Caching" option has been added to the new Apache Optimizations panel. This option will automatically add the appropriate configuration to your `.htaccess` file to enable Browser Caching. This option is disabled by default. Props @renzms, @jaswsinc. See [Issue #764](https://github.com/websharks/comet-cache/issues/764).
- The `CO

[2016-06-29 03:10] #765 closed, assigned to renzms

[2016-06-29 03:33] raamdev commented on #789
Next Release Changelog:
- **New Feature! Apache Optimizations.** This release includes a completely new option panel for Apache Performance Tuning. Current options for Apache tuning include GZIP Compression, Leverage Browser Caching, Enforce Canonical URLs, and Send Access-Control-Allow-Origin Header (for Static CDN Filters). These options update your `.htaccess` file with the appropriate configur

[2016-06-29 06:35] jaswrks commented on #789
💯 B.e.a.u.tiful! That looks superb @raamdev  ~ Very nice work!!!!!

[2016-06-29 11:38] raamdev opened #792 "Comet Cache v160629-RC (Release Candidate)"
This GitHub issue serves as a place to discuss and report issues with Comet Cache v160629-RC. The next General Availability release is currently scheduled for July 6th, 2016.
### Downloads
- [Comet Cache Lite v160629-RC](https://cometcache.com/r/download-v160629-rc/)
- [Comet Cache Pro v160629-RC](https://cometcache.com/r/download-pro-v160629-rc/)
### Changelog
- See [Comet Cache v160629-RC Releas

[2016-06-30 17:05] jaswrks commented on #792
Fixed in https://github.com/websharks/comet-cache-pro/commit/dc9d632bbf5add6cce4e7bccb0f8f48bb6f95bd8 and https://github.com/websharks/comet-cache-pro/commit/5842c839a11b508553ec3799b8dbfe8082bc6fe5.

---

~~`RewriteBase /` in `.htaccess` should match-up with the WordPress installation sub-directory. Installing Comet Cache and enabling Apache Optimizations in a sub-directory installation results i

[2016-06-30 22:17] raamdev commented on #786
@jaswsinc writes...

Right, but if a system call modifies things outside of PHP, the stat cache can become outdated; see this comment: http://php.net/manual/en/function.clearstatcache.php#116554

I also came across [this](http://stackoverflow.com/questions/22032345/warning-mkdir-file-exists#comment48687904_22032554) interesting comment about why using `is_dir()` is not the best way to check if a d

[2016-07-01 03:34] jaswrks commented on #786
That looks good to me also.

[2016-07-02 15:44] lkraav commented on #653
In my multisite, `160629-RC` is still performing two UPDATE queries on every page load for cron entries. Yes, every single page load, it's easy to verify with `plugins/query-monitor`. As soon as I re-insert the early `return` into `checkCronSetup()` as described here earlier, these queries go away.

[2016-07-04 12:45] GermontZ commented on #764
I have a few huge posts, e.g. 45 A4 pages, or even more. Do you think there will be a problem if these posts will be gzipped on the fly for every page load? I'm thinking about increased load time.
I think I've seen a few plugins that stores already gzipped cache files.
Maybe it would be a good ideea for Comet Cache? Thanks!

**EDIT**: I suppose that gzipping on the fly does matter if the posts bec

[2016-07-05 15:13] raamdev commented on #653
@lkraav Thank you for the update. Would you mind posting those queries as reported by Query Monitor here?

[2016-07-06 00:15] renzms commented on #792
Fixed in https://github.com/websharks/comet-cache-pro/compare/5842c839a11b...6bf5dacb8634.

---

~~Tested Social Media Links in Pro and Lite~~

~~On the main menu page it shows up fine and works~~

**Main Comet Cache Menu page:**
![screen shot 2016-07-06 at 8 11 19 am](https://cloud.githubusercontent.com/assets/13220018/16603763/5538d03e-4351-11e6-9218-f2d3dc1c52ca.png)

~~They don't appear on the

[2016-07-06 00:19] renzms commented on #792
Also, in regards to Comment Mail settings, when updating settings is their supposed to be a notification about the cache clearing because of Comment Mail in Comet Cache, or is this done "quietly"?

[2016-07-06 00:30] raamdev commented on #792
@renzms writes...

It's not quiet—there's a notification from Comet Cache whenever the cache is cleared (for any reason, as long as you haven't manually disabled notifications in **Comet Cache → Plugin Options → Automatic Cache Clearing** (Pro-only)).

I just confirmed the clearing of the cache whenever there is a change to Comment Mail settings is working as expected. The key thing to note is tha

[2016-07-06 16:21] jaswrks commented on #792
Fixed in https://github.com/websharks/comet-cache-pro/commit/2dc6e73a2519aae131cfae666b5856d1567948b5.

---

~~@raamdev writes...~~

~~Does this also cover the case where a site owner copies the snippet and inserts it on their own?~~

![2016-07-06_08-21-23](https://cloud.githubusercontent.com/assets/1563559/16625791/aae16568-4352-11e6-9b5b-4c7da04bc928.png)

[2016-07-06 19:11] raamdev commented on #787
Fixed in https://github.com/websharks/comet-cache-pro/pull/260.

[2016-07-06 19:11] raamdev commented on #787
Next Release Changelog:
- **Enhancement** (Pro): When Static CDN Filters are enabled, it's now possible to disable the automatic insertion of rules into your `.htaccess` file that are designed to prevent issues with [CORS](https://cometcache.com/kb-article/what-are-cross-origin-request-blocked-errors/). See _Apache Optimizations → Send Access-Control-Allow-Origin Header?_ See [Issue #787](https://

[2016-07-06 19:11] #787 closed, assigned to nobody

[2016-07-06 19:13] raamdev commented on #787
![2016-07-06_15-12-45](https://cloud.githubusercontent.com/assets/53005/16631232/20f9461a-438c-11e6-80c1-81284e89be08.png)
![2016-07-06_15-12-35](https://cloud.githubusercontent.com/assets/53005/16631235/226dd7c2-438c-11e6-9c82-7fdbd2231c55.png)

[2016-07-07 02:13] raamdev commented on #792
Comet Cache v160706 Now Available: https://cometcache.com/blog/comet-cache-v160706-now-available/

@websharks/comet-cache-team Thanks for all the help testing! :-)

[2016-07-07 02:13] #792 closed, assigned to nobody

[2016-07-07 02:19] raamdev commented on #764
**Comet Cache v160706** has been released and includes changes from this GitHub Issue. See the [v160706 announcement](https://cometcache.com/blog/comet-cache-v160706-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#764).

[2016-07-07 02:19] raamdev commented on #754
**Comet Cache v160706** has been released and includes changes from this GitHub Issue. See the [v160706 announcement](https://cometcache.com/blog/comet-cache-v160706-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#754).

[2016-07-07 02:20] raamdev commented on #554
**Comet Cache v160706** has been released and includes changes from this GitHub Issue. See the [v160706 announcement](https://cometcache.com/blog/comet-cache-v160706-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#554).

[2016-07-07 02:20] raamdev commented on #608
**Comet Cache v160706** has been released and includes changes from this GitHub Issue. See the [v160706 announcement](https://cometcache.com/blog/comet-cache-v160706-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#608).

[2016-07-07 02:20] raamdev commented on #741
**Comet Cache v160706** has been released and includes changes from this GitHub Issue. See the [v160706 announcement](https://cometcache.com/blog/comet-cache-v160706-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#741).

[2016-07-07 02:21] raamdev commented on #771
**Comet Cache v160706** has been released and includes changes from this GitHub Issue. See the [v160706 announcement](https://cometcache.com/blog/comet-cache-v160706-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#771).

[2016-07-07 02:21] raamdev commented on #703
**Comet Cache v160706** has been released and includes changes from this GitHub Issue. See the [v160706 announcement](https://cometcache.com/blog/comet-cache-v160706-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#703).

[2016-07-07 02:21] raamdev commented on #768
**Comet Cache v160706** has been released and includes changes from this GitHub Issue. See the [v160706 announcement](https://cometcache.com/blog/comet-cache-v160706-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#768).

[2016-07-07 02:22] raamdev commented on #781
**Comet Cache v160706** has been released and includes changes from this GitHub Issue. See the [v160706 announcement](https://cometcache.com/blog/comet-cache-v160706-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#781).

[2016-07-07 02:22] raamdev commented on #787
**Comet Cache v160706** has been released and includes changes from this GitHub Issue. See the [v160706 announcement](https://cometcache.com/blog/comet-cache-v160706-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#787).

[2016-07-07 02:23] raamdev commented on #440
**Comet Cache v160706** has been released and includes changes from this GitHub Issue. See the [v160706 announcement](https://cometcache.com/blog/comet-cache-v160706-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#440).

[2016-07-07 02:23] raamdev commented on #780
**Comet Cache v160706** has been released and includes changes from this GitHub Issue. See the [v160706 announcement](https://cometcache.com/blog/comet-cache-v160706-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#780).

[2016-07-07 02:24] raamdev commented on #784
**Comet Cache v160706** has been released and includes changes from this GitHub Issue. See the [v160706 announcement](https://cometcache.com/blog/comet-cache-v160706-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#784).

[2016-07-07 02:25] raamdev commented on #728
**Comet Cache v160706** has been released and includes changes from this GitHub Issue. See the [v160706 announcement](https://cometcache.com/blog/comet-cache-v160706-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#728).

[2016-07-07 16:23] raamdev commented on #765
**Comet Cache v160706** has been released and includes changes from this GitHub Issue. See the [v160706 announcement](https://cometcache.com/blog/comet-cache-v160706-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#765).

[2016-07-07 16:42] raamdev opened #793 "Allow Nonce caching"
As of v160706, Comet Cache does not cache Nonce values (see [What are WordPress nonces and why are they not cache-compatible?](https://cometcache.com/kb-article/what-are-wordpress-nonces-and-why-are-they-not-cache-compatible/)). However, after further [discussion](https://github.com/websharks/comet-cache/issues/769) it was decided that Nonces _could_ be cached safely, with a few caveats (see **Cac

[2016-07-07 16:44] raamdev commented on #769
### Closing Summary

This GitHub issue started with the title **Admin Toolbar disabled on front-end for Admin Users** to discuss whether or not the Admin Toolbar should be disabled for Administrators on the front-end, however the discussion [forked](https://github.com/websharks/comet-cache/issues/769#issuecomment-219267050) into one about Nonce caching and whether or not we should allow Nonce's to

[2016-07-07 16:44] #769 closed, assigned to raamdev

[2016-07-07 17:53] KTS915 commented on #769
@raamdev, @jaswsinc: I'd just like to record my thanks to you both on this issue! Thanks very much!

[2016-07-07 18:08] raamdev opened #794 "Attention: Contributors w/ a Fork"
The `000000-dev` branch in this repo (i.e., the default branch) has just been renamed to [`dev`](https://github.com/websharks/comet-cache) (simpler, easier to type). **IMPORTANT:** This change may impact anyone who has a fork of this repo on GitHub. If you have any trouble in the future; i.e., errors about a missing branch or problems when trying to sync with the upstream repo, please follow these

[2016-07-07 18:37] raamdev commented on #769
@KTS915 Thanks for all of the feedback! :-)

[2016-07-09 10:26] peter-fb opened #795 "AutoCache: PHP Fatal error"
After upgrading to Comet Cache Pro v160706 I get this error:

[09-Jul-2016 10:17:32 UTC] PHP Fatal error:  Call to undefined method WebSharks\CometCache\Pro\Classes\AutoCache::applyWpFilters() in /home/user/addon/domain-name.at/wp-content/plugins/comet-cache-pro/src/includes/classes/AutoCache.php on line 265

My PHP version is
PHP 5.6.23 (cli) (built: Jun 24 2016 07:07:36)
Copyright (c) 1997-2016

[2016-07-09 11:49] szepeviktor opened #796 "Minification preview in Lite"
Could it be that JS/CSS Concatenation & Minification setting are not present in Preview Pro Features?

[2016-07-09 14:59] raamdev commented on #795
@Peter-FB Thank you for the report! I have confirmed this is a bug. I'll be merging a patch shortly (see https://github.com/websharks/comet-cache-pro/issues/268) and will do a Comet Cache Pro maintenance release today as well.

[2016-07-09 15:02] raamdev commented on #796
@szepeviktor You'll find that in the HTML Compressor panel after you enable the Pro Preview.

[2016-07-09 15:02] #796 closed, assigned to nobody

[2016-07-09 15:40] peter-fb commented on #795
@raamdev Thank you, I applied the changes to my installation and it works! :)

[2016-07-09 16:10] raamdev commented on #795
Next Release Changelog:
- **Bug Fix** (Pro): Fixed a bug in the Auto-Cache Engine that was introduced by the previous release (v160706). The bug produced an error whenever the Auto-Cache Engine ran: "PHP Fatal error: Call to undefined method applyWpFilters()". This had no visible affect on the front-end of the site or in the WordPress Dashboard, but it prevented the Auto-Cache Engine from working

[2016-07-09 16:10] #795 closed, assigned to nobody

[2016-07-09 17:19] raamdev commented on #795
**Comet Cache v160709** has been released and includes changes from this GitHub Issue. See the [v160709 announcement](https://cometcache.com/blog/comet-cache-pro-v160709-maintenance-release/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#795).

[2016-07-09 23:44] szepeviktor commented on #796
Really.
Thank you very much.

[2016-07-10 12:31] Presskopp opened #797 "Plugin Updater Feature Request (hide update button when no update available)"
When on page "Plugin Updater" (admin.php?page=comet_cache-pro-updater) we have the button showing "Update Comet Cache Now". This implies that there was an update available. Maybe hide the button if no update is available and/or instead add a note "You are running the current version". Or maybe offer a button "Reinstall the current version".

[2016-07-10 17:26] renzms opened #798 "Bug: Apache Optimizations: Activating `Enforce Canonical URLs` + Multisite Domain Mapping causes sub sites to break"
## Overview

Using the new Apache Optimizations: feature `Enforce Canonical URLs` in a Multisite installation with Domain Mapping is causing a bug for Sub Sites in the multisite network. Images and theme files are malfunctioning while `Enforce Canonical URLs` is activated.
## Steps to Reproduce
- Setup a Sub Site on a clean Multisite Network
- Upgrade to/install Comet Cache Pro v160706 / v160709 f

[2016-07-10 19:06] LouiByrdziak opened #800 "3rd Party Plugin Compatibility: Ultimate Member"
Hi team comet!

I have been a happy customer for almost 2 years. However, I have recently installed Ultimate Member plugin, and Comet Cache STOPPED working.

Please see my attached screenshot.

Thanks,

Loui
loui.rrokk@gmail.com
![comet cache problem 4](https://cloud.githubusercontent.com/assets/6117222/16715505/bbf694f8-4696-11e6-9363-eb9b433da285.png)

[2016-07-10 19:18] szepeviktor opened #801 "Code size"
Is there a way to _optionally_ avoid loading total of 1 047 296 bytes byte code (opcache)?

/index.php
/wp-blog-header.php
/wp-load.php
/wp-config.php
/wp-settings.php
/wp-includes/load.php
/wp-includes/default-constants.php
/wp-includes/version.php
/wp-content/advanced-cache.php

/wp-content/plugins/comet-cache/src/includes/stub.php
/wp-content/plugins/comet-cache/src/vendor/autoload.php
/wp-cont

[2016-07-10 19:27] szepeviktor commented on #801
I must admit it is not slow on my dev box (PHP 5.6)

[code]

[2016-07-10 23:53] KTS915 opened #802 "Comet Cache Pro generating WSOD for logged-out users"
This isn't happening on every site, but I have two sites where this has happened. It is not affecting logged-in users, but that might be because I have it set not to cache for logged-in users on these sites.

Yesterday, and running version 160706,  debug reported a problem with `advanced-cache.php` and I got everything up and running again by deactivating CC and then deleting that file.

But today

[2016-07-11 01:53] KTS915 commented on #802
OK, now it's happened to all the sites using CC Pro. Just a WSOD when logged out.

[2016-07-11 15:20] KTS915 commented on #802
I've been doing some further investigation. The culprit seems to be within the HTML compressor, specifically combining CSS from head and body into fewer files. Unless something has changed in the plugin, that's surprising, because I've been using that option for a long time. But I'll keep digging and see what else I can discover.

[2016-07-11 16:22] KTS915 commented on #802
Yes, turning off the setting to combine CSS from head and body into fewer files has solved the problem.

But there was one oddity. One site was reporting in View Page Source that pages were being cached even though Comet Cache Pro was actually turned off. I don't know if that was just a one-off anomaly, or whether it might be related.

[2016-07-11 16:47] raamdev commented on #798
@renzms writes...

Could you elaborate a little on how you configured Multisite Domain Mapping?

I'm not able to reproduce the issue you're describing here. I have multisite + domain mapping + Enforce Canonical URLs and the (domain mapped) sub-site works just fine.

[2016-07-11 16:54] raamdev commented on #802
@KTS915 It sounds like you might have something in the `.htaccess` file that is rewriting the requests and serving cache files, which is odd because Comet Cache does not have such a feature.

Nothing has changed in the HTML Compressor in the past several releases, so an issue there does indeed seem very odd.

The newest Comet Cache feature is Apache Optimizations, which has options to tweak the `.

[2016-07-11 18:16] raamdev commented on #797
I like the idea of changing the text of that button to "Reinstall Current Version" when the latest version is already installed.

[2016-07-11 18:24] raamdev commented on #800
@LouiByrdziak Thank you for the report. I'll label this as something that needs testing and research.

[2016-07-11 19:21] KTS915 commented on #802
Hmm, thanks, @raamdev !

I have now followed up your suggestion and found nothing in my .htaccess files other than the regular WP stuff and things put there by CC. But I think you must be on the right track just the same.

As I was investigating, I also tried re-enabling the combining feature in the HTML compressor. This time I found that the initial 500 error first appeared, but was then quickly

[2016-07-11 19:21] #802 closed, assigned to nobody

[2016-07-11 19:30] raamdev commented on #801
@szepeviktor You _want_ things loaded in the opcache to make PHP run faster—that's what the OPCache is for. If you don't want to use the OPCache, I suggest disabling it in your PHP configuration.

[2016-07-11 19:31] #801 closed, assigned to nobody

[2016-07-11 19:41] szepeviktor commented on #801
Ok-Ok.
I am already using opcache. Those bytes above are opcache bytes.
Would it be possible - while using opcache - to execute less code to get an HTML page?

[2016-07-11 19:44] raamdev commented on #801
@szepeviktor Comet Cache already handles that by generating a cache file for the page. Once the cache file is generated, future requests to that page do not require loading all of WordPress for each request. Instead, only the (HTML) cache file is loaded.

[2016-07-11 19:46] szepeviktor commented on #801
No.

The [above files](https://github.com/websharks/comet-cache/issues/801#issue-164729689) are loaded for each HTTP request. ~ 1 MB of opcache byte code.

[2016-07-11 21:51] raamdev opened #803 "3rd Party Plugin Compatibility: All In One WP Security"
We have at least [one](https://websharks.zendesk.com/agent/tickets/13279) report of the **All In One WP Security** plugin resulting in 404 errors when enabled alongside Comet Cache.

I'm opening this GitHub issue so that we can track progress towards researching the specific compatibility issue.

----

**2017-01-03 Update:** See https://github.com/websharks/comet-cache/issues/803#issuecomment-2702

[2016-07-11 21:58] raamdev commented on #801
@szepeviktor Yes, those are the files required for Comet Cache to load the cache. Keep in mind that the 1MB opcache is not _reloaded_ with each request; once the byte code for those files is cached, the same 1MB opcache is reused by each request. If you want to skip PHP altogether, that will require something like Apache's ModRewrite (see https://github.com/websharks/comet-cache/issues/783).

[2016-07-11 22:05] szepeviktor commented on #801
OK-OK.
I am just wondering what percentage is actually executed of that 1 MB byte code.
I don't have anything against PHP but I would consider conditional loading of those traits.

[2016-07-11 22:08] jaswrks commented on #801
Very, very little. This is mostly about a loading sequence in WordPress and having all the libraries needed to handle various scenarios in code. In a typical request that is already cached, several files are loaded in sequence, but the PHP routines are brought down to an absolute minimum needed to serve the request, which is why we are able to achieve the speeds that we have.

[2016-07-11 23:08] szepeviktor commented on #801
I see.
Would it be possible to not include those PHP classes/traits not running?

[2016-07-12 02:39] renzms commented on #798
@raamdev  writes

Fixed where the Domain Mapping plugin was and put it in the MU Folder. You are correct that it works if setup correctly.

I tried this in another way, using subdirectory site instead of subdomain, and that is where a problem seem to occur even without the Domain Mapping plugin.

Could you please try also with a subdirectory site + Enforce Canonical URLs?

[2016-07-12 04:05] LouiByrdziak commented on #800
Raam,

I figure it out! Comet Cache and Ultimate Member work great now. I'll send
you the important configuration details in a few days.

Loui

On 11 July 2016 at 11:24, Raam Dev notifications@github.com wrote:

[2016-07-12 18:09] bobo1 opened #804 "Updates - Non-standard"
I consider this a bug - We have dozens of sites using cometcache. I like the plugin. However, the updating process is a pain. We use managewp, and ithemes sync to update and monitor our sites. Yours in the only plugin that we have to go into each site and update manually. You need to use the standard WP process so this is easier. Please advise. It's really becoming a major issue.

[2016-07-12 18:40] raamdev commented on #804
@bobo1 We already have a GitHub issue open for ManageWP; see https://github.com/websharks/comet-cache/issues/465. Please leave an update there instead of opening a new GitHub issue so that your vote can be added to the existing issue.

I'm adding ManageWP to the Next Release milestone so that we can hopefully get that worked into the next release.

[2016-07-12 18:40] #804 closed, assigned to nobody

[2016-07-12 19:27] bobo1 commented on #465
Any progress on this? Getting to be a real pain to go to each supported website and update instead of using managewp and the standard WP upgrade tools.

[2016-07-12 19:43] raamdev opened #805 "WP-CLI Interface for Comet Cache"
As of WP-CLI v0.23.0, you can [browse a community-maintained list of packages](http://wp-cli.org/package-index/) and install them directly from WP-CLI. It wouldn't be too difficult to create a Comet Cache WP-CLI package, similar to the [WP Super Cache WP-CLI package](https://github.com/wp-cli/wp-super-cache-cli).

It would be nice to have a WP-CLI interface for Comet Cache that allows you to run v

[2016-07-12 20:54] raamdev opened #806 "Pro upgrade notice is not dismissed when upgrading via FTP"
If you upgrade Comet Cache Pro via FTP, the Dashboard notice that announces a new version is available does not get automatically dismissed.

![2016-07-12_16-53-07](https://cloud.githubusercontent.com/assets/53005/16783224/2af9e614-4851-11e6-9599-d4f98837a76b.png)

There needs to be a routine that dismisses any upgrade notice if the current version installed is detected as the latest version.

[2016-07-12 21:38] raamdev commented on #465
@bobo1 I've added this to the Next Release milestone. We'll try to get this into the next release.

[2016-07-13 18:30] raamdev opened #807 "Upgrading to version >= 160706 resets Client-Side Cache option"
When upgrading to Comet Cache v160706 or v160709, the **Client-Side Cache** option is reset to the default of "No" (disabled).

The option name for **Client-Side Cache** was renamed from `allow_browser_cache` to `allow_client_side_cache` in v160706, but [this routine](https://github.com/websharks/comet-cache-pro/blob/160709/src/includes/classes/VsUpgrades.php#L244-L255) was supposed to copy the ex

[2016-07-13 22:12] raamdev commented on #807
It looks like the problem here is that the options are updated with the default options of the new version [_before_](https://github.com/websharks/comet-cache-pro/blob/160709/src/includes/traits/Plugin/InstallUtils.php#L50-L52) the version upgrade routines are run, in which case it's too late to check the value of the old Client-Side Cache option.

That being the case, it would appear that [other]

[2016-07-13 23:20] raamdev commented on #653
@lkraav I'm reviewing the database queries that you emailed to me and I noticed something odd about the value of one of the options being set in the update query.

In Comet Cache, the `crons_setup_on_namespace` Comet Cache option gets set to `__NAMESPACE__` during the Comet Cache setup, which (for the past several versions) should be:

[code]

I confirmed that in my test installs, the `crons_setup

[2016-07-13 23:32] raamdev commented on #653
@lkraav Another thing: have you tried backing up your Comet Cache options, disabling **Comet Cache → Plugin Options → Plugin Deletion Safeguards**, disabling + deleting Comet Cache Pro, and then reinstalling?

These steps will clear out any existing Comet Cache Pro options in the database and allow you to reinstall with a fresh copy. (You can then restore the Comet Cache Pro options backup.) If th

[2016-07-14 02:25] jaswrks commented on #807
Ah, great catch. Looks like a bug to me also.
- I'd suggest we add a new parameter to [this function](https://github.com/websharks/comet-cache-pro/blob/160709/src/includes/traits/Plugin/OptionUtils.php#L53) with the name `$intersect` and have it default to a `true` value.
- If `$intersect` is passed as `false`, [this line](https://github.com/websharks/comet-cache-pro/blob/160709/src/includes/trait

[2016-07-14 02:28] jaswrks commented on #805
`+` 💯

[2016-07-14 20:31] raamdev commented on #807
@jaswsinc We have 21 calls to `updateOptions()` throughout the codebase that should also be updated to reflect the new `$intersect` parameter. However, I'm not sure we need a whole new parameter to `updateOptions()` to fix this issue.

In what other scenario would we use `$intersect = false`? I cannot think of any.

The problem we need to solve is getting a copy of the previous options over to the

[2016-07-16 15:07] raamdev opened #808 "Pro Preview Option Panel labels are not translatable"
The "Pro Version Only" and "Additional Pro Features" labels that get added to option panels when the Pro Preview is enabled are not translatable:

![cc-preview](https://cloud.githubusercontent.com/assets/53005/16895451/8e5776ae-4b44-11e6-871f-7c99133e0186.jpg)

That's because those labels are set via CSS:
- https://github.com/websharks/comet-cache-pro/blob/160709/src/client-s/css/menu-pages/_panel

[2016-07-16 16:42] raamdev commented on #798
# Bug Confirmed

## Steps to reproduce
- Install WordPress in a sub-directory, e.g., `/wordpress/`
- Set up WP Multisite w/ Sub-Directories
- Create Child Site, e.g., `/wordpress/child1/`
- Install and activate Comet Cache Pro v160709
- Enable Comet Cache Pro with **Apache Optimizations → Enforce Canonical URLs** enabled
- Visit Child Site (e.g., `/wordpress/child1/`)

## Expected Behavior

Child

[2016-07-19 02:10] raamdev commented on #807
@jaswsinc Ping. ↑

[2016-07-19 04:43] jaswrks commented on #807
You shouldn't need to update any of those, because the parameter can be added with a default parameter value of `true` so that it doesn't change the behavior for any existing calls.

Got it. That's why I consider [this line](https://github.com/websharks/comet-cache-pro/blob/160709/src/includes/traits/Plugin/InstallUtils.php#L50) to be problematic. So when you ask what use case there would be for `

[2016-07-19 04:50] jaswrks commented on #807
It may also help if we add an `$intersect` parameter to the [`getOptions()`](https://github.com/websharks/comet-cache-pro/blob/160709/src/includes/traits/Plugin/OptionUtils.php#L15) method too.

Currently, VS upgrade routines read options using `get_site_option()` instead of using the standard methods that we have for reading options in the Comet Cache context. Adding a new `$intersect` parameter

[2016-07-19 15:30] raamdev commented on #807
@jaswsinc writes...

Good point. I see now why that approach works better. Thanks for explaining! :-)

Agreed.

[2016-07-21 16:42] SkyViewPros commented on #614
Please keep on this issue!  I just experienced it with the home page of a site I did for a Marina on Long Island - [http://eastshoremarineny.com](http://eastshoremarineny.com)

The video and entire slider disappears randomly, and re-appears after I clear the cache.  What's strange is that it doesn't seem to happen at regular intervals.

[2016-07-22 07:49] ghost opened #809 "JS broken"
I use a tooltip,js file, and after the latest update to comet cache pro. The JS overlay doesnt work, and is broken. I have had to disable the plugin to get it back to functionality.

I literally havent changed any of the settings, only enabled comet cache pro and selected yes.

Happy to provide my JS code for tooltip,js

[2016-07-22 15:57] raamdev commented on #798
@jaswsinc The fix for the above is not obvious to me, is it to you?

[2016-07-22 15:58] raamdev commented on #809
@adster85 Are you using the Comet Cache HTML Compressor? If so, does disabling it fix the issue?

[2016-07-22 16:30] jaswrks commented on #798
Try removing the leading `/` in this line. Looks like Apache could be ignoring `RewriteBase` due to that leading slash. This should fix that up.

[code]

[2016-07-22 22:24] Presskopp commented on #790
If you really (really) want to dive into this, you can read a bit here:
https://core.trac.wordpress.org/ticket/23394
You can jump to
https://core.trac.wordpress.org/ticket/23394#comment:12

[2016-07-23 07:33] ghost commented on #809
No HTML compressor is active, i disabled the plugin and my tooltips loaded fine. Re-enabled it, and they didn't work again.

Its serving my tooltip PHP files as a separate page, instead of an overlay. This was working fine before the recent two updates, since then it has been broken. I have had to disable the plugin, as it is affecting my business and i am loosing sales.

I have previously asked f

[2016-07-23 07:34] ghost commented on #779
Think i might be having the same issue, have opened a separate ticket about mine.

[2016-07-25 13:55] renzms commented on #699
@jaswsinc

Looks like I missed this comment from way back, I'll find some time this week to create a new branch for the work I did in the mock up. Thanks!

[2016-07-25 17:36] kristineds commented on #674
@raamdev I'm unable to reproduce this problem with **WordPress v4.5.3 + Comet Cache v160709 + WooCommerce v2.6.3** using these steps.
- Installed, activated, enabled **Comet Cache v160709**
- Installed, activated, enabled **WooCommerce v2.6.3**
- Enabled `Hide out of stock items from the catalog` in **WooCommerce > Settings >Products > Inventory**
- Created two sample products that are both `in st

[2016-07-26 16:08] mennobouma opened #810 "Plugin Compatibility: WPMU Dev Domain Mapping"
Hi Websharks,

I'm running a WP multisite with subdirectories and domain mapping and i looks like the html/css compression feature is not working. Also when i'm logged out. If you look at the source of this child site https://www.mennobouma.com/ from line 61 you see a lot of css lines instead of 1 or 2 compressed files. All compression options are set to Yes in the plugin options.

Any idea how to

[2016-07-26 20:02] jaswrks commented on #674
The reason for you being unable to reproduce it this way could be because you changed this from the admin, where a change in the stock status is also accompanied by the `save_post` action behind-the-scenes. Whereas _only_ changing the stock status can be done by updating just a meta value, which Comet Cache does not pick up on.

I suggest fixing this by attaching to this hook in WC.
https://github

[2016-07-26 22:56] raamdev commented on #810
@mennobouma Do you have "Enforce Canonical URLs" enabled in **Comet Cache → Plugin Options → Apache Optimizations**? If so, then you're likely seeing the bug that was reported in https://github.com/websharks/comet-cache/issues/798.

If you don't have that option enabled, then this could be a separate bug.

---

It looks like you have a plugin/theme conflict that is preventing Comet Cache from work

[2016-07-26 23:15] raamdev commented on #809
So you're saying that the HTML Compressor IS active? If it is active, have you tried running Comet Cache with the HTML Compressor **disabled** to see if that fixes the issue with the tooltips?

[2016-07-26 23:16] raamdev commented on #779
@adster85 You did not mention anything about using the exclusion patterns in https://github.com/websharks/comet-cache/issues/809, so I'm not sure how this issue seems related. Could you elaborate?

[2016-07-26 23:19] raamdev commented on #674
Comet Cache [already attaches to `woocommerce_product_set_stock`](https://github.com/websharks/comet-cache-pro/blob/160709/src/includes/classes/Plugin.php#L558), so what needs to be determined is why that's not enough, or if we need to attach to both.

[2016-07-27 07:28] mennobouma commented on #810
Hi Raamdev,

I don't have a tab Apache Optimizations in the plugin options. I'm using the X-theme from Themeco and not using any other cache plugins, only Varnish cache from my hosting provider. The site is running on Nginx and PHP 7.0, maybe this gives some bugs?

[2016-07-27 12:05] ghost commented on #809
should have said isnt \* Auto correct on mobiles is a pain!

[2016-07-27 17:31] raamdev commented on #809
@adster85 Can you send me the JS with instructions for how you're implementing it so that I can attempt to reproduce the problem?

[2016-07-27 17:34] raamdev commented on #810
@mennobouma We've tested Comet Cache on Nginx + PHP 7 and there are no problems on our end. Can you tell me which domain mapping plugin you're using? I'll see if I can set up a test environment with Nginx + PHP 7 + WP Multisite w/ Subdirectories + Domain Mapping and test the HTML Compressor on a child site.

[2016-07-28 10:37] mennobouma commented on #810
Using Domain Mapping plugin from WPMU Dev.

[2016-07-28 18:55] raamdev commented on #810
@mennobouma It looks like [WPMU Dev Domain Mapping](https://premium.wpmudev.org/project/domain-mapping/) is not free. We've only done extensive testing with the [WordPress MU Domain Mapping](https://wordpress.org/plugins/wordpress-mu-domain-mapping/) plugin.

I'll set up a test environment with Nginx + PHP 7 + WP Multisite w/ Subdirectories + WordPress MU Domain Mapping plugin and see if I can rep

[2016-08-03 05:24] jaswrks commented on #810
@raamdev writes...

I can confirm this as well. As the one who worked on the domain mapping integration, I can almost guarantee you that it will not work well with any other domain mapping plugin. The domain mapping support is tied specifically to the free MU Domain Mapping plugin at WordPress.org.

[2016-08-03 05:32] jaswrks commented on #674
You'll need the `*_status` hook variation also, because of this WC function that makes a call only to update the stock status, not the stock count itself. https://github.com/woothemes/woocommerce/blob/1b545aa605008c92dc9e3535feb8f889ae8a31df/includes/wc-product-functions.php#L52

[2016-08-03 09:10] mennobouma commented on #810
Here's the Domain mapping plugin i'm using. Is it possible for you to test this?

[domain-mapping.zip](https://github.com/websharks/comet-cache/files/399048/domain-mapping.zip)

[2016-08-03 18:36] raamdev commented on #674
@jaswsinc Got it. Thanks for the link to the WooCommerce source! I'll get this fixed for the next release.

[2016-08-05 17:37] bridgeport opened #811 "COMET_CACHE_EXCLUDE_HOSTS notice and warning in v160706"
Hi,

FYI, upgrading from Comet Cache Pro v160521 to v160706 results in the following debug.log notices and warning for each page that's cached:

[code]

[2016-08-05 18:18] raamdev commented on #811
@bridgeport Hmm, that's odd. Are you using `COMET_CACHE_EXCLUDE_HOSTS` anywhere to manually exclude specific hosts?

[2016-08-05 18:24] bridgeport commented on #811
@raamdev No I'm not using that constant anywhere. By the way, I'm on PHP 5.6.24, which I've been using since July 25, 2016.

I don't know if it's related, but I switched the PHP handler from mod_php (DSO) to FastCGI (FPM) a few weeks ago. Afterward, PHP executes as the owner of the file instead of Apache's nobody (group and user). During that time span I was still using v160521. I just upgraded to

[2016-08-06 00:48] raamdev commented on #811
@bridgeport Thank you. I see that `COMET_CACHE_EXCLUDE_HOSTS` was added in the last version, so it looks like we missed something somewhere. It's not obvious to me what we missed, but I'll do some more testing and get this fixed for the next release. Thanks for reporting!

[2016-08-09 00:58] raamdev opened #812 "Plugin Compatibility: Nginx Helper"
The [Nginx Helper](https://wordpress.org/plugins/nginx-helper/) plugin (30k active installs) "cleans nginx's fastcgi/proxy cache or redis-cache whenever a post is edited/published." We've had had least [one request](https://github.com/websharks/comet-cache/issues/342#issuecomment-238296876) to have better integration between Comet Cache and Nginx Helper.

[2016-08-09 10:36] mennobouma commented on #810
@jaswsinc @raamdev Is it possible to do a test with my domain mapping plugin?

[2016-08-09 11:58] Helmi commented on #812
let me just add to that: The important part here is that when using the nginx or redis-cache for nginx and comet cache together is that the nginx cache doesn't get purged when comet updates it css/js-compression or anything else without a post beeing updated or a comment beeing made.

[2016-08-09 18:42] raamdev commented on #812
@Helmi Comet Cache only clears the cache when some event occurs that requires the cache to be cleared. I don't understand what you mean by "when comet updates it css/js-compression or anything else without a post beeing updated or a comment beeing made." Can you please elaborate?

[2016-08-09 18:44] raamdev commented on #810
@mennobouma This GitHub issue has been added to the queue, but it's not currently part of a milestone so we're focusing on the issues that are part of a milestone. See https://github.com/websharks/comet-cache/milestones/  We will review this GitHub issue at the start of the next development cycle to decide if it can be added to a milestone.

[2016-08-12 08:52] mennobouma commented on #810
@raamdev thanks. I've done a test with WordPress MU Domain Mapping version 0.5.5.1. now and it's still not working. Is possible to get (paid) support for this?

[2016-08-12 15:39] uhlhosting opened #813 "Pages not cached under FlatSOME theme, and there is not such plugin Akismet ON."
``

[2016-08-12 15:40] uhlhosting commented on #813
page here: https://www.tabaklaedeli.ch/

[2016-08-13 00:04] raamdev commented on #810
@mennobouma Since we've indicated that we support WordPress MU Domain Mapping, yes, if you have a Pro license you can get support. You can login to your account at CometCache.com and [open a ticket](https://www.websharks-inc.com/support/?product=comet-cache). Please reference this GitHub issue.

[2016-08-13 00:06] raamdev commented on #813
@highacid Search your page source for `wpnonce`; you'll find that on the page. See [this article](http://wsharks.com/1O1Kudy) for details.

---

We reserve GitHub for filing bug reports and making feature requests. Please post support questions to the [Community Forum](https://cometcache.com/r/community-forum/) (for Comet Cache Lite) or open a [Support Ticket](https://www.websharks-inc.com/support

[2016-08-13 00:06] #813 closed, assigned to nobody

[2016-08-13 01:22] uhlhosting opened #814 "WPONCE on Woocommerce login"
I am sorry I cannot remove this from the custom woocommerce code:

[code]

[2016-08-13 01:37] raamdev commented on #814
@highacid See this article; if you cannot remove that code and you want to cache the page, you have to enable nonce-caching:
- [What are WordPress nonces and why are they not cache-compatible?](https://cometcache.com/kb-article/what-are-wordpress-nonces-and-why-are-they-not-cache-compatible/)

[2016-08-13 01:37] #814 closed, assigned to nobody

[2016-08-13 02:07] uhlhosting opened #815 "This is wrong!"
So you are telling me since my Woocommerce login button is on all pages at all times, and that is a must for wponce, then you tell me none of this site would ever be cached or I will cache it but breach security rules, how stupid is that... This is simply worthless, and the fact that you close all my tickets without giving me a chance to discuss the issue, is very unprofessional! I am here for hel

[2016-08-13 23:59] seozones opened #816 "Mod_Security Rule 340163 Still an Issue with Comet Cache Pro Updater"
I'm still having issue with automatically updating the plugin (now called Comet Cache). The webhost called hostnine.com is saying the issue is with the rule #340163

Here is the full mod_sec hit:

[Sat Aug 13 19:28:11 2016] [error] [client 73.14.198.125] ModSecurity: Access denied with code 403 (phase 2). Match of "rx ://%{SERVER_NAME}/" against "ARGS:comet_cache_update_pro_zip" required. [file "/

[2016-08-15 19:15] raamdev commented on #816
@seozones Thanks for the feedback. It looks like the work we did in https://github.com/websharks/comet-cache/issues/416 did not solve the issue like we expected it to.

Would it be possible to get a copy of that ModSecurity rule so that I can set up a test environment and attempt to replicate this?

[2016-08-15 19:26] raamdev commented on #815
@highacid I'm closing your **GitHub Issues** (not tickets—if you're a Pro customer, please [open a ticket](https://cometcache.com/support/)) because we don't provide support on GitHub. You're asking for support. You've open two other GitHub issues (https://github.com/websharks/comet-cache/issues/813 and https://github.com/websharks/comet-cache/issues/814) and I have repeatedly pointed you to the r

[2016-08-15 19:26] #815 closed, assigned to nobody

[2016-08-16 03:20] seozones commented on #816
Okay I’ll have to ask the host.

[2016-08-17 01:20] raamdev opened #817 "PHP mbstring extension requirement check fails on upgrade"
_This was originally reported [on WordPress.org](https://wordpress.org/support/topic/white-screen-of-death-142?replies=16#post-8761253)._

The report indicates that updating to a version of Comet Cache that requires the `mbstring` extension (>= v160416, I believe) from a version that does not (<= v160227), when the server does not have the PHP `mbstring` extension installed, results in a fatal err

[2016-08-17 11:58] lkraav commented on #639
How are we doing on this for fall release? The number of sites where I could use this keeps increasing.

[2016-08-17 12:04] lkraav opened #818 "Make cache build performance data machine readable, JSON object?"
Current HTML comment summary is super useful in understanding of how well the caching is working out.

I'd like to get scripted automation going that pushes cache build performance data to external analytics tools, like GA.

`Comet Cache file built for (https://somesite.com/?date=18.08.2016) in 3.97430 seconds, on: Aug 17th, 2016 @ 11:04 am UTC; via HTTP request.` would be useful to have as JSON.

[2016-08-17 12:17] jaswrks commented on #818
Cool idea! Once work in https://github.com/websharks/comet-cache/issues/790 is complete, I'd say this could be considered. In other words, once work in  https://github.com/websharks/comet-cache/issues/790 is done, we'll be one step closer to having this data in a structured format that could then be used by APIs like the one you gave an example of.

[2016-08-18 08:15] mennobouma opened #819 "Dynamic Woocommerce shopping cart not working"
Hi @raamdev,

I'm using a dynamic shopping cart in my Woocommerce shop and i doesn't work well with Comet Cache Pro. I think it's caused by session caching. Can it be solved by something like this: https://sub-q-subqmagazine.netdna-ssl.com/wp-content/uploads/2015/08/woocommerce-w3-total-cache-not-working-database-cache.png

Thanks, Menno

[2016-08-18 19:32] uhlhosting commented on #793
So are there any concrete steps I can follow to try to test this? And when would this be implemented in a Beta release or a stable version.

[2016-08-19 03:37] raamdev commented on #793
@highacid Yes, you can implement this by following the steps outlined in [What are WordPress nonces and why are they not cache-compatible?](https://cometcache.com/kb-article/what-are-wordpress-nonces-and-why-are-they-not-cache-compatible/) in the section for **Allowing Nonce Caching** and **Logged-In Users (safer)**, and by setting **Comet Cache → Plugin Options → Directory / Expiration Time** to

[2016-08-19 09:21] rottmann opened #820 "Auto clean on edit a post did not work"
Tested in pro an non-pro with default installation settings (cache enabled).

Default post type, no custom post,  use only CMB2 to extend some fields.

[2016-08-19 19:51] raamdev commented on #820
@rottmann I just tested this and it's working as expected:

![2016-08-19_15-50-37](https://cloud.githubusercontent.com/assets/53005/17822359/b498340c-6624-11e6-9808-6c4b075676e6.png)

Please see [Testing Comet Cache in a Clean WordPress Installation](https://cometcache.com/kb-article/testing-comet-cache-in-a-clean-wordpress-installation/).

[2016-08-19 19:51] #820 closed, assigned to nobody

[2016-08-19 19:59] raamdev commented on #790
Noting that we should take into consideration https://github.com/websharks/comet-cache/issues/818 here, where the data generated for the HTML Notes might want to be used for something other than outputting as HTML Notes.

[2016-08-19 20:03] raamdev commented on #819
@mennobouma Comet Cache does not do any database caching, so the screenshot you linked to wouldn't apply here.

Can you explain in a bit more detail what's not working well? We've tested Comet Cache with WooCommerce and it seems to work well.

[2016-08-19 20:17] jaswrks commented on #639
## Outline

### New Option

After [this line](https://github.com/websharks/comet-cache-pro/blob/160709/src/includes/classes/Plugin.php#L373) add:

[code]

### New Constant

After [this line](https://github.com/websharks/comet-cache-pro/blob/dev/src/includes/templates/advanced-cache.txt#L208) add:

[code]

### Refactor Conditional Utility

Refactor [this method](https://github.com/websharks/comet-c

[2016-08-20 00:01] raamdev commented on #639
@jaswsinc What do you think about supporting [WREGX](http://zencache.com/kb-article/watered-down-regex-syntax/) in the query var exclusions?

[2016-08-20 00:01] raamdev commented on #639
@lkraav writes...

We'll work on getting this into the next release. :-)

[2016-08-22 04:23] jaswrks commented on #639
@raamdev writes...

Sounds like a good idea to me also.

[2016-08-22 04:37] jaswrks commented on #640
@raamdev Just wanted to note that this can probably be closed now. I feel pretty certain that this was resolved by our use of the `/u` flag and of the `mbstring` extension in PHP.

[2016-08-22 14:30] uhlhosting opened #821 "Enable nonces for logged in user"
I did the steps as in documentation site is still reporting the

``

[2016-08-23 10:42] lkraav commented on #639
Thanks a ton guys. Maybe to ease the workload for you, this could be a developer-only feature to start, without a UI. This allows some testing, calibrating etc. before spending time on bolting on a full user-friendly interface.

[2016-08-23 10:45] lkraav commented on #639
PS if there would be a shared branch patch queue to work with and test, that wouldn't have any other modifications (avoid breakage), I could test this feature in a few real world environments very quickly, and possibly even provide patches based on what I see.

Not sure if the risk is appropriate piling too many "in-development" changes on at one time in live environments, hence would be more comf

[2016-08-23 18:41] raamdev commented on #640
@jaswsinc Thanks! You're right, this should be resolved as of v160706:
- **Enhancement:** Added full support for UTF-8 (multibyte strings). This release adds full support for UTF-8 throughout the Comet Cache codebase, greatly enhancing Comet Cache's ability to deal with file paths and URLs that may contain UTF-8 characters. Props @jaswsinc. [Issue #703](https://github.com/websharks/comet-cache/iss

[2016-08-23 18:41] #640 closed, assigned to nobody

[2016-08-23 18:43] raamdev commented on #639
@lkraav Thanks for your willingness to contribute! Once work on this issue is underway, you'll get a notification here about the new feature branch and you can follow along with the Pull Request.

[2016-08-23 18:43] raamdev commented on #821
@highacid We reserve GitHub for filing bug reports and making feature requests. Please post support questions to the [Community Forum](https://cometcache.com/r/community-forum/) (for Comet Cache Lite) or open a [Support Ticket](https://www.websharks-inc.com/support/?product=comet-cache&request_type=trouble_ticket) (Comet Cache Pro). Thank you! :)

[2016-08-23 18:43] #821 closed, assigned to nobody

[2016-08-23 20:39] matteoraggi opened #822 "Gzip conflict with TM STORE"
If I activate the gzip compression the plugin crash,disable by itself and the app is not working to with TM STORE https://wordpress.org/plugins/tm-store-pure-native-mobile-app-for-free-ios-android/ .
my website is https://spesagodina.it/web/

[2016-08-24 00:33] raamdev commented on #822
@matteoraggi This looks like a problem with the TM Store plugin and not Comet Cache. When you enable GZIP Compression in Comet Cache, all that's happening is your `.htaccess` file is being updated with the following configuration:

[code]

There is nothing unusual about this `.htaccess` configuration—it is the configuration recommended by most web hosting companies. The fact that the TM Store brea

[2016-08-24 00:33] #822 closed, assigned to nobody

[2016-08-24 00:38] matteoraggi commented on #822
they just told me that they have problems with every caching system. So I solved the problem exluding them referrers from caching and now it is all right, yeah!

[2016-08-24 15:55] MahrUK opened #823 "HTML CSS JS minify and others"
Dear Support

I have purchased Comet Cache™ pro and enabled Enable WebSharks™ HTML Compression

all the options under this its not working; can you please look into this?
regards
Humaira

[2016-08-24 16:46] raamdev commented on #823
@MahrUK We reserve GitHub for filing bug reports and making feature requests. Please post support questions to the [Community Forum](https://cometcache.com/r/community-forum/) (for Comet Cache Lite) or open a [Support Ticket](https://www.websharks-inc.com/support/?product=comet-cache&request_type=trouble_ticket) (Comet Cache Pro). Thank you! :)

[2016-08-24 16:46] #823 closed, assigned to nobody

[2016-08-24 17:31] raamdev commented on #699
@renzms Any update on this?

[2016-08-24 21:02] raamdev commented on #653
@lkraav Any update on the above? ↑

[2016-08-24 23:49] jaswrks commented on #465
I'm assigning this to myself and I'll begin work on it shortly so that Raam can review a PR.

[2016-09-01 04:59] raamdev commented on #465
Coming in the next release, support for ManageWP:

![2016-09-01_00-34-50](https://cloud.githubusercontent.com/assets/53005/18155834/427c2e2c-6fdf-11e6-95fa-6cc7214943ef.png)

Comet Cache Pro updates now utilize the built-in WordPress Plugin Updater system:

![2016-09-02_17-03-06](https://cloud.githubusercontent.com/assets/53005/18218204/28267b62-712f-11e6-8d05-0d2b8275c3c3.png)

[2016-09-02 19:29] raamdev opened #825 "Automatic Clear Cache routines are too aggressive for options-general.php"
Comet Cache automatically [clears the entire cache](https://github.com/websharks/comet-cache-pro/blob/160709/src/includes/traits/Plugin/WcpSettingUtils.php#L27-L29) whenever `options-general.php?settings-updated=true` is detected. This is meant to detect when Settings → General is being saved, since any changes there _should_ result in a full clearing of the cache.

The problem with this is that o

[2016-09-02 20:14] raamdev opened #826 "Handle invalid Comet Cache Pro credentials gracefully"
In https://github.com/websharks/comet-cache-pro/pull/272 we improved the Pro Upgrader by using the build-in WordPress upgrade system. However, if the wrong credentials are entered in the Comet Cache options, or if you've entered credentials and then cleared the credentials after a new version of Comet Cache Pro has been detected, attempting to update Comet Cache Pro results in the following confus

[2016-09-02 20:57] raamdev commented on #465
Next Release Changelog:
- **ManageWP Compatibility** (Pro): Comet Cache Pro is now compatible with ManageWP, a service that allows remote management of multiple WordPress sites. Comet Cache Pro Plugin Updates will now appear in the ManageWP dashboard and, assuming you have saved valid license credentials in Dashboard → Comet Cache Pro → Plugin Options → Update Credentials, you will be able to upgr

[2016-09-02 20:57] #465 closed, assigned to jaswrks

[2016-09-02 22:47] raamdev commented on #825
Next Release Changelog:
- **Compatibility / Bug Fix**: The automatic Clear Cache routines that cleared the entire cache automatically whenever _WordPress Dashboard → Settings → General_ was updated, were being too aggressive and not taking into consideration other plugins that might also be using the same `options-general.php` URL. As a result, the entire cache was being unnecessarily cleared when

[2016-09-02 22:47] #825 closed, assigned to nobody

[2016-09-02 23:02] raamdev commented on #786
Next Release Changelog:
- **Bug Fix**: In some scenarios Comet Cache might produce a false-positive "Warning: mkdir(): File exists" message when checking if the cache directory exists. Comet Cache now calls `clearstatcache()` and uses `file_exists()` instead of `is_dir()` to help make this check more robust. See [Issue #786](https://github.com/websharks/comet-cache/issues/786).

[2016-09-02 23:02] #786 closed, assigned to raamdev

[2016-09-06 01:34] raamdev commented on #817
Next Release Changelog:
- **Bug Fix**: Fixed a bug where the Comet Cache PHP requirements check would fail and produce a fatal error when upgrading from a version of Comet Cache that did not require an extension that is now required by newer releases. This would occur when, for example, the required PHP `mbstring` extension was missing. Props @jaswsinc for finding the bug. See [Issue #817](https:/

[2016-09-06 01:34] #817 closed, assigned to raamdev

[2016-09-06 02:22] raamdev commented on #811
@bridgeport I just ran a bunch of tests in attempt to reproduce this issue and I was not able to reproduce it. Based on the error you noted, I suspect this was related to there being an old version of the Comet Cache code in memory, cached via PHP's OPCache. If you can confirm that the server where you saw this occur has OPCache enabled, that would further confirm my theory.

The error message sai

[2016-09-07 02:36] #809 closed, assigned to nobody

[2016-09-07 02:52] raamdev commented on #807
Next Release Changelog:
- **Bug Fix**: Fixed a bug where upgrading from v160521 would result in the Client-Side Cache option being reset to the default (disabled). If you enabled the Client-Side Cache at some point, now is a good time to double-check that it's still enabled. This bug fix also improves the reliability of all version upgrade routines that Comet Cache runs during upgrades. See [Issue

[2016-09-07 02:52] #807 closed, assigned to raamdev

[2016-09-07 03:16] raamdev commented on #477
Noting that this would be extra-nice to have now that Pro Updates are hooked into the WordPress Plugin Update System (https://github.com/websharks/comet-cache/issues/289 and https://github.com/websharks/comet-cache/issues/465). We'll want to make sure the site owner configures the update credentials after installing Comet Cache Pro so that they can get updates.

[2016-09-07 03:57] raamdev opened #827 "Feature Request: Automatic Background Updates"
In https://github.com/websharks/comet-cache/issues/289 we made Comet Cache Pro compatible with [WordPress Automatic Background Updates](https://codex.wordpress.org/Configuring_Automatic_Background_Updates#Plugin_.26_Theme_Updates_via_Filter). Now we just need an option to enables this by default, and allows a site owner to disable it (instead of requiring a filter). The [WordPress Codex page](http

[2016-09-08 01:39] raamdev opened #828 "Comet Cache v160908-RC (Release Candidate)"
### General Availability Target Date: September 14, 2016
### Downloads
- [Comet Cache Lite v160908-RC](https://cometcache.com/r/download-lite-v160908-rc/)
- [Comet Cache Pro v160908-RC](https://cometcache.com/r/download-pro-v160908-rc/) (requires being logged into cometcache.com)
### Changelog
- See [Comet Cache v160908-RC Release Announcement](https://cometcache.com/blog/comet-cache-v160908-rc-re

[2016-09-08 19:46] jaswrks commented on #825
Agree.

[2016-09-09 04:56] bridgeport commented on #811
@raamdev Thanks for looking into this. Since experiencing this issue, I downgraded to v160521, which didn't log the notices and warning. The Comet Cache clear OpCache setting has always been enabled.

Several days after posting this issue, I disabled OpCache entirely as it apparently wasn't even caching anything. It was active and "running" but the cache was always empty with zero hits. Apparently

[2016-09-09 06:49] Helmi commented on #812
@raamdev the problem isn't so much comet cache but the nginx helper plugin. comet cache decides an update is needed (reasons don't matter too much) and if the nginx helper doesn't decide an update is needed there's a problem. Comet cache then generates new file names for cache files and the nginx cache still holds the old markup with the old filenames of compressed css and js.

I see this regulary

[2016-09-09 06:53] Helmi commented on #812
actually the nginx helper only is a helper plugin to purge the nginx cache whenever these events happen (like a new post is posted etc.) - maybe it'll be a better idea for comet cache to handle this in the plugin directly.

Here's the URL to the plugin https://de.wordpress.org/plugins/nginx-helper/

[2016-09-11 18:31] ThePopularizer commented on #614
I'm experiencing an issue with styling with Revolution Slider as well. It seems the inline element styling changes when the body HTML compression is turned on.

[2016-09-12 08:43] lkraav commented on #639
PS looks like there's more people thinking about sorting GET parameters for caching https://github.com/wandenberg/nginx-sorted-querystring-module

[2016-09-12 19:51] raamdev commented on #639
@lkraav Thanks for the heads up! This issue didn't quite make it into the current development cycle (which closed last week in preparation for an official release this week), but this issue will be on docket for the next release. :-)

[2016-09-12 19:52] raamdev commented on #614
@ThePopularizer Thanks for the extra info! I'm bumping this up a priority and adding this to the milestone that is up for work during the next development cycle (starting later this week).

[2016-09-12 19:52] lkraav commented on #639
Oh shoot. I just launched a site where this is really needed.

I think I'm going to poke around in the codebase and see if I can come up with a hold me over patch.

[2016-09-12 19:58] raamdev commented on #812
@Helmi Thanks for the extra info! I agree that it sounds like Comet Cache should probably handle automatically clearing the Nginx FastCGI/Proxy cache or Redis Cache on its own. A Comet Cache option for this would be a great idea.

Referencing a couple of slightly related issues: https://github.com/websharks/comet-cache/issues/47 https://github.com/websharks/comet-cache/issues/342

[2016-09-12 20:00] raamdev commented on #811
@bridgeport Great! Thank you for the update. If you could confirm this issue has gone away once the official next release comes out, that would be great. If there's still an issue, I'll revisit this for further investigation.

[2016-09-12 20:02] raamdev commented on #639
@lkraav Sorry we couldn't work this in sooner. Jason's [outline above](https://github.com/websharks/comet-cache/issues/639#issuecomment-241123902) is a great place to start if you want to give this a stab on your own. If you'd like to submit a working PR to [the Comet Cache Pro repo](https://github.com/websharks/comet-cache-pro/), that would help us get this worked into the next version more quick

[2016-09-12 20:07] lkraav commented on #639
Perfect
1. can I run the development version of the plugin out of `plugins/comet-cache-pro.git`? Some big plugins have hardcoded directory names they're looking for assets in (bad bad bad).
2. any specific build process to follow after clone?

[2016-09-12 20:35] raamdev commented on #639
@lkraav The build environment takes some time setting up. It would be easier to just work from the latest public release of Comet Cache Pro (or [the latest RC release](https://cometcache.com/blog/comet-cache-v160908-rc-release-candidate/)), modifying files and testing as you go.

[2016-09-14 00:27] renzms opened #829 ""Update Available" shows in header but no update shows in Plugin updater"
While testing the new features: ManageWP Compatibility + Automatic Updates (see: [Comet Cache v160908-RC (Release Candidate)](https://cometcache.com/blog/comet-cache-v160908-rc-release-candidate/), I observed an inconsistency with the update notifications. In the Plugin Options of Comet Cache Pro the header would say **update available**, but no update for the plugin would show in the Plugin updat

[2016-09-14 00:30] renzms commented on #828
## Update on testing for Comet Cache v160908-RC

**New Feature (Lite):** The Clear Cache button is now available in the Admin Toolbar for the Lite version of Comet Cache. - Tested works as intended.

**Bug Fix:** In some scenarios Comet Cache might produce a false-positive "Warning: mkdir(): File exists" message when checking if the cache directory exists.  - Did not encounter this issue

**Bug Fi

[2016-09-16 23:03] raamdev commented on #828
I verified the new updater system works as expected on Multisite. Tested on WordPress v4.5.3

[2016-09-17 01:50] raamdev commented on #828
@jaswsinc writes...

[2016-09-17 03:04] #828 closed, assigned to nobody

[2016-09-17 03:06] raamdev commented on #828
**Comet Cache v160917** has been released and includes changes from this GitHub Issue. See the [v160917 announcement](https://cometcache.com/blog/comet-cache-v160917-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#828).

[2016-09-17 03:08] raamdev commented on #786
**Comet Cache v160917** has been released and includes changes from this GitHub Issue. See the [v160917 announcement](https://cometcache.com/blog/comet-cache-v160917-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#786).

[2016-09-17 03:08] raamdev commented on #817
**Comet Cache v160917** has been released and includes changes from this GitHub Issue. See the [v160917 announcement](https://cometcache.com/blog/comet-cache-v160917-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#817).

[2016-09-17 03:09] raamdev commented on #807
**Comet Cache v160917** has been released and includes changes from this GitHub Issue. See the [v160917 announcement](https://cometcache.com/blog/comet-cache-v160917-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#807).

[2016-09-17 03:09] raamdev commented on #825
**Comet Cache v160917** has been released and includes changes from this GitHub Issue. See the [v160917 announcement](https://cometcache.com/blog/comet-cache-v160917-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#825).

[2016-09-17 03:10] raamdev commented on #465
**Comet Cache v160917** has been released and includes changes from this GitHub Issue. See the [v160917 announcement](https://cometcache.com/blog/comet-cache-v160917-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#465).

[2016-09-19 21:21] raamdev opened #830 "Chart.js should not be enqueued in Lite version"
In Comet Cache v160917 we [included](https://github.com/websharks/comet-cache-pro/pull/273) the Clear Cache button in the Admin Toolbar for the Lite version of Comet Cache (previously this was a Pro-only feature). As part of that work, the `Chart.js` was unnecessarily allowed to be included in the Lite verison [here](https://github.com/websharks/comet-cache-pro/blob/160917/src/includes/traits/Plug

[2016-09-21 00:06] raamdev opened #831 "translate.wordpress.org missing string from /src/includes/traits/Plugin/NoticeUtils.php#L189"
The translate.wordpress.org site doesn't seem to be picking up the string translated on this line for Comet Cache Lite:
https://github.com/websharks/comet-cache/blob/160917/src/includes/traits/Plugin/NoticeUtils.php#L189

I suspect this is because that translated string contains JavaScript. There's no good reason for the string to contain JavaScript and that could be moved outside of the translati

[2016-09-21 08:07] Metacowboy opened #832 "License Code problem on Chrome Browser"
the License Code get replaced by Chrome Browser -Autofill
if the login name for the blog /any site is the same as the plugin login
Prevent any update on chrome
Safari Firefox works fine

[2016-09-21 18:36] juanmrad opened #833 "HTML Compression not saving"
After enabling HTML compression and adding my options. I hit save. when I check back the options it shows as disable. I have WordPress 4.5.3 Nginx server.

[2016-09-21 19:16] raamdev commented on #833
@juanmrad I'm unable to reproduce this issue. Please see [Testing Comet Cache in a Clean WordPress Installation](https://cometcache.com/kb-article/testing-comet-cache-in-a-clean-wordpress-installation/).

[2016-09-21 19:31] raamdev commented on #832
@Metacowboy Can you confirm you're running the latest version of Comet Cache Pro (v160917)?

We did resolve this issue [back in v160709](https://github.com/websharks/comet-cache/issues/741#issuecomment-225240377), however the latest release (v160917) changed the location of the Update Credentials field and it looks like the `autocomplete="off"` that should go in the `<form>` tag was mistakenly omi

[2016-09-23 16:36] jaswrks commented on #812
Just reviewing this issue and leaving some notes.
- This will require Nginx Plus to test with, as the feature that Nginx Helper works with requires the commercial version of Nginx and not the free version. https://www.nginx.com/products/ ~ See also: http://nginx.org/en/docs/http/ngx_http_fastcgi_module.html#fastcgi_cache_purge

  Do I have that right or are any of you using this somehow with the f

[2016-09-24 13:19] Helmi opened #834 "HTML compression completely ignored"
Comet cache is installed in a multisite with 2 sites. HTML compression is enabled with everything on yes but although pages are cached by comet cache they don't get compressed at all, no minifcation or whatever.

Footer says "Comet Cache fully functional" (sic!) :)

Ideas?

[2016-09-25 12:06] CarstenMeiselbach opened #835 "HTML / CSS / JS Compression generates End of script output before headers erros on PHP 7"
Hello,

if I'm going to enable all HTML Compression features, I'm gettting following Server error (found within Apache Error Log) within my PHP 7.06 (Stable Release):

**"End of script output before headers".**

If I'm going to disable the HTML Compression feature, Caching works fine.

Please note: I'm currently doing a switch from PHP 5 to PHP 7. My first guess concerning the "End of script outpu

[2016-09-26 16:43] raamdev commented on #835
@CarstenMeiselbach This sounds like an issue with the Apache PHP handler; are you running as FastCGI? Also, can you tell me which version of Comet Cache, Apache, and WordPress you're testing with? Also can you tell me if you tried testing this in a [clean WordPress installation](https://cometcache.com/kb-article/testing-comet-cache-in-a-clean-wordpress-installation/)?

[2016-09-26 16:49] raamdev commented on #834
@Helmi I just tested Comet Cache Pro v160917 with the HTML Compressor on WP Multisite and compression works as expected. Please see [Testing Comet Cache in a Clean WordPress Installation](https://cometcache.com/kb-article/testing-comet-cache-in-a-clean-wordpress-installation/).

Also, we reserve GitHub for filing bug reports and making feature requests. Please post support questions to the [Commun

[2016-09-26 16:49] #834 closed, assigned to nobody

[2016-09-27 07:55] CarstenMeiselbach commented on #835
Hello "Raam Dev",

thanks for your reply.
- FastCGI / FPM: nope, currentl'y not running, but I've made plans to use it in the future.
- Comet Cache Version: Comet Cache Pro v160917 (always running newest)
- Apache Version: 2.4
- Wordpress Version: 4.6.1 (always running newest)

Testing done within Managed Server host at my provider and also locally. Locally this problem didn't occur. Local test wa

[2016-09-27 08:20] CarstenMeiselbach commented on #835
Hi again,

I've done an clean Wordpress installation test.
Apache 2.4, PHP 7.0.6, Wordpress 4.6.1, Comet Cache Pro v160917, Theme "Twenty Fifteen" and no further Plugins.
=> same >negative< result. If I'm enabling HTML Compression Feature, "End of script output before headers" appear as named.

PHP Info that might help:
http://bettinameiselbach.de/wordpress/phpinfo.php

Comet Cache Pro Settings:
h

[2016-09-27 21:36] raamdev commented on #835
@CarstenMeiselbach Thank you very much for the additional details. We'll try to reproduce this and see if we can figure out what's going on.

[2016-09-28 18:38] uhlhosting opened #836 ".htaccess rules duplicate"
Hello,

I get this rules now:

[code]

The main issue is that my site started to hit this errors:

Request exceeded the limit of 10 internal redirects due to probable configuration error. Use 'LimitInternalRecursion' to increase th
e limit if necessary.

From what I heard this is a issue with rewrite rules, since I toke out all other stuff.

The idea is simple if I remove ANY of the two almost sim

[2016-09-29 10:34] renzms commented on #835
@raamdev

Tested on clean installation, **WordPress 4.6.1** running **Twenty Sixteen** theme (**Apache 2.4, PHP 7.0.1 + Comet Cache Pro v160917**). Was unable to reproduce any error after enabling all HTML Compression settings.

[2016-09-29 12:32] CarstenMeiselbach commented on #835
Means: my PHP Settings needs some adjustment to be run with Comet Cache Pro?

[2016-09-29 17:04] raamdev commented on #835
@CarstenMeiselbach I also tried to reproduce this and I was unable to find any problem with PHP 7 + Apache 2.4 + Comet Cache Pro HTML Compressor. It still sounds to me like there might be an issue with the Apache PHP handler, perhaps an issue with a specific version you're running.

If you're using a web hosting company, I suggest contacting them to inquire, otherwise if you're setting this up you

[2016-09-29 17:10] raamdev commented on #836
@highacid It looks like you're missing the ending marker for Comet Cache. After this section:

[code]

This line should follow immediately after that section:

[code]

The beginning and ending markers are very important for Comet Cache to know where it's inserting code into your `.htaccess` file, so those cannot be removed.

---

If you're having issues with rewrite errors conflicting with your ex

[2016-09-29 17:10] #836 closed, assigned to nobody

[2016-09-30 11:10] CarstenMeiselbach commented on #835
Hi! I've done some additional testing. What I've found out now is that not all HTML Compression settings are going to fail, only the ones for combining CSS or JS files into fewer files are problematic. With the following settings, my system works with PHP 7:
![meiselbach_cometcache](https://cloud.githubusercontent.com/assets/22428009/18989867/bac54724-870e-11e6-8794-6837be50fc5a.png)

Please note:

[2016-09-30 12:27] CarstenMeiselbach commented on #835
Additional note: I tried another Plugin "WP Minify Fix" (and some others) for CSS / JS / HTML compression and combine-jobs. It runs fine! So in the end it's really an issue with Comet Cache Pro.

When you're doing your tests make 100% sure ...
... not to test with the Browser which is logged in. In this case, HTML Compression are not running. Use a different Browser which hasn't a Wordpress Login

[2016-09-30 15:18] matteoraggi commented on #490
This lazy load look to be well updated and working well: https://wordpress.org/plugins/lazy-load/

[2016-10-01 18:30] bridgeport commented on #811
@raamdev The issue has gone away for pro v160917. Thanks.

[2016-10-03 21:13] raamdev commented on #811
@bridgeport Thanks so much for following up. 😄  I'll go ahead and close this.

[2016-10-03 21:13] #811 closed, assigned to raamdev

[2016-10-03 21:16] raamdev commented on #835
@CarstenMeiselbach Thanks for the additional info. We still haven't been able to reproduce this issue on any of our PHP 7 test sites and we need to reproduce the issue to debug it.

@jaswsinc Any ideas on this one?

[2016-10-03 23:25] raamdev opened #837 ""Show details." should be "See details.""
In the Dashboard notification that indicates the cache has been cleared, the link to view more details should be "See details" and not "Show details", as that goes better with the wording in the message ('show' sounds like we're telling the site owner to do something, as opposed to inviting the site owner to 'see' more details by clicking the link).

![2016-10-03_19-19-20](https://cloud.githubuser

[2016-10-05 00:22] renzms commented on #653
@raamdev

Was unable to reproduce issue. Tested in a clean install running **WordPress 4.6.1 + Comet Cache™ Pro v160917**, monitored Cron via **WPX Cron Manager Light Version 2.0.4** plugin

## 42 Min before

![screen shot 2016-10-05 at 7 28 21 am](https://cloud.githubusercontent.com/assets/13220018/19097045/1b6a6816-8ad4-11e6-8cdd-f7b5a8f14ede.png)

## While Running

![screen shot 2016-10-05 at 7

[2016-10-05 20:28] jaswrks opened #838 "Possible Bug: PHP Warning on `fread()` Call"
A customer reports...

Referencing internal/private ticket:
https://websharks.zendesk.com/agent/tickets/14441

[2016-10-05 21:58] raamdev commented on #838
@jaswsinc Do we know what version of PHP this was with?

[2016-10-05 21:59] raamdev commented on #653
@renzms Thanks. I'm closing this for now and will reopen if we get any more information.

[2016-10-05 22:30] jaswrks commented on #838
No. I don't have that information, sorry.

---

Referencing [this line](https://github.com/websharks/comet-cache-pro/blob/160917/src/includes/traits/Plugin/HtaccessUtils.php#L281) where we could resolve this by checking `if (filesize($htaccess_file) && ...)` before we read a potentially empty file.

[2016-10-05 22:31] jaswrks commented on #838
_Even better, we could use `file_get_contents()` there instead of `fread()`._

[2016-10-06 19:06] raamdev commented on #838
Unless we first do some thorough research, I'd go with `if (filesize($htaccess_file)`. I recall there being particular reasons we avoided `file_get_contents()` during the `.htaccess` reads/writes back when I was building those routines, but I don't recall what the reasons were.

[2016-10-06 19:13] jaswrks commented on #835
@CarstenMeiselbach writes...

If I understand correctly, it's this error we are chasing down.

If so, that particular error message comes from Apache whenever a script dies for almost _any_ reason. The error itself doesn't point to Comet Cache specifically, nor does it show which file the error was triggered in, or on which line of code that it was triggered.

So it sounds like the debugging on yo

[2016-10-06 19:23] raamdev commented on #639
+1 here https://wordpress.org/support/topic/ga-analytics-linkid-js/#post-8260363

[2016-10-07 07:39] CarstenMeiselbach commented on #835
Hello "Jaswsinc",
sure, I'm a Software Developer myself, I know about this type of error, hard to fix.

My debugging was done within a fresh Wordpress installation with Comet Cache Pro as the only Plugin. Done within the same Hosting Environment than my running Website. Apache 2.4, PHP 7.0.6, Wordpress 4.6.1, Comet Cache Pro v160917, Theme "Twenty Fifteen" and no further Plugins.

PHP Errors itsel

[2016-10-07 16:08] raamdev commented on #471
+1 here: https://wordpress.org/support/topic/separate-caches-for-mobile-vs-desktop/

[2016-10-07 16:08] raamdev commented on #471
+1 here: https://wordpress.org/support/topic/responsive-sites-mobile-cache/

[2016-10-08 12:35] renzms commented on #744
@raamdev

### Status

 **Was able to replicate issue.**
Using Test installation: **WP 4.6.1, PHP 7.0, Comet Cache Pro Version 160917, WP CLI**

### Steps to reproduce

_Note, I did not use XMLRPC._

I was informed by @jaswsinc that it would be okay to use XMLRPC, but I could actually use Wordpress Rest API to do this.

@jaswsinc writes...

- Install and enable **Comet Cache Pro**. Enable `Automati

[2016-10-09 00:05] Ishmayl commented on #606
I know this is old, but I just wanted to chime in.  This may be from the lack of my knowledge in comet cache or ithemes (or both), but every day, I get an ithemes warning about files changed/deleted that are related to comet cache.  I feel like I must be missing a setting somewhere, but every day, a get the warning with every one of my site's pages (looking like this:  wp-content/cache/comet-cache

[2016-10-10 19:10] raamdev commented on #606
@Ishmayl If there's a way to exclude the cache directory (`wp-content/cache/`) from iTheme's security check, that would be the best solution. The cache directory is _meant_ to change constantly. Every single time Comet Cache creates a cache for a page on your site, it's going to write or change files in the cache directory — that's how caching works.

It sounds to me like this is an issue with iTh

[2016-10-10 20:29] raamdev commented on #744
@renzms Thanks for testing and for sharing that information.

@jaswsinc Can I get a time estimate on this?

[2016-10-10 23:58] jaswrks commented on #744
Testing via WP-CLI (over SSH) is not the same as testing via XMLRPC. The WP-CLI tool operates in a CLI context. Meaning, web server environment variables may not be present, depending on your configuration. For the best WP-CLI compatibility it is suggested that you enable one of these flags when dealing with Comet Cache.

[code]

We can improve compatibility with WP-CLI though. For example, by ref

[2016-10-11 02:41] raamdev commented on #744
@jaswsinc Thanks!

---

@renzms writes...

That's really a separate issue than this XMLRPC issue. Can you please open another GitHub issue, "WP-CLI Compatibility: Create Post Command" and document your findings there (please also quote Jason's reply above Re: WP-CLI)? We'll have to research that issue separately.

---

@jaswsinc writes...

@renzms Could you do some more research on this? You'll pr

[2016-10-11 02:50] renzms opened #839 "WP-CLI Compatibility: Create Post Command"
**WP-CLI Compatibility issue.**
When using WP-CLI for creating/updating/deleting a new Post/Page does not clear cache automatically.
Using Test installation: **WP 4.6.1, PHP 7.0, Comet Cache Pro Version 160917, WP CLI**

@jaswsinc writes...

### Steps to reproduce
- Install and enable **Comet Cache Pro**. Enable `Automatic Cache Clearing` settings and configurations
- Create some sample post/page(

[2016-10-11 02:51] renzms commented on #744
@raamdev Noted, I'll look into this more.

Created WP CLI issue here: https://github.com/websharks/comet-cache/issues/839

[2016-10-11 04:13] raamdev commented on #829
I suggest that we simply remove the "(update available)" from the plugin options menu to resolve this issue. Now that we're integrating with the WordPress Update mechanism, there are already plenty of places that will indicate an update is available. I don't think it's necessary to also show it on the plugin options page.

[2016-10-11 04:33] jaswrks commented on #837
And the link could be a dashed underline instead of a normal underline to help indicate that you're not going to navigate somewhere else, but just toggle something open.

[2016-10-11 04:43] jaswrks commented on #614
Referencing internal/private ticket:
https://websharks.zendesk.com/agent/tickets/9590

[2016-10-11 04:44] jaswrks commented on #614
Estimating at .25 days for testing. Unknown problem, unknown fix at this time. So estimate on that will need to wait until the underlying problem is identified.

[2016-10-11 04:45] jaswrks commented on #808
Estimate at .5 days.

[2016-10-11 04:45] jaswrks commented on #806
Estimate .25 days.

[2016-10-11 05:04] jaswrks commented on #471
**Objective:** As noted [here](https://github.com/websharks/comet-cache/issues/471#issuecomment-94259804)...

## Phase 1
- [x] Comet Cache to have it's own built-in mobile device detection.
- [x] Comet Cache to have a mobile mode that can be enabled.

Estimate for Phase 1 = 4 days.

[2016-10-11 12:25] renzms commented on #744
@raamdev

### Status

 **Was not able to replicate issue.**
Using Test installation: **WP 4.6.1, PHP 7.0, Comet Cache Pro Version 160917, WordPress Desktop App for MacOS (App connects via XML-RPC)**

### Steps
- Install and enable **Comet Cache Pro**. Enable `Automatic Cache Clearing` settings and configurations
- Create some sample post/page(s) and create cache
- Check cache is clearing automatic

[2016-10-11 14:19] e11productions opened #840 "Comet Cashe Pro Adding Spaces in Boilerplate"
We are getting errors from Google. The plugin is adding spaces/linebreaks in areas of the site that it shouldn't. Is there any way to correct this?

The mandatory tag 'head > style[amp-boilerplate]' is missing or incorrect.

https://episode11productions.com

[2016-10-11 22:54] renzms commented on #744
Additional testing done via https://github.com/letrunghieu/wordpress-xmlrpc-client

Using **XML-RPC** client with **WP 4.6.1, PHP 7.0, Comet Cache Pro Version 160917**, was not able to replicate issue.
- Created PHP file for testing and executed via command line.
- Cache automatically cleared and post was added/updated.

[2016-10-12 00:00] raamdev commented on #744
I also just ran a test using the WordPress iOS app on my iPhone (WordPress 4.6.1, Comet Cache Pro v160917, iOS v10.0.2, WordPress iOS App v6.5) and confirmed that updating an existing post clears the cache for that post, so I'm going to close this as resolved.

Thanks for the testing, @renzms! :-)

[2016-10-12 00:00] #744 closed, assigned to nobody

[2016-10-12 00:11] raamdev commented on #718
@Li-An Any update here? Did the disabling the HTML Compressor options described in #695 work for you?

[2016-10-12 00:11] raamdev commented on #840
@e11productions Is this referring to the [Wordpress AMP](https://wordpress.org/plugins/amp/) plugin? Are you using Comet Cache Pro with the HTML Compressor? If so, have you seen issue https://github.com/websharks/comet-cache/issues/695?

[2016-10-12 07:45] uhlhosting commented on #833
I have the same issues, running apache with nginx, the css and js compression doesnt work in any ways. I know my site uses wpnonce yet this should not affect compression.

[2016-10-12 07:59] Li-An commented on #718
I do not use HTML Compressor anymore. So, I don’t have the problem - well, as you saw on wp.org forum, other problems with AMP but not relative to Comet Cache Pro.

[2016-10-12 15:36] e11productions commented on #695
After trying the suggestions for HTML compression setting, the page speed dropped significantly. Will a future update correct the issue? If not, are there any other suggestions you may have?

[2016-10-12 19:02] midiman369 opened #841 "Unable to publish from Adobe Lightroom to Envira Gallery"
Hi,

I have been troubleshooting an issue with the Envira Gallery plugin's Lightroom Plugin which utilizes the WP Rest API v2 / JSON to publish photo galleries directly to Wordpress from Adobe Lightroom.

After some testing it was concluded that when Comet Cache is enabled, the Envria Gallery Lightroom Plugin is not able to publish to the site.

I tried adding the relevant URL's to the URI Exclusi

[2016-10-13 02:40] raamdev commented on #841
@midiman369 Can you tell me what errors you receive in Lightroom?

I can't think of any reason Comet Cache would cause problems here, although I admit we haven't done any extensive testing with the new WP REST API.

[2016-10-13 02:42] raamdev commented on #833
@highacid writes...

When you say it "doesn't work", do you mean that you're not able to enable it, as the OP explained at the top? Or are you referring to something else?

[2016-10-13 02:43] raamdev commented on #718
@Li-An Thanks for the update. I'll close this issue in that case in favor of #695.

[2016-10-13 02:43] #718 closed, assigned to nobody

[2016-10-13 02:46] raamdev commented on #695
@e11productions As described above under "Validation Errors Caused by the HTML Compressor", the markup required by AMP (see "Required markup" above) does not support compression. If you try to compress AMP markup, you will get validation errors. There's nothing Comet Cache can do about that, as we have no control over what AMP requires.

[2016-10-13 10:37] uhlhosting commented on #833
I refer that they are enabled on plugin, yet the test results from pingdom and gtmetrix say the other way

[2016-10-13 22:43] raamdev commented on #695
@e11productions writes...

As described earlier in this issue, a future update will selectively disable the appropriate HTML Compressor features only when an AMP page is being loaded, yes. Right now, disabling some of the HTML Compressor features as described above (so that you don't get AMP validation errors) also disables those HTML Compressor features for non-AMP pages, which is of course not i

[2016-10-13 22:53] raamdev commented on #833
@highacid That's not the same issue as what's described at the top of this GitHub issue. If you're having trouble getting the HTML Compressor to work, please [open a support ticket](https://cometcache.com/support/).

[2016-10-14 02:55] YearOfBenj commented on #660
+1, this is preventing almost all my site's images from being served via CDN.  The only ones that _are_ being served by CDN are bugs where I wasn't properly offering high-dpi image srcsets.  ;)

[2016-10-14 06:01] midiman369 commented on #841
Hi,

Here is the error that appears from Lightroom when trying to publish with the Comet Cache Pro plugin activated.

[code]

[2016-10-15 00:10] raamdev commented on #660
@jaswsinc Could I please get a time estimate on this when you get a chance?

[2016-10-15 00:16] raamdev commented on #841
@midiman369 Have you tried contacting Koken support to see if this is maybe a bug in the plugin? See [this thread with similar bug reports](http://help.koken.me/customer/portal/questions/8387421-koken-lightroom-publish-plugin-error). I realize that you said disabling Comet Cache seems to fix the issue, but that might just by symptomatic and not actually the root cause of the issue.

Unless you ena

[2016-10-15 00:20] raamdev commented on #841
@midiman369 Sorry, I got the Envira Gallery Plugin mixed up with another plugin called Koken, which seems to produce the exact same "AgExportSession:recordRemoteCollectionId: remote ID must be a number or string" error. I did find [another thread](https://forums.adobe.com/thread/2087253) related to the Envira Gallery plugin where it's also suggested to contact the Envira Gallery support via [this

[2016-10-15 16:32] raamdev commented on #810
I've tested the WordPress MU Domain Mapping plugin with HTML Compression and confirmed it's working as expected, so I'm going to rename the title of this GitHub issue to "Plugin Compatibility: WPMU Dev Domain Mapping" and label it as a `compatibility` issue.

As mentioned earlier, the only domain mapping plugin that we have worked to ensure compatibility with is the free WordPress MU Domain Mappin

[2016-10-15 18:35] kristineds opened #842 "MaxCDN Tutorial Link not redirected properly"
In the Comet Cache Dashboard (see: **WordPress Dashboard → Comet Cache → Plugin Options → Static CDN Filters → CDN Host Name**), clicking on the MaxCDN tutorial link will redirect the site owner to the [CometCache.com homepage](https://cometcache.com/).

Instead, it should be redirected to this: https://cometcache.com/kb-article/how-do-i-setup-static-cdn-filters-with-maxcdn/.

![screen shot 2016-1

[2016-10-16 11:03] CarstenMeiselbach commented on #835
Now it's about 10 days ago since my last questions / feedback. Any futher ideas and notes from your side concerning my problem?

[2016-10-16 14:09] midiman369 commented on #841
I have worked on this already with Envira Gallery support.  After a number of tests the conclusion was that the issue is with Comet Cache Pro activated and enabled.

[2016-10-17 08:01] jaswrks commented on #841
@midiman369 How was this concluded by them? It's the details that matter in a case like this. What was the issue with Comet Cache that prevented Envira Gallery from working as intended? If you're unsure, please ask them to contact us directly so the issue can be resolved. They can just post to this thread if they'd like.

Referencing internal/private ticket:
https://websharks.zendesk.com/agent/tic

[2016-10-17 08:52] jaswrks commented on #660
Referencing filters in this function:
https://developer.wordpress.org/reference/functions/wp_calculate_image_srcset/

Estimate at 1 day of work to add support for this new feature in WP core.

[2016-10-17 14:00] juanmrad commented on #833
I updated wordpress and it worked. please close

[2016-10-17 14:30] midiman369 commented on #841
This was concluded based on the fact that when we disabled Comet Cache that publishing from Adobe Lightroom works.  On the surface, not being a wordpress plugin author myself, that seems pretty definitive.  I do not know where to begin to troubleshoot further from there.  Can you tell me what I may look at to troubleshoot further?

Also, I have just emailed Envira support regarding the issue, aski

[2016-10-17 14:32] teknofilo commented on #653
@raamdev, I am running Comet Cache v160917 and I am also seeing  this behaviour

_cron_comet_cache_cleanup job is always to scheduled to run in 1 minute, but it never runs. If run it manually, files are properly deleted.

[2016-10-17 21:31] ericakfranz commented on #841
Hey team, I'm from Envira's support team and wanted to touch in on this.

@midiman369 can you confirm if you downloaded/installed the Lightroom plugin present on your computer from your Envira Gallery account or directly through Adobe?

I ask because this error output has come up in the past and we patched it (not specifically related to Comet Cache), however Adobe doesn't release updates immediat

[2016-10-17 23:28] raamdev commented on #842
This has been fixed. Thanks!

[2016-10-17 23:29] raamdev commented on #842
Next release changelog:
- Fixed a broken link to the [Static CDN Filters tutorial for MaxCDN integration](http://cometcache.com/r/static-cdn-filters-maxcdn/). Props @kristineds. See [Issue #842](https://github.com/websharks/comet-cache/issues/842).

[2016-10-18 00:09] raamdev commented on #835
@CarstenMeiselbach As far as we can see, this is not a Comet Cache issue but an issue with either your PHP configuration or your Apache configuration. We haven't been able to reproduce this issue at all, so it's difficult to offer any specific advice.

Note that our resources are limited and we're not able to provide support for issues with your server configuration (see our [support policy](http:

[2016-10-18 00:11] raamdev commented on #653
@teknofilo Could you provide us with some information about your system? WordPress version, PHP version, web server type (Apache/Nginx), and a list of active plugins that you have in WordPress would be helpful.

[2016-10-18 00:12] raamdev commented on #833
@juanmrad Thank you for following up. I'll close this.

[2016-10-18 00:12] #833 closed, assigned to nobody

[2016-10-18 04:22] midiman369 commented on #841
Hi,

Yes the Lightroom Plugin is the version downloaded from my account page.

[2016-10-18 07:12] teknofilo commented on #653
@raamdev sure, this is the info:

Linux 4.4.0-36-generic #55-Ubuntu SMP x86_64
PHP Version 7.0.8-0ubuntu0.16.04.3
Apache/2.4.18 (Ubuntu)

Plugins:
- Ad Inserter
- Advanced Content Pagination Pro
- Akismet
- All in One Buttons
- All in one Favicon
- Amazon Link
- AMP
- Arqam
- Better Internal Link Search
- Cloudflare
- Comet Cache
- Custom Menu Shortcode
- Disqus Comment System
- Easy Add Thumbnail

[2016-10-18 19:31] raamdev commented on #653
@teknofilo That's a lot of active plugins. Have you tried reproducing the issue in [a clean WordPress installation](https://cometcache.com/kb-article/testing-comet-cache-in-a-clean-wordpress-installation/)?

Also, is this WP Multisite or just a standard single-site installation?

[2016-10-18 19:37] teknofilo commented on #653
@raamdev

No, I have not tried to reproduce it, that is not easy.

It is a single-site installation.

I have been playing with the cleanup schedule and I have set it to 'hourly'. With this frequency, the cron job seems to be properly scheduled because now I see that the job will be executed in 60 mins, 40 mins, 20 mins etc. as time goes by.

However, the files in the directory are not deleted even

[2016-10-20 01:05] uhlhosting opened #843 ".htaccess permlinks issues"
[code]

This is my htaccess file, I have issues if I remove any of the rewrite rules, and they are all made by the cometcache, and also i have issues with my sitemap.xml that is redirected with a 301.

[2016-10-21 01:07] raamdev commented on #843
@highacid I already responded to this question here: https://github.com/websharks/comet-cache/issues/836#issuecomment-250530388

[2016-10-21 01:07] #843 closed, assigned to nobody

[2016-10-21 14:14] #684 closed, assigned to nobody

[2016-10-25 15:22] raamdev opened #844 "HTML Compressor fails silently when font resource returns 400 error"
A user reported that the HTML Compressor was not working despite being enabled. Pages were cached as expected, but not compressed. It was discovered that a Google Font URL in the page source was returning a 400 error (the URL wasn't correct). After fixing that issue, the HTML Compression started working.

It would be nice to detect such issues and display a proper Dashboard notice indicating there

[2016-10-29 17:54] hamellr opened #845 "TokenUtils.php error"
Warning: in_array() expects parameter 2 to be array, boolean given in /home/novacom/public_html/wp-content/plugins/comet-cache-pro/src/includes/traits/Shared/TokenUtils.php on line 198

This comes up on both of my Wordpress Installs, one is MU, one is single user. No changes made in themes, new plugins, code etc. I've been getting this error message since the last Comet Cache Update.

Error shows

[2016-10-29 19:09] raamdev commented on #845
@hamellr Thank you for the report. Can you tell me which version of PHP, WordPress, and Comet Cache you're running please?

[2016-10-31 15:44] lkraav commented on #653
I can also confirm on multisite this issue is still there on v160917.

[2016-11-02 23:24] garretthyder opened #846 "WP-CLI Commands to Import comet_cache-options.json"
Hello,

I install Comet Cache via WP-CLI when setting up a new Wordpress install. After set-up I have to go in and import my comet_cache-options.json for our desired settings.

I would love if the json settings import could be done from the command line so it can be included with my automated install script.

Thank you

[2016-11-03 17:13] raamdev commented on #846
@garrett-eclipse Thanks for the feature request! I think this is a great idea.

[2016-11-03 17:13] raamdev commented on #846
@jaswsinc Could I get an estimate on this when you get a chance?

[2016-11-03 17:37] jaswrks commented on #846
@raamdev I will say one day for research only; i.e., to determine feasibility and discover how this could be integrated with WP-CLI. I'm not yet sure if or how it can be done. So once the research is complete I will be able to provide a true estimate.

[2016-11-03 18:24] garretthyder commented on #846
Thanks guys

[2016-11-03 18:55] jaswrks opened #847 "Yoast SEO Compatibility Testing"
Referencing internal/private ticket:
https://websharks.zendesk.com/agent/tickets/14784

A customer suggests that Yoast SEO + Comet Cache may not behave properly in all cases. Such as when user-specific caching is enabled together with certain features offered by Yoast SEO.

One symptom reported by this user is the automatic clearing of cache files on each pageview.

[2016-11-03 21:34] raamdev commented on #847
I installed Yoast SEO v3.7.1 on my test site (WordPress 4.6.1), enabled Comet Cache with Logged-In Users caching (Comet Cache Pro v160917), and I cannot see any problem at all.

When I browse the site as a logged-in user, the user cache (the `.u` directories) are created and the cache file (e.g., `213.html`) is inside each of the `.u` directories. I browsed several pages and the user cache remains

[2016-11-04 03:46] YearOfBenj commented on #660
Seems this is the future-looking direction of the web, and these high-density (i.e. bigger) images would benefit from CDN caching more than any!

[2016-11-05 00:45] jaswrks opened #848 "WP Compatibility: wp_get_sites() Deprecated"
In the latest dev branch, while testing on a network installation.

[code]

[2016-11-05 01:42] jaswrks commented on #790
Next Release Changelog:
- **HTML Debug Notes:** This version enhances the HTML comments left in the source code. When debug notes are enabled (i.e., HTML comments) they are now broken down into key/value pairs and tabulated for a cleaner display and easier debugging.

  ![2016-11-04_17-38-41](https://cloud.githubusercontent.com/assets/1563559/20026799/91e11cca-a2b6-11e6-8852-3b40dfb15b10.png)

[2016-11-08 17:42] jaswrks commented on #808
Next Release Changelog:
- **i18n Compat.** This release makes all pro preview labels translatable by moving the labels that were previously defined in CSS only into HTML attribute values. See [issue #808](https://github.com/websharks/comet-cache/issues/808) if you'd like additional details.

[2016-11-08 17:56] jaswrks commented on #829
Next Release Changelog:
- **UI Enhancement:** Following improvements to the update API in a previous release of Comet Cache that made it possible to update both the lite and pro versions of the software through normal WordPress update mechanisms, this release removes some clutter from the menu pages for Comet Cache. In short, now that we have a tighter integration with WordPress core, it's no long

[2016-11-08 18:01] jaswrks commented on #798
Next Release Changelog:
- **Bug Fix:** Multisite installations inside a sub-directory were broken by Apache Optimizations via `.htaccess` in some scenarios. Fixed in this release. See also [issue #798](https://github.com/websharks/comet-cache/issues/798) if you'd like additional details.

[2016-11-08 18:12] jaswrks commented on #837
Next Release Changelog:
- **Minor UI Enhancement:** This release improves the toggle link that allows you to see additional details whenever Comet Cache automatically clears more than one facet of the cache. See also [issue #837](https://github.com/websharks/comet-cache/issues/837) if you'd like additional details.

[2016-11-08 18:12] jaswrks commented on #837
![2016-11-08_09-10-22](https://cloud.githubusercontent.com/assets/1563559/20111101/8088b39a-a593-11e6-8801-260ee094d215.png)

[2016-11-08 18:17] jaswrks commented on #831
Next Release Changelog:
- **Minor UI Enhancement:** This release improves the toggle link that allows you to see additional details whenever Comet Cache automatically clears more than one facet of the cache. See also [issue #837](https://github.com/websharks/comet-cache/issues/837) and [issue #831](https://github.com/websharks/comet-cache/issues/831) if you'd like additional details.

[2016-11-08 18:18] jaswrks commented on #831
![2016-11-08_09-10-22](https://cloud.githubusercontent.com/assets/1563559/20111299/4b07659e-a594-11e6-9238-16e6b8171436.png)

[2016-11-08 18:28] jaswrks commented on #830
Next Release Changelog:
- **Bug Fix:** Don't enqueue Chart.js unnecessarily in lite version of the sofware. See also: [issue #830](https://github.com/websharks/comet-cache/issues/830) if you'd like additional details.

[2016-11-08 18:31] jaswrks commented on #806
Related comment: https://github.com/websharks/comet-cache/issues/829#issuecomment-252807069

[2016-11-08 18:40] jaswrks commented on #674
Next Release Changelog:
- **Bug Fix:** Enhancing WooCommerce integration by listening to the `woocommerce_product_set_stock_status` hook in addition to the `woocommerce_product_set_stock` hook. See also: [issue #674](https://github.com/websharks/comet-cache/issues/674) if you'd like additional details.

[2016-11-08 18:45] jaswrks commented on #832
Next Release Changelog:
- **Bug Fix:** Avoid browser autocomplete in configuration fields by adding `autocomplete="off"` to all form tags in Comet Cache menu pages. See also: [issue #832](https://github.com/websharks/comet-cache/issues/832) if you'd like additional details.

[2016-11-08 19:00] jaswrks commented on #806
Next Release Changelog:
- **Bug Fix:** Automatically dismiss any persistent update notifications whenever a new version of the software is recompiled; i.e., don't continue to show an upgrade notice whenever the software has just been updated by a site owner. See also: [issue #806](https://github.com/websharks/comet-cache/issues/806) if you'd like additional details.

[2016-11-08 19:01] jaswrks commented on #806
_Noting also that these update notifications that are being cleared no longer exist in the current release of the software. The automatic clearing of these persistent notifications is to clear them on old installations of Comet Cache._

[2016-11-08 19:59] jaswrks commented on #477
Next Release Changelog:
- **UI Enhancement:** On pro version activation, display a notice that reminds site owners to configure their Pro Update Credentials so they'll be notified by WordPress about new versions of the pro software. See also: [issue #477](https://github.com/websharks/comet-cache/issues/477) if you'd like additional details.

[2016-11-08 20:09] jaswrks commented on #477
![2016-11-08_10-57-19](https://cloud.githubusercontent.com/assets/1563559/20115178/c63f0d0c-a5a3-11e6-8c32-14f41d285d46.png)

[2016-11-08 21:14] jaswrks commented on #614
Next Release Changelog:
- **HTML Compressor:** Updating to the latest release of the [HTML Compressor](https://github.com/websharks/html-compressor) library. Comet Cache now comes with the new improved v161108 (latest release).
- **RevSlider Compat.:** This release includes a built-in exclusion rule for the HTML Compressor to allow for improved compatibility with the popular RevSlider plugin for W

[2016-11-08 21:37] jaswrks commented on #639
Work on this issue has begun.

[2016-11-10 09:41] jaswrks commented on #639
Next Release Changelog:
- **New Pro Feature:** In the pro version it is now possible to define a list of GET request variable names that should be ignored entirely by Comet Cache. See: **Dashboard → Comet Cache → Plugin Options → GET Requests → List of GET Variable Names to Ignore**. As an example, this new feature makes it possible for site owners to pass query string variables associated with Go

[2016-11-10 13:26] jaswrks commented on #793
Next Release Changelog:
- **Nonce Support:** In the pro version, when logged-in user caching is enabled, Comet Cache is now capable of intelligently caching pages that contain Nonce values ([numbers used once](https://cometcache.com/r/numbers-used-once-nonce/)). This allows for pages containing the WordPress Admin Bar to be cached without issue. It also improves compatibility with plugins like bbP

[2016-11-10 15:03] jaswrks commented on #699
Next Release Changelog:
- **UI Enhancement:** The Comet Cache UI is now fully Responsive with an improved UI on laptops and other mobile devices. Props @renzms. See also: [issue #699](https://github.com/websharks/comet-cache/issues/699) if you'd like additional details.

[2016-11-10 19:59] uhlhosting commented on #793
When will this be available to public?

[2016-11-11 13:41] renzms commented on #832
@raamdev

I can confirm this is working on Chrome. The license field has `<input type=password autocomplete=new-password>`, which prevents the autocomplete. 👍

[2016-11-11 13:42] renzms commented on #842
@raamdev

I can confirm the link now redirects to the KBA: https://cometcache.com/kb-article/how-do-i-setup-static-cdn-filters-with-maxcdn/. 👍

[2016-11-11 14:07] renzms commented on #699
@raamdev

Looks good to me and adjusts properly + smoothly to browser/device size. @jaswsinc has improved upon my original PR and changed some things. 👍

Just two things, in my opinion, I would've kept for the mobile version:

### 1) The menu panel open/close toggler

**with Wipe Button:**

---

## 2) The `Comet Cache = Speed` image

Other than that, works fine on Ipad and Android mobile! :)

[2016-11-11 14:13] renzms commented on #837
@raamdev

I can confirm changes and is showing properly! 👍

![screen shot 2016-11-11 at 10 12 26 pm](https://cloud.githubusercontent.com/assets/13220018/20217698/fe59a03e-a85b-11e6-884c-af4fc5834541.png)

![screen shot 2016-11-11 at 10 12 19 pm](https://cloud.githubusercontent.com/assets/13220018/20217697/fb0511fc-a85b-11e6-897b-8735ee4c9c70.png)

[2016-11-11 14:17] renzms commented on #831
@raamdev

Confirmed minor change is working.

![screen shot 2016-11-11 at 10 12 26 pm](https://cloud.githubusercontent.com/assets/13220018/20217796/831c0de8-a85c-11e6-8022-c495e936c10d.png)

[2016-11-12 20:37] raamdev commented on #793
@highacid We should have a Release Candidate available this weekend that will include these changes. Our target date for a General Availability release is Friday, November 18th.

_If you're interested in testing a beta release of Comet Cache before the next version comes out, please sign-up to be a beta tester [here](http://cometcache.com/beta-testers/) or see **Comet Cache → Plugin Updater → Beta

[2016-11-12 20:55] uhlhosting commented on #793
@raamdev Thanks, I am already subscribed.

[2016-11-13 10:34] renzms commented on #477
@raamdev

![screen shot 2016-11-13 at 6 33 13 pm](https://cloud.githubusercontent.com/assets/13220018/20244961/b1e1bab4-a9cf-11e6-950a-9ac1a0cca249.png)

Confirmed working!

[2016-11-13 11:13] renzms commented on #806
@jaswsinc

![screen shot 2016-11-13 at 7 05 23 pm](https://cloud.githubusercontent.com/assets/13220018/20245124/299ff8cc-a9d5-11e6-9d01-cee244c198d3.png)

Built from the current `dev` branch and ran `phing -D project_version=160701 full-build-all` to backdate, but no `update available` shows in the header. Is this the correct way to test this?

[2016-11-13 11:19] renzms commented on #829
@jaswsinc

Attempted testing this, see comment [here](https://github.com/websharks/comet-cache/issues/806#issuecomment-260179698)

[2016-11-13 11:27] jaswrks commented on #806
@renzms You'd need to actually install one of the older builds where that notification was posted to the Dashboard. The newer builds, like those from the `dev` branch, don't do this, even if you backdate the build. It's still from the newer source code that doesn't post that notice.

[2016-11-14 07:47] jaswrks commented on #827
Also referencing: https://wordpress.org/plugins/automatic-plugin-updates/screenshots/

[2016-11-15 02:41] raamdev commented on #750
Noting that Comet Cache v160706, which was released several months back, fixed [the issue with aliased domains](https://github.com/websharks/comet-cache/issues/608). I believe that resolves the issue described above with WPML. @VR51 Can you confirm?

[2016-11-15 02:48] raamdev commented on #629
@renzms Following the improvements to the Comet Cache Pro updater in the last release, which made Comet Cache Pro compatible with ManageWP and InfiniteWP, we should run some tests against [MainWP](https://mainwp.com/) to see if we can close this GitHub issue.

[2016-11-15 05:42] VR51 commented on #750
Yes and no. Mostly positive. This appears to be resolved but I had a customer approach me last week to say the bug had returned. I'm keeping my eye on it. The bug's revival could have been a temporary quirk. Thanks @raamdev

[2016-11-15 06:05] renzms commented on #629
@raamdev

## Cannot reproduce bug

**MainWP Dashboard Site**

---

**Child MainWP Site**

---

## Steps taken
- Configured **MainWP** for Main Dashboard site and Child site
- Installed **Comet Cache Pro v160917** and enabled on Child site
- Used plugin search and installed/updated plugins via the Main Dashboard Site for the Child Site
- Everything working as normal

[2016-11-15 20:29] raamdev commented on #827
Noting that this feature should be _disabled_ by default, so that site owners can then opt-in to automatic updates if they so choose.

[2016-11-15 23:48] raamdev commented on #611
@jaswsinc writes...

Could I get an estimate on that?

[2016-11-16 01:00] raamdev opened #849 "Comet Cache v161116-RC (Release Candidate)"
### Target Date for General Availability Release: November 18th, 2016

### Downloads

- [Comet Cache Lite v161116-RC](http://cometcache.com/r/download-lite-v161116-rc/)
- [Comet Cache Pro v161116-RC](https://cometcache.com/r/download-pro-v161116-rc/) (requires being logged into cometcache.com)

### Changelog

- See [Comet Cache v161116-RC Release Announcement](https://cometcache.com/blog/comet-cac

[2016-11-16 01:08] raamdev commented on #629
@renzms Did you test updating Comet Cache Pro via MainWP?

[2016-11-16 01:09] raamdev commented on #750
@VR51 Thanks for the update. I'll go ahead and close this issue for now then. If you confirm the issue is still there, I'll reopen this issue to investigate further.

[2016-11-16 01:09] #750 closed, assigned to nobody

[2016-11-16 06:06] jaswrks commented on #611
Approx. 1 day of refactoring.

[2016-11-16 08:47] CotswoldPhoto commented on #629
For me, the last update (and none before that either) did not appear in the updates panel dashboard in MainWP. They only showed up when you visited the individual sites own admin.

[2016-11-16 09:13] CotswoldPhoto commented on #629
So, minutes after I post that, up pops a notification in MainWP that a RC version is available on my dev site. Cool. Guess that's sorted then.

[2016-11-16 14:29] renzms commented on #806
@jaswsinc

Thanks!

@raamdev

## Confirmed working in Comet Cache v161116-RC / Pro

Tested using Comet Cache 160412 / Pro and upgraded via FTP using Comet Cache v161116-RC / Pro. Update notice is removed after uploading via FTP.

![screen shot 2016-11-16 at 10 25 13 pm](https://cloud.githubusercontent.com/assets/13220018/20350999/02f600a8-ac4c-11e6-85e9-4b9ae777ff9b.png)

[2016-11-16 15:13] VR51 commented on #750
Sounds good to me. Will keep you posted.

[2016-11-16 15:21] renzms commented on #830
@raamdev

## Confirmed Working

Chart.js only loaded in the Pro version. 👍

**PRO:**

**LITE:**

[2016-11-16 15:33] renzms commented on #790
@raamdev

## Confirmed Working! 👍

![screen shot 2016-11-16 at 11 32 00 pm](https://cloud.githubusercontent.com/assets/13220018/20353211/fe5a6b16-ac54-11e6-9eab-9511d14c5187.png)

[2016-11-16 15:42] renzms commented on #808
@raamdev

## Confirmed Working

The HTML values can now be translated/modified for the Pro Preview Option panels

![screen shot 2016-11-16 at 11 42 11 pm](https://cloud.githubusercontent.com/assets/13220018/20353591/57a7ded2-ac56-11e6-8c6a-f8c85fe53a40.png)

[2016-11-16 15:48] renzms commented on #793
@raamdev

## Confirmed Working

Comet Cache now intelligently caches pages/posts with Nonce Values present.

![screen shot 2016-11-16 at 11 46 35 pm](https://cloud.githubusercontent.com/assets/13220018/20353843/111ee964-ac57-11e6-99e3-23751724e1f6.png)

[2016-11-16 15:52] renzms commented on #849
## Confirmed Working

@raamdev Everything on the check list looks good to me and is working as noted in the changelog. It wouldn't hurt though to have more eyes to catch anything I missed. 👍  🎯
- [x] Bug Fix: Avoid browser autocomplete in configuration fields by adding autocomplete="off" to all form tags in Comet Cache menu pages.
- [x] Bug Fix: Fixed a broken link to the Static CDN Filters tutori

[2016-11-16 16:57] lkraav commented on #639
Fantastic, guys :+1:  Going to put this through some good testing cycles shortly.

[2016-11-17 12:45] lkraav opened #850 "Feature: Allowlist-based GET query parameter caching"
(From https://github.com/websharks/comet-cache-pro/pull/293#issuecomment-261216071)

#639 has landed implementing a blocklist for optimized GET query parameter caching.

One of my scenarios would actually benefit from allowlisting instead.

`COMET_CACHE_IGNORE_GET_REQUEST_VARS === *`

`COMET_CACHE_ALLOW_GET_REQUEST_VARS === [ 'date', 'location' ]` etc.

In this scenario, the default is to route ca

[2016-11-17 13:38] renzms commented on #798
@raamdev

## Confirmed Working 👍

**Steps taken**
- Installed WordPress in a sub-directory
- Set up WP Multisite w/ Sub-Directories
- Created Child Site
- Installed and activated Comet Cache v161116-RC
- Enabled Comet Cache Pro with **Apache Optimizations → Enforce Canonical URLs enabled**
- Visit Child Site

![screen shot 2016-11-17 at 9 35 35 pm](https://cloud.githubusercontent.com/assets/132200

[2016-11-17 15:04] renzms commented on #674
@raamdev

## Confirmed Working

**Steps taken**
- installed WooCommerce + Comet Cache v161116-RC
- enabled `hide out of stock products`
- set up free test product with stock of `1`
- Visited Shop catalog page and purchased item
- Revisited shop page after purchase to check for out of stock item
- Item does not appear on stock page and new cache is built

**Shop Catalog with Product In Stock with 1

[2016-11-17 15:35] lkraav commented on #850
PS I'm looking at our high-traffic content marketing blog analytics at http://conversionxl.com and filtering for query parameters. The incoming marketing toolset used (or just tested) over time can be massively wide, it's not feasible to maintain a blacklist of even legit set of parameters. This confirms that a global blacklist with a controlled allow list is the way to go.

[2016-11-17 15:59] renzms commented on #639
@raamdev

## Confirmed Working
- added a query string variable to URL, `?utm_source=test-*`
- Comet Cache Notes cache path location does not include a hash of query string.
- Comet Cache Notes show that the cache file was built and served without query string variable -- - Visiting the same page with a different value also serves the same cache file

**Set GET Variable to ignore**

**Base Page** :

[2016-11-17 19:52] raamdev commented on #850
@lkraav Thank you for opening this GitHub issue. :-)

@jaswsinc Could I get an estimate on this?

[2016-11-18 07:29] jaswrks commented on #850
_Estimate:_ Two days

---

_**Note to self:** This feature, when it's made available, could be prone to misuse. So we need to be careful about how we introduce this and provide some warnings. Silently ignoring all GET variables in the cache by default can easily lead to cache files that are served for future requests with query strings interpreted by plugins, themes, or by WP core itself, and if t

[2016-11-18 13:23] renzms commented on #614
@raamdev @jaswsinc

## Confirmed Working

Pages/Posts with Sliders made with Slider Revolution Plugin are cached and compressed properly.

The Sliders also work properly even if CSS/JS is minified with the use of the exclusion rule.

![screen shot 2016-11-18 at 8 46 27 pm](https://cloud.githubusercontent.com/assets/13220018/20431408/cb0f600a-add4-11e6-81a8-d7216802902e.png)

---

However, I did no

[2016-11-18 14:08] renzms commented on #629
@raamdev

Yup! 😄  Was able to update Comet Cache Pro 160917 to the latest Comet Cache Pro 161116-RC via MainWP.

Tested two ways:
- first with adding Update Credentials on Child site + Notify for RC release
- second, manual update via upload on MainWP Dashboard and remote install to Child site

[2016-11-18 19:28] raamdev commented on #629
@CotswoldPhoto writes...

@renzms writes...

Great! It sounds to me like this issue has been resolved then. I'm going to mark this issue as closed for now, but if anyone discovers a problem here again I can reopen it.

[2016-11-18 19:28] #629 closed, assigned to renzms

[2016-11-18 19:32] raamdev commented on #614
@renzms writes...

Thanks for catching that. It sounds like we need to see if there's something else we can hook into to watch for changes to Slider Revolution. Can you please open a separate GitHub issue for that with steps to reproduce?

[2016-11-19 22:36] raamdev commented on #849
**Comet Cache v161119** has been released and includes changes from this GitHub Issue. See the [v161119 announcement](https://cometcache.com/blog/comet-cache-v161119-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#849).

[2016-11-19 22:36] #849 closed, assigned to renzms

[2016-11-19 22:37] raamdev commented on #808
**Comet Cache v161119** has been released and includes changes from this GitHub Issue. See the [v161119 announcement](https://cometcache.com/blog/comet-cache-v161119-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#808).

[2016-11-19 22:37] #808 closed, assigned to renzms

[2016-11-19 22:37] raamdev commented on #614
**Comet Cache v161119** has been released and includes changes from this GitHub Issue. See the [v161119 announcement](https://cometcache.com/blog/comet-cache-v161119-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#614).

[2016-11-19 22:37] #614 closed, assigned to renzms

[2016-11-19 22:37] raamdev commented on #793
**Comet Cache v161119** has been released and includes changes from this GitHub Issue. See the [v161119 announcement](https://cometcache.com/blog/comet-cache-v161119-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#793).

[2016-11-19 22:37] #793 closed, assigned to renzms

[2016-11-19 22:37] raamdev commented on #639
**Comet Cache v161119** has been released and includes changes from this GitHub Issue. See the [v161119 announcement](https://cometcache.com/blog/comet-cache-v161119-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#639).

[2016-11-19 22:37] #639 closed, assigned to renzms

[2016-11-19 22:38] raamdev commented on #477
**Comet Cache v161119** has been released and includes changes from this GitHub Issue. See the [v161119 announcement](https://cometcache.com/blog/comet-cache-v161119-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#477).

[2016-11-19 22:38] #477 closed, assigned to renzms

[2016-11-19 22:38] raamdev commented on #829
**Comet Cache v161119** has been released and includes changes from this GitHub Issue. See the [v161119 announcement](https://cometcache.com/blog/comet-cache-v161119-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#829).

[2016-11-19 22:38] #829 closed, assigned to renzms

[2016-11-19 22:38] raamdev commented on #831
**Comet Cache v161119** has been released and includes changes from this GitHub Issue. See the [v161119 announcement](https://cometcache.com/blog/comet-cache-v161119-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#831).

[2016-11-19 22:38] #831 closed, assigned to renzms

[2016-11-19 22:38] raamdev commented on #837
**Comet Cache v161119** has been released and includes changes from this GitHub Issue. See the [v161119 announcement](https://cometcache.com/blog/comet-cache-v161119-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#837).

[2016-11-19 22:38] #837 closed, assigned to renzms

[2016-11-19 22:39] raamdev commented on #699
**Comet Cache v161119** has been released and includes changes from this GitHub Issue. See the [v161119 announcement](https://cometcache.com/blog/comet-cache-v161119-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#699).

[2016-11-19 22:39] #699 closed, assigned to renzms

[2016-11-19 22:39] raamdev commented on #790
**Comet Cache v161119** has been released and includes changes from this GitHub Issue. See the [v161119 announcement](https://cometcache.com/blog/comet-cache-v161119-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#790).

[2016-11-19 22:39] #790 closed, assigned to renzms

[2016-11-19 22:39] raamdev commented on #806
**Comet Cache v161119** has been released and includes changes from this GitHub Issue. See the [v161119 announcement](https://cometcache.com/blog/comet-cache-v161119-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#806).

[2016-11-19 22:39] #806 closed, assigned to renzms

[2016-11-19 22:39] raamdev commented on #674
**Comet Cache v161119** has been released and includes changes from this GitHub Issue. See the [v161119 announcement](https://cometcache.com/blog/comet-cache-v161119-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#674).

[2016-11-19 22:39] #674 closed, assigned to renzms

[2016-11-19 22:40] raamdev commented on #830
**Comet Cache v161119** has been released and includes changes from this GitHub Issue. See the [v161119 announcement](https://cometcache.com/blog/comet-cache-v161119-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#830).

[2016-11-19 22:40] #830 closed, assigned to renzms

[2016-11-19 22:40] raamdev commented on #798
**Comet Cache v161119** has been released and includes changes from this GitHub Issue. See the [v161119 announcement](https://cometcache.com/blog/comet-cache-v161119-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#798).

[2016-11-19 22:40] #798 closed, assigned to renzms

[2016-11-19 22:40] raamdev commented on #842
**Comet Cache v161119** has been released and includes changes from this GitHub Issue. See the [v161119 announcement](https://cometcache.com/blog/comet-cache-v161119-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#842).

[2016-11-19 22:40] #842 closed, assigned to renzms

[2016-11-19 22:40] raamdev commented on #832
**Comet Cache v161119** has been released and includes changes from this GitHub Issue. See the [v161119 announcement](https://cometcache.com/blog/comet-cache-v161119-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#832).

[2016-11-19 22:40] #832 closed, assigned to renzms

[2016-11-19 23:14] raamdev opened #851 "Plugin Compatibility: Postman SMTP Mailer/Email Log"
A user [reports on WordPress.org](https://wordpress.org/support/topic/php-fatal-error-uncaught-error-2/) an issue between Comet Cache and [Postman](https://wordpress.org/plugins/postman-smtp/) (he confirmed it was Postman by finding that other sites without Postman installed were not throwing this error):

[code]

We need to run some tests to try and reproduce this issue. It seems related to Feed

[2016-11-20 09:57] lkraav commented on #850
It could be an incremental release process. First step for implementing the necessary logic update could provide only a developer plugin API to hook into for enabling. This would allow at least one cycle of proper vetting by only knowledgeable people.

[2016-11-21 10:49] renzms opened #852 "Slider Revolution Plugin not triggering cache clear"
## Expected Behavior

Slider Revolution should be fully compatible with **Comet Cache's Automatic Cache Clearing** feature. When updating a slide(r) on the backend, this should trigger Comet Cache auto-clear and clear the old cache so the page/post will serve the latest version of the Slider and Page/Post.

## Observed Behavior

Updating any slides/sliders, deleting any slides/sliders, and/or chan

[2016-11-21 18:08] raamdev commented on #851
Possibly related to a previously fixed bug that had similar symptoms; see https://github.com/websharks/comet-cache/issues/739

[2016-11-22 17:04] #840 closed, assigned to nobody

[2016-11-22 17:04] raamdev commented on #840
Closing due to lack of feedback.

[2016-11-22 17:04] #835 closed, assigned to nobody

[2016-11-22 17:05] raamdev commented on #819
Closing due to lack of feedback.

[2016-11-22 17:05] #819 closed, assigned to nobody

[2016-11-22 17:08] raamdev commented on #667
Closing in favor of #653; I haven't been able to reproduce any issue with the Stream plugin.

[2016-11-22 17:08] #667 closed, assigned to nobody

[2016-11-22 17:09] raamdev commented on #598
Closing; cannot reproduce any adverse behavior with the latest version of PHP 7 at this time.

[2016-11-22 17:09] #598 closed, assigned to nobody

[2016-11-22 17:09] raamdev commented on #730
Closing due to lack of feedback.

[2016-11-22 17:09] #730 closed, assigned to nobody

[2016-11-22 17:11] raamdev commented on #634
Closing; unable to reproduce.

[2016-11-22 17:11] #634 closed, assigned to nobody

[2016-11-22 17:12] raamdev commented on #701
Closing; I don't see anything actionable here for Comet Cache.

[2016-11-22 17:12] #701 closed, assigned to nobody

[2016-11-22 17:14] raamdev commented on #779
Closing due to lack of feedback.

[2016-11-22 17:14] #779 closed, assigned to nobody

[2016-11-22 17:14] raamdev commented on #841
Closing due to lack of feedback.

[2016-11-22 17:14] #841 closed, assigned to nobody

[2016-11-22 17:15] raamdev commented on #697
Closing due to lack of feedback.

[2016-11-22 17:15] #697 closed, assigned to nobody

[2016-11-22 17:16] #656 closed, assigned to nobody

[2016-11-22 17:17] raamdev commented on #735
Closing due to lack of feedback.

[2016-11-22 17:17] #735 closed, assigned to nobody

[2016-11-22 17:18] #800 closed, assigned to nobody

[2016-11-22 17:18] raamdev commented on #759
Haven't seen this issue brought up frequently enough to warrant further discussion at this time, so I'm closing this.

[2016-11-22 17:18] #759 closed, assigned to nobody

[2016-11-22 17:20] raamdev commented on #657
I'm not seeing this as something that should be part of Comet Cache, as it would be better suited as a separate plugin.

[2016-11-22 17:20] #657 closed, assigned to nobody

[2016-11-22 17:21] raamdev commented on #816
Closing due to lack of feedback.

[2016-11-22 17:21] #816 closed, assigned to nobody

[2016-11-22 17:22] #722 closed, assigned to nobody

[2016-11-23 16:16] renzms commented on #500
@raamdev

### Bug Confirmed when `_wpnonce` Caching is enabled for logged-in users

### Tested with

 - WordPress 4.6.1
 - Comet Cache™ Pro v161119 with `_wpnonce` Caching enabled for logged-in users
 - Contact Form 7 Version 4.5.1 + reCAPTCHA

### Observed Behavior with logged-out users

The page itself with the form is not cached due to the presence of `_wpnonce`

![screen shot 2016-11-23 at 11

[2016-11-23 16:18] renzms commented on #499
@raamdev

## Unable to reproduce with Really Simple CAPTCHA

The Really Simple CAPTCHA plugin itself seems bugged at the moment and does not appear on any form properly even in a clean installation.

Please refer to notes below and testing for Contact Form 7 + Really Simple CAPTCHA/reCAPTCHA and [issue 500](https://github.com/websharks/comet-cache/issues/500)

### Tested with

 - WordPress 4.6.1

[2016-11-23 19:59] #499 closed, assigned to nobody

[2016-11-23 20:08] raamdev commented on #500
@renzms Thank you.

So to reiterate, here's what needs to happen to improve compatibility with Contact Form 7 at this point:

- When a change is made to a form in Contact Form 7, the cache for any pages showing the form needs to be cleared (namely the logged-in user cache, since the presence of a `nonce` in the page source prevents caching otherwise).

I'm not sure if this is even going to be poss

[2016-11-23 20:08] #500 closed, assigned to nobody

[2016-11-23 23:28] jaswrks opened #853 "Bug: Possible Time Calculation Issue"
Referencing internal/private ticket: http://jas.xyz/2f8st76
This issue may be related to the new HTML notes in the latest release.
Not yet confirmed.

[2016-11-24 10:47] renzms opened #854 "BUG: cURL request not allowing URLs that are using self-signed certificates"
### Steps to reproduce:

- On WordPress 4.6.1
- Install and activate Comet Cache™ Pro v161119
- Install Google XML Sitemaps Version 4.0.8
- Enable the **Auto Cache Engine** feature of Comet Cache Pro

### Observed Behaviour:

Upon enabling the **Auto Cache Engine** the following message prompt appears:

[code]

[2016-11-25 18:18] raamdev commented on #854
Noting additional required steps to reproduce:

- Ensure that the site is set up for SSL using a self-signed certificate
- Ensure that the XML Sitemap URL points to the `https://` version

[2016-11-25 18:22] raamdev commented on #853
Referencing additional details from the internal ticket:

- Cache Expiration Time was set to 28 days.
- When viewing the HTML source for a cached page, the expiration date has a year of 2063:

See screenshot:

![2016-11-23 as 11 11 00](https://cloud.githubusercontent.com/assets/53005/20633213/016682cc-b312-11e6-9f12-51a4471ab632.png)

[2016-11-26 05:39] renzms commented on #847
@raamdev

### Unable to reproduce error

WordPress Version: 4.6.1
Current WordPress Theme: Twenty Sixteen version 1.3
Theme Author: the WordPress team - https://wordpress.org/
Theme URI: https://wordpress.org/themes/twentysixteen/
Active Plugins: Comet Cache Pro v161119 || Yoast SEO Version 3.8

### Steps taken

- Installed Comet Cache Pro + Yoast SEO
- Setup up different Yoast Configurations
- En

[2016-11-26 06:14] renzms commented on #853
@raamdev

### Unable to reproduce error

WordPress Version: 4.6.1
Current WordPress Theme: Twenty Sixteen version 1.3
Theme Author: the WordPress team - https://wordpress.org/
Theme URI: https://wordpress.org/themes/twentysixteen/
Active Plugins: Comet Cache Pro Version 161119

- set Cache Expiration time to 28 days

![screen shot 2016-11-26 at 1 53 31 pm](https://cloud.githubusercontent.com/asset

[2016-11-26 13:25] renzms commented on #851
@raamdev

### Unable to reproduce error

WordPress Version: 4.6.1
Current WordPress Theme: Twenty Sixteen version 1.3
Theme Author: the WordPress team - https://wordpress.org/
Theme URI: https://wordpress.org/themes/twentysixteen/
Active Plugins: Comet Cache Pro v161119 || Postman SMTP v 1.7.2
PHP Version: 7.0.10-2+deb.sury.org~xenial+1

**Please note  for Postman SMTP v 1.7.2**
**Compatible up to

[2016-11-26 20:41] raamdev commented on #847
@renzms Thank you for the additional testing. I'll go ahead and close this then as `cannot reproduce`, at least until we receive more details about how to reproduce the issue.

[2016-11-26 20:41] #847 closed, assigned to nobody

[2016-11-26 20:45] raamdev commented on #853
@renzms Thank you for the additional testing.

@jaswsinc Had you done any code review prior to posting this issue? Would you like me to leave this open for further research or do you feel this was most likely user-specific?

[2016-11-26 20:47] raamdev commented on #851
@renzms writes...

Did you cache an RSS feed?

[2016-11-26 20:48] raamdev commented on #851
@jaswsinc Looking at the error log above, are you seeing anything that might be a bug with Comet Cache that needs further investigation?

[2016-11-26 21:05] jaswrks commented on #851
Just beginning research on this...

Appears this can happen as a result of calling `get_feed_link()` too early; i.e., before `$wp_rewrite` is set, as seen here: https://github.com/WordPress/WordPress/blob/33b8bb3cf32718248d193e3831d6bfd61b527f75/wp-includes/link-template.php#L590

[2016-11-26 21:10] jaswrks commented on #851
Yes. It seems we need to take a closer look at hook priorities in Comet Cache following a recent change where we started using `plugins_loaded` [here](https://github.com/websharks/comet-cache-pro/blob/161119/src/includes/classes/Plugin.php#L202) instead of `after_setup_theme`.

[2016-11-26 21:10] jaswrks commented on #851
@raamdev Do you remember why we moved to `plugins_loaded`?

[2016-11-26 21:11] raamdev commented on #851
@jaswsinc See https://github.com/websharks/comet-cache-pro/commit/d2dd26d30963972cf68d67617931de191b4977d3

[2016-11-26 21:13] raamdev commented on #851
See also the associated GitHub issue: https://github.com/websharks/comet-cache/issues/716

[2016-11-26 21:21] jaswrks commented on #851
I see. Thanks! :-)

Looks like we'll need to move back to `after_setup_theme`. I can see now that many API calls in Comet Cache are likely to depend on `$wp_rewrite`, and the first hook that is available after `$wp_rewrite` is set, is `setup_theme`. Next, there is `after_setup_theme`, which comes after templating constants. Those are also important. In short, `plugins_loaded` is too early for the

[2016-11-26 21:27] raamdev commented on #851
@jaswsinc writes...

Not an option right now, at least not without further research and probably a workaround for #716. Issue https://github.com/websharks/comet-cache/issues/716 specifically fixed an issue that Autoptimize (200k+ active installs) was having using the Comet Cache API... see [this W.org forum thread](https://wordpress.org/support/topic/clearing-cache-from-autoptimize-base_dir-option

[2016-11-26 21:34] raamdev commented on #851
@jaswsinc At the very least, I think we need to consider the repercussions of another plugin assuming that the Comet Cache API is ready to be used after `plugins_loaded`, as that seems like an obvious assumption to make. @futtta discovered a while back that such an assumption generated fatal errors. If we move back to `after_setup_theme`, what can we do to prevent fatal errors when another plugin,

[2016-11-26 21:53] jaswrks commented on #851
The Comet Cache plugin API should not be called upon until `wp_loaded`. That's typical for most WordPress plugin APIs. Otherwise, if you call API methods earlier than `wp_loaded`, you risk doing things before the plugin (or others it depends on) are loaded and fully initialized.

To improve this, what we could do is load the API earlier than everything else so it's available on `plugins_loaded` (a

[2016-11-26 21:57] raamdev commented on #851
I don't see any problems with that. Creating our own flavor of `_doing_it_wrong()` and deferring actions automatically sounds great to me.

[2016-11-26 22:15] jaswrks commented on #853
Yes, I'd like to leave this open for further research. My best guess at the moment is that this occurs whenever you also enable the load average check in Comet Cache.

Notice that `cache_max_age` is forced to `0` here, leading to an invalid time calculation later: https://github.com/websharks/comet-cache-pro/blob/161119/src/includes/traits/Ac/ObUtils.php#L215

[2016-12-01 04:59] jaswrks opened #855 "Enhance Jetpack Compatibility"
Referencing Comet Cache mentioned here:
https://wordpress.org/support/topic/extra-sidebar-widgets-not-working/#post-8493697

It seems there could be some WP REST API responses getting cached by Comet Cache and as a result, some Jetpack module activations are not possible when Comet Cache is running.

Further testing is required to confirm and identify the cause of this.

[2016-12-01 12:51] renzms commented on #855
@jaswsinc

### Unable to reproduce bug as experienced by customer

Are there any additional details or steps needed to test further?

WordPress Version: 4.6.1
Current WordPress Theme: Twenty Sixteen version 1.3
Theme Author: the WordPress team - https://wordpress.org/
Theme URI: https://wordpress.org/themes/twentysixteen/
Active Plugins: Comet Cache Pro Version 161119 | Jetpack Version 4.4.1
PHP V

[2016-12-01 14:52] jeherve commented on #855
Here are some extra details I could gather from the thread, as well as with some testing:

- WordPress is installed in a subdirectory on the user's site: both `home` and `siteurl` are set to `domain.com/wordpress`
- They run WordPress 4.6.1.
- One can access the list of available routes on the site without any issues, at `domain.com/wordpress/wp-json`
- All the routes, including WordPress' only en

[2016-12-01 21:01] raamdev commented on #855
I also ran Comet Cache Pro v161119 + Jetpack v4.4.1 through some tests and I was unable to reproduce any problem when activating the Jetpack Extra Sidebar Widgets.

The only non-default Comet Cache options that I thought _might_ be related to this are 404 Request caching, GET Request caching, and the HTML Compressor (which also compresses JSON; see https://github.com/websharks/comet-cache/issues/4

[2016-12-01 22:52] jaswrks commented on #855
Thanks for additional details! :-)

@jeherve writes...

@renzms Please try running this on an Apache server with Comet Cache 'Pro' Apache Optimizations enabled. See: **Dashboard → Comet Cache Pro → Plugin Options → Apache Optimizations**

From that pane, note the setting for: **Enforce Canonical URLs?**

_That setting could be forcing a redirect that is incompatible with REST API endpoints._

[cod

[2016-12-01 22:55] jaswrks commented on #855
Comet Cache Pro zip file (latest bleeding edge) for developer testing:
https://cdn.wpsharks.com/software/bleeding-edge/comet-cache-pro/02803a39253a658.zip

[2016-12-02 05:47] jaswrks opened #856 "Compat: Cookd Pro Genesis Child Theme"
Referencing internal/private ticket:
https://app.intercom.io/a/apps/zbpo3mkk/inbox/me@jaswsinc.com/conversations/7072196040

I have a report from this customer that the [Cookd Pro theme](http://cookd.feastdesignco.com/) is not compatible with Comet Cache. The customer saying that the problem is related to the 'Print' link in each recipe card. It appears this link is handled via JavaScript, opens a

[2016-12-05 00:04] VR51 commented on #855
Adding here because this may be related.

I had a site that has been incompatible with Jetpack since the 24th November, not that I noticed until my WP Stats vanished (Jeremy, this isn't the WPML site I contacted Jetpack support about last week -- different issue, different site). Attempts to reactivate WP Stats or many other Jetpack modules resulted in endpoint errors.

To fix the issue I had to r

[2016-12-05 00:41] raamdev commented on #855
@VR51 Thanks so much for that report! That just pinpointed the issue.

As Jason suspected earlier, the **Dashboard → Comet Cache Pro → Plugin Options → Apache Optimizations → Enforce Canonical URLs?** is causing this problem.

To reproduce the issue, I simply enabled that option in Comet Cache Pro, saved the Comet Cache settings, then tried to enable **Extra Sidebar Widgets** inside Jetpack:

![20

[2016-12-05 01:01] VR51 commented on #855
You are welcome!

[2016-12-06 11:51] jaswrks opened #857 "Compat.: Theme Switcha + Comet Cache = Problems?"
See: https://wordpress.org/plugins/theme-switcha/ (only 300+ installs)

A customer writes...

Referencing internal/private ticket:
https://app.intercom.io/a/apps/zbpo3mkk/inbox/me@jaswsinc.com/conversations/7107016488

[2016-12-08 11:58] jaswrks commented on #827
Noting that I went with a dropdown menu for consistency with the rest of Comet Cache.

![2016-12-08_02-38-43](https://cloud.githubusercontent.com/assets/1563559/21009231/fbd024dc-bcf1-11e6-99f2-111c1dd1a053.png)

[2016-12-08 12:26] jaswrks commented on #695
Noting that a follow-up release of the HTML Compressor was needed here as well, due to the bug mentioned in the release notes: https://github.com/websharks/html-compressor/releases/tag/161208

[2016-12-08 14:51] jaswrks commented on #611
I updated the inline docs to make note of the exceptions; i.e., I improved the instructions provided to a user for each field where `^` and `$` are tricky and should not be used. I also updated this KBA: https://cometcache.com/kb-article/watered-down-regex-syntax/

[2016-12-14 01:33] raamdev opened #858 "Comet Cache v161214-RC (Release Candidate)"
# General Availability Target: December 16th, 2016

## Downloads

- [Comet Cache Lite v161214-RC](https://cometcache.com/r/download-lite-v161214-rc/)
- [Comet Cache Pro v161214-RC](https://cometcache.com/r/download-pro-v161214-rc/) (requires being logged into cometcache.com)

## Changelog

- **Bug Fix:** Improving OPcache detection. Now considering INI option `opcache.restrict_api`. Comet Cache is

[2016-12-14 01:42] raamdev commented on #858
## @jaswsinc `TODO`

- [x] Ensure the Mobile Mode `browser.version` token is updated to only contain the `[major].[minor]` version numbers.

----

[Jason wrote in Slack](https://websharks.slack.com/archives/comet-cache/p1481662924000033):

[2016-12-15 03:55] renzms commented on #858
### Confirmed Working

- [x] **Documentation:** Added Watered-Down Regex documentation notes to the inline documentation (in the software) about the use of `^` and `$` in some places where these special characters are not fully supported. Also adding the same notes to the [Watered-Down Regex KB Article](https://cometcache.com/r/watered-down-regex-syntax/). See also: [Issue #611](https://github.com

[2016-12-15 11:53] renzms commented on #858
@raamdev

For the panels that use Watered Down REGEX and have external links, they correctly redirect and have the redirect links at `http://cometcache.com/r/`.

http://cometcache.com/r/watered-down-regex-syntax/ - https://cometcache.com/kb-article/watered-down-regex-syntax/

For the following, should we put them on a domain we own and redirect?

`REQUEST_URI` - https://gist.github.com/jaswsinc/33

[2016-12-15 13:03] renzms commented on #611
@raamdev

### Multibyte support Confirmed as working

**Front End Cache notes and Post**
Cache has been generated.
![screen shot 2016-12-15 at 8 55 00 pm](https://cloud.githubusercontent.com/assets/13220018/21224957/8bc77a5a-c309-11e6-9005-8ddc70d0abb1.png)

**Updating Post with Emoji in URL**
Cache is automatic cleared when post is updated.

![screen shot 2016-12-15 at 8 56 19 pm](https://cloud.g

[2016-12-15 14:14] renzms commented on #660
@raamdev @jaswsinc

### Confirmed Working

`srcset=` also includes CDN Host Name configured in **Comet Cache Pro → Plugin Options →Static CDN Filters**

`src="https://js9dgjsl4llqpp.cloudfront.net/wp-content/uploads/2016/12/troopers-en-Scarif.png?iv=2"`

`srcset="https://js9dgjsl4llqpp.cloudfront.net/wp-content/uploads/2016/12/troopers-en-Scarif.png?iv=2 1600w`

Full HTML:

[code]

[2016-12-15 23:42] renzms commented on #848
@raamdev @jaswsinc

### Compatibility Fix Confirmed 👍

Before updating to Comet Cache Pro v161214-RC, this was the entry in the error logs for the network installation:

[code]

After installing, `wp_get_sites()` is no longer present in the error logs:

[code]

[2016-12-16 00:22] renzms commented on #695
@raamdev @jaswsinc

### Confirmed Working

This is confirmed working for `<html ⚡>`, `<html amp>` and URLS ending in `/amp`.

Page loads normally without console errors while the HTML Compressor is active with the option to detect AMP + disable incompatible features.

![screen shot 2016-12-16 at 8 06 49 am](https://cloud.githubusercontent.com/assets/13220018/21247139/32f7501c-c368-11e6-9c06-374bd3

[2016-12-16 11:44] renzms commented on #733
@raamdev @jaswsinc

### Confirmed Working

When restricting Zend OPcache API by `opcache.restrict_api = /foo/bar`

The PHP warning does not appear in the WP Dashboard with Comet Cache active.

Double checking this with OP Cache Dashboard plugin, this shows up in the error log:

[code]

[2016-12-16 12:46] renzms commented on #471
@raamdev @jaswsinc

### Confirmed Working

However, there were some inconsistencies, please correct me if I'm wrong.

### Using this configuration:

I tested with:

- Laptop with Chrome
- Mobile Phone with Chrome
- Ipad with Chrome + Safari

It generated 3 different cache files, one for Laptop, one for Mobile Android, and one for Mobile iOS

### Using this configuration:

I tested with:

- Laptop

[2016-12-16 17:19] KTS915 commented on #858
Using Firefox mobile on Android on my localhost test site running Linux Mint 17.3, I get the following message:
[code]

[2016-12-16 17:45] jaswrks opened #859 "Possible Compatibility Issue w/ Sabai Discuss"
Referencing internal/private ticket:
https://app.intercom.io/a/apps/zbpo3mkk/inbox/me@jaswsinc.com/conversations/7286898380

Sabai Discuss: https://sabaidiscuss.com/
~ Jason owns a copy of this plugin. Check Slack for ZIP file.

[2016-12-17 20:29] raamdev commented on #858
@KTS915 Thanks for the report!

@jaswsinc Here's line 156 reported above:
https://github.com/websharks/comet-cache-pro/blob/161214-RC/src/includes/traits/Shared/ConditionalUtils.php#L156

Anything you're seeing there that might warrant holding up the release?

[2016-12-18 21:35] KTS915 commented on #858
@raamdev @jaswsinc I am now getting this error message on Chrome as well. (Strangely, I wasn't getting it before.)

[2016-12-18 22:23] jaswrks commented on #858
Taking a look at this now.

[2016-12-18 22:31] jaswrks commented on #858
@KTS915  Thanks for reporting this.

Based on [the iteration that error points to](https://github.com/websharks/comet-cache-pro/blob/161214-RC/src/includes/traits/Shared/ConditionalUtils.php#L156), I'd say the most likely cause of this is a rogue plugin. It's not possible to store an array in a cookie. Only a string or numeric value. So if the `$_COOKIE` superglobal contains a key holding an array

[2016-12-18 23:23] KTS915 commented on #858
@jaswsinc: Sadly, it doesn't appear to be a rogue plugin or custom theme. I've just tried both browsers on my Android phone on the same site, but with the 2015 theme and all plugins except CC deactivated. I also cleared the browser caches. I still get the same messages.

What seems strange to me is that this is not happening on my desktop PC with either browser.