[2015-08-02 20:48] raamdev commented on #535
I should add that if you have a bunch of images that the Static CDN Filters _are not_ rewriting as you would expect, then you likely have another WordPress plugin, or possibly even your WordPress theme, inserting those images into the content of your site _after_ the ZenCache Static CDN Filters has processed the content.

If a theme or plugin modifies WordPress content output in a non-standard way

[2015-08-02 20:50] lkraav commented on #535
Sure you would. Hook into something really late, like `shutdown` hook and, catch the final output buffer and rewrite at that stage.

[2015-08-03 06:20] xberg commented on #535
Raamdev, you are certainly right: this affects custom built pages and these might not have been developed with best practices in mind.
That said, CDN Linker rewrites these links fine when I enable "relative refs" and Zencache does not. Of course it's your decision to enable support for less than optimally developed themes :)

[2015-08-03 16:36] jaswrks commented on #535
@raamdev writes...

I can confirm this also. Root-relative URLs (e.g., `/wp-content/path/to/image.png`) are filtered as well. Relative URL paths like `../wp-content/path/to/image.png` are not filtered at this time.

@xberg writes...

Can I assume that you mean a custom page template? In what way do you feel ZenCache is missing this content? At the moment, ZenCache filters all URLs generated by Wor

[2015-08-03 16:41] lkraav commented on #535
I have a simple one. Build a page which is assembled from a combination of built-in content fields and wysiwyg custom fields, which is probably a pretty standard approach for long-form stuff. In your content template you output the main content block somewhere up above with `the_content()` but then you might also output a bunch of additional `div` containers that get their values however (`get_pos

[2015-08-04 07:08] jaswrks commented on #516
## @raamdev Suggested Next Actions
- Search for `<script` in this file: https://github.com/websharks/html-compressor/blob/150512/src/includes/classes/Core.php
- Replace instances of `<script` with `<'.'script` (or similar) to concatenate; i.e., avoid `<script` being picked up by a scanner in any obvious way that would result in a false-positive match.
- Repeat for `<style` instances.

[2015-08-04 09:05] jaswrks commented on #508
I agree. It's an s2Member issue. I'm opening: https://github.com/websharks/s2member/issues/668

[2015-08-04 09:14] jaswrks commented on #533
## Suggested Next Actions
- After [this line](https://github.com/websharks/html-compressor/blob/150512/src/includes/classes/Core.php#L345), tokenize `<noscript>...</noscript>` tags; i.e., remove those tags and their contents. Replace them with a numeric token like: `%%noscript-123%%`
- After [this line](https://github.com/websharks/html-compressor/blob/150512/src/includes/classes/Core.php#L348), r

[2015-08-04 09:22] jaswrks commented on #528
## Suggested Next Actions
- [This line](https://github.com/websharks/zencache-pro/blob/150716/src/includes/closures/Ac/ObUtils.php#L295) can be stored in a variable instead of becoming a part of the stored cache file contents.

---

- So we can move the timing information to the value returned by this routine; i.e., instead of returning only the `$cache` variable, return the `$cache` value (which

[2015-08-04 15:48] raamdev commented on #508
@jaswsinc Copy that. Thanks! I'm closing this GitHub Issue since there's nothing to be done here for ZenCache.

[2015-08-04 15:48] #508 closed, assigned to nobody

[2015-08-04 16:32] raamdev commented on #528
Assigning this to myself.

[2015-08-05 08:51] jaswrks commented on #535
@raamdev I just took a closer look at this feature request; i.e., for Static CDN Filters to be applied as an output buffer. I'm not convinced it is a good route to take yet. I'm going to remove this from the Next Release milestone so we can take time to think this over first. I jumped the gun a bit here.

[2015-08-05 08:55] jaswrks opened #539 "Bug :: 404 Caching :: Multisite Compat."
## Overview

[This line of code](https://github.com/websharks/zencache-pro/blob/150716/src/includes/closures/Ac/ObUtils.php#L151) that generates the file path for a centralized 404 error file does not currently consider that each child blog in a multisite network will have its own 404 error page.

[2015-08-05 08:56] jaswrks commented on #539
Fixed in my branch. Referencing: https://github.com/websharks/zencache-pro/blob/feature/jaswsinc/src/includes/closures/Ac/ObUtils.php#L175

[2015-08-05 17:55] raamdev commented on #535
Sounds like a good idea to me. Thanks!

[2015-08-05 19:49] jaswrks opened #540 "Bug :: Multisite :: Sub-Directory Install :: Cache Clearing"
## Overview

Clearing the cache from the main site when there are child blogs in sub-directories, results in all child blogs being cleared from the cache, not just the main site as would be expected. In short, this results in what is essentially a full wipe of the cache, when in fact I just want to clear the cache for the main site.
## Steps to Reproduce
- Setup MS network w/ sub-directories.
- Cr

[2015-08-05 19:53] jaswrks commented on #540
_Noting that the HTML Compressor cache is immune to this. It only impacts ZenCache itself. Files cached by the HTML Compressor are stored in nested directories that work around this issue._

[2015-08-05 19:57] jaswrks commented on #540
This also has the potential to cause performance issues whenever the cached is cleared from the main site in a sub-directory network. ALL of the child blogs are being scanned, instead of just the main site.

[2015-08-05 20:12] raamdev commented on #540
@jaswsinc Thanks for the detailed bug report! My feeling is that the priority for this bug can slip to the following release; I see this as confusing and _potentially_ harmful (for performance reasons), but nothing catastrophic.

If you've already started working on this and you feel it's a relatively easy fix, I certainly wouldn't mind getting it into the next release, but if not I wanted to shar

[2015-08-05 22:00] jaswrks commented on #540
## Changes to Branched Cache Structure

**Legend:** [URL] = [cache path]

---
- **Old way:** `http://wp-multisite.com/child1/` = `http/wp-multisite-com/child1.html`
- **New way:** `http://wp-multisite.com/child1/` = `http/wp-multisite-com-child1/child1/index.html`

---

If the installation is in a sub-directory:
- **Old way:** `http://wp-multisite.com/base/child1/` = `http/wp-multisite-com/base/ch

[2015-08-05 22:04] raamdev commented on #502
I just realized that it would be nice to show both the installed version number _and_ the 'latest' version number, if different. This could also show something like "Upgrade now" if there's a newer version.

[2015-08-05 22:05] jaswrks commented on #540
Another example of the new behavior:

[code]

[2015-08-05 22:06] jaswrks commented on #540
From the main site:

[code]

[2015-08-05 22:17] jaswrks opened #541 "Bug :: Multisite :: Cache Wipe"
## Overview

Wiping the cache on a multisite network results in the very next page view being cached incorrectly, because the `zencache/cache/zc-blog-paths` file is wiped also, and it's not rebuilt until after the next page view, and after the `AdvancedCache` class caches for the first time.

In that first page view (under the right conditions), this results in an invalid cache path being generate

[2015-08-05 23:12] jaswrks commented on #541
Wiping the cache now leaves behind the following files intentionally:
- `/zencache/cache/.htaccess`
- `/zencache/cache/zc-advanced-cache`
- `/zencache/cache/zc-blog-paths` (MS network only)
- `/zencache/cache/zc-auto-cache.log` (pro version only)
- `/zencache/cache/zc-auto-cache-archived-[DATE].log` (pro version only)
- _... anything else that is a regular file in the root of the `zencache/cache`

[2015-08-06 03:14] renzms commented on #502
Taking note of that Raam, and will adjust accordingly as I test and fix the parse error from: https://github.com/websharks/zencache-pro/pull/126

[2015-08-06 04:55] renzms commented on #502
Tested on wordpress installation

![502 branch zencache](https://cloud.githubusercontent.com/assets/13220018/9104123/5465552a-3c3a-11e5-86a3-a054bebc312b.png)

[2015-08-06 09:04] fergusfish opened #542 "Security breach, your attempt to access a secure form has be"
I have been considering moving to the unlimites sites license but of late have been getting too many problems..
This morning I was locked out of my own site with this error "Security breach, your attempt to access a secure form has been denied!"
Unable to clear cache so left with no option but to go through cpanel and remove zencache - problem now solved. This site is about to go live and is a cli

[2015-08-07 17:01] jaswrks commented on #502
@raamdev writes...

Here is the endpoint URL to acquire the latest pro version:
http://zencache.com/?product_api[action]=latest_pro_version

[code]

_A JSON object is returned by this API with the `pro_version` property._

[2015-08-07 18:25] raamdev commented on #502
@renzms Cool! It's looking better. :-) Here's some feedback on design and how I feel the various states should affect the text:

_Note that I included the CSS style attributes in-line only for demonstration purposes; those styles should, of course, be moved to the appropriate place._

---

# ZenCache Pro (latest version)

![2015-08-07_14-20-47](https://cloud.githubusercontent.com/assets/53005/9142

[2015-08-07 18:54] raamdev commented on #542
@fergusfish That's not a ZenCache error message--nowhere in the ZenCache codebase does that error exist.

Also, ZenCache does not cache or do anything at all to the WordPress Login page, so if you were not able to login to your site, it sounds to my like you have an issue with something other than ZenCache and it was a coincidence that removing ZenCache "fixed" the problem.

If you can provide any

[2015-08-07 18:54] #542 closed, assigned to nobody

[2015-08-07 21:21] jaswrks commented on #534
Copy of Simple:Press downloaded today for testing: https://cloudup.com/cavmFJ9_odX

## Initial Review of ZenCache + Simple:Press

Unlike bbPress, additional considerations will need to be made to get ZenCache to automatically clear parent topics/forums whenever topics/replies are posted in Simple:Press. This is because the Simple:Press plugin does not use the Post API for WordPress. It installs it

[2015-08-07 21:31] jaswrks commented on #534
## How to exclude Simple:Press from the cache...

Assuming you have not changed the default permalink structure for Simple:Press, you can add Simple:Press to the list of ZenCache URI Exclusions like so:

[code]

That may or may not be desirable. My personal preference would be to exclude Simple:Press from caching until such time as ZenCache can more intelligently detect when Simple:Press topics/re

[2015-08-07 22:26] raamdev commented on #534
Thanks for review and the update, @jaswsinc!

---

Or until Simple:Press adds better support for WordPress caching plugins. Since it's not using the standard WordPress Post API, the plugin developers for Simple:Press should probably be taking more responsibility to make the plugin compatible with WordPress caching plugins.

[2015-08-07 22:37] raamdev commented on #502
@renzms For the Pro version, when there's an update available, note that you should build the link to the Pro Updater page like this (see [this line](https://github.com/websharks/zencache-pro/blob/150716/src/includes/classes/MenuPageOptions.php#L48) from the Pro version):

[code]

[2015-08-08 15:18] raamdev commented on #502
@renzms FYI, I just noticed that it looks like you accidentally committed something to the `000000-dev` branch (instead of to your feature branch) way back when you started this:

![2015-08-08_11-15-55](https://cloud.githubusercontent.com/assets/53005/9150951/0365f608-3dbf-11e5-948a-df9c4cb5ebc6.png)

I reverted the commit (https://github.com/websharks/zencache-pro/commit/a38fac0c79548a4a866491791

[2015-08-08 16:22] renzms commented on #502
@raamdev Thanks for heads up, I apologize for that one, I think that one slipped in when I was first starting on it, and as you said, even with errors it could publish without warning to the 00000 Branch. Won't happen again, been using git status 3 times before I push anything, then I just check once more.

:+1:  Measure twice, cut once.

[2015-08-10 03:15] renzms commented on #502
@raamdev
![502 branch zencache2](https://cloud.githubusercontent.com/assets/13220018/9158879/ece4e2b6-3f50-11e5-8331-1bba89dc2114.png)

Both the changelog and the update seem to be showing, how do I make it either/or?

Also, is it redundant to have the Update Available Link show up on the Updater Page?

[2015-08-10 03:30] renzms commented on #502
Also, after I polish up the pro - version changes, I'm assuming I will need to open a new branch for the lite version here - https://github.com/websharks/zencache/branches to commit the lite - version changes of #502?

[2015-08-10 23:49] raamdev commented on #502
Cool. No worries. :-)

---

I noticed in the screenshot it says `V 150722`; it should say `v150722`.

---

No, I think it's fine there. The "Update Available" link is more about indicating to a site owner that an update is, in fact, available, which you cannot tell by the Updater Page alone. So I'd say it's fine to leave that there, even on the Updater Page.

---

Jason mentioned [earlier](https:/

[2015-08-11 03:17] jaswrks opened #543 "Bug :: Multisite :: ACE :: Option Storage"
## Overview

The ACE is supposed to run only from the Main Site. This strategy has actually changed a bit since the original creation of the ACE. Over time, we have improved the ACE, and now it really should _only_ be running from the Main Site in a network. It currently does not; i.e., BUG.
## Steps to Reproduce
- Enable ZenCache network wide in a MS installation.
- Enable the ACE & and setup an

[2015-08-11 03:19] jaswrks commented on #543
This only happens in a specific scenario. It's not a widespread issue. However, it needs to be fixed nonetheless. My feeling is that data storage in ZenCache needs to use `*_site_option()` exclusively whenever work to correct this bug occurs.

[2015-08-11 10:07] jaswrks commented on #434
Here's a start on this.
http://jsfiddle.net/JasWSInc/gz3pc0yf/1/

[2015-08-11 23:46] raamdev commented on #505
Closed by PR https://github.com/websharks/zencache-pro/pull/125. See related changelog entry: https://github.com/websharks/zencache/issues/339#issuecomment-130113419

[2015-08-11 23:46] #505 closed, assigned to jaswrks

[2015-08-12 00:22] raamdev commented on #537
Next Pro Release Changelog:
- **Multisite Bug Fix**: Fixed an issue where the Auto-Cache Engine would fail to auto-cache child blogs in a multisite network whenever the network was being served from a sub-directory. Props @jaswsinc. See [Issue #537](https://github.com/websharks/zencache/issues/537).

[2015-08-12 00:22] #537 closed, assigned to jaswrks

[2015-08-12 00:26] raamdev commented on #539
Next Pro Release Changelog:
- **Multisite Bug Fix**: Fixed a bug with 404 Request caching on Multisite Networks where ZenCache was not considering that each child blog in a multisite network will have its own 404 error page. Props @jaswsinc. See [Issue #539](https://github.com/websharks/zencache/issues/539).

[2015-08-12 00:26] #539 closed, assigned to jaswrks

[2015-08-12 00:30] raamdev commented on #540
Next Pro Release Changelog:
- **Multisite Bug Fix**: Fixed a bug where clearing the cache from the main site of a multisite network, when there are child blogs in sub-directories, resulted in all child blogs being cleared from the cache, not just the main site as would be expected. This has been resolved and only the main site is cleared when clicking the Clear Cache button. Note that the Wipe Cac

[2015-08-12 00:30] #540 closed, assigned to jaswrks

[2015-08-12 00:31] raamdev commented on #541
Next Pro Release Changelog:
- **Multisite Bug Fix**: Fixed a bug where Wiping the cache on a multisite network resulted in the very next page view being cached incorrectly. Props @jaswsinc. See [Issue #541](https://github.com/websharks/zencache/issues/541).

[2015-08-12 00:31] #541 closed, assigned to jaswrks

[2015-08-12 00:57] raamdev commented on #434
Copying some of my comments from https://github.com/websharks/zencache.com/issues/55#issuecomment-112926736 related to this issue:

Do you still think we should go with a visual element like what you mocked up? My feeling is that we should keep this as straight-forward as possible and having fewer options (safest/fastest) makes the decision easier for site owners ("should I choose fast? faster? fa

[2015-08-12 01:04] jaswrks commented on #434
No, not necessarily. I'm following your lead on how this should work, and I'm absolutely OK with keeping it simple. I tossed that together after stumbling into work that was done here: http://www.code-front.com/apps/tachometer/

I was just getting a feel for how that library works and playing a bit. It might come in handy at some point in the future. I think visuals would help set ZenCache apart a

[2015-08-12 02:03] patdumond opened #544 "Minification Problem with CSS Pseudo-Classes"
Reference: https://webshark.zendesk.com/agent/tickets/7790

CSS pseudo-classes require a space between the class-name and pseudo-class-name. When minifying CSS with ZenCache, that space is removed, breaking the code.

For example:

`.test :first-child { color: green; }` would be changed to `.test:first-child{color:green;}`
## Work-Around to Avoid This Issue

To avoid this issue, choose "No, do not

[2015-08-12 02:48] jaswrks opened #545 "Remove Back Compat. `share.php` File"
Consider encoding this file to prevent inadvertent changes and to avoid having anything in this file turn up in search results while working on the codebase; e.g., running a search/replace.

https://github.com/websharks/zencache-pro/blob/150716/includes/share.php

[2015-08-12 02:51] jaswrks opened #546 "Unit Testing `/tests`"
Consider building a set of unit tests in this directory to make release testing easier. Testing inside WordPress will likely still be required, but any automated unit tests in this directory could also catch problems for us; and these could be run during the build process.

https://github.com/websharks/zencache-pro/tree/150716/tests

[2015-08-13 13:54] raamdev opened #547 "3rd Party Plugin Compatibility: Autoptimize"
[Autoptimize](https://wordpress.org/plugins/autoptimize/) "speeds up your website and helps you save bandwidth by aggregating and minimizing JS, CSS and HTML." It basically does the same thing as the ZenCache HTML Compression, however with 90k+ active installs there are often users who install ZenCache on a site where Autoptimize is already running.

There has been [a report](https://wordpress.org

[2015-08-13 15:36] kristineds opened #548 "Feature Request: Option To Inject Async When Combining JS/CSS"
A customer writes:

From @jaswsinc: It's not a feature provided by ZenCache at this time. That's because changing and/or adding this attribute can break scripts. It's not something that an automated script can just flip the switch on, because there could be unintended consequences. It's best that a theme/plugin developer and/or site owner review their site carefully and make this change manually a

[2015-08-13 16:48] skipthedrive opened #549 "Unable to parse core.php"
Hello -

I've been receiving a lot of warnings/errors in my PHP log file, and I believe it's due to manually clearing the cache. Please see below:

[code]

[2015-08-13 17:35] raamdev commented on #549
@skipthedrive Thank you for the report. Can you tell me which version of PHP you're running, along with which version of ZenCache Pro, and which web server (e.g., Apache)?

@jaswsinc Does this look like an issue with the HTML Compressor parsing requests containing IP addresses?

[2015-08-13 17:39] raamdev commented on #548
@kristineds Thanks for the feature request.

@jaswsinc It sounds, based on your comment that Kristine quoted above, that this isn't something ZenCache should do, ever. Is that correct? If so, I'm not seeing a reason to keep this feature request open. Perhaps a better direction would be to write a KB Article that explains why ZenCache _does not_ offer the option to inject an async attribute.

[2015-08-13 19:09] skipthedrive commented on #549
Hi @raamdev -
I'm using PHP version 5.4.19, ZenCache Pro version 150716, and Apache.
Thanks,
Pete

[2015-08-14 07:38] pankajsingh210 opened #550 "Captcha is getting cached"
I'm using "Really simple captcha" plugin and it is getting cached everytime. I had to clear the cache or disable the cache in order to make capctha work properly.

Please tell me a way to avoid caching of captcha plugin.

[2015-08-14 09:28] groubee opened #551 "Fatal error: You have reached the browser stylesheet limit (31)"
Hi

I use the latest version of

s2member pro
BuddyPress
WordPress
Zencache

and my theme is: Razor - http://themeforest.net/item/razor-cutting-edge-wordpress-theme/3822067

I have a problem with to many stylesheets in Internet Explorer 11? I had hoped that Zencache could have helped this issue?

Fatal error: You have reached the browser stylesheet limit (31) - Internet Explorer 11, V. 11.0.10240.

[2015-08-14 12:12] pankajsingh210 commented on #550
I think I have found the solution.  I wanted to avoid the page from getting cached. So I did it by checking all those page manually on content.php inside theme folder with there id  as follows -

[code]

Here I have called out predefined function of ZenCache to clear cache for that particular page.

[2015-08-14 12:25] jaswrks commented on #550
@pankajsingh210 Here are some options for you.
- Contact the author of this plugin and ask them to read over this article so they can make that plugin cache friendly. See: https://github.com/websharks/zencache-kb/issues/47
- Or, use the details in the same article and set the `DONOTCACHEPAGE` constant yourself. Perhaps using the code that you posted above. Instead of clearing the cache on every pa

[2015-08-15 22:14] raamdev commented on #551
@groubee If your WordPress theme and/or site has too many stylesheets being loaded, you can use the HTML Compressor feature to combine stylesheets into 1 or 2 stylesheets. The HTML Compressor feature is included with [ZenCache Pro](http://zencache.com/features/).

Note that the "fatal error" you're experiencing is not related to ZenCache. You're running into what sounds like a browser limitation.

[2015-08-15 22:14] #551 closed, assigned to nobody

[2015-08-17 06:18] pankajsingh210 commented on #550
@jaswsinc -- Thank you so much for taking out time to reply on this thread.  The above code which I used seemed working once. But it failed again. Because the page itself get cached and the code is not executed from the second time.
In my theme, **content.php** is used for many different pages and post. So there are few posts and page on which I have form, which I don't want be cached.

So how can

[2015-08-17 19:05] raamdev commented on #550
@pankajsingh210 We have a feature request open to look into compatibility with the Really Simple Captcha plugin: https://github.com/websharks/zencache/issues/499 I suggest leaving a comment and any feedback regarding that plugin over in that GitHub issue.

If you want to exclude a specific page from being cached by ZenCache, simply add that pages URI to **ZenCache → Plugin Options → URI Exclusion

[2015-08-17 19:05] #550 closed, assigned to nobody

[2015-08-19 01:23] ioerjfoige0439i opened #552 "Support for Fastly CDN"
Hi does s2member support Fastly as a CDN?

Here's some reference material:
https://github.com/fastly/WordPress-Plugin
https://wordpress.org/plugins/fastly/
https://crate.io/blog/fastly_traffic_spike/

[2015-08-19 04:22] bridgeport opened #553 "Feature request: Auto-clear all posts when new post published/updated."
There's an existing option to 'Auto-Clear Designated "Posts Page"', but I think another to clear all "post" types would be useful. An example use case:

Let's say single blogs posts have a sidebar of most recent posts. If a new post is published or modified, it would shift the ordering of these sidebar items. But since ZenCache doesn't automatically purge other posts, their sidebar content would b

[2015-08-19 04:23] jaswrks commented on #549
No, I don't think so. The HTML Compressor uses PHP's own `parse_url()` method, and this correctly parses IP host names in all versions of PHP: https://3v4l.org/RVEdj

---

Inside the backticks is interesting:

The HTML Compressor was literally unable to parse:

[code]

and that's to be expected. What's not expected is that we would attempt to parse a URL like this to begin with. It suggests there

[2015-08-19 18:20] raamdev opened #554 "Comet Cache intervening with WordPress trailing slashes in Permalinks"
We're investigating a report of ZenCache preventing a WordPress site from redirecting `example.com/test` to `example.com/test/` (with the slash).

I'm having varying success reproducing this issue. I can reproduce it on my live test site, but I cannot reproduce it on my local test site. At first I thought this had only to do with the `.htaccess` rewrite rules, but then I remembered seeing code in

[2015-08-19 18:51] skipthedrive commented on #549
Hey @jaswsinc -

I believe my homepage is being compressed, since it's not excluded from being cached. Is this a correct assumption? My homepage is SkipTheDrive (dot) com.

I have Yes selected for all HTML compression, except for combining CSS from head and body into fewer files. I remember writing in about this a while back. For some reason when this is enabled, it messes up my site layout.

[2015-08-19 18:56] raamdev commented on #552
@ioerjfoige0439i Thanks for the question. Based on [the Fastly documentation](https://docs.fastly.com/guides/basic-setup/cname-instructions-for-most-providers), it appears that Fastly works the same way as CloudFlare, i.e., they ask you to point your entire domain at their servers so that _all_ requests go their servers before ever hitting your server.

That means it's not possible for the ZenCach

[2015-08-19 18:56] #552 closed, assigned to nobody

[2015-08-19 19:12] ioerjfoige0439i commented on #552
Interesting @raamdev! Let me ask you a question, would that be the same case for Akamai? I've decided to change CDN from MaxCDN/Amazon Cloudfront to either Akamai, Fastly or Highwinds because of this report: http://www.jwplayer.com/trends/ and even though they are a lot more expensive, the results say a lot! Thanks for the tip -- wonder if it's the same deal with Akamai??

[2015-08-19 19:16] ioerjfoige0439i commented on #552
And if I did switch to Akamai, Fastly or Highwinds I can still basically just keep using ZenCache for page caching for each individual user on my s2Member site without interfering with these CDN's right?

[2015-08-19 19:17] ioerjfoige0439i commented on #552
Also, see https://github.com/websharks/s2member/issues/689 I assume wordpress 4.3 doesn't affect zencache really right? I'm going to wait for an update to s2member though.

[2015-08-19 19:27] raamdev commented on #553
@bridgeport Thanks for the feature request and for the use-case scenario! That sounds like a good scenario to address.

@jaswsinc Any thoughts on how difficult this will be to implement? I'm thinking this might be tricky to implement correctly. We could look at the configured Permalink settings and then clear all cache files recursively that match that pattern, however that would also end up clear

[2015-08-19 19:32] raamdev commented on #552
I'm not familiar with Akamai's specific services, but the information in the KB Article that I linked to applies to _any_ service where they ask you to change your DNS/CNAME configuration. If you are required to change your DNS/CNAME configuration for your domain, you are essentially redirecting all traffic to the CDN provider.

That is correct. Even if you're using something like Fastly or CloudF

[2015-08-19 20:06] ioerjfoige0439i commented on #552
Awesome! Thanks for your help once again @raamdev I really appreciate these insightful answers!

[2015-08-21 06:27] jaswrks commented on #533
Resolved by: https://github.com/websharks/html-compressor/issues/65
~ Coming in a future release of ZenCache.

[2015-08-21 08:22] jaswrks commented on #549
Copy that. We have this issue resolved in the development copy, and it should get pushed out in a new release of ZenCache Pro soon. So at some point in the near future you should be able to enable this again. Referencing: https://github.com/websharks/html-compressor/releases/tag/150821

Yes, it is being compressed. Is that the page that is triggering the PHP exception?

![2015-08-21_00-21-08](http

[2015-08-21 13:03] skipthedrive commented on #549
@jaswsinc - I'm a bit confused. Aren't all of my pages (except the ones being excluded) compressed? Would the below steps help isolate the problematic page?
1.) Start with a clear cache
2.) Cache one page (at a time)
3.) Manually clear the cache and see if that was the problematic page

Please let me know.
Thanks,
Pete

[2015-08-21 13:16] jaswrks commented on #497
## Next Actions

### Covering the Use Cases Listed Above

#### 1. Existing users who have this option enabled
- See [this line of code](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/classes/MenuPageOptions.php#L525) in the `MenuPageOptions` class.
  Wrap this line with the following conditional check:

[code]
- Now take it a step further and flag an option that shows this

[2015-08-21 13:20] jaswrks commented on #549
It would appear so, yes.

Almost, yes. Try it like this:
- Start with a clear cache.
- Hit one page on your site at a time, and after each page is cached (i.e., each time you load a page that gets cached) check your PHP error log or look for the error on-site.
- Continue that process (no need to clear the cache), until the error occurs.
- Record the URL on which the error occured and report that t

[2015-08-21 13:35] jaswrks commented on #495
## Next Actions

### Alter Default Whitelisted Extensions
- Update [this class member](https://github.com/websharks/zencache-pro/blob/feature/347/src/includes/classes/CdnFilters.php#L538-L551) in the `CdnFilters` class to the following:

[code]

[2015-08-21 14:01] jaswrks commented on #554
## My Thoughts

There's no reason for ZenCache to differentiate a trailing slash from no trailing slash, in terms of how we generate cache paths. It's really the exact same location. The only difference is in preference; i.e., what a site owner prefers on the end of their permalinks.

I do agree it's a bug though, because whatever you configure in your WordPress Permalink structure should be adher

[2015-08-21 14:04] jaswrks commented on #548
Agreed. I wasn't sure at the time, but after giving it some thought I don't see this being possible.

[2015-08-21 14:16] jaswrks commented on #512
@KTS915 writes...

This indicates the `advanced-cache.php` file was missing, which is rather unexpected if ZenCache is installed. However, I have seen this occur for site owners that use deployment scripts or host with a service like the AWS Elastic Beanstalk. If your own set of deployment files is missing the `advanced-cache.php` file (since it is auto-generated), a new deployment can cause this

[2015-08-21 14:34] jaswrks commented on #507
I was unable to reproduce this, and I just checked [the source code](https://github.com/websharks/zencache-pro/blob/feature/347/src/includes/closures/Plugin/InstallUtils.php#L18) to confirm this should not happen. After disabling WP Super Cache and then re-enabling ZenCache, I inspected the `advanced-cache.php` file and confirmed that ZenCache does handle this scenario properly.

**However,** I ha

[2015-08-21 14:36] KTS915 commented on #512
@jaswsinc,

Thanks for all these comments. But I think you give me too much credit! I wouldn't know how to run a deployment script, and I haven't heard of AWS Elastic Beanstalk.

The installation in question is actually a (presumably rather humdrum) single site installation on my localhost, running the Linux Mint 17.1 OS. I don't run a Google XML Sitemaps plugin, or anything like that.

The latest

[2015-08-21 14:51] jaswrks commented on #512
I see! Thanks :-) That explains the scenario more clearly for me.

So you were not running a plugin that generates a sitemap at all in this case. WordPress doesn't generate an XML sitemap automatically, so without a sitemap plugin this URL should in fact return a 404 error; i.e., that would be expected.

[code]

It sounds like you enabled the ACE in ZenCache, and perhaps entered your own list of U

[2015-08-21 14:58] jaswrks commented on #512
![2015-08-21_06-57-58](https://cloud.githubusercontent.com/assets/1563559/9411371/128c2ee6-47d2-11e5-8e9d-ac0bdda84d7a.png)

[2015-08-21 14:59] KTS915 commented on #512
@jaswsinc,

No, I didn't enter any URLs of my own. I just have ZenCache Pro set to "Yes, I want the auto-caching engine to keep pages cached automatically"

[2015-08-21 15:03] jaswrks commented on #512
Good enough :-) Glad to hear it.

I confirmed that the ACE is [off by default here](https://github.com/websharks/zencache-pro/blob/master/src/includes/classes/Plugin.php#L293), so I'm not understanding how it would run without it being enabled at some point, but I'll keep my eyes open for that. Thanks again for the report! :-)

[2015-08-21 15:13] jaswrks commented on #488
## Next Actions (Step 1)

### Create `wipeCdnCache()` and `clearCdnCache()` Methods

Create a new file in [this directory](https://github.com/websharks/zencache-pro/tree/feature/347/src/includes/closures/Plugin) named `WcpCdnUtils.php`

[code]

[2015-08-21 15:16] jaswrks commented on #506
@raamdev What are your thoughts on this?

[2015-08-21 16:17] jaswrks commented on #427
Yes, that would be my take also. I made a note of this a while back in the source code and left example code here that you could uncomment if you like. See: https://github.com/websharks/zencache-pro/blob/feature/347/src/includes/classes/VsUpgrades.php#L272-L276

[2015-08-21 21:30] raamdev commented on #537
**ZenCache Pro v150821** has been released and includes changes from this GitHub Issue.

See the [ZenCache Pro v150821 announcement](http://zencache.com/zencache-pro-v150821-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#537).

[2015-08-21 21:30] raamdev commented on #539
**ZenCache Pro v150821** has been released and includes changes from this GitHub Issue.

See the [ZenCache Pro v150821 announcement](http://zencache.com/zencache-pro-v150821-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#539).

[2015-08-21 21:31] raamdev commented on #540
**ZenCache Pro v150821** has been released and includes changes from this GitHub Issue.

See the [ZenCache Pro v150821 announcement](http://zencache.com/zencache-pro-v150821-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#540).

[2015-08-21 21:31] raamdev commented on #541
**ZenCache Pro v150821** has been released and includes changes from this GitHub Issue.

See the [ZenCache Pro v150821 announcement](http://zencache.com/zencache-pro-v150821-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#541).

[2015-08-21 21:51] raamdev commented on #506
@jaswsinc Allowing minificaiton when caching is disabled will definitely introduce some confusion. Can the HTML Compressor be used when ZenCache is disabled (i.e., caching is turned off)? At present, no. The HTML Compressor is a feature of ZenCache and when ZenCache (or ZenCache caching) is disabled, so is the HTML Compressor.

Making it possible for the HTML Compressor to run when caching is disa

[2015-08-21 21:58] raamdev opened #555 "Detect when XML Sitemap URL does not exist for Auto-Cache Engine"
_Forked from https://github.com/websharks/zencache/issues/512#issuecomment-133451054_

@jaswsinc writes...

![2015-08-21_06-57-58](https://cloud.githubusercontent.com/assets/1563559/9411371/128c2ee6-47d2-11e5-8e9d-ac0bdda84d7a.png)

[2015-08-21 21:58] raamdev commented on #512
@KTS915 Thanks for the feedback. :-)

@jaswsinc I've opened a separate GitHub issue to track improvements to the Auto-Cache Engine UI; thanks for pointing that out! :-) See https://github.com/websharks/zencache/issues/555

[2015-08-21 21:58] #512 closed, assigned to nobody

[2015-08-21 22:01] raamdev commented on #555
@jaswsinc I think we can do better than a note: We should just check the XML Sitemap URL and see if it returns the appropriate status code. If it does not, we show a warning message indicating that the XML Sitemap could not be found and suggest installing the Google XML Sitemaps plugin, or clear the XML sitemap field and use the list of URLs instead. (Bonus points if we can also validate that a va

[2015-08-21 22:03] raamdev commented on #507
@jaswsinc I seem to recall manually inspecting the `advanced-cache.php` file each time, which would rule out the OPCache theory. I'll add this to my todo list again and attempt to reproduce it later. Thanks for the feedback! :-)

[2015-08-21 22:04] raamdev commented on #548
@jaswsinc Got it. Thanks. Closing this.

[2015-08-21 22:04] #548 closed, assigned to nobody

[2015-08-21 22:07] raamdev commented on #554
Got it. Thanks for the update!

<del>Blocked by https://github.com/websharks/zencache/issues/427</del>

[2015-08-21 22:36] KTS915 commented on #491
I agree with @lkraav and @isaumya.

I don't see any reason to take this on when (a) it's very difficult to do well and (b) another plugin already does it well, i.e. https://wordpress.org/plugins/ewww-image-optimizer/

It would just be risking the usefulness and reputation of ZenCache for little or no gain.

[2015-08-21 22:44] KTS915 commented on #506
In my view, it would be great to have the HTML Compressor working even if caching is disabled. Whether you provide that capability via an independent plugin or a filter doesn't matter to me.

[2015-08-22 07:03] jaswrks commented on #507
I see. Well, maybe it's an issue that existed in a previous release and I just didn't test it at the same time as you did. I tested earlier today against the development branch.

[2015-08-22 07:47] jaswrks commented on #553
I agree, that would be a much better way to go about this, because without some form of configuration there is too much for work for ZenCache to do; i.e., to determine what exactly should be cleared. It's not impossible for ZenCache to do it, but I'd say it is not practical, given the overhead that would come with this; e.g., DB queries needed to determine and perhaps multiple directory scans.

On

[2015-08-22 13:46] skipthedrive commented on #549
@jaswsinc - Thanks for the details. I might not get around to this for a few days, but will let you know once I do.

[2015-08-22 19:09] raamdev commented on #502
@jaswsinc Ping ↑

[2015-08-22 23:56] jaswrks commented on #502
I updated this routine recently, which already does a periodic check for the latest Pro version.

See: https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/closures/Plugin/UpdateUtils.php#L32-L34

So now that this is in place, you can simply print the latest pro version with:

[code]

[2015-08-22 23:59] jaswrks commented on #502
Right. I suspect we can use this API. It's intended for stats, but it also gives us the version.
https://api.wordpress.org/stats/plugin/1.0/zencache

[2015-08-23 00:00] jaswrks commented on #502
See also, full list of WordPress APIs:
https://codex.wordpress.org/WordPress.org_API

[2015-08-23 00:06] raamdev commented on #553
@bridgeport I'm going to close this GitHub issue in favor of #111. I've gone ahead and [copied over some of your comments](https://github.com/websharks/zencache/issues/111#issuecomment-133766571) from this issue so that we can take your point into consideration when working on the feature described in #111.

[2015-08-23 00:06] #553 closed, assigned to nobody

[2015-08-23 00:09] raamdev commented on #491
@KTS915 Thanks for the feedback. :-)

@jaswsinc I'm prepared to punt this feature in favor of improving support for (if necessary) and recommending [EWWW Image Optimizer](https://wordpress.org/plugins/ewww-image-optimizer/). Agreed?

[2015-08-23 00:13] jaswrks commented on #491
Agree. I consider this to be a job for the browser itself, and I'd love to see improved support for this in Chrome/Firefox. Short of that, a highly specialized plugin that is focused entirely on this aspect would be a job of its own.

[2015-08-23 20:04] kristineds commented on #488
@jaswsinc @raamdev Submitting PR for step 1: https://github.com/websharks/zencache-pro/pull/134

[2015-08-24 03:37] renzms commented on #502
@jaswsinc

Hi I tried using  `echo $this->plugin->options['latest_pro_version'];`  but it didn't seem to show up.

I noticed though in the update prompt that shows up on the notifications bar is an already working sample of what I want to happen:

![plugin options renz s test area wordpress](https://cloud.githubusercontent.com/assets/13220018/9432320/d98365e0-4a53-11e5-92c2-952ee513ee9a.jpg)

What

[2015-08-24 05:25] jaswrks commented on #502
Have you done a pull recently, just to be sure that you're testing and working w/ the latest dev branch?

---

## Instructions

### Commit your changes thus far...

[code]

### Now... pull the latest changes to the dev branch.

[code]

### Merge the latest changes into your feature branch.

[code]

---

Now test `echo $this->plugin->options['latest_pro_version'];`

---

https://github.com/webshark

[2015-08-24 05:33] renzms commented on #502
@jaswsinc

Thanks, yeah I don't think I merged the latest update.

[2015-08-24 05:39] jaswrks commented on #488
Great! Before we move to the next step here we need Raam to merge the existing PRs that are pending. I'll come back to this next week at some point and outline the next step.

[2015-08-25 02:25] jaswrks commented on #555
:+1:

[2015-08-25 02:26] jaswrks commented on #506
:+1:

[2015-08-25 03:48] raamdev opened #556 "3rd Party Plugin Compatibility: EWWW Image Optimizer"
_Forked from https://github.com/websharks/zencache/issues/491#issuecomment-133766650._

We need to investigate ZenCache compatibility with [EWWW Image Optimizer](https://wordpress.org/plugins/ewww-image-optimizer/) so that we can start recommending that plugin when asked about image optimization.

[2015-08-25 03:49] raamdev commented on #491
@jaswsinc Thanks!

I'm closing this GitHub issue in favor of https://github.com/websharks/zencache/issues/556, which I will use to investigate and track EWWW Image Optimizer compatibility with ZenCache.

@lkraav @isaumya @KTS915 Thanks for all the feedback. :-)

[2015-08-25 03:49] #491 closed, assigned to nobody

[2015-08-25 19:50] skipthedrive commented on #549
Hey @jaswsinc -

I noticed that over the past few days I haven't received these messages. Still, I decided to go ahead and walk through the steps you laid out above. I'm still not receiving any messages, so I suppose we could close this out if you'd like. I'm not sure what may have been causing the problem. I did recently upgrade WP to the latest version, but don't know if that may have helped or

[2015-08-25 20:01] jaswrks commented on #549
Copy that :-) Thank you for the follow-up. I'll go ahead and close this out, but if you have anything more you'd like to add later that might help us reproduce the issue, please feel free. We can open this back up at that time.

[2015-08-25 20:01] #549 closed, assigned to nobody

[2015-08-25 20:08] skipthedrive commented on #549
Sounds good, thanks :)

[2015-08-26 02:22] renzms commented on #502
@jaswsinc
![screen](https://cloud.githubusercontent.com/assets/13220018/9484222/0336b8fe-4bdc-11e5-915c-cbd9be13816a.png)

The merging failed, do I need to git pull `origin/feature/502' also? I was able to pull from`000000-dev'

Do I do the ff. next?

[code]

[2015-08-26 08:15] jaswrks commented on #502
@renzms I see. So you had some merge conflicts there. Well, there have been quite a few changes since you began work on this, so that explains the merge conflicts. Nothing you did wrong, it's just that there has been a large chunk of time between when you began this, and where we are with the codebase right now. I could walk you through how to deal with merge conflicts, but that would be futile; b

[2015-08-26 08:20] jaswrks commented on #502
You can get a jump-start on this by installing Ruby.
See: http://rubyinstaller.org/

[2015-08-26 10:21] renzms commented on #502
Ok, I've installed Ruby 2.1.6

[2015-08-26 20:24] jaswrks commented on #502
Cool. Nice!

When you run the installer, be sure to check this box.

![2015-08-26_12-23-33](https://cloud.githubusercontent.com/assets/1563559/9505168/4e491da8-4bed-11e5-90e2-bace7ab163dd.png)

---

After Ruby is installed, open your command prompt; i.e., Git Bash and type:

[code]

[2015-08-27 01:49] renzms commented on #502
Done installing sass, I've added the old changes to the cloned repo in: feature/502-2nd-attempt, except for the SCSS (menu-pages.scss) I'll await your next instructions/walkthrough regarding that one before I try anything with it.

[2015-08-27 09:22] jaswrks commented on #502
Great! :-)

Now, you can add any custom CSS needed to display the version number in [this file](https://github.com/websharks/zencache-pro/blob/feature/347/src/client-s/css/menu-pages/_heading.scss).

## Recompiling the `menu-pages.min.css` file.
- From the command line, type:

[code]

This will do two things:
- It will immediately recompile `menu-pages.min.css` for you, so that you may test your c

[2015-08-27 09:23] jaswrks commented on #502
Reference, if you'd like to learn more about Sass. We use the SCSS syntax:
http://sass-lang.com/

Note that SCSS supports regular CSS too, so you don't need to learn a new language. You can simply write CSS as you normally would do. The benefit is that SCSS supports many additional features that make it much more powerful and easier for us to stay organized.

[2015-08-27 10:05] jaswrks commented on #502
I just realized that I left out the `$ composer install` step there. Be sure to run `composer install` in your newly cloned copy of the repo before you begin work on the CSS files, as the Composer installer resolves some other dependencies on your system.

You can reference my original instructions and use the the "Satisfy Dependencies" step to refresh yourself, just in case you forgot about this.

[2015-08-27 14:31] renzms commented on #502
@jaswsinc: Hi Jason,  trying to test but I think the latest version installed on my test site is ZenCache v150821, so the files are still different especially regarding the CSS folder. It's not compiled yet. I tried overwriting with my cloned repo, but it just crashed.

Would I need to install `feature/347` files onto my test site? Or should I wait for a public release to test on? As a lot has cha

[2015-08-27 14:36] jaswrks commented on #502
Yeah. Just be sure that you remove the entire old plugin directory and replace it with the newly cloned repo that you have, which is based on `feature/347`.
- Delete: `/wp-content/plugins/zencache-pro`
- Upload: `~/projects/websharks/zencache-pro` to `/wp-content/plugins/zencache-pro`

That error will continue though, even once you get up-to-date on your test site. For the second argument you can

[2015-08-27 14:40] renzms commented on #502
@jaswsinc Thanks Jason! Was trying to wrap my head around it ( I even thought my ftp upload of the code had failed) and then realized you guys must have really changed A LOT of code since then!

[2015-08-27 15:04] renzms commented on #502
@jaswsinc  Hi Jason, it works now. Thanks for the assists. Is this ready for a push? Also, do I follow the same steps now for the Lite Version? And which branch do I start from for the Lite Version?

![plugin options renz s test area wordpress 2](https://cloud.githubusercontent.com/assets/13220018/9524104/babcc1d8-4d0f-11e5-8522-5f59f46e3700.jpg)

[2015-08-27 16:42] jaswrks commented on #502
Cool. Definitely. Go ahead and do the push and then Raam and I can help by reviewing the code itself in your most recent work on this. Be sure that you are pushing `feature/502-2nd-attempt`.

[code]

[2015-08-27 20:23] jaswrks commented on #502
The `websharks/zencache-pro` repo is actually the basis for the lite version; i.e., it is used to build the lite variation automatically. So we don't have the dual commits/PRs all the time like we have with Comment Mail and s2Member.

However, I'll let @raamdev  answer this, because there _is_ still an older copy of ZenCache Lite that we are maintaining over the short-term. I suspect this is not g

[2015-08-27 20:25] #544 closed, assigned to jaswrks

[2015-08-27 21:07] raamdev commented on #502
@jaswsinc @renzms Correct. There's nothing to do for the Lite version in this case.

[2015-08-28 00:02] jaswrks opened #557 "Undefined overload property: `cache_clear_min_cap`"
Shows up in PHP error log when running the development branch.

[code]

[2015-08-28 00:42] raamdev commented on #557
@jaswsinc It looks like this might just have the wrong name; should `$self->cache_clear_min_cap` be `$self->clear_min_cap` instead? See:
https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/classes/Plugin.php#L91

[2015-08-28 01:43] jaswrks commented on #557
Yeah, that's it!

[2015-08-28 02:14] raamdev commented on #557
Cool. I'll fix this.

[2015-08-28 02:17] raamdev commented on #557
Closed by https://github.com/websharks/zencache-pro/pull/135

[2015-08-28 02:17] #557 closed, assigned to nobody

[2015-08-28 11:51] renzms commented on #502
@raamdev @jaswsinc

Hi, pushed for review: https://github.com/websharks/zencache-pro/tree/feature/502-2nd-attempt

Thanks!

[2015-08-28 12:35] jaswrks commented on #502
Thanks! :-)

Some changes are needed in order to accomplish what [@raamdev wanted in this request](https://github.com/websharks/zencache/issues/502#issuecomment-128787903).
1. There needs to be logic that displays either `(changelog)` or `(update available)`, based on the current version they are running and the latest available version. See: https://github.com/websharks/zencache/issues/502#issuec

[2015-08-28 12:42] jaswrks commented on #502
Note: you can push your changes to the same branch if you like.
- Make the changes noted above.
- Then run the following:

[code]

[2015-08-28 13:44] jaswrks commented on #488
## Next Actions (Step 2)
- Pull the latest `000000-dev` branch.

[code]
- Start a new feature branch based on the dev branch.

[code]
- Right above [this line](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/classes/Plugin.php#L276), add a new option.

[code]
- Right above [this line](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/classes/Plugin.php#L

[2015-08-28 13:50] renzms commented on #502
Hi @jaswsinc ,

Added your changes and those that you mentioned about nesting the CSS, I think it failed to push due to my Github configurations, please see Screenshot:

![warning](https://cloud.githubusercontent.com/assets/13220018/9547717/c80a0994-4dce-11e5-8b6a-075706555c7d.png)

[2015-08-28 14:05] jaswrks commented on #502
Run `git config --global push.default simple` and then try this again.
What's happening is that Git is trying to push _both_ your feature branch and also the `000000-dev` branch at the same time, and the `000000-dev` branch that you have is just a teeny bit outdated at the moment. However, even if it were completely up-to-date, we want to avoid you pushing to the `000000-dev` or `master` branches.

[2015-08-28 14:24] jaswrks commented on #488
## Next Actions (Step 3)
- Pull the latest `000000-dev` branch.

[code]
- Start a new feature branch based on the dev branch.

[code]
- Right after [this line](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/classes/Actions.php#L28), add a new block.

[code]
- Right after [this line](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/classes/Actions.php#L

[2015-08-28 17:03] jaswrks commented on #557
Thanks!

[2015-08-30 11:46] karenratte opened #558 "HTML Compression breaks Portfolio Slideshow Pro"
Setting these settings to YES, breaks Portfolio Slideshow. I presume it is from combining the javascript.
I am using MAXCDN as well and have it enabled, if that makes a difference. If there is anything you require of me please ask.

[2015-08-30 16:52] jaswrks opened #559 "Bug :: Chart.js Rounding Issue (Chart Slicing)"
@raamdev writes...

Regarding the current development branch:

![2015-08-29_14-53-38_720](https://cloud.githubusercontent.com/assets/1563559/9568390/6e73f4cc-4ef4-11e5-8746-c15201345071.png)

[2015-08-30 17:48] jaswrks commented on #558
Thanks for the report. This issue was resolved in a recent update. It's coming soon in a new release of ZenCache Pro. Referencing: https://github.com/websharks/zencache-pro/pull/129

[2015-08-30 17:48] #558 closed, assigned to nobody

[2015-08-30 20:32] sarangandk opened #560 "Latest version conflicting with another external script"
I have an external script which uploads Wordpress galleries from images in ftp server. Latest version of ZenCache is giving some problems that prevent my script not working anymore.

I'm willing to share my script with the developers, not in public.
Please tell me how to share it with you by email or private.

When I load my script, I get the following error message:

[code]

[2015-08-30 21:46] jaswrks opened #561 "Bug :: NGINX Compat. :: `$_GET['q']`"
## Overview

Referencing: http://wiki.nginx.org/Pitfalls#Front_Controller_Pattern_based_packages

[code]

_This is a popular configuration for Nginx servers._

The `$_GET['q']` variable being passed to WordPress & ZenCache though; it can prevent an entire site from being cached. This is because ZenCache, by default, will not cache URLs that contain a query string. With this Nginx config, all reque

[2015-08-30 21:47] jaswrks commented on #561
## Short-Term Fix

Change:

[code]

To:

[code]

[2015-08-31 14:57] kristineds commented on #488
Submitting Pull Requests for:
Step 2: https://github.com/websharks/zencache-pro/pull/138
Step 3: https://github.com/websharks/zencache-pro/pull/139

[2015-08-31 15:28] jaswrks commented on #488
@kristineds Both of those PRs look great to me. Thanks!

Please give each of these an "in progress" label and just leave a note for Raam in each of the PRs so he knows they are part of a larger picture that is still coming together here. I'll document the next steps later today. We are almost done w/ this!

[2015-08-31 15:40] kristineds commented on #488
All good! Added those notes on each PR. Can't wait for the next steps. :)

[2015-08-31 16:51] jaswrks commented on #488
## Next Actions (Step 3 Continuation)
- Use the same branch: `feature/488-step-3`

[code]
- After [this line](https://github.com/websharks/zencache-pro/blob/feature/488-step-3/src/includes/classes/Actions.php#L91) add the following:

[code]
- After [this line](https://github.com/websharks/zencache-pro/blob/feature/488-step-3/src/includes/classes/Actions.php#L121) add the following:

[code]
- After

[2015-08-31 17:31] kristineds commented on #488
@jaswsinc Submitted PR and added note for Raam: Implementing CDN wipe/clear functionality: https://github.com/websharks/zencache-pro/commit/755ff64f6c3f19a2e42dc9105312ad3310a713da

[2015-08-31 17:35] jaswrks commented on #488
Beautiful! :-)

[2015-08-31 17:36] jaswrks commented on #488
## Next Actions (Step 4)
- Pull the latest `000000-dev` branch.

[code]
- Start a new feature branch based on the dev branch.

[code]
- After [this line](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/classes/MenuPageOptions.php#L250) add the following:

[code]
- After [this line](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/classes/MenuPageOptions

[2015-08-31 17:36] jaswrks commented on #488
## Next Actions (Part 4 Continuation)
- Use the same branch: `feature/488-step-4`

[code]
- **Replace** [this line](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/classes/MenuPageOptions.php#L776) with the following:

[code]

---
- Update Existing Pull Request

[code]

[2015-08-31 17:38] jaswrks commented on #488
On deck: Final Step 5

_JavaScript for `<button type="button" class="plugin-menu-page-clear-cdn-cache"` onclick event._

[2015-08-31 19:41] jaswrks commented on #488
## Next Actions (Final Step 5)
- New feature branch for step 5; based on `000000-dev`.

[code]
- After [this line](https://github.com/websharks/zencache-pro/blob/000000-dev/src/client-s/js/menu-pages.js#L137) add the following:

[code]
- **Replace** [this line](https://github.com/websharks/zencache-pro/blob/000000-dev/src/client-s/js/menu-pages.js#L26) with the following:

[code]
- Submit Pull Req

[2015-08-31 20:29] raamdev commented on #560
@sarangandk You can share privately by opening a ticket here: http://wsharks.com/1fRVz6b (link expires in 48 hours)

[2015-08-31 20:33] sarangandk commented on #560
I have uploaded the script.

##

Sarangan T.

On Mon, Aug 31, 2015 at 10:29 PM, Raam Dev notifications@github.com wrote:

[2015-08-31 21:02] jaswrks commented on #561
I should note that the `?q=$uri` is not there for WordPress. WordPress doesn't need this. It's there (i.e., suggested by Nginx) for cross-compatibility with Drupal and Joomla also. I'm not sure which of those relies on this, but WordPress itself does not. Thus, the short-term fix I posted could also be a long-term fix if you're only running WordPress.

[2015-09-01 00:39] jaswrks commented on #472
We can make it configurable, yes. I don't see any problem with that. However, it does need to be on a schedule that is either already registered with WP-Cron, or that we add via filters.

[2015-09-01 15:00] kristineds commented on #488
@raamdev @jaswsinc Submitting Pull Requests for:

Step 4: websharks/zencache-pro/pull/140
Step 4 (continuation): https://github.com/websharks/zencache-pro/commit/0330a5016c9fc7b57da1edffae7a86a20a9ab7aa
Step 5: websharks/zencache-pro/pull/141

_I added notes on each PR to indicate that it is part of a larger picture_

[2015-09-02 01:02] jaswrks opened #562 "Bug: Dev Branch : SHORT_NAME"
I introduced a bug in [this PR](https://github.com/websharks/zencache-pro/pull/137). The use of `SHORT_NAME`, which I tried to tidy-up as part of this PR, should be forced to lowercase via `strtolower()`. The default value of `SHORT_NAME` is `ZC`, so it needs to be forced to lowercase when used to formulate strings like: `zcABC`.

[2015-09-02 01:04] raamdev commented on #502
Next Pro Release Changelog:
- **Enhancement**: The installed plugin version is now shown at the top of the ZenCache Options Panel. When a newer version of the plugin is available, an "update available" link appears. Props @renzms. See [Issue #502](https://github.com/websharks/zencache/issues/502).

[2015-09-02 03:48] jaswrks commented on #562
Looks perfect to me. Thank you!

[2015-09-02 04:44] jaswrks commented on #488
@kristineds Excellent! That should just about do it. You can go ahead and label all of your open PRs for this issue as "**ready to merge**" and send Raam a note to let him know it's time for these to be reviewed, merged, and tested by us all.

[2015-09-02 15:43] kristineds commented on #488
@raamdev All PRs (Step 1 - 5)  submitted for this [issue](https://github.com/websharks/zencache/issues/488)  are ready to be reviewed, merged, and tested by all of us. i.e. All work have been completed.

Pull Request Summary:
_Step 1_: websharks/zencache-pro#134
_Step 2_: websharks/zencache-pro#138
_Step 3_: websharks/zencache-pro#139
_Step 4_: websharks/zencache-pro#140
_Step 5_: websharks/zencac

[2015-09-03 00:11] raamdev commented on #562
Closed by https://github.com/websharks/zencache-pro/issues/142.

[2015-09-03 00:11] #562 closed, assigned to jaswrks

[2015-09-03 00:13] raamdev commented on #488
@kristineds Woohoo! Nice work! Thanks. :-) I'l start reviewing those PRs now.

[2015-09-03 01:25] raamdev commented on #561
Closed by https://github.com/websharks/zencache-pro/pull/137.

[2015-09-03 01:25] #561 closed, assigned to nobody

[2015-09-03 19:14] raamdev commented on #544
Next Pro Release Changelog:
- **Bug Fix**: Fixed an HTML Compressor bug related to CSS pseudo-classes where spaces between the class name and pseudo-class name were being removed when CSS was minified. Props @patdumond @jaswsinc. See [Issue #544](https://github.com/websharks/zencache/issues/544).

[2015-09-03 19:31] raamdev commented on #427
Noting that this issue is no longer `blocked` now that https://github.com/websharks/html-compressor/issues/62 has been closed.

[2015-09-03 20:06] raamdev commented on #561
Next Pro Release Changelog:
- **Bug Fix**: Fixed an issue related to a popular NGINX server configuration (`try_files $uri $uri/ /index.php?q=$uri&$args;`) that was preventing the entire site from being cached. ZenCache disables caching by default for all requests that include a query string (see _Dashboard → ZenCache → Plugin Options → GET Requests_) and this particular NGINX configuration passes

[2015-09-03 20:37] raamdev commented on #488
@jaswsinc I'm testing this new feature and I noticed that while there's a new option under "Manual Cache Clearing", there's no corresponding option under "Automatic Cache Clearing". I also tested automatic cache clearing with the "Clear CDN Cache Too?" set to Yes inside Manual Cache Clearing, and it appears that the CDN Cache does not get cleared when an automatic cache clearing event occurs (for

[2015-09-03 20:57] jaswrks commented on #488
I'm not against there being an option for this, no. However, it would be my opinion that the CDN cache should not be cleared automatically unless there is a definitive reason for doing so. When the CDN cache is cleared, it forces your visitors to download a whole new set of resources; e.g., JS/CSS/images, etc. So unless the file system is changing, or a site owner chooses to do this manually, I th

[2015-09-03 22:57] raamdev commented on #502
@renzms @jaswsinc I noticed the new version number is missing from the Stats/Charts page:

![2015-09-03_18-56-30](https://cloud.githubusercontent.com/assets/53005/9672987/98478652-526d-11e5-8db6-045b88332bd0.png)

[2015-09-03 23:02] raamdev commented on #488
I agree. And in that case, the "Clear the CDN Cache Too?" setting inside Manual Cache Clearing should default to "No", not "Yes", as it does now.

Or when you click the "Clear Cache" button. As noted above, the current default (tested with `000000-dev` branch as of today, see [this line](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/classes/Plugin.php#L277)) is to clear th

[2015-09-03 23:14] jaswrks commented on #502
## Next Actions
- New Feature Branch

[code]
- After [this line in `MenuPageStats.php`](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/classes/MenuPageStats.php#L35), add the following:

[code]
- Commit changes and push.

[code]
- Open a Pull Request from [this page at GitHub](https://github.com/websharks/zencache-pro/branches).

[2015-09-03 23:22] jaswrks commented on #488
I agree. I'm not sure why I defaulted that to being enabled. Referencing [this line](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/classes/Plugin.php#L277).

[2015-09-03 23:27] raamdev commented on #488
This has been updated. The default for the "Clear the CDN Cache Too?" option is now disabled: https://github.com/websharks/zencache-pro/commit/3df5d482a6fbc9eb4828a39b05de5738325a0481

[2015-09-03 23:32] raamdev commented on #488
Next Pro Release Changelog:
- **New Feature!** It's now possible to manually clear the CDN Cache when Static CDN Filters are enabled. Inside the Static CDN Filters options panel there's a new "Clear CDN Cache" button and there's also a new option ("Clear the CDN Cache Too?") inside _Dashboard → ZenCache → Plugin Options → Manual Cache Clearing_ that allows you to specify whether or not you'd like

[2015-09-03 23:32] #488 closed, assigned to nobody

[2015-09-03 23:34] jaswrks commented on #488
Cool. TY.

[2015-09-04 00:04] raamdev commented on #559
@jaswsinc I've been testing the bug fix for the charts on my personal raam.org site and things look great so far:

![2015-09-03_19-51-52](https://cloud.githubusercontent.com/assets/53005/9673717/4bac57a2-5275-11e5-86a3-6bdeecf1acc3.png)

I'm marking this as closed by https://github.com/websharks/zencache-pro/issues/137

[2015-09-04 00:04] #559 closed, assigned to nobody

[2015-09-04 00:12] jaswrks commented on #559
Cool!

[2015-09-04 02:45] raamdev commented on #560
@sarangandk It looks like ZenCache is not finding your hostname in `$_SERVER['HTTP_HOST']` when your script runs, which seems odd to me. Can you try adding `echo $_SERVER['HTTP_HOST']` to your script (or otherwise the value of `$_SERVER['HTTP_HOST']` while your script is running) to see if there's something odd being returned? It should contain the hostname for your site.\

---

Referencing intern

[2015-09-04 03:49] raamdev commented on #523
We have still been unable to reproduce the issue described here and we haven't received any other reports like this, so I'm going to close this issue as `cannot reproduce`.

@allklier If you're able to reproduce this issue in a [Clean WordPress Installation](http://zencache.com/kb-article/testing-zencache-in-a-clean-wordpress-installation/), please update this issue and we'll take a closer look.

[2015-09-04 03:49] #523 closed, assigned to nobody

[2015-09-04 20:35] sarangandk commented on #560
Hello,
I just did that as you requested and echo $_SERVER['HTTP_HOST'] echo'ing my
domain correctly. The following error displaying only when I run the PHP
script via cron. When I load the script via browser like
http://domain/script.php it works fine.

PHP Fatal error:  Uncaught exception 'Exception' with message 'Invalid

##

Sarangan T.

On Fri, Sep 4, 2015 at 4:45 AM, Raam Dev notifications@gi

[2015-09-04 23:13] jaswrks commented on #560
So this is the problem. Running the script via CRON is a much different thing in terms of which environment variables are set. WordPress is not a command-line application, it is a web-based application. If you have a CRON job, use something like cURL to call the CRON job via `http://` instead of as a command-line application. That way all of the expected environment variables will exist.

[2015-09-05 10:00] sarangandk commented on #560
Hmm, anyway my script worked without any problems until you released the
latest version of ZenCache.

##

Sarangan T.

On Sat, Sep 5, 2015 at 1:13 AM, JasWSInc notifications@github.com wrote:

[2015-09-08 13:22] MarioKnight opened #563 "Updating plugin via WP-CLI yields ZenCache Pro errors"
While I know that ZenCache (Pro) has yet to support WP-CLI directly, an issue has come up that I believe started after updating sites to the latest ZenCache Pro version.  When I run plugin updates, sites with ZenCache Pro activated output the following errors:

[code]

The plugins still update and the cache still appears to clear and work normally afterward, so thankfully this is currently just an

[2015-09-08 20:03] kNmnPyGGCwxk4zQoDD opened #564 "html compressor not compressing javascript comment lines that start with //"
html compressor not compressing javascript comment lines that start with //
For example,

// This is a comment
This is some code

Would turn into

// This is a commentThis is some code

which comments out everything after it up until there is a closing bracket

[2015-09-08 22:38] raamdev commented on #564
@kNmnPyGGCwxk4zQoDD Can you provide us with an example snippet of code where this is happening (or better yet, the website where this is happening)?

[2015-09-08 22:43] raamdev commented on #563
@MarioKnight Thanks so much for the additional information!

@jaswsinc I noticed `'Invalid argument; host token empty!'` is the same error reported in https://github.com/websharks/zencache/issues/560; it sounds like these could be related.

[2015-09-09 03:24] jaswrks commented on #560
If you look at the configuration of your CRON job (perhaps configured in cPanel), see if there's an option to load the full URL instead of entering an absolute file path location. They may resolve the issue for you here as a short-term fix.

Related issue: https://github.com/websharks/zencache/issues/563

[2015-09-09 03:28] jaswrks commented on #563
Yeah. I suspect this is a bug. ZenCache needs to consider that it might run as part of a CLI process where `$_SERVER['HTTP_HOST']` is empty. We had this consideration covered in a previous release, but it looks like something is slipping through in the latest copy.

[2015-09-09 07:20] sarangandk commented on #560
Yes, but the reason for why I load the script using absolute file path is
because of calling from http will give some timeout problems. Anyway thanks
for your suggestion. I have downgraded ZenCache to older version as a
short-term fix.

##

Sarangan T.

On Wed, Sep 9, 2015 at 5:24 AM, JasWSInc notifications@github.com wrote:

[2015-09-13 04:26] chandrautama commented on #556
Is there any problem? I've been using EWWW Iimage Optimizer and ZenCache (QuickCache) for most of my WordPress installations, Never had any problem yet. Except you're using EWWW on shared hosting and optimizing a lot of images. I can imagine the CPU usage will jump and your site will get suspended. I'm using it mainly on VPS, on shared hosting it depends how much resource you can use.

[2015-09-13 04:30] chandrautama commented on #547
The only problem I experienced using Autoptimize is the cache size will build up over time: http://blog.futtta.be/2014/03/19/how-to-keep-autoptimizes-cache-size-under-control-and-improve-visitor-experience/

Please note, I'm not using CDN. So this is maybe related or not.

[2015-09-15 00:34] raamdev commented on #547
@chandrautama Thanks for the added information! It sounds like the issue is that Autoptimize does not include any automatic cache pruning, which can lead to a large Autoptimize cache size. That sounds like an Autoptimize problem; as far as I can tell, that issue would not affect ZenCache at all.

However, the issue that _would_ affect ZenCache is if you implemented a custom Autoptimize pruning mec

[2015-09-15 00:35] raamdev commented on #556
@chandrautama Thank you for the feedback. I haven't tested ZenCache + EWWW Image Optimizer at all yet, so there very well might be no problem at all. This GitHub issue exists simply as a place for me to track anything I find once I get around to testing these two together.

From your report, it sounds like there might be nothing to here, but I still want to double-check. :-)

[2015-09-17 18:17] #533 closed, assigned to jaswrks

[2015-09-17 18:19] #543 closed, assigned to jaswrks

[2015-09-18 01:50] raamdev commented on #543
Next Pro Release Changelog:
- **Multisite Bug Fix**: Fixed a bug in the Auto-Cache Engine that was resulting in duplicate Cron Jobs being created for each Child Site. The Auto-Cache Engine now only runs from the Main Site in a network, as it should. When the Auto-Cache Engine runs on the Main Site, it will also run for each of the Child Blogs (see [this article](http://zencache.com/r/kb-article-ho

[2015-09-18 02:19] raamdev commented on #489
@jaswsinc The new "Clear the OPCache Too?" option is located in the new "Manual Cache Clearing" section of the options, which I assume means that it applies only to the "Clear Cache" button, not to any automatic cache clearing routines (there's no corresponding option inside the new "Automatic Cache Clearing" section as I would've expected).

Can you confirm if this was intentional or if you just

[2015-09-18 04:20] jaswrks commented on #489
The OpCache is only cleared in the following circumstances:
- If enabled in the manual section, and you clear the cache manually.
- If enabled in the manual section, and ZenCache clears the **entire** cache manually and/or automatically. This occurs rarely. Generally speaking, it occurs only when you change the plugin options and/or an upgrade of the software occurs.

I don't think the OpCache sho

[2015-09-18 17:55] raamdev commented on #489
@jaswsinc Thanks for the clarification! :-)

[2015-09-18 23:58] raamdev commented on #489
Next Pro Release Changelog:
- **New Feature!** When your server has the [PHP OPCache Extension](http://zencache.com/r/php-opcache/) installed, ZenCache can now be configured to also clear the PHP opcode cache whenever you clear the cache manually using the ZenCache "Clear Cache" button. See _ZenCache Options → Manual Cache Clearing → Clear the PHP OPCache Too?_ (note that this option only appears

[2015-09-18 23:58] #489 closed, assigned to nobody

[2015-09-19 00:05] raamdev commented on #495
Next Pro Release Changelog:
- **Bug Fix**: Fixed a bug with the Static CDN Filters that affected sites using a permalink structure that ended with `.htm` or `.html`. Generally, files that end in `.htm` or `.html` are considered static files, hence the reason ZenCache was rewriting URLs with those extensions to point at the configured CDN. However, if a site uses `.htm` or `.html` in their permalin

[2015-09-19 00:59] raamdev commented on #502
During v150919-RC testing, I noticed that the version number on the option pages is misaligned on some of the pages. On Plugin Options it looks fine centered, but on Cache Stats and Plugin Updater it looks very odd centered and should instead be right-aligned.

## Plugin Options

![2015-09-18_20-54-05](https://cloud.githubusercontent.com/assets/53005/9973820/c6764654-5e47-11e5-84f5-5f2804cb835b.pn

[2015-09-19 02:00] raamdev opened #565 "v150919-RC: Cache Statistics placeholder when no stats available"
When installing ZenCache Pro on a site that does not have any prior Cache Stats history available, the Cache Stats page shows an empty area where the pie chart would normally be. It would be nice if this area was filled in with an example image of the pie chart, greyed out, with some text on it that says something like, "Cache Stats history not available, please check back later."

![2015-09-18_21

[2015-09-21 06:31] Kalfer opened #566 "Impossible to activate Pro v150919 (release candidate)"
When I install and activate the plugin, Wordpress returns an error:

Catchable fatal error: Argument 1 passed to WebSharks\ZenCache\Pro\Plugin::WebSharks\ZenCache\Pro{closure}() must be of the type array, string given in /home/XXXXX/public_html/wp-content/plugins/zencache-pro/src/includes/closures/Plugin/NoticeUtils.php on line 255

[2015-09-21 06:51] jaswrks commented on #427
## Nginx Equivalent

[code]

[2015-09-21 09:30] TOMER628 opened #567 "Delete details into the post page"
hi !
i have score rating in my website and after using Zencache ...
it deleate the score in the post page
i attach some pictures to explain that..
THIS GOOD :
![1](https://cloud.githubusercontent.com/assets/6731295/9988811/5d367972-605c-11e5-8c9b-85184c53c2ca.png)
AND if i enter to page this what i see : (not good)
![2](https://cloud.githubusercontent.com/assets/6731295/9988829/897af7c4-605c-11e5-

[2015-09-21 12:14] xgiovio opened #568 "Bug using img src=data:image/png;base64"
Hello, once enabled cloudfront, images like this one ---> img alt="Embedded Image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIA..."  disapper from the page. How can i blacklist this tag or better, could zencache replace this object with a cloudfront one ? Thank you

[2015-09-21 17:07] jaswrks commented on #566
Thanks for reporting! @raamdev Looks like we need a `break;` after this line:
https://github.com/websharks/zencache-pro/blob/150919-RC/src/includes/closures/Plugin/NoticeUtils.php#L204

[2015-09-21 19:48] raamdev commented on #568
@xgiovio Can you tell me which version of ZenCache Pro you're running? Also, do you have the HTML Compressor also enabled?

@jaswsinc Any thoughts on this one?

[2015-09-21 19:49] raamdev commented on #567
We reserve GitHub for filing bug reports and making feature requests. Please post support questions to the [WordPress.org Support Forum](https://wordpress.org/support/plugin/zencache) (for ZenCache Lite) or open a [Trouble Ticket](https://www.websharks-inc.com/support/?product=zencache&request_type=trouble_ticket) (ZenCache Pro). Thank you! :)

[2015-09-21 19:49] #567 closed, assigned to nobody

[2015-09-21 20:14] jaswrks commented on #568
@xgiovio writes...

No, I'm afraid not. It's better not to do so, actually. Images that are embedded like this with a `data:` URI do not require another connection, and that is a common reason for developers to write markup like this; i.e., to prevent the image from being loaded from another HTTP connection, via a CDN or otherwise.

@raamdev writes...

I'm not aware of there being a problem like t

[2015-09-21 20:28] xgiovio commented on #568
@raamdev i'm using the latest public one. The 150821. I tried also the new rc 150919 but the problem remains. yes html compressor activated but the problem arises only when i enable cloudfront. the img tag disappers completely from the source code.
@jaswsinc I agree with you on the embedded image created in this way to prevent another http creation but i think there should be a method, workaround,

[2015-09-21 20:46] raamdev commented on #568
@xgiovio I have the v150919 RC running on three sites and the HTML Compressor is working fine. If it would be possible to create a temporary WordPress Dashboard Admin account for me to confirm there's a bug in v150919 RC, that would be very helpful! You can submit details privately here: http://wsharks.com/1itxyUr

[2015-09-22 00:25] xgiovio commented on #568
@raamdev It isn't possible. I'm sorry for denying you the request. However it works fine on 150821. If you could assist me with the base64 image problem, it would be fantastic. Thank you for your time.

[2015-09-22 00:42] xgiovio opened #569 "Bug or feature request. Not all images cached to CDN"
Hello, if you visit this page http://www.xgiovio.com/data/dslr/ and view the source, there are some links not cached to cdn. For example all a tags with custom attribute data-rsBigImg from royalslider plugin aren't cached. Other examples:

img alt="logo" src="http://www.xgiovio.com/wp-content/uploads/2013/07/footer.png"

link rel="shortcut icon" href="http://www.xgiovio.com/wp-content/uploads/2013

[2015-09-22 15:15] jaswrks commented on #538
This could be closed after the next release. I got this in there.

[2015-09-22 16:09] jaswrks opened #570 "Challenge: Patterns to Regex"
Moved here: https://github.com/websharks/team/issues/29

[2015-09-22 18:16] jaswrks commented on #497
@raamdev Would you mind if @renzms works on this?

[2015-09-22 18:21] jaswrks commented on #497
## Next Actions for this Issue

Create a new feature branch `feature/497` in `websharks/zencache-pro` and begin work as follows.

### Covering the Use Cases Listed Above

#### 1. Existing users who have this option enabled
- See [this line of code](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/classes/MenuPageOptions.php#L525) in the `MenuPageOptions` class.
  Wrap this li

[2015-09-22 18:51] raamdev commented on #497
@jaswsinc Sounds great to me! :-)

[2015-09-22 18:57] jaswrks commented on #566
## Next Actions
- New feature branch: `feature/566` in the `websharks/zencache-pro` repo.
- After [this line of code](https://github.com/websharks/zencache-pro/blob/150919-RC/src/includes/closures/Plugin/NoticeUtils.php#L204) add the following:

[code]
- Submit PR.

[2015-09-22 19:03] raamdev commented on #566
@Kalfer Thanks so much for reporting this issue with the RC! We've fixed the bug and will be releasing a second RC in a few hours. If you could test this second RC once it's released to confirm that you don't get any error message, that would be very helpful. :-)

[2015-09-22 19:03] #566 closed, assigned to nobody

[2015-09-22 19:19] #570 closed, assigned to nobody

[2015-09-22 19:38] raamdev commented on #538
Next Pro Release Changelog:
- **Enhancement**: New transition in/out effects on the Cache Cleared Dashboard notifications. Props @jaswsinc. See [Issue #538](https://github.com/websharks/zencache/issues/538).

[2015-09-22 19:38] #538 closed, assigned to nobody

[2015-09-22 19:41] jaswrks commented on #569
@raamdev This is related to: https://github.com/websharks/zencache/issues/535

[2015-09-22 20:01] jaswrks commented on #497
@renzms Here's a visual of what you're tweaking (i.e., hiding) as part of your work on this issue.

![2015-09-22_12-00-19](https://cloud.githubusercontent.com/assets/1563559/10029954/8fb5092a-6121-11e5-95d1-8cbce0092ae6.png)

[2015-09-22 20:11] raamdev commented on #569
@jaswsinc Thanks!

@xgiovio It sounds like the RoyalSlider plugin is using a non-standard way of injecting content into WordPress Posts/Pages, which means that ZenCache is not getting a chance to filter those URLs. We have a Feature Request open to improve the way we filter WordPress Posts/Pages using an output buffer (see #535). I'm going to close this GitHub issue in favor of that one and I reco

[2015-09-22 20:11] #569 closed, assigned to nobody

[2015-09-22 20:13] raamdev commented on #568
@xgiovio As @jaswsinc mentioned [above](https://github.com/websharks/zencache/issues/568#issuecomment-142096477), this is not something ZenCache can (or should) do, so I'm afraid it's not going to be possible to rewrite those.

[2015-09-23 05:59] renzms commented on #502
![plugin options renz s test area wordpress 3](https://cloud.githubusercontent.com/assets/13220018/10038621/b2334604-61fa-11e5-81d2-aab48a1f6194.jpg)

@raamdev  I used `$ git checkout 000000-dev` to get the updated copy

version showing is v150821, should I have used v150919-RC as the base?

Created new Branch:  [feature/502-styling-update](https://github.com/websharks/zencache-pro/tree/feature/50

[2015-09-23 11:01] xgiovio commented on #568
@raamdev ok but the plugin completely remove the html tag with the content. at least it should ignore ignore it. i upgraded to pro for html compressor and cdn. I'm considering a refund.

[2015-09-23 13:21] MarioKnight opened #571 "Feature Request - Allow editors to clear cache"
We manage our clients sites, and have had it set up where we have an admin account, and they have editor accounts, so they only ever have to focus on the content.  We would like to be able to give these accounts access to the "Clear Cache" function on the top admin menu, however there does not appear to be an option for this, nor does there seem to be a way to grant this through a user role plugin

[2015-09-23 20:28] raamdev commented on #568
@xgiovio You did not mention that the HTML element is being removed completely from the content.

Could you please provide a link to a page where this is happening so that I can observe it? Unless I can reproduce this problem, I cannot troubleshoot it to determine if it's a problem with the ZenCache software.

[2015-09-23 20:31] jaswrks commented on #568
I was unable to reproduce this given what we know thus far.

@xgiovio I was unable to reproduce this either. Are you testing in a clean installation?

See: [Testing ZenCache in a Clean WordPress Installation](http://zencache.com/kb-article/testing-zencache-in-a-clean-wordpress-installation/)

[2015-09-23 20:31] raamdev commented on #571
@MarioKnight We have a feature request open for this already (see https://github.com/websharks/zencache/issues/68) and this feature was recently worked on and will be released with the next version of ZenCache Pro:

Next Pro Release Changelog:
- **New Feature:** It's now possible to specify which WordPress Roles/Capabilities are allowed to clear the cache from the WordPress Admin bar. A new option

[2015-09-23 20:31] #571 closed, assigned to nobody

[2015-09-23 20:40] jaswrks opened #572 "RC Bug :: Cache Stats :: Editor/Author/Contributor"
## Overview

First reported by @renzms. This bug can result in the error, _"You do not have sufficient permissions to access this page."_ when attempting to view the full-page stats.
## Steps to Reproduce
- Enable ZenCache RC
- Type: `editor` into the list of additional roles allowed to see stats.
- Create a new user with the Editor role.
- Log in as the Editor role.
- Notice that you can see stat

[2015-09-23 22:59] raamdev commented on #572
Closed by https://github.com/websharks/zencache-pro/issues/147.

[2015-09-23 22:59] #572 closed, assigned to nobody

[2015-09-23 23:12] xgiovio commented on #568
@jaswsinc of course i'm on a production site. no new installation, a paid plugin should work in a production envirovment!

@raamdev i did mention in my first and second post. You should read carefully. However the page is this one: http://www.xgiovio.com. the only method to bypass the problem is adding the whole uri to cdn filter exclusions. In that page check img class="peLazyLoading"

[2015-09-24 00:15] jaswrks commented on #565
## Next Actions
- See [this line of JavaScript](https://github.com/websharks/zencache-pro/blob/000000-dev/src/client-s/js/menu-pages.js#L449) where the `$chartA` div is hidden when there are no stats.
- Same thing [here](https://github.com/websharks/zencache-pro/blob/000000-dev/src/client-s/js/menu-pages.js#L458) for Chart B (i.e., chart on the right side).
- Modify one or both of these, so that i

[2015-09-24 00:16] jaswrks commented on #565
See also: http://api.jquery.com/html/

[2015-09-24 00:22] raamdev commented on #502
@renzms I merged your `feature/502-styling-update` branch into the `release/150919` branch and the `000000-dev` branch. No need to submit a PR. Thanks! :-)

[2015-09-24 00:23] jaswrks commented on #565
## Generating the URL which leads to the image:
- After [this line of code](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/closures/Plugin/MenuPageUtils.php#L41) add the following.

[code]
- In JavaScript, you can access it like this:

[code]

[2015-09-24 00:24] raamdev commented on #565
So there should be two empty-stats placeholder images?

[2015-09-24 00:27] jaswrks commented on #565
Ideally, yes. However, you might decide that just doing `$chartA` is enough to convey what you need to.

[2015-09-24 00:43] jaswrks commented on #565
Note that when you run the `compress-js` script I sent you, you can exclude the  `--old-style` arg, as ZenCache Pro is up-to-date and uses `.min.js` (new) instead of `-min.js` (old).

[2015-09-24 02:00] raamdev commented on #565
![2015-09-23_21-47-26](https://cloud.githubusercontent.com/assets/53005/10063663/710c9006-623e-11e5-81d6-f4e76567736d.png)

[2015-09-24 02:00] raamdev commented on #565
Closed by https://github.com/websharks/zencache-pro/issues/148

[2015-09-24 02:00] #565 closed, assigned to nobody

[2015-09-24 02:15] raamdev commented on #568
@xgiovio I am using CloudFront with ZenCache Pro on my personal site, https://raam.org. I have created a page that uses `src="data:image/jpg;base64,...."` and you can see that it works just fine with ZenCache Pro + HTML Compressor + CloudFront:

https://raam.org/568-2/ (view source on this page to see)

---

As we are not able to reproduce this issue at all, and you are unwilling to give us access

[2015-09-24 02:15] #568 closed, assigned to nobody

[2015-09-24 02:59] raamdev commented on #566
@Kalfer ZenCache Pro v150924 RC2 has been released, which includes the fix for this issue. If you're able to test RC2 to confirm this issue has been fixed, that would be great! :-) See http://zencache.com/zencache-pro-v150924-release-candidate-2/

[2015-09-24 04:09] renzms commented on #502
@raamdev Alright, cool! Thanks.

[2015-09-24 07:04] Kalfer commented on #566
Yes, the bug has been fixed. Now I was able to install and activate it perfectly. Thanks.

[2015-09-24 11:17] kristineds opened #573 "v150924-RC: More Info button missing in Cache Stats"
## Overview

First reported here: websharks/zencache/issues/572

When logged in as Editor/Author/Contributor,  the cache stats displayed in the Admin bar is missing the "More Info" blue button which can be seen when logged in as Admin
## Steps to Reproduce
- Enable ZenCache v150924-RC
- Type: `editor` or `author` or `editor,author` or `publish_posts` into the list of additional roles allowed to se

[2015-09-24 13:50] jaswrks commented on #573
@raamdev Although I didn't document the fix, this is now the intended behavior. Bug fixed in: https://github.com/websharks/zencache/issues/572.

So I don't consider this to be a bug, because whenever an Administrator grants others access to stats, they are granting them access to stats "in the admin bar", and not to "More Info". I resolved this issue by removing the "More Info" button for those wh

[2015-09-24 18:55] raamdev commented on #573
@kristineds Thanks for the report. @jaswsinc Thanks for the clarification.

Reviewing the inline docs inside the plugin itself where you set permissions for other roles to view the stats, I see that it is clearly described that this is enabling stats _in the Admin Bar_, and not enabling access to the entire Stats / Charts page, so it makes sense to me that the blue "More Info" button would not be

[2015-09-24 18:55] #573 closed, assigned to nobody

[2015-09-24 18:56] raamdev commented on #566
@Kalfer Awesome! Thanks so much for testing and confirming. :-)

[2015-09-24 18:56] jaswrks opened #574 "RC Bug :: Cache Stats :: Refresh Broken"
## Overview

https://github.com/websharks/zencache-pro/pull/148 introduced a very minor issue related to the "Refresh" button for stats. Once the `$chartA` and `$chartB` divs are filled with an `<img />` tag the nested elements are erased, making a refresh not possible; i.e., you need to refresh the entire page instead of being able to click the refresh button.
## Steps to Reproduce
- Enable ZenCa

[2015-09-24 18:59] raamdev commented on #574
@jaswsinc Ah, good catch! All we need to do is update the Refresh Stats/Charts button JS to take into account that there might be placeholders there, correct? If you want to outline this for me, I'll get it fixed.

[2015-09-24 19:13] jaswrks commented on #574
## Next Actions
- After [this line](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/classes/MenuPageStats.php#L92) add a new empty div placeholder.

[code]

  _Repeat for chart B in the same file._

---
- Before [this line](https://github.com/websharks/zencache-pro/blob/000000-dev/src/client-s/js/menu-pages.js#L449) add the following:

[code]

  _Repeat for chart B in the sa

[2015-09-24 19:14] raamdev commented on #574
@jaswsinc Thank you!

[2015-09-24 19:15] jaswrks commented on #574
Sure :-) These little outlines seem to be really helping us a team.

[2015-09-25 00:41] raamdev commented on #574
Absolutely! They are SO helpful. They seem to help bridge the various gaps in skill level and keep us productive while at the same time giving us a way to learn by doing (assuming we don't just copy/paste like robots--I was already familiar with `.show()`, `.hide()`, and `.find()`, but I read through all the links you attached anyway!).

[2015-09-25 00:46] raamdev commented on #574
Closed by https://github.com/websharks/zencache-pro/issues/149

[2015-09-25 00:46] #574 closed, assigned to nobody

[2015-09-25 05:02] jaswrks commented on #573
I just want to add that I can completely understand why Kristine opened this issue, as the fix that I suggested at first was more along the lines of exposing "More Info". It wasn't until I actually went to work on this that I changed the approach. So thanks for reporting this. Always better to be safe.

[2015-09-25 12:25] renzms commented on #497
![zencache497](https://cloud.githubusercontent.com/assets/13220018/10100252/efb701cc-63c2-11e5-906e-4bdfe7e99dac.png)

Hi @jaswsinc , uploaded to my test site. Tested and confirmed the option is now hidden.

As for this step:

What should I mention in the notice?

[2015-09-26 00:04] jaswrks commented on #497
Cool.

In the instructions above, there is a section titled, "Disable Admin Bar if `when_logged_in` is Set to `1`". So whenever you implement that code that calls upon `show_admin_bar(false);`, you are hiding the Admin Bar.

What we need is a note in the config. panel whenever `when_logged_in = 1`. In that scenario, we should explain that the Admin Bar is not going to be shown on the front-end of

[2015-09-26 00:08] jaswrks commented on #497
Note that while you _are_ hiding the `when_logged_in = 1` option by default, it is still possible to enable this; e.g., if it was already enabled, or if you use an MU plugin. That's why we need a note in the config. panel.

[2015-09-26 09:17] theperfectwill opened #575 "Lateset Release Candidate - Removes All Body Content From Admin On Every Page"
Hi,

I just downloaded and installed the latest release candidate and when activated (with no other plugins active) the entire Wordpress admin body content area disappears.

See screenshots
@ http://take.ms/OBFpf
@ http://take.ms/adEtR

I'm using the latest version of Wordpress.

Is anyone else having this issue? Let me know how I can help if needed.

[2015-09-28 17:50] raamdev commented on #575
@NoahjChampion Thanks so much for the report! I haven't been able to reproduce that issue. If you enable debugging (see [WordPress Debugging](https://codex.wordpress.org/Debugging_in_WordPress)) do you get any errors generated when you see that blank page?

[2015-09-28 17:52] theperfectwill commented on #575
@raamdev Welcome! I didn't think to even turn debug on. I will try that momentarily and reply back.

[2015-09-29 01:40] theperfectwill commented on #575
@raamdev I tried this again with the same set up and everything is fine now. Well, I mean I downloaded the plugin again, so maybe it was something wrong with how my download came the first time.

Not sure, but I couldn't reproduce this issue again.

[2015-09-29 01:40] #575 closed, assigned to nobody

[2015-09-29 01:46] raamdev commented on #575
@NoahjChampion Thanks for the update. Yeah, I think it was most likely the result of a corrupt download in that case, or something became corrupt somehow during installation.

I appreciate the help testing! :-)

[2015-09-29 01:53] theperfectwill commented on #575
@raamdev You're welcome!

Everything works well for me in the RC.

[2015-09-29 16:25] renzms commented on #497
Hi @jaswsinc,

Can the note be the following?

Note for users who have set **"Yes, but DON'T maintain a separate cache"**: If you had this feature previously enabled, please be aware that the Admin Bar will no longer be shown on the front-end of your website. The option for **"Yes, but DON'T maintain a separate cache"**, is no longer accessible unless using an MU plugin.

[2015-09-29 21:28] jaswrks commented on #497
Something like this...

[code]

**Warning:** Whenever you enable caching for logged-in users (without a separate cache for each user), the WordPress Admin Bar _must_ be disabled to prevent one user from seeing another user's details in the Admin Bar. **Given your current configuration, ZenCache will automatically hide the WordPress Admin Bar on the front-end of your site.**

[2015-09-30 01:43] raamdev opened #576 "Update Text Domain String for translate.wordpress.org"
The new http://translate.wordpress.org requires that plugins use the full string representation of the Text Domain and does not allow the use of variables (e.g., `zencache` must be used instead of `$this->plugin->text_domain`). The ZenCache Lite codebase needs to be updated to use the straight string version to be compatible with translate.wordpress.org.

See also: https://make.wordpress.org/plugi

[2015-09-30 02:19] raamdev commented on #576
Closed by https://github.com/websharks/zencache/issues/577

[2015-09-30 02:19] #576 closed, assigned to nobody

[2015-09-30 12:30] renzms commented on #497
@jaswsinc ,

Ok thanks, I'll add that in, also which file will I add this to? Plugin.php?

 How will I test this though as I never set it as `enabled` before? I will have hidden the option from my 497 version. If I rollback to a previous version, enable that setting, then overwrite with my 497 version, won't it delete that in the database and not remember I enabled it before?

[2015-09-30 21:19] jaswrks commented on #497
This should appear just underneath the dropdown menu that you worked on [here](https://github.com/websharks/zencache/issues/497#issuecomment-143203279).

In your working copy of ZenCache, create an MU plugin to enable this feature by force.

Create: `/wp-content/mu-plugins/zc-hacks.php`

[code]

[2015-10-01 16:48] renzms commented on #497
@jaswsinc Thanks! I will try that to test out the changes via MU plugin.

[2015-10-02 01:07] clavaque opened #578 "Feature Request: HTML Compressor to ignore order of CSS media types to reduce number of links"
This is a idea for ZC Pro's HTML Compression feature.

After working on optimizing a site for a few hours last night, I couldn't help wanting in ZenCache a feature that lets me group styles by media when combining them, disregarding the order they came in so that if a screen or print ones are added to wp_head in the middle of two "all", it'll still put all the "all" together instead of having one

[2015-10-02 01:20] raamdev commented on #578
@clavaque Thanks for the feature request! :-)

@jaswsinc I feel the only way to enable such an option should be through a filter, as an option in the UI would make such a feature too easy for a site owner to accidentally introduce some unexpected behavior related to changing the order that the CSS is loaded.

[2015-10-02 01:23] raamdev commented on #578
Note also that with CSS3 you can have both a _mediatype_ and a _media feature_ defined in the `media=""` attribute, so that might complicate this:

See: http://www.w3schools.com/cssref/css3_pr_mediaquery.asp

[2015-10-02 01:34] jaswrks commented on #578
Copy that. So the idea is to allow a site owner to override the default strict behavior, and tell ZenCache (i.e., the HTML Compressor) that it should forget about strict policies and instead just do it's best to combine all of the CSS and JS into a single file unless absolutely impossible. Do I have that right?

If so, I agree that sounds like a good filter to have. The filter should have differen

[2015-10-02 03:10] raamdev commented on #488
**ZenCache Pro v151002** has been released and includes changes from this GitHub Issue.

See the [ZenCache Pro v151002 release announcement](http://zencache.com/zencache-pro-v151002-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#488).

[2015-10-02 03:11] raamdev commented on #489
**ZenCache Pro v151002** has been released and includes changes from this GitHub Issue.

See the [ZenCache Pro v151002 release announcement](http://zencache.com/zencache-pro-v151002-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#489).

[2015-10-02 03:11] raamdev commented on #544
**ZenCache Pro v151002** has been released and includes changes from this GitHub Issue.

See the [ZenCache Pro v151002 release announcement](http://zencache.com/zencache-pro-v151002-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#544).

[2015-10-02 03:12] raamdev commented on #561
**ZenCache Pro v151002** has been released and includes changes from this GitHub Issue.

See the [ZenCache Pro v151002 release announcement](http://zencache.com/zencache-pro-v151002-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#561).

[2015-10-02 03:13] raamdev commented on #495
**ZenCache Pro v151002** has been released and includes changes from this GitHub Issue.

See the [ZenCache Pro v151002 release announcement](http://zencache.com/zencache-pro-v151002-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#495).

[2015-10-02 03:14] raamdev commented on #543
**ZenCache Pro v151002** has been released and includes changes from this GitHub Issue.

See the [ZenCache Pro v151002 release announcement](http://zencache.com/zencache-pro-v151002-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#543).

[2015-10-02 03:15] raamdev commented on #502
**ZenCache Pro v151002** has been released and includes changes from this GitHub Issue.

See the [ZenCache Pro v151002 release announcement](http://zencache.com/zencache-pro-v151002-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#502).

[2015-10-02 03:15] raamdev commented on #538
**ZenCache Pro v151002** has been released and includes changes from this GitHub Issue.

See the [ZenCache Pro v151002 release announcement](http://zencache.com/zencache-pro-v151002-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#538).

[2015-10-02 03:24] raamdev commented on #578
Agreed. That sounds great.

[2015-10-02 04:29] bridgeport opened #579 "Exclude .sass and .map files from distributable zip"
The latest ZenCache pro v151002 looks great. The stats section and admin bar are very slick and informative.

However, it looks like it was packaged with the .sass and .map files. An oversight perhaps?

Location of the .sass files and directories:

[code]

Location of the .map files:

[code]

[2015-10-02 08:22] clavaque opened #580 "Cache dir change leaves old files"
Improvement idea:

I just noticed that if I change the cache directory for ZC, the files in the previous one are left there and not removed. I had to remove them via FTP.

I think it's something ZC should notice and clear it automatically as it does when other big changes happen. Or move it so it doesn't have to generate all the files again.

[2015-10-02 17:54] raamdev commented on #580
@clavaque Thanks for the report! I agree, it makes sense for that to be more intelligent.

[2015-10-03 00:48] raamdev commented on #579
@bridgeport Thanks for the reminder. :-) We'll work towards updating our build script to exclude those files. You're right that they're not needed in the distributable zip.

[2015-10-03 01:03] clavaque commented on #578
In case it helps, here's the code I have in functions.php to move them out of the way and let ZC combine the local resources into a single file. First is the one I'm using now, and it takes out the font entries, which I don't need but some plugin added unnecessarily:

[code]

But before that, I had shifted their placement, and it worked well too. I had the regex patterns in a single array when I m

[2015-10-03 01:04] jaswrks opened #581 "Bug: $this Not in Object Context"
## Overview

These lines, see: https://github.com/websharks/zencache-pro/blob/151002/src/includes/closures/Plugin/WcpUtils.php#L89-L91

And these lines, see: https://github.com/websharks/zencache-pro/blob/151002/src/includes/closures/Plugin/WcpUtils.php#L44-L46

`$this` should be `$self` due to the PHP 5.3 compat. framework and closures. We use `$self` as a workaround in this context, and therefor

[2015-10-03 01:29] jaswrks commented on #581
I should note also that instead of `$this->plugin->` it should just be `$self->`. So we need to change `$this` to `$self` and remove the `->plugin` reference also.

[2015-10-03 01:45] raamdev commented on #581
Example of error related to this issue:

[2015-10-03 01:53] clavaque commented on #578
@jaswsinc

Print styles would be combined in a `@media print` block? That'd be nice. And the same could be done for screen ones.

[2015-10-03 01:57] jaswrks commented on #581
I am able to reproduce this, but only on PHP 5.3. It seems the most recent versions of PHP are magically allowing `$this` to work outside of object context; i.e., via an include. That's definitely an unexpected behavior, and yet I am happy that it works to reduce the impact this bug is having.

So this issue is currently PHP 5.3-specific.

[2015-10-03 03:00] clavaque commented on #506
This has my vote. I think the filter option would be good enough.

I believe that even when caching is disabled for the page, it should be possible to have the combined/minified resources (i.e. scripts, styles) cached. Caching these could be a setting in the HTML Compression panel. Otherwise, minifying/combining the resources in real-time would add time and use more resources.

I see that even in

[2015-10-03 04:22] bigjake36 opened #582 "Error"
Since the previous update, I have been getting the following error every time I go to save something in WP. In order for me to be able to save anything I need to disable Zencache and once saved I have to re-inable it. The following is the error I have and I don't know how to fix it....

Fatal error: Using $this when not in object context in /home3/bigjake3/public_html/royalnugget/wp-content/plugin

[2015-10-03 08:03] clavaque opened #583 "Disable caching for previews"
While editing a page I noticed that the changes I was making were not shown in the preview, until I cleared the cache.

I think that not caching the preview is the logical thing, you'll always be expecting it to change with your new edits.

I added `preview=true` as a URI exclusion, but I think this should be there by default because it'll confuse other site owners that'll need to figure this out

[2015-10-03 17:50] raamdev commented on #582
@bigjake36 We're aware of this bug. It only affects servers running PHP 5.3. With PHP 5.4+ the error does not occur. Please see this GitHub issue: https://github.com/websharks/zencache/issues/581

We'll be releasing a patch shortly to fix this for PHP 5.3. Thank you for the report!

[2015-10-03 17:50] #582 closed, assigned to nobody

[2015-10-03 17:53] raamdev commented on #583
Are you referring to when Logged-In User Caching is enabled?

[2015-10-03 20:03] bigjake36 commented on #582
Thank you for the update and I did fix the issue based on what you posted. So far so good and thank you again.

[2015-10-03 23:47] clavaque commented on #583
I have it enabled, yes.

[2015-10-03 23:48] clavaque commented on #580
:+1:

[2015-10-04 01:36] raamdev commented on #581
Closed by https://github.com/websharks/zencache-pro/issues/150

[2015-10-04 01:36] #581 closed, assigned to nobody

[2015-10-04 01:45] raamdev commented on #581
Next Pro Release Changelog:
- **Bug Fix**: Fixed a bug introduced in the previous release that was resulting in a "Fatal error: Using $this when not in object context" for sites running PHP 5.3. (PHP 5.4+ sites were unaffected.) Props @jaswsinc. See [Issue #581](https://github.com/websharks/zencache/issues/581).

[2015-10-04 02:05] clavaque opened #584 "HTML Compression configuration improvements"
I see in the HTML Compression settings that one can exclude styles or scripts from it, which is cool for external resources like a script that most visitors will have cached (e.g. from Google servers). I know there's a setting to exclude external resources from the resource combination, but they are all external resources when also using a Static CDN.

It'd be good to distinguish those external re

[2015-10-04 03:12] clavaque commented on #584
It'd also be nice being able to group separate resources to be combined into a new file, separate from the rest that is being combined.

This would, for example, be useful when combining the resources of a certain area of the site, because they aren't required in the rest. Many plugins add resources that get loaded on every page, when only needed in a few, only one, or only an area of the site.

I

[2015-10-04 23:58] HandyGadget opened #585 "PHP 7.0 RC1"
I am sure you guys know already but ZenCache Pro and PHP 7.0 RC1 don't play nice.

Immediately it loaded it crashed ~ big time.

However, after running the site/cache a short while on PHP 5.6, I switched it back to 7.0 RC1, and this time it seems to be running just fine.

The browser page also crashed, so I didn't keep the error messages.

[2015-10-05 00:17] HandyGadget commented on #585
I take that back. I am seeing this now ~ Fatal error: require_once(): Failed opening required '/srv/users/serverpilot/apps/wpexpert/public/wp-admin/admin.phphZ' (include_path='.:/opt/sp/php7.0/lib/php') in /srv/users/serverpilot/apps/wpexpert/public/wp-admin/post.php on line 12 ~ so I am going back to 5.6.

[2015-10-05 13:07] renzms commented on #497
@jaswsinc

Tested and successfully working, let me know if its ready for a push. Thanks!:

![plugin options renz s test area wordpress 4](https://cloud.githubusercontent.com/assets/13220018/10281129/f345896e-6ba4-11e5-92e4-ede78bad1b6c.jpg)

[2015-10-05 13:56] kristineds opened #586 "3rd Party Plugin Compatibility: Swift Security"
[Swift Security](http://codecanyon.net/item/swift-security-bundle-hide-wordpress-firewall-code-scanner/10143693) "Security plugin which offers its own solution for minifying JS/CSS, hides WordPress, enable a well-configurable, secure firewall, run scheduled code scans "

There has been [a report](https://websharks.zendesk.com/agent/tickets/8693) of an issue running Swift Security + ZenCache HTML C

[2015-10-05 17:46] raamdev commented on #583
@clavaque Thanks! I'm marking this as a bug.

[2015-10-05 17:50] raamdev commented on #585
@QloudPress Looking at that error, it doesn't appear that this is related to ZenCache. @jaswsinc Has tested ZenCache Pro on PHP 7 RC1 and had no issues.

That said, we can't certify ZenCache Pro as working with PHP 7 until PHP 7 is actually has an official public release. :-)

[2015-10-05 17:54] raamdev commented on #584
@clavaque Thanks for all the suggestions. :-) I'm marking this as an `html compressor` `enhancement` issue and we'll revisit this during a future development cycle.

[2015-10-05 17:55] clavaque commented on #584
:+1:

[2015-10-05 17:56] clavaque commented on #583
ok

[2015-10-06 01:23] jaswrks commented on #497
Thank you. Yes, lookin' great in your screenshot!

I need to see a PR though. Don't worry about having everything just right before you open a PR. If you feel ready for a review, even if you're not sure that everything is just right, go ahead and open a PR so that I can review the diff and the changes that you made.

[2015-10-06 01:30] jaswrks commented on #583
@clavaque And you have GET Request caching enabled also, right?

[2015-10-06 06:15] VR51 commented on #585
I'm using ZenCache Pro v.151004 with PHP 7. Works well for me. Neither my Apache logs nor site error logs show errors.

A earlier version of Zen Cache Pro used to crash my home server running, which Apache 2.4.x, PHP 7 and MariaDB, but worked well in a different host environment running PHP 7 that was provided by a popular host company.

[2015-10-06 12:23] renzms commented on #497
@jaswsinc

Noted! Will submit a PR now. Thanks!

[2015-10-06 12:41] HandyGadget commented on #585
I am guessing its a combination of core/plugins/theme here rather than just Zen Cache or PHP 7.0

[2015-10-07 02:11] raamdev commented on #497
@jaswsinc Reviewing Renz's PR it appears that the intention here is to only remove the option to enable Logged-In User Caching _without_ maintaining a separate cache, is that correct? Earlier in this GitHub issue (namely here: https://github.com/websharks/zencache/issues/497#issuecomment-125353814) I was under the impression that we were removing the _entire_ Logged-In User Caching feature altoget

[2015-10-07 02:14] jaswrks commented on #497
That is correct :-) This particular setting has the potential to create a security problem, so removing it from the available options seems like a good idea to me. It can still be enabled with a filter though.

[2015-10-07 02:14] raamdev commented on #497
@jaswsinc writes (in https://github.com/websharks/zencache/issues/497#issuecomment-111579137)...

This was where I misunderstood you. Re-reading that now, I realize you were just referring to the _Yes, but DON'T maintain a separate cache for each user_ option, not the entire Logged-In User Caching _feature_. :-) My mistake.

[2015-10-07 02:15] raamdev commented on #497
@jaswsinc writes...

Has that been implemented yet? I didn't see that in the PR.

[2015-10-07 02:22] jaswrks commented on #497
No, it wasn't introduced as a part of this PR. However, you can accomplish this with a filter that we have for the options array.

[code]

[2015-10-07 02:25] raamdev commented on #497
Ah, right. I forgot about that. Very cool. :-)

[2015-10-07 04:03] jaswrks commented on #585
That is my take also, for the moment. I have tested ZenCache against PHP 7.0 RC1, RC2, and RC3 and I haven't seen any issues thus far. That was testing in a clean installation of WordPress running only ZenCache Pro.

[2015-10-07 04:06] raamdev commented on #497
Next Pro Release Changelog:
- **Enhancement**: In Logged-In User Caching, the "Yes, but DON'T maintain a separate cache for each user" option has been hidden because this particular option has the potential to create a security issue if not configured properly. If you were already using this option, it will not be hidden and it will continue to work. Otherwise, if you require this particular optio

[2015-10-07 04:06] #497 closed, assigned to renzms

[2015-10-07 05:50] jaswrks commented on #580
## Next Actions
- New feature branch: `feature/580` in the `websharks/zencache-pro` repo.
- Replace [this class member](https://github.com/websharks/zencache-pro/blob/151004/src/includes/closures/Plugin/OptionUtils.php#L45-L55) with the following:

[code]
- Submit PR.

[2015-10-07 05:59] jaswrks commented on #583
## Next Actions
- New feature branch: `feature/583` in the `websharks/zencache-pro` repo.
- After [this line](https://github.com/websharks/zencache-pro/blob/151004/src/includes/closures/Ac/ObUtils.php#L152) add the following:

[code]
- After [this line](https://github.com/websharks/zencache-pro/blob/151004/src/includes/closures/Ac/NcDebugConsts.php#L167) add the following:

[code]
- After [this li

[2015-10-07 06:06] jaswrks commented on #579
## Next Actions
- New feature branch: `feature/579` in the `websharks/phings` repo.
- After [this line](https://github.com/websharks/phings/blob/151002/src/psr4/targets/config.xml#L129) add the following.

[code]
- After [this line](https://github.com/websharks/phings/blob/151002/src/psr4/targets/config.xml#L38) repeat the same exclusions.
- Submit PR.

[2015-10-07 06:19] jaswrks commented on #563
## Next Actions
- New feature branch: `feature/563` in the `websharks/zencache-pro` repo.
- Replace [this line](https://github.com/websharks/zencache-pro/blob/151004/src/includes/classes/Plugin.php#L406) with the following:

[code]
- Submit PR.

[2015-10-07 06:20] jaswrks commented on #563
Should also resolve: https://github.com/websharks/zencache/issues/560

[2015-10-07 06:43] jaswrks commented on #555
## Next Actions
- New feature branch: `feature/555` in the `websharks/zencache-pro` repo.
- Replace [these lines of code](https://github.com/websharks/zencache-pro/blob/151004/src/includes/classes/AutoCache.php#L246-L263) with the following:

[code]
- Submit PR.

[2015-10-07 06:55] jaswrks commented on #504
## Next Actions
- New feature branch: `feature/504` in the `websharks/zencache-pro` repo.
- Replace [these lines of code](https://github.com/websharks/zencache-pro/blob/151004/src/includes/closures/Ac/NcDebugUtils.php#L86-L88) with the following:

[code]
- Submit PR.

[2015-10-07 07:46] jaswrks commented on #580
@renzms While working on this issue you can take note of the `array $options` in the function delcaration above, and learn more about PHP type hinting here: http://www.sitepoint.com/type-hinting-in-php/

[2015-10-07 07:47] jaswrks commented on #504
@renzms While working on this issue you can learn more about the `did_action()` function in the WordPress core here: https://codex.wordpress.org/Function_Reference/did_action

[2015-10-07 07:48] jaswrks commented on #583
@kristineds While working on this issue you can learn more about the `switch(){}` and `case:` control structure here: http://php.net/manual/en/control-structures.switch.php

[2015-10-07 07:49] jaswrks commented on #555
@kristineds While working on this issue you can learn more about `is_wp_error()` and the `WP_Error` class here: https://codex.wordpress.org/Function_Reference/is_wp_error

[2015-10-07 07:57] jaswrks commented on #579
@raamdev While working on this issue you can take note of the FileSet tag provided by Phing and learn more about how `**` is interpreted by Phing: https://www.phing.info/docs/guide/trunk/FileSet.html

[2015-10-07 19:18] #585 closed, assigned to nobody

[2015-10-08 01:46] raamdev commented on #555
Next Pro Release Changelog:
- **Enhancement**: The Auto-Cache Engine now detects when the configured XML Sitemap is not valid or is unreachable and displays an appropriate notice. Props @kristineds and @jaswsinc. See [Issue #555](https://github.com/websharks/zencache/issues/555).

[2015-10-08 01:46] #555 closed, assigned to kristineds

[2015-10-08 02:57] erikanderson opened #587 "vaultpress flagging Core.php as web-based shell"
<img width="785" alt="screen shot 2015-10-07 at 8 56 37 pm" src="https://cloud.githubusercontent.com/assets/4634290/10356583/ee9d3082-6d35-11e5-9f3a-d19586264d01.png">

I have contacted them to ask about this file and won't remove it in the mean time (since it would probably break caching)

[2015-10-08 03:00] raamdev commented on #587
@erikanderson Thank you for the report. We have an existing GitHub issue open here to track this: https://github.com/websharks/zencache/issues/516

This is a false-positive being reported by VaultPress. We'll be working to find a way around this to prevent VaultPress from wrongly reporting `Core.php`, as that file is perfectly safe.

I'm going to close this GitHub issue in favor of https://github.

[2015-10-08 03:00] #587 closed, assigned to nobody

[2015-10-08 03:03] raamdev commented on #587
@erikanderson If you'd like to give our proposed workaround a try and see if that stops VaultPress from complaining, that would be super helpful. :-) See https://github.com/websharks/zencache/issues/516#issuecomment-127503919

Since we don't have access to VaultPress, the only way for us to test our fix is to have someone who is using VaultPress confirm the fix works.

[2015-10-08 03:21] erikanderson commented on #587
Thanks, I will take a look at that issue and see if I can implement those fixes

[2015-10-08 19:17] kNmnPyGGCwxk4zQoDD opened #588 "clear cache animation causing problems - two issues"
hi, in previous versions of zencache I never had an issue until you added in this new animated clear cache thingy. It not only produces these weird lines (which stay on the screen) as it's trying to do it's animation but it also refuses to leave the screen. unlike the old pop up you had, I have to manually hit the x button for this one to close and if I don't -- then when I hit the clear cache but

[2015-10-09 05:07] jaswrks commented on #588
Thank you for the report. I just made an attempt to reproduce this in FF 40.0.3 and FF 41.0.1 bug without success; i.e., it seems to work as expected in Firefox also.

![2015-10-08_21-05-07](https://cloud.githubusercontent.com/assets/1563559/10386200/63b2bc50-6e00-11e5-880b-96a68416dc0a.png)

---

_**Tip:** Note that hovering over the popup will prevent it from being hidden automatically. This is

[2015-10-09 15:07] MarioKnight commented on #563
I tested this on a site, and the behavior is back to normal.  I'm looking forward to seeing this in the next release, though since it's just a one line change, I will likely roll out that change to all our client sites in the meantime.  Thank you!

[2015-10-09 21:56] raamdev commented on #563
@MarioKnight Thanks so much for the confirmation that @jaswsinc's fix works. :-) I'll make sure this fix makes it into the next Pro release.

[2015-10-09 22:05] raamdev commented on #563
Next Pro Release Changelog:
- **Bug Fix**: Fixed a bug related to updating plugins with WP-CLI on a site that was running ZenCache Pro. While ZenCache Pro updates must still be done through the ZenCache Pro Updater inside the Dashboard, updating other plugins via WP-CLI was generating a harmless ZenCache exception: "Invalid argument; host token empty!". With this fix, ZenCache will properly detect

[2015-10-09 22:05] #563 closed, assigned to renzms

[2015-10-09 23:44] raamdev commented on #588
@kNmnPyGGCwxk4zQoDD Could you try reproducing this after you disable any Firefox Extensions that you have installed? It sounds like one of your extensions might be interfering with the JavaScript.

[2015-10-10 11:40] raamdev commented on #580
Next Pro Release Changelog:
- **Enhancement**: When the Cache Directory location is changed, ZenCache now cleans up the old Cache Directory and any old cache files instead of leaving them behind. Props @clavaque @renzms. See [Issue #580](https://github.com/websharks/zencache/issues/580).

[2015-10-10 11:40] #580 closed, assigned to renzms

[2015-10-10 11:46] raamdev commented on #583
Next Pro Release Changelog:
- **Bug Fix**: Fixed a bug where post previews were being cached when Logged-In User Caching and GET Request caching were both enabled (both are disabled by default). This release now detects previews in this scenario and excludes those requests from being cached. Props @clavaque @kristineds. See [Issue #583](https://github.com/websharks/zencache/issues/583).

[2015-10-10 11:46] #583 closed, assigned to kristineds

[2015-10-10 12:58] raamdev commented on #579
Noting that this GitHub Issue should not be closed until the ZenCache Pro repo has been updated to include the latest build script changes (namely everything from https://github.com/websharks/phings/pull/15, but also the changes from https://github.com/websharks/phings/issues/17 which addresses this particular GitHub Issue).

GitHub Issue to track updating ZenCache Pro with latest Phing build scri

[2015-10-10 16:01] raamdev opened #589 "PHP Notice: Undefined property: Automatic_Upgrader_Skin::$plugin_active"
A user reported (via [internal ticket](https://websharks.zendesk.com/agent/tickets/8862)) the following PHP Notice in their error log:

Here's that line in the source code: https://github.com/websharks/zencache-pro/blob/151004/src/includes/closures/Plugin/WcpUpdaterUtils.php#L46

It looks like we need to check if `isset($skin->plugin_active)` before referencing it on that line. Agreed @jaswsinc?

[2015-10-10 16:08] clavaque commented on #583
@jaswsinc

That's correct.

[2015-10-11 14:22] jaswrks commented on #589
It looks like we could also change `$skin->plugin_active === true` to:

[code]

[2015-10-11 23:23] raamdev commented on #589
@jaswsinc I agree. That's even better. Thanks!

[2015-10-11 23:36] raamdev commented on #589
Next Pro Release Changelog:
- **Bug Fix**: Fixed an issue where a PHP Notice was generated when an inactive WordPress component was being upgraded. This issue did not have any adverse affect on the site, but this fix resolves the issue so that the notice won't appear in PHP logs. See [Issue #589](https://github.com/websharks/zencache/issues/589).

[2015-10-11 23:39] raamdev commented on #589
@jaswsinc Can you confirm that https://github.com/websharks/zencache-pro/commit/542a6f8333fb647e44ed29dab67f05b3713204a0 is correct before I close this issue? I didn't see any use of `$skin` in the code once I replaced `$skin->plugin_active`, but I want to double-check that I'm not missing something.

Also, I assume that we **do** need to keep the `\WP_Upgrader $upgrader_instance` function paramet

[2015-10-12 02:13] jaswrks commented on #589
Yep, https://github.com/websharks/zencache-pro/commit/542a6f8333fb647e44ed29dab67f05b3713204a0 looks like a good choice to me also.

It looks like we aren't using it any longer. However, we are using the second parameter `$data`, so I'd say just leave it. The type hint for `\WP_Upgrader $upgrader_instance` is a sort of built-in sanity check for us. If that happens to change for some reason it will

[2015-10-14 05:27] jaswrks opened #590 "Feature Request: New API Function"
I'd like to request a new API Function in ZenCache that would allow a site owner to clear the cache for a specific URL. We recently added one that allows you to [clear a specific post ID](https://github.com/websharks/zencache-pro/blob/151004/src/includes/classes/ApiBase.php#L86), but it would be easier for most people if this could be extended to allow for a specific URL that they provide.
## API

[2015-10-14 17:06] raamdev commented on #589
@jaswsinc Cool. Thanks for confirming! :smiley:

[2015-10-14 17:06] #589 closed, assigned to nobody

[2015-10-15 04:01] raamdev commented on #427
Drafted related KB Article: [Recommended NGINX Server Configuration](https://github.com/websharks/zencache-kb/issues/91)

[2015-10-15 04:17] raamdev commented on #427
_Comment moved to https://github.com/websharks/zencache-pro/pull/143#issuecomment-148276628._

[2015-10-16 04:06] raamdev commented on #590
Next Pro Release Changelog:
- **Enhancement**: Added a new API Function that allows a site owner to clear the cache for a specific URL via `zencache::clearUrl($url);`. See [this article](http://zencache.com/kb-article/clearing-the-cache-dynamically/#toc-988085ad) for further details. Props @kristineds. See [Issue #590](https://github.com/websharks/zencache/issues/590).

[2015-10-16 04:06] #590 closed, assigned to kristineds

[2015-10-16 21:07] raamdev commented on #554
@jaswsinc I'm updating this GitHub issue to note that it's no longer blocked by #427. Do you have any examples for what `.htaccess` rule(s) will need to be added to fix this issue?

Also, I'm a bit worried that such rules would have such a wide-reaching effect on a site that it might be cause for trouble. For example, if a site owner has their own custom rewrite rules (in addition to those created

[2015-10-16 21:17] raamdev commented on #427
@jaswsinc Can you confirm this all sounds correct?

[_Moved [here](https://github.com/websharks/zencache/issues/427#issuecomment-148869705)._]

[2015-10-16 22:39] jaswrks commented on #427
That sounds absolutely correct to me.

in "an" attempt

[2015-10-16 23:28] jaswrks commented on #554
Force a trailing slash:

[code]

Force NO trailing slash:

[code]

---

I think if we detect permalink settings that either require or do not require a trailing slash and add the appropriate snippet to the very top of the `.htaccess` file there is very little chance of there being an issue. Really, one of these snippets just needs to come somewhere _before_ the WordPress section.

However, since P

[2015-10-17 00:16] raamdev commented on #427
Next Pro Release Changelog:
- **Bug Fix**: Fixed a bug with Static CDN Filters and Cross-Origin Resource Sharing (CORS) that was generating a "Cross-Origin Request Blocked" error. ZenCache will now update the root `.htaccess` file to include a `Header set Access-Control-Allow-Origin "*"` rule for `ttf`, `ttc`, `otf`, `eot`, `woff`, `woff2`, `font.css`, `css`, and `js` files whenever the Static CDN

[2015-10-17 00:16] #427 closed, assigned to nobody

[2015-10-18 00:42] raamdev commented on #554
Great idea! Where do you think such an option should go? I'm thinking maybe a new **.htaccess Tweaks** options panel. We could then use that new panel in the future for any other `.htaccess` tweaks like this that we might want to make easy for a site owner to add/remove from their `.htaccess` file.

[2015-10-20 00:07] raamdev commented on #504
Next Pro Release Changelog:
- **Enhancement**: Improved the HTML Notes generated by ZenCache when s2Member (a membership plugin for WordPress) is specifically disabling caching. s2Member automatically disables caching on certain pages that are required to remain dynamic. The HTML Notes generated by ZenCache now explain when this is happening. Props @renzms. See [Issue #504](https://github.com/webs

[2015-10-20 00:07] #504 closed, assigned to renzms

[2015-10-21 13:29] davidfavor opened #591 "Commented out WP_CACHE definition in wp-config.php being incorrectly ignored"
:::: Summary

This relates specifically when moving from WP Super Cache to ZenCache. Likely also effects other caching plugins besides WP Super Cache.

A slight code modification should fix this problem. See details below.

The bottom line is this bug prohibits ZenCache from ever really being enabled, as WP_CACHE remains commented out.

This means ZenCache appears to be slow, as it's code never re

[2015-10-21 20:50] raamdev commented on #591
@davidfavor Thanks for the report. This should have been addressed in v150821 (ZenCache Pro) and v150930 (ZenCache Lite). See https://github.com/websharks/zencache/issues/509

I'm going to run a few tests to see if I can reproduce this issue.

Can you tell me which version of ZenCache you are running?

[2015-10-21 23:02] jaswrks opened #592 "Bug: Unnecessary Cookie Checks"
## Overview

While working on some `.htaccess` tweaks in other parts of ZenCache, I noticed that we have two unnecessary cookie checks in ZenCache. [This line](https://github.com/websharks/zencache-pro/blob/151004/src/includes/closures/Shared/ConditionalUtils.php#L118) in particular is causing several pages not to be cached whenever there are stray cookies, even when the user is not logged in.
##

[2015-10-21 23:12] jaswrks commented on #554
After having worked with some additional tweaks as a part of the work in [this PR](https://github.com/websharks/zencache-pro/pull/165), I think a good title for this would be, "Apache `.htaccess` Tuner". Like you said, we can nest all of the tweaks that we are going to introduce in this panel. The one mentioned in this issue, and the others that I'm working on in that PR too.

[2015-10-22 00:46] raamdev commented on #554
That means we'd probably want to get rid of the **GZIP Compression** menu option and move that into the new **Apache Optimization** (?) panel, correct? That probably makes sense considering the whole GZIP Compression panel won't be applicable to web servers not running Apache. (Sure, we could give advice for enabling GZIP Compression on other web servers inside the GZIP Compression options panel,

[2015-10-22 01:02] raamdev commented on #591
I have confirmed this bug following @davidfavor's steps above with both ZenCache Lite v150930 and ZenCache Pro (dev branch).

If the `wp-config.php` file contains the following line, Enabling ZenCache (**ZenCache → Plugin Options → Enable/Disable**) _does not_ uncomment or otherwise set `WP_CACHE` to true in `wp-config.php`, so despite ZenCache being enabled, nothing on the site is actually being

[2015-10-22 01:10] raamdev commented on #591
The above comment only referenced the ZenCache Pro codebase. Noting here that this should also be fixed in ZenCache Lite (via [this line](https://github.com/websharks/zencache/blob/000000-dev/zencache/zencache.inc.php#L2069)).

[2015-10-22 01:33] jaswrks commented on #554
Sounds perfect. I wanted to go with "Apache Performance Tuning", but that seems a little misleading. Apache Optimization is better.

I think that's a great idea!

[2015-10-22 01:39] raamdev commented on #554
Cool! If you don't want to work the consolidation and creation of a new **Apache Optimization** panel into https://github.com/websharks/zencache-pro/pull/165, let me know when you're ready for me to dive in and I can take care of that.

[2015-10-22 01:42] jaswrks commented on #591
Good catch guys! I agree, there is room for improvement here.

@raamdev You could try playing with a [negative lookbehind](http://www.regular-expressions.info/lookaround.html) in that line you referenced.

i.e., `(?<!\/\/\s*)`

[code]

Looks like there is at least one instance of this in the removal routine also that needs to be updated.

[2015-10-22 01:57] jaswrks commented on #554
Go for it! I still have some work to do in other areas before I get to the UI, so if you'd like to work on that panel then I can merge that into `feature/sonic-boom` when I'm ready to start testing. That would make this go faster I think.

[2015-10-22 01:59] raamdev commented on #554
Roger that.

[2015-10-22 22:20] raamdev opened #593 "Feature Request: Option to automatically clear expired WP Transients"
It would be great to have an option inside **ZenCache → Plugin Options → Automatic Cache Clearing** that allows a site owner to tell ZenCache that expired transients should be deleted from the DB automatically whenever the cache is automatically cleared.

Another option inside **ZenCache → Plugin Options → Manual Cache Clearing** might be a nice idea too.

[2015-10-22 22:38] raamdev opened #594 "Compatibility: NinjaFirewall plugin"
_This issue was moved from https://github.com/websharks/s2member/issues/758_

@KeithPantlin writes...

@jaswsinc writes...

[2015-10-23 00:33] raamdev commented on #591
@jaswsinc Thanks! I started playing with negative lookbehinds but `preg_match()` (and regex101.com) complains that it must be zero-width:

https://regex101.com/r/aA0yT1/2

Which throws a wrench into the mix. It seems like we can check for one particular scenario (`//define`...) but that won't account for variations such as `// define`. Ideas?

[2015-10-23 00:47] jaswrks commented on #591
Nice! I see what you mean. Well, I think it's fine to pull the `\s*` out of the lookbehind.

[code]

See: https://regex101.com/r/tD0hK0/2

[2015-10-23 00:52] jaswrks commented on #591
Ah. Nevermind. Tricky! That doesn't work either.

[2015-10-23 00:53] raamdev commented on #591
Yep, I tried that too!

[2015-10-23 00:58] raamdev commented on #591
Why don't we just remove `define('WP_CACHE', true);` if we find it in `wp-config.php` and then re-add it? I realize there's a slight performance hit there by doing work unnecessarily in the event that it's _not_ commented out, but this routine is only running once when ZenCache is activated... it's not like it's running on every page load or something.

[2015-10-23 01:00] raamdev commented on #591
In other words, just remove [this entire conditional](https://github.com/websharks/zencache-pro/blob/443256abdbce31e56a8768700104ba5807eaa8d5/src/includes/closures/Plugin/InstallUtils.php#L140-L142) and just let the next line (`removeWpCacheFromWpConfig()`) remove it.

[2015-10-23 01:15] jaswrks commented on #591
That's a decent idea. However, the reason it's like that right now, is to cover a scenario where the `wp-config.php` is not writable (I do that myself). So for instance, if you have this already defined in your `wp-config.php` file, and ZenCache finds it in there, there is no reason for us to do anything more; i.e., no reason for failure or any notice about us not being able to write to the file.

[2015-10-23 01:18] jaswrks commented on #591
Or, this might be even better. We could strip all comments from the syntax before we check. See: http://php.net/manual/en/function.php-strip-whitespace.php

[2015-10-23 01:31] raamdev commented on #591
Ah, that makes sense. Yeah, that's an important scenario to consider.

Yep, that seems to work. I ran it through a few tests (including directly in ZenCache) and it's working as expected.

Hmm, that would work too. Any preference?

[2015-10-23 01:41] jaswrks commented on #591
My preference would be to strip the comments before we do a check. That seems bulletproof in terms of us being able to accurately detect whether it's really in there or not.

You could then leave the regex as-is. However, while you're in there it's probably a good idea to change:

this:

[code]

to:

[code]

That avoids a false match on something wild like: `my_define('WP_CACHE' ...` by requiring

[2015-10-23 03:42] raamdev commented on #591
Next Pro Release Changelog:
- **Bug Fix**: Fixed a bug where a commented-out `WP_CACHE` definition in `wp-config.php` (such as what WP Super Cache leaves behind) was being incorrectly ignored and resulted in caching being silently disabled. Props @davidfavor. See [Issue #591](https://github.com/websharks/zencache/issues/591).

[2015-10-23 03:42] #591 closed, assigned to nobody

[2015-10-23 03:53] raamdev commented on #591
Next Lite Release Changelog:
- **Bug Fix**: Fixed a bug where a commented-out `WP_CACHE` definition in `wp-config.php` (such as what WP Super Cache leaves behind) was being incorrectly ignored and resulted in caching being silently disabled. Props @davidfavor. See [Issue #591](https://github.com/websharks/zencache/issues/591).

[2015-10-23 12:26] davidfavor commented on #591
Thanks for fixing this so fast!

BTW, the only reason I figured this bug out instantly is I've done the same thing in my code several times.

[2015-10-24 16:26] raamdev commented on #519
@jaswsinc Now that https://github.com/websharks/zencache/issues/191 has been closed and we have a new API function (https://github.com/websharks/zencache/issues/590) to clear specific URLs, is it possible to clear the home page cache via `zencache::clearUrl($url);`?

[2015-10-24 16:27] raamdev commented on #520
@jaswsinc Any ideas what might cause the issue @BookClubs described above?

[2015-10-24 16:44] raamdev commented on #591
@davidfavor Ha! Always better to have more eyes on the bugs. :bug: :beetle: Thanks again. :smile:

[2015-10-24 17:53] aziernest opened #596 "Feature Request: Ability to manually clear cache for pages / posts / tags / categories"
clear cache for separate pages
i.e
clear "post cache"
clear "category/tags cache"

particularly, posts caching is something that rarely requires update even when new post is published, the category page changes, home page and / or tag pages too but not previously published post, so it would be a good idea to keep post cache for longer time, and even if we need to clear cache, we just clear everyth

[2015-10-25 07:50] jaswrks commented on #519
Yep. Definitely possible to do that now with the new API function.

[2015-10-27 00:02] raamdev commented on #588
Closing this as cannot reproduce. If you have any feedback on this issue, please update this GitHub issue and we can reopen it.

[2015-10-27 00:02] #588 closed, assigned to nobody

[2015-10-27 00:10] raamdev commented on #519
@anthonyeden With the next release of ZenCache Pro it will be possible to clear the Home Page cache via `zencache::clearUrl()` by passing in a new [watered-down regex syntax](http://zencache.com/r/watered-down-regex-syntax/).

Regarding making a "button" for this (to clear the Home Page cache): I'm closing this issue in favor of https://github.com/websharks/zencache/issues/380. When https://github

[2015-10-27 00:10] #519 closed, assigned to jaswrks

[2015-10-27 00:16] raamdev commented on #596
@aziernest Thank you for the feature request!

@jaswsinc We already have options for these related to _automatic cache clearing_, but I think a good addition to those would be options inside _manual cache clearing_ so that you can select which things should be cleared when you manually click the "Clear Cache" button. Additionally, next to each new section inside Manual Cache Clearing should be ano

[2015-10-27 03:21] aziernest commented on #596
@jaswsinc Awesome, you got my exact point.
i.e., "Clear Posts Cache", "Clear Pages Cache", "Clear Tags Cache", "Clear Categories Cache"). Thoughts?

I understand and already knows that zencache clears relevant pages upon post publication or updation very well and yes I was talking about manual cache clearing stuff.

is that feature hard to develop ?

[2015-10-28 01:48] raamdev opened #597 "3rd Party Plugin Compatibility: WooCommerce + Reduce Order Stock"
[WooCommerce](https://wordpress.org/plugins/woocommerce/) has some compatibility for WordPress caching plugins via the `DONOTCACHEPAGE` constant, however there is room for improvement. For example, one user reported that "when the website has a shop order and the stock is reduced, the cache for that product isn’t cleared resulting in stale stock levels being used / displayed".

There may be WooCom

[2015-10-29 01:25] raamdev commented on #592
Next Pro Release Changelog:
- **Bug Fix**: Fixed a bug where in some scenarios a page might not be cached due to a stray `AUTH_COOKIE` or `SECURE_AUTH_COOKIE` cookie, even when the user is not logged in. Props @jaswsinc @renzms. See [Issue #592](https://github.com/websharks/zencache/issues/592).

[2015-10-29 01:41] raamdev commented on #560
@sarangandk This issue should be resolved in the next Pro release as part of the work that was completed here: https://github.com/websharks/zencache/issues/563#issuecomment-146996879

If after the next update you're still having issues, please let us know and I'll reopen this issue.

[2015-10-29 01:41] #560 closed, assigned to nobody

[2015-10-29 08:12] lkraav commented on #592
I can confirm, I have seen caching being incorrectly disabled with the "user is logged in" message. In our case it happened on staging sites, where admin bar is always visible and https://github.com/Rarst/toolbar-theme-switcher is used for hopping between themes.

[2015-10-29 22:29] raamdev commented on #592
@lkraav Thanks for the update. :-) If you still experience this issue after the next Pro release, please let us know and we can reopen this GitHub issue.

[2015-10-29 22:33] jaswrks commented on #592
It looks like we can also optimize this routine a bit further, now that we no longer have to consider cookie names that begin with `wordpress_`. I haven't looked carefully at this, but at first glance it looks like there is still room for some improvement in [these lines](https://github.com/websharks/zencache-pro/blob/151004/src/includes/closures/Shared/ConditionalUtils.php#L127-L132).

i.e., that

[2015-10-30 22:56] raamdev commented on #592
@jaswsinc I assume this can be closed now that https://github.com/websharks/zencache-pro/pull/168 has been merged, correct?

[2015-10-30 23:11] jaswrks commented on #592
Yes. Thanks!

[2015-10-30 23:18] #592 closed, assigned to renzms

[2015-10-31 09:31] distinctperspective opened #598 "Possible PHP7 Compatibility Issue"
So I am running on Ubuntu Trusty 14.01 on digitalocean and using ServerPilot's PHP7 stack....  crashes every time

Fatal error: require(): Failed opening required '/srv/users/serverpilot/apps/aeriographerdev/public/wp-blog-header.phpALT' (include_path='.:/opt/sp/php7.0/lib/php') in /srv/users/serverpilot/apps/aeriographerdev/public/index.php on line 17 (adding the ALT) to the urls for some reason.

[2015-10-31 18:38] teichfeld opened #599 "HTML Compression: Some inline script tags not closed."
I am running the White Label Login plugin, which itself is kinda buggy, but it looks liek the admins section is getting an end tag missing when HTML + Inline JS compression is enabled.
Take a look at the first '<script>jQuery(document.ready(function($){ call' .  on line 11 of the attached.  The tag is not closed after load_registered_licenses(); So it looks liek an off by one error in the handling

[2015-11-01 01:24] raamdev opened #600 "Feature Request: Custom Clear Cache Command"
Coming with the next release of ZenCache Pro, there's a new menu for Clear Cache options:

![2015-10-31_21-01-56](https://cloud.githubusercontent.com/assets/53005/10866723/91f378b8-8014-11e5-8492-88874d402b9a.png)

As a future enhancement to the new menu of Clear Cache options, I'd love to see a feature that allows for the creation of a "Custom Clear Cache Routine" that would add a new item to the

[2015-11-01 01:27] raamdev commented on #596
Coming with the next update, we're including a new menu of options that will allow you to clear only the current page, or clear only a specific URL, along with a few other options depending on what's active on your server:

![2015-10-31_21-01-56](https://cloud.githubusercontent.com/assets/53005/10866758/fcbf69ee-8015-11e5-827d-13e2cfd00d5b.png)

---

@raamdev writes...

After thinking this over so

[2015-11-01 01:47] raamdev commented on #593
This is a duplicate of https://github.com/websharks/zencache/issues/459. Closing.

[2015-11-01 01:47] #593 closed, assigned to nobody

[2015-11-01 01:48] raamdev commented on #459
Noting here that this would make a great addition to the new Clear Cache options menu:

![2015-10-31_21-01-56](https://cloud.githubusercontent.com/assets/53005/10866822/0ad6009e-8019-11e5-9e48-fbe9173e4700.png)

[2015-11-01 01:51] raamdev commented on #596
The feature added here was also discussed and requested in two other GitHub issues: https://github.com/websharks/zencache/issues/380 (_Button to Clear Cache for Current Page_) and https://github.com/websharks/zencache/issues/519 (_Button to Clear Cache for Home Page_).

This new feature coming in the next release closes both of those issues.

[2015-11-01 01:55] raamdev commented on #596
Next Pro Release Changelog:
- **New Feature!** The Clear Cache button in the Admin Bar now includes a sub-menu with several new options for clearing the cache from anywhere on your site. You can clear the cache for just the Home Page, the Current URL, a Specific URL, PHP's OPCache (if active), or the CDN Cache (when Static CDN Filters are configured). This menu comes in two flavors and can be cust

[2015-11-01 01:55] #596 closed, assigned to jaswrks

[2015-11-01 01:58] raamdev commented on #519
@anthonyeden A new feature added in https://github.com/websharks/zencache/issues/596#issuecomment-152786080 that will be released with the next version of ZenCache Pro closes this issue. There's now a Clear Cache sub-menu in the Admin Bar that allows clearing the cache for the Home Page:

![2015-10-31_21-01-56](https://cloud.githubusercontent.com/assets/53005/10866843/4f66c152-801a-11e5-8da7-07eec

[2015-11-01 02:11] raamdev commented on #598
@dthreatt I'm not seeing any mention of ZenCache in that error message. How are you determining that ZenCache is the problem here? Can you tell me which RC of PHP7 you're running? We've ran a few tests against PHP7 and have not seen any issues so far.

[2015-11-01 02:15] raamdev commented on #599
@teichfeld It looks like part of your message was cut off there.

It's strange to me that ZenCache would be affecting anything on the Admin side of things, because it's designed to only touch things on the front-end of the site.

How are you determining that ZenCache is at fault there? If you're simply disabling ZenCache, then keep in mind the problem may actually be a conflict with the White Labe

[2015-11-01 02:41] raamdev commented on #507
I re-tested this with the latest versions of ZenCache Lite and ZenCache Pro and was not able to reproduce the issue I described above. Closing this.

[2015-11-01 02:41] #507 closed, assigned to nobody

[2015-11-01 03:42] distinctperspective commented on #598
if I turn on your plugin I get the error.... if I turn it off I dont.....

http://dev.aeriographer.com

PHP 7.0.0RC5 (cli) (built: Oct 16 2015 17:41:28) ( NTS )

Copyright (c) 1997-2015 The PHP Group

Zend Engine v3.0.0-dev, Copyright (c) 1998-2015 Zend Technologies

[code]

Technologies

On Sat, Oct 31, 2015 at 7:11 PM, Raam Dev notifications@github.com wrote:

[2015-11-01 03:50] distinctperspective commented on #598
PHP 7.0.0RC5 (cli) (built: Oct 16 2015 17:41:28) ( NTS )
Copyright (c) 1997-2015 The PHP Group
Zend Engine v3.0.0-dev, Copyright (c) 1998-2015 Zend Technologies
    with Zend OPcache v7.0.6-dev, Copyright (c) 1999-2015, by Zend Technologies

if I turn on your plugin I get the error.... if I turn it off I dont.....

this is the ONLY plugin installed on the fresh dev site
4.3.1 WP
http://dev.aeriogr

[2015-11-01 03:57] distinctperspective commented on #598
I just did a few more test....the LITE version works fine on PHP7 seems the issue is with the PRO version... I really need this to work because I am using domain sharding.

[2015-11-01 04:13] raamdev commented on #598
@dthreatt Thank you for the report and the additional information. We'll take a closer look at this.

Keep in mind that PHP7 has not been publicly released yet. It's still in the Release Candidate period. Until there is a public release, we cannot make any promises about the stability of ZenCache with PHP7.

[2015-11-01 10:22] jaswrks opened #601 "Bug: User-Specific Cache Expiration w/ `_wpnonce`"
## Overview

There are some links generated in markup—by WP core, or by plugins like bbPress, and the markup may contain `<a>` links that have `_wpnonce` query string variables in them. It is possible for the `_wpnonce` value to expire _before_ the cache does, and _before_ a user performs an action on the site that would force the cache to clear automatically.

In short, there are certain portions

[2015-11-01 10:25] jaswrks commented on #601
A similar issue may also exist in comment forms for users who are logged in (or NOT logged in), whenever you also run the Akismet plugin.

[code]

[2015-11-01 10:29] jaswrks commented on #601
This bug was reported by @clavaque at s2member.net.

[2015-11-01 11:24] jaswrks commented on #598
@dthreatt What you reported in your last screenshot...

This could be an encoding problem in your `/wp-config.php` file. I would suggest that you try to reproduce this again, and this time if you get the same error, open `/wp-config.php` and inspect the file carefully. In particular, look to see if there are any strange characters or a problem with the `ABSPATH` definition. If you can't find a pro

[2015-11-01 16:30] teichfeld commented on #599
Hi rram. I am certain you are correct. White Label Login has some issues with JS conflicts. I will continue looking at it in the White Label Login code.  Thanks much :)

[2015-11-01 16:30] #599 closed, assigned to nobody

[2015-11-01 18:22] mastermikeywwt opened #602 "Autocache clearing clears entire cache"
Despite having completely disabled autocache clearing. Every time any change is made the entire sites cache is cleared. Anyway to avoid this happening?

[2015-11-01 18:49] raamdev commented on #602
@mastermikeywwt Can you explain what you mean by "autocache clearing"? Which setting, specifically, did you disable?

Could you also give an example of a change on the site that clears the entire cache?

[2015-11-01 18:54] mastermikeywwt commented on #602
I'm referring to 'Automatic Cache Clearing'. I have completely disabled every setting here. Now whenever I update a product or a page. Every single page on the site has its cached cleared.

[2015-11-01 19:03] raamdev commented on #602
It sounds like you're using a plugin or theme that is hooking into various WordPress hooks that are inadvertently triggering the site-wide cache clearing routines that are supposed to only fire when doing things like upgrading WordPress or changing a core WordPress setting.

If you want to completely disable the automatic clearing routines, you can do so as described in this article:
-  [Disabling

[2015-11-03 04:55] jaswrks commented on #600
Great idea! It might be cool if the user could title the dropdown option label also.

[2015-11-03 04:56] jaswrks commented on #600
It might be cool if you could add more than one option to the list.

[2015-11-03 04:59] raamdev commented on #600
Oh yes, definitely. I had thought of that when I was opening this issue but forgot to mention it. :-)

I thought of that too, but my feeling is that one option will likely cover the vast majority of cases where this feature is used and instead of complicating things from the start we should probably provide just one option for now and then deal with multiple custom options as a future feature requ

[2015-11-03 05:04] jaswrks commented on #600
Agree. Great point.

[2015-11-03 07:09] distinctperspective commented on #598
lol, no, I only edit using VI or nano from thessh shell.  I am an advanced user.... not a newbie.

[2015-11-03 10:26] jaswrks commented on #598
Copy. Do you have either of these configured to include a BOM marker in UTF-8 files?

[2015-11-03 10:30] jaswrks commented on #598
What I'd look for are any differences between the encoding of `/wp-config.php` as it exists after you edit it, and what PHP is configured to work in. By default, PHP 7 should be working in UTF-8 (depending on what your `.ini` file specifies). If there is an encoding conflict, whenever ZenCache adds the `define('WP_CACHE', true);` line to your `/wp-config.php` file, some corruption could occur in t

[2015-11-03 10:31] jaswrks commented on #598
I have tested ZenCache against PHP 7 RC1, RC2, RC3, RC4, RC5, RC6, and RC7. I have not seen this issue yet myself.

[2015-11-03 10:38] jaswrks commented on #598
To clarify, in this screenshot you posted earlier, the only way that I'm seeing this could occur is if the `ABSPATH` constant (defined in `/wp-config.php`) contains invalid characters. The only way that I'm seeing that is possible (in response you to enabling ZenCache), is if the `wp-config.php` file is getting corrupted due to an encoding issue.

[2015-11-03 18:50] distinctperspective commented on #598
I acutally dont edit the file...the server edits its.  i tore down that environment...but ill put it back up and send you the SSH information.  how do I send that to you?

[2015-11-04 01:05] jaswrks commented on #598
What I'd prefer is to see the contents of your `/wp-config.php` file whenever the bug is reproduced. If you can help us out by saving the `/wp-config.php` file when this occurs, we can inspect the file and learn more about any corruption that might be occurring.

Please remove any sensitive information from the file, and then use a service like CloudUp to share the file with us here. See: https://

[2015-11-05 01:47] jaswrks commented on #459
## Next Actions (Pro Version Only)
- New feature branch in the `websharks/zencache-pro` repo.
- New class file in [this directory](https://github.com/websharks/zencache-pro/tree/151004/src/includes/closures/Plugin) with the name: `WcpTransientUtils.php`

[code]
- After [this line](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/classes/Actions.php#L372) add the following:

[

[2015-11-05 01:54] jaswrks commented on #459
@kristineds While working on this issue you can take note of the way ZenCache checks a whitelist of allowable actions in [this line](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/classes/Actions.php#L72). That's why it is necessary for you to add the following, as seen in the outline above.

[code]

_This works the same way in Comment Mail._

[2015-11-05 02:16] raamdev commented on #579
Build script has been updated and I've confirmed that the `.sass` and `.map` files (along with some other unnecessary files) are excluded from the distributable zip. The next release will have these files excluded. :-)

[2015-11-05 02:19] raamdev commented on #579
Next Pro Release Changelog:
- **Enhancement**: Excluded several unnecessary files from the plugin zip file that were being used during the build process but were not necessary to run the plugin. Props @bridgeport. See [Issue #579](https://github.com/websharks/zencache/issues/579).

[2015-11-05 02:19] #579 closed, assigned to nobody

[2015-11-05 17:20] KTS915 commented on #555
@raamdev, @kristineds, @jaswsinc,

This is a great new addition. (I am just trying out the new RC.) Thank you! I had enabled this before without realizing that I need to use a plugin to create an xml sitemap.

I have now installed Simple Wp Sitemap (https://wordpress.org/support/plugin/simple-wp-sitemap) and it seems to be doing the job (without pinging Google, which other sitemap plugins do, and

[2015-11-05 18:42] patdumond opened #603 "Deactivating ZenCache Pro from Plugins Panel Removes Autocache from WP-Cron"
Reference: https://websharks.zendesk.com/agent/tickets/9223

If ZenCache Pro is deactivated from the WordPress Plugins panel `autocache` job is removed from WP-Cron, disabling Auto-Cache.

Steps to reproduce:
1. Install WP-Crontrol plugin.
   1.Wait about 5 minutes to be sure you see the cron job for the Auto-cache **WordPress Dashboard → Tools → Cron Events**.
2. Deactivate ZenCache Pro from the

[2015-11-06 04:02] bigjake36 opened #604 "CloudFlare Issue"
I switch hosting service from HostGator to A2 Hosting, which was the best thing I ever did !! The service offered CDN support via CloudFlare for free. The other day I tried to activate the CloudFlare option and started noticing that the main page of my site was getting trashed. In other words, some images were missing other plugins didn't work and script files were getting screwed up. For almost 2

[2015-11-06 05:19] jaswrks commented on #598
@dthreatt Any more insight you can offer on this? Thanks in advance! :-)

[2015-11-06 08:28] lkraav commented on #604
RocketScript is also a standalone toggle in your CloudFlare control panel. Might not have to turn the whole thing off.

[2015-11-06 18:10] distinctperspective commented on #598
I havent had time to setup anything.  Ill get it up this weekend for you to
look at.

On Thu, Nov 5, 2015 at 9:19 PM, JasWSInc notifications@github.com wrote:

[2015-11-07 08:19] jaswrks commented on #555
Nice! Thanks for the link. I'll bookmark that one.

I'm afraid not. If it's in the sitemap, ZenCache may attempt to load that page and cache it, but that attempt will fail gracefully since WordPress and ZenCache are not actually loaded in static HTML files.

[2015-11-07 16:50] KTS915 commented on #555
@jaswsinc,

That's what I suspected. Thanks for the explanation!

[2015-11-07 19:12] raamdev opened #606 "3rd Party Plugin Compatibility: iThemes Security"
[Some](https://wordpress.org/support/topic/site-has-lost-style-sheets-while-running-zencache?replies=4) [users](https://wordpress.org/support/topic/permissions-not-allowing-to-login?replies=1) have reported issues running iThemes Security with ZenCache. I'm creating this GitHub issue so that we can track progress towards testing and improving (if necessary) compatibility between ZenCache and iThem

[2015-11-07 19:30] raamdev commented on #604
@bigjake36 Thank you very much for the information. :-) ZenCache does not yet have any CloudFlare options integration, however we do have a feature request open for that here: https://github.com/websharks/zencache/issues/418 (I recommend leaving a comment on that GitHub issue to show your vote for this feature.)

You probably need to disable RocketScript inside your CloudFlare control panel, as @l

[2015-11-07 19:30] #604 closed, assigned to nobody

[2015-11-07 19:40] lkraav commented on #606
I've been running ITS and ZCP in parallel for an extensive period of time. I don't recall any caching incident that can be attributed to ITS. The only thing to watch out for might be the "force SSL" configuration options that ITS provides. In theory I guess there could be a scenario where this results in browser blocking http stylesheets etc loaded over https, because the caching plugin was confus

[2015-11-07 20:43] raamdev commented on #606
@lkraav Great! Thank you for the feedback. :-)

[2015-11-09 13:51] MarioKnight commented on #606
I've also been running ITS and ZCP on most client sites, and I don't recall any issue that was caused by the two of them coexisting.  One thing that should be noted is that if someone makes any change to ITS's "WordPress Tweaks" section, they should clear the cache afterwards to see these changes take effect.

[2015-11-10 16:00] jaswrks opened #607 "Bug :: Pagination Var Translation Breaks Cache Clearing"
A user writes...

[2015-11-10 17:06] kristineds opened #608 "Aliased domain cache is not cleared"
Quick Cache Pro is not clearing cache for multiple sites/domains e.g. alias domains.

Referencing Ticket: [Ticket # 9371](https://websharks.zendesk.com/agent/tickets/9371)

---

According to @jaswsinc:

[2015-11-11 04:19] iaoweb opened #609 "Error page and server http crash when we save changes"
Hi, we are getting error blank page and http server crash each time we Save Changes in admin. We have a licensed version. I will have to restart httpd at server to revive the site. Does not happen in free version.

/wp-admin/admin.php?page=zencache&zencache_updated=1

[2015-11-12 09:31] jaswrks commented on #601
## Next Actions (Step 1 of 2)
- New feature branch in the `websharks/zencache-pro` repo.
- After [this line](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/closures/Ac/NcDebugConsts.php#L149) add the following:

[code]
- After [this line](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/closures/Ac/ObUtils.php#L149) add the following:

[code]
- After [

[2015-11-12 09:45] jaswrks commented on #601
Assigning this to @kristineds :-)

[2015-11-12 09:45] jaswrks commented on #601
@raamdev Thoughts on Step 2 of 2, and on this issue in general?

[2015-11-12 09:54] jaswrks commented on #607
Referencing: http://wordpress.stackexchange.com/a/57090/81760

[2015-11-12 10:02] jaswrks commented on #506
Noting that this issue now has a low priority in my mind, because of HTTP/2. So while I still agree that a new plugin for the HTML Compressor and/or a filter would be nice, I think our efforts should be focused on HTTP/2 instead of on the HTML Compressor.

With HTTP/2, most (all?) of what the HTML Compressor does is no longer needed whatsoever. And, in fact, it would be discouraged if your server

[2015-11-12 10:05] jaswrks commented on #607
Referencing:
- [`pagination_base`](https://github.com/WordPress/WordPress/blob/77e365efbf2e499e2ed11d29c101ea466cf1ceed/wp-includes/class-wp-rewrite.php#L111)
- [`comments_pagination_base`](https://github.com/WordPress/WordPress/blob/77e365efbf2e499e2ed11d29c101ea466cf1ceed/wp-includes/class-wp-rewrite.php#L120)
- [`feed_base`](https://github.com/WordPress/WordPress/blob/77e365efbf2e499e2ed11d29c1

[2015-11-12 10:15] jaswrks commented on #607
## Next Actions (Step 1 of 2)
- New feature branch in the `websharks/zencache-pro` repo.
- After [this line](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/closures/Shared/CachePathUtils.php#L3) add the following:

[code]
- Submit PR.

[2015-11-12 10:33] jaswrks commented on #607
## Next Actions (Step 2 of 2)
- New feature branch in the `websharks/zencache-pro` repo.
- Replace [this line](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/closures/Shared/CachePathConsts.php#L140) with the following:

[code]
- In [this file](https://github.com/websharks/zencache-pro/blob/443256abdbce31e56a8768700104ba5807eaa8d5/src/includes/closures/Shared/CachePathUtils

[2015-11-12 10:34] jaswrks commented on #607
Assigning this to @renzms :-)

[2015-11-12 10:51] jaswrks commented on #600
@kristineds Given your recent work on [this related PR](https://github.com/websharks/zencache-pro/pull/173), would you like to take a stab at outlining this GHI for someone else to work on? If you don't think you can get it _all_ working, maybe just outline Step 1 of 2, and focus on getting this new option into the admin bar for now; e.g., Step 1 of 2 might not get the feature working, but it coul

[2015-11-12 11:52] jaswrks commented on #498
## Next Actions (Step 1 of 2)
- New feature branch in the `websharks/zencache-pro` repo.
- After [this line](https://github.com/websharks/zencache-pro/blob/151105-RC/src/includes/classes/Plugin.php#L312) add two new option keys.

[code]
- After [this line](https://github.com/websharks/zencache-pro/blob/151105-RC/src/includes/closures/Plugin/InstallUtils.php#L295) add the following:

[code]
- After

[2015-11-12 11:57] jaswrks commented on #498
## Next Actions (Step 2 of 2 — On Deck)
- New feature branch in the `websharks/zencache-pro` repo.
- Add UI options (as described above) that allow a site owner to control:
  - `exclude_uris_client_side_too`
  - `exclude_client_side_uris`
- Submit PR.

---

**Note:** The above instructions for Step 2 are rather vague. If you're able, attempt step 2 right away. Otherwise, once step 1 is complete hi

[2015-11-12 11:58] jaswrks commented on #498
Assigning this to @renzms :-)

[2015-11-12 12:16] jaswrks commented on #472
## Next Actions (Step 1 of 2)
- New feature branch in the `websharks/zencache-pro` repo.
- After [this line](https://github.com/websharks/zencache-pro/blob/151105-RC/src/includes/classes/Plugin.php#L270) add the following:

[code]
- Replace [this line](https://github.com/websharks/zencache-pro/blob/151105-RC/src/includes/classes/Plugin.php#L524) with the following:

[code]
- Replace [this line](ht

[2015-11-12 12:17] jaswrks commented on #472
## Next Actions (Step 2 of 2 — On Deck)
- New feature branch in the `websharks/zencache-pro` repo.
- Add UI option (as described above) that allows a site owner to control:
  - `cache_cleanup_schedule`
- Submit PR.

---

**Note:** The above instructions for Step 2 are rather vague. If you're able, attempt step 2 right away. Otherwise, once step 1 is complete hit me on Slack for a more complete set

[2015-11-12 12:17] jaswrks commented on #472
Assigning this to @kristineds  :-)

[2015-11-12 12:31] jaswrks commented on #486
## Next Actions (Step 1 of 2)
- New feature branch in the `websharks/zencache-pro` repo.
- After [this line](https://github.com/websharks/zencache-pro/blob/151105-RC/src/includes/classes/Plugin.php#L230) add the following:

[code]
- After [this line](https://github.com/websharks/zencache-pro/blob/151105-RC/src/includes/classes/Plugin.php#L355) add the following:

[code]
- After [this line](https:/

[2015-11-12 12:32] jaswrks commented on #486
## Next Actions (Step 2 of 2 — On Deck)
- New feature branch in the `websharks/zencache-pro` repo.
- Add UI option (as described above) that allows a site owner to control:
  - `cdn_when_logged_in`
- Submit PR.

---

**Note:** The above instructions for Step 2 are rather vague. If you're able, attempt step 2 right away. Otherwise, once step 1 is complete hit me on Slack for a more complete set of

[2015-11-12 12:33] jaswrks commented on #486
Assigning this to @kristineds :-)

[2015-11-12 12:37] jaswrks commented on #435
Referencing:
- http://kbeezie.com/protecting-folders-with-nginx/
- and my own [experimentation](https://github.com/jaswsinc/vagrant-ubuntu-lemp/blob/master/assets/nginx/.conf#L52-L53).

[2015-11-12 12:54] jaswrks commented on #472
Related issue (https://github.com/websharks/zencache/issues/408) that we could tackle once this is done.

[2015-11-12 17:33] jaswrks commented on #424
Referencing:
- [`activated_plugin`](https://github.com/WordPress/WordPress/blob/77e365efbf2e499e2ed11d29c101ea466cf1ceed/wp-admin/includes/plugin.php#L599)
- [`deactivated_plugin`](https://github.com/WordPress/WordPress/blob/77e365efbf2e499e2ed11d29c101ea466cf1ceed/wp-admin/includes/plugin.php#L701)

[2015-11-12 17:44] jaswrks commented on #424
## Next Actions
- New feature branch in the `websharks/zencache-pro` repo.
- After [this line](https://github.com/websharks/zencache-pro/blob/151105-RC/src/includes/classes/Plugin.php#L455) add the following:

[code]
- Create a new file in [this directory](https://github.com/websharks/zencache-pro/tree/151105-RC/src/includes/closures/Plugin) with the name: `WcpPluginUtils.php`

[code]
- Submit PR.

[2015-11-12 17:47] jaswrks commented on #424
Assigning this to @renzms :-)

[2015-11-12 17:54] jaswrks commented on #498
@raamdev Whenever you review the PR for this issue I suggest taking a look at [this one](https://github.com/websharks/zencache/issues/371) also, because it should be easy to knock that other GHI out whenever you close this one; i.e., the no-cache headers are being moved to a separate routine in this issue, so that should make it easier. See: https://github.com/websharks/zencache/issues/371

[2015-11-12 18:52] jaswrks commented on #608
@raamdev Thoughts on how to handle this? We could expose the **Wipe Cache** button for standard installs also I guess, but that seems like it would confuse most people; i.e., I imagine it is very rare for a standard installation to be associated with more than one domain.

However, there are cases when that could occur. In addition to the report above, there was this other case also. See: https://

[2015-11-12 18:53] raamdev commented on #435
This seems related to https://github.com/websharks/zencache/issues/322.

[2015-11-12 18:56] raamdev commented on #608
@jaswsinc I would handle this by adding a new section under **ZenCache → Plugin Options → Automatic Cache Clearing → Misc. Auto-Clear Options** called "Auto-Clear These Aliased Domains Too?" that allows a site owner to define a comma-delimited list of aliased domains, so that ZenCache can take those additional domains into consideration whenever clearing the cache.

[2015-11-12 19:09] raamdev commented on #601
@jaswsinc Hmm, my first reaction after reviewing the details of this issue is that we should treat this the same way we treat issues caching dynamic content generated by any other WordPress plugins: If the plugin doesn't set `DONOTCACHEPAGE`, then your only other option is to exclude any pages with the dynamic content from being cached using the URI Exclusion patterns.

However, I hesitate to say

[2015-11-12 19:11] raamdev commented on #609
@rafflesiao We reserve GitHub for filing bug reports and making feature requests. Please open a [Trouble Ticket](https://www.websharks-inc.com/support/?product=zencache&request_type=trouble_ticket) and we'll do what we can to help you with this issue. Thank you! :)

[2015-11-12 19:11] #609 closed, assigned to nobody

[2015-11-12 19:11] raamdev commented on #606
@MarioKnight Thank you for the feedback! :-)

[2015-11-12 19:18] jaswrks commented on #601
A quick search of the codebase turns up nothing for "akismet", and very little for "nonce". So nothing jumping out at me right away that would deal with this issue in WP Super Cache.

Referencing:
- https://github.com/Automattic/wp-super-cache/search?utf8=%E2%9C%93&q=akismet
- https://github.com/Automattic/wp-super-cache/search?utf8=%E2%9C%93&q=nonce

[2015-11-12 19:40] raamdev commented on #601
I'm wondering why this hasn't been reported as an issue with ZenCache yet. Do you suppose that's because this only affects Logged-In User Caching and that option is disabled by default?

Or maybe when Logged-In User Caching is enabled, we're still disable caching for users who post a comment (i.e., the comment cookies are still disabling ZenCache)? _I seem to recall working on something related to

[2015-11-12 20:20] jaswrks commented on #601
I had the same thought. It does seem like an edge case though. It may not impact a site owner, only commenters, and only if the cache expiration time is lower than the `_wpnonce` timeout, and only if they are: a) caching users, or b) using Akismet, or c) using another plugin that requires a `_wpnonce` to be submitted by a form that is cached.

I keep looking at this issue hoping that I'm missing s

[2015-11-12 20:26] raamdev commented on #601
Is there any way to figure out when an `akisment_comment_nonce` value would expire and then dynamically set the expiration time for a cache file containing that `akisment_comment_nonce` to something lower?

Or would really fixing this require solving https://github.com/websharks/zencache/issues/222?

[2015-11-12 20:37] jaswrks commented on #601
There isn't at the moment, but that seems possible to do if we wanted to. However, I don't see that being bulletproof either, because an nonce can also be associated with a specific context or action; e.g., a specific IP address or a specific type of action that is being performed. While that might work OK in the case of Akismet (I suspect it will), it may not cover all use cases in other plugins

[2015-11-12 20:50] raamdev commented on #601
Then maybe the best way to handle this would be to detect when certain well-known plugins that use nonce's are active on a site and then make specific recommendations about how the Cache Expiration Time should be adjusted (e.g., if Akismet is installed, suggest a Cache Expiration Time of 24 hours)?

It's not a bulletproof solution, as you said, but it seems to me like the default Cache Expiration

[2015-11-13 01:57] iaoweb opened #610 "Make Trouble Ticket Easy to Submit at Plugin Page"
We weren't aware how we should submit trouble ticket until you have provided the direct link. Would be good if submitting trouble ticket link is available at Plugin page itself on the top right.

[2015-11-13 12:21] jaswrks opened #611 "Bug :: Watered-Down Regex Syntax"
- Here is [the updated routine](https://github.com/websharks/zencache-pro/blob/151105-RC/src/includes/closures/Shared/CachePathUtils.php#L267) that converts a line-delimited list of URIs into regex patterns.
- And, [the updated routine](https://github.com/websharks/zencache-pro/blob/151105-RC/src/includes/closures/Shared/CachePathUtils.php#L238) that converts a single URL that you enter into a reg

[2015-11-13 13:17] jaswrks commented on #601
Taken from this post...
https://make.wordpress.org/core/2010/12/06/as-was-discussed-in-the-last-dev-chat-i/

So it's not a show-stopper, but it could be adding to the overall spam score whenever it is a cached value that is being submitted. That explains why we haven't seen this become a major issue.

There was also a conversation about how this might impact caching plugins. See: https://make.word

[2015-11-13 15:58] jaswrks commented on #610
@iaoweb Thank you for the feedback :-)

[2015-11-13 15:58] #610 closed, assigned to nobody

[2015-11-13 17:28] raamdev opened #612 "Add support-related links to plugin options page"
As mentioned in https://github.com/websharks/zencache/issues/610, it would be nice to include several support-related links at the top of the plugin options page:

![2015-11-13_12-24-11](https://cloud.githubusercontent.com/assets/53005/11152598/8c8bfb4c-8a01-11e5-9a5f-04de6cea9af8.png)

I would add [Knowledge Base](http://zencache.com/kb/), [Support](http://zencache.com/support/), and [Blog](http:

[2015-11-13 17:30] raamdev commented on #610
@iaoweb Thanks for the feedback! I created a GitHub issue to track this here: https://github.com/websharks/zencache/issues/612

[2015-11-13 18:49] yoffe commented on #608
Hi,
I think that this issue may occur also on a regular page update.
The cache engine need to update all the cached pages also in the alias domains...

[2015-11-13 23:37] raamdev commented on #601
Interesting. Great find with those links! Yep, I'd say disabling that particular spam check might be the best route to go here. I'd couple a new configurable option with a Dashboard message when Akismet is active, and a link to a KB Article that explains things in detail.

[2015-11-14 00:35] raamdev commented on #427
Referencing related KB Article: [What are Cross-Origin Request Blocked Errors?](http://zencache.com/kb-article/what-are-cross-origin-request-blocked-errors/)

[2015-11-14 02:24] raamdev commented on #596
**ZenCache v151114** has been released and includes changes from this GitHub Issue. See the [v151114 announcement](http://zencache.com/zencache-pro-v151114-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#596).

[2015-11-14 02:26] raamdev commented on #427
**ZenCache v151114** has been released and includes changes from this GitHub Issue. See the [v151114 announcement](http://zencache.com/zencache-pro-v151114-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#427).

[2015-11-14 02:26] raamdev commented on #563
**ZenCache v151114** has been released and includes changes from this GitHub Issue. See the [v151114 announcement](http://zencache.com/zencache-pro-v151114-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#563).

[2015-11-14 02:26] raamdev commented on #583
**ZenCache v151114** has been released and includes changes from this GitHub Issue. See the [v151114 announcement](http://zencache.com/zencache-pro-v151114-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#583).

[2015-11-14 02:27] raamdev commented on #589
**ZenCache v151114** has been released and includes changes from this GitHub Issue. See the [v151114 announcement](http://zencache.com/zencache-pro-v151114-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#589).

[2015-11-14 02:27] raamdev commented on #591
**ZenCache v151114** has been released and includes changes from this GitHub Issue. See the [v151114 announcement](http://zencache.com/zencache-pro-v151114-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#591).

[2015-11-14 02:27] raamdev commented on #592
**ZenCache v151114** has been released and includes changes from this GitHub Issue. See the [v151114 announcement](http://zencache.com/zencache-pro-v151114-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#592).

[2015-11-14 02:28] raamdev commented on #579
**ZenCache v151114** has been released and includes changes from this GitHub Issue. See the [v151114 announcement](http://zencache.com/zencache-pro-v151114-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#579).

[2015-11-14 02:28] raamdev commented on #580
**ZenCache v151114** has been released and includes changes from this GitHub Issue. See the [v151114 announcement](http://zencache.com/zencache-pro-v151114-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#580).

[2015-11-14 02:28] raamdev commented on #590
**ZenCache v151114** has been released and includes changes from this GitHub Issue. See the [v151114 announcement](http://zencache.com/zencache-pro-v151114-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#590).

[2015-11-14 02:29] raamdev commented on #504
**ZenCache v151114** has been released and includes changes from this GitHub Issue. See the [v151114 announcement](http://zencache.com/zencache-pro-v151114-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#504).

[2015-11-14 02:29] raamdev commented on #497
**ZenCache v151114** has been released and includes changes from this GitHub Issue. See the [v151114 announcement](http://zencache.com/zencache-pro-v151114-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#497).

[2015-11-14 02:29] raamdev commented on #555
**ZenCache v151114** has been released and includes changes from this GitHub Issue. See the [v151114 announcement](http://zencache.com/zencache-pro-v151114-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#555).

[2015-11-15 19:42] MarioKnight opened #613 "Auto-cache cron event removed?"
I just updated to ZenCache pro v151114 earlier.  As I have done with any plugin updates, I went to call the manual cron event `_cron_zencache_auto_cache` to rebuild the site's cache following the cache being cleared after plugin updates.  I did this today for the first time after installing the new version, and I received the following message:

`Error: Invalid cron event '_cron_zencache_auto_cach

[2015-11-16 12:55] jaswrks commented on #608
@raamdev writes...

Is there a specific reason why you feel this should be configurable?

Now that I'm looking at this again, it seems like the expected behavior would be for ZenCache to clear everything whenever it's running in a standard WP installation, right? So if that's the case, then maybe we just need to tell ZenCache that on a standard installation a cache clearing should clear all domain

[2015-11-16 18:47] MarioKnight commented on #613
This seems like #603 could be related, however this also seems to be an isolated incident.  I only rolled this on my main personal site yesterday which is why I reported, however today I started rolling this out to the other sites on my personal server and a couple of servers with client sites at work, and all sites I randomly checked had the `_cron_zencache_auto_cache` cron event intact after the

[2015-11-16 19:48] MarioKnight commented on #613
To add, when I attempt to re-create the cron event in two different scenarios (WP-CLI and a PHP script), while I can get `_cron_zencache_auto_cache` back in the event list, actually running the event does not have the cache actually being rebuild, even though I get a success message.  I've removed it pending any advice that can be given.

[2015-11-16 21:12] raamdev commented on #608
@jaswsinc If we visit aliased domain `alias.com`, generate a cache file that goes in `cache/alias-com/`, and then visit the primary site on `example.com` and update the post we visited via `alias.com`, then the automatic routines that clear the cache file for that post will only look in `cache/example-com/`, right? That seems like the problem with aliased domains.

An aliased domain is essentially

[2015-11-16 21:18] raamdev commented on #613
@MarioKnight Interesting. Thanks for the report. This does sound like #603 might be related, but it could also be something else. Here are a few questions:
- How did you install the update? Via the built-in Pro Updater? Is this how you updated the other sites as well?
- Are all these sites running the same version of PHP? (You mentioned the cron event showing up fine on "other sites on my personal

[2015-11-17 00:22] moretarman opened #614 "3rd Party Plugin Compatibility: Slider Revolution"
I installed the pro version of Zencache, and enabled the HTML Compression option. All of the pages are properly minimized and compressed on the site, including those making use of Visual Composer.

However, the one page that has the Slider Revolution plugin active refused to compress (HTML/JS/CSS). The unminified page still caches, though.

[2015-11-17 01:00] renzms commented on #424
@jaswsinc PR submitted! :+1:

[2015-11-17 01:21] shazzygh commented on #607
Hey,
user who sent the original request here. Thanks for working on this!

Just wanted to note that I'm using `$GLOBALS['wp_rewrite']->pagination_base = 'seite';` to do the translation job as well (not sure if it's the only way, but the most popular for sure).

[2015-11-17 01:21] KTS915 opened #615 "Warning about lack of xml sitemap when the sitemap exists"
This relates to the new feature released and documented at Issue #555.

I tried the RC with this feature, using the Simple WP Sitemap plugin, and had no problems. I had the same flawless experience when I then installed the public version -- except on one site, where it claimed that there was no sitemap.xml, even though the sitemap plugin was already activated and my browser could locate the sitem

[2015-11-17 07:46] jaswrks commented on #614
@moretarman Thanks for the report! :-)

You're talking about this plugin right? http://codecanyon.net/item/slider-revolution-responsive-wordpress-plugin/2751380 ~ Is there a free version that we can test against?

[2015-11-17 07:53] jaswrks commented on #613
@raamdev I think this issue (and perhaps #603 too) are both related to the bug I outlined for Kristine in this PR. I just stumbled into this while reviewing her work. See: https://github.com/websharks/zencache-pro/pull/174#issuecomment-157280435

In short, `__NAMESPACE__` in the CRON event schedule should be set to `GLOBAL_NS`.

[2015-11-17 08:04] jaswrks commented on #608
Correct. That is the problem in my view also. The assumption (for the moment) is that a standard WP installation is only ever associated with one domain name. The `home_url()` domain.

Copy that. I agree. I hadn't considered the _automatic_ clearing routines also.

I agree. I'm marking this as **Needs Research**.

[2015-11-17 08:25] jaswrks commented on #615
@KTS915 Thanks for the report! :-)

_Referencing: https://github.com/websharks/zencache-pro/blob/151105/src/includes/classes/AutoCache.php#L246-L258_

This warning occurs whenever:
- You have the ZenCache Auto-Cache Engine enabled, and:
  - The `/sitemap.xml` file leads to any HTTP status code that is >= 400; e.g., a 404 error.
  - The `/sitemap.xml` file is loaded without an XML `Content-Type` he

[2015-11-17 18:22] moretarman commented on #614
Yes, that's the one. Let me know if there's anything I can do to help you track down the issue

[2015-11-17 21:59] raamdev commented on #614
@moretarman Is there a free version of the plugin that we can test with?

[2015-11-17 22:02] raamdev commented on #615
@KTS915 Would it be possible to get the output of `phpinfo()` on that site so that we can review the PHP configuration? It sounds to me like there _might_ be an issue with that server connecting to its own URL.

[2015-11-17 22:11] raamdev commented on #472
@jaswsinc @kristineds It appears the option for this got added to the Auto-Cache Engine section of the UI, however from what I can tell this is not related to the Auto-Cache Engine but rather to Cache Expiration and therefore belongs in **ZenCache → Plugin Options → Directory / Expiration Time**.

The description for this option also needs to be updated to remove any mention of the Auto-Cache Engi

[2015-11-17 22:49] moretarman commented on #614
I checked if there was a free version, but I couldn't find one.

[2015-11-18 00:21] raamdev commented on #614
@moretarman Thank you. Unfortunately that makes this difficult to test. I'll leave this GitHub issue open so that we can look into acquiring a copy of that plugin to test against.

[2015-11-18 00:34] KTS915 commented on #615
@raamdev,

I've installed the WordPress phpinfor{} plugin. There's an awful lot of info here! Which bit do you need? Just the PHP Variables?

[2015-11-18 00:36] raamdev commented on #615
@KTS915 If you can copy/paste all of it into an "unlisted" http://pastebin.com and then paste the link on Slack (so it stays private), I should be able to find the bit(s) that I need.

[2015-11-18 01:21] raamdev opened #616 "Auto-Cache Engine XML Sitemap Error Notice Only Shows Once Every 15 Minutes"
The Auto-Cache Engine currently displays a Dashboard notice whenever the configured XML Sitemap location is not accessible; see [src/includes/classes/AutoCache.php#L246-L258](https://github.com/websharks/zencache-pro/blob/151105/src/includes/classes/AutoCache.php#L246-L258)

![2015-11-17_20-12-45](https://cloud.githubusercontent.com/assets/53005/11229891/200c61d6-8d68-11e5-96f5-f5fe86ac9c81.png)

[2015-11-18 01:22] raamdev commented on #616
Related issues: #615 #555

[2015-11-18 01:28] raamdev commented on #615
@KTS915 I just discovered an issue with the error reporting in that notice; see https://github.com/websharks/zencache/issues/616. The problem is that once you dismiss the notice, _it will never reappear_, even if the problem still exists. This was an oversight in the creation of that notice, so I opened https://github.com/websharks/zencache/issues/616 to resolve that in the next update.

For now,

[2015-11-18 01:28] #615 closed, assigned to jaswrks

[2015-11-18 01:47] moretarman commented on #614
I've asked the developers of I can temporarily transfer my license to you, I'll keep you posted

[2015-11-18 03:34] kristineds commented on #472
@raamdev @jaswsinc Submitted PRs for Steps 1 and 2 (updated version)
- [Step 1 of 2: Add hourly option on `purge_cache()` method ](https://github.com/websharks/zencache-pro/pull/174#issuecomment-157570692)
- [Step 2 of 2: Add UI option for cache cleanup schedule ](https://github.com/websharks/zencache-pro/pull/180)

[2015-11-18 12:09] mastermikeywwt commented on #597
I'm having issues with this on my website at the moment. Stock levels are often out of date and I don't know what to do about it. Clearing the cache frequently isn't an option either because then the site is too slow. Is there any workaround to get it to re-cache product pages when stock levels are updated?

[2015-11-18 17:42] Kalfer opened #617 "Error message with .htaccess [ZenCache Pro 151114]"
When I make any changes to the settings, and pulse on "**Save All Changes**", I get the following error message:

_"Failed to update your /.htaccess file automatically. Most likely a permissions error. Please make sure it has permissions 644 or higher (perhaps 666). Once you've done this, please try saving the ZenCache options again."_

This did not happen in previous versions of ZenCache Pro.
The

[2015-11-18 19:05] moretarman commented on #614
All right, the developers have confirmed that I can send you guys a copy to test locally. Do you have an email address where I can send it?

[2015-11-18 19:16] jaswrks commented on #616
Why do you say that they will never see it again? Unless I am missing something, if you dismiss the notice, but the error occurs again, the notice comes back each time. You must dismiss the notice each time the error occurs.

Agree.

[2015-11-18 19:18] raamdev commented on #614
@moretarman You can use the following link: http://bit.ly/1OQOJO9 (expires in 24 hours). Please let me know when you've submitted it.

[2015-11-18 19:40] raamdev commented on #617
@Kalfer The latest release adds a new feature that writes necessary code to the `.htaccess` file and that feature did not exist in previous releases, hence the reason you're only now seeing that error message.

A few questions:
- Are your **WordPress Address (URL)** and **Site Address (URL)** (in **Dashboard → Settings -- General**) different or the same?
- Is your `.htaccess` located inside the W

[2015-11-18 19:42] raamdev commented on #616
Hmm, you're right. When I initially tested this, dismissing the notice did not seem to remove the notice from the database, however I just tested it again and this time I see that dismissing the notice removes it from the database and therefore the next time this error occurs, the notice reappears.

I've updated the GitHub issue above to reflect only the changes necessary to improve this notice an

[2015-11-18 19:53] raamdev commented on #597
@mastermikeywwt We don't have an immediate answer, unfortunately. Is there a way? Yes, I'm fairly certain there is, but it will require some research and digging into the WooCommerce codebase. That will happen whenever this gets added to a development cycle. We prioritize bugs over everything else, and then it mostly goes by interest. The more votes this issue gets, the more quickly we can spend t

[2015-11-18 21:02] raamdev commented on #472
@kristineds @jaswsinc Also noting that the following text in Cache Expiration Time needs to be updated to reflect the new hourly schedule (it currently says "once daily", it should now say "once per hour"):

[2015-11-18 23:50] renzms commented on #498
@jaswsinc
Hi, just pushed step 1, I'll have a go at step 2 to try things on my own. If I have any trouble ,then I'll go ahead and sent you a message on slack. :+1:

[2015-11-18 23:57] kristineds commented on #472
@raamdev @jaswsinc That has been updated as part of the latest commit: https://github.com/websharks/zencache-pro/commit/d702eeb6858b8e209e94be68497c268fa4609711

[2015-11-19 01:04] moretarman commented on #614
I tried to attach the plugin on that page, but I received a "FILE IS TOO BIG" error message. (it's a 5 MB zip)

[2015-11-19 12:42] Kalfer commented on #617
Answers to your questions:

1- They have the same URL.
2- Both are on the same path. (/public_html)
3- My server uses PHP 5.4.32

Thanks

[2015-11-19 16:01] jaswrks commented on #498
@renzms I reviewed your work in Step 1. Looks fantastic! :100:

Awesomesauce! :smile:

[2015-11-19 16:18] jaswrks commented on #616
Cool. Copy that.

[2015-11-19 16:25] jaswrks commented on #617
@Kalfer Do you have `DISALLOW_FILE_MODS` defined in your `/wp-config.php` file?
- e.g., `define('DISALLOW_FILE_MODS', true);`

---

If so, try removing that or setting it to false and try again.
- i.e., `define('DISALLOW_FILE_MODS', false');`

[2015-11-19 16:33] jaswrks commented on #614
Very sorry about this. I bumped this limit up to 7MB max so you should be able to do this now. Please try this again when you get a moment. Here is a new link in case the old one expired. http://bit.ly/1PChOwJ

---

_Noting that we can now accept up to 7MB uploads; same as Zendesk limit._

[2015-11-19 19:25] MarioKnight commented on #613
I'm sorry for the delay, it's been a hectic couple of days.
- All updates were installed via the Pro Updater.  I hope to script something at some point, but have not started to do so yet.
- My personal server and the newest work server run 5.6.15, two of the other work servers run 5.4.45.
- I have tried to not use too many, I don't believe it is a conflict, but I won't rule it out just yet.
- Yes,

[2015-11-19 19:27] moretarman commented on #614
All right, got it through!

[2015-11-19 20:06] Kalfer commented on #617
Not, my wp-config.php does not have that line of code.

Thanks

[2015-11-19 20:14] patdumond opened #618 "XML Sitemap Not Found Notification When Sitemap Exists(v151114)"
Reference:
https://websharks.zendesk.com/agent/tickets/9511
https://websharks.zendesk.com/agent/tickets/9568
https://websharks.zendesk.com/agent/tickets/9567
https://websharks.zendesk.com/agent/tickets/9573
https://websharks.zendesk.com/agent/tickets/9583

In addition to the five tickets listed above, I've experienced this on four of my sites, including my non-Multisite test site.

After updating

[2015-11-19 21:28] raamdev commented on #618
@patdumond Thank you very much for documenting this here.

@jaswsinc I have a feeling some of these reports (especially any _persistent_ reports of the XML Sitemap missing when it in fact exists) might be related to misconfigured servers. I've seen a fairly common issue where local DNS is not configured properly which results in the hostname for the site hosted on the server not being accessible _

[2015-11-19 21:52] jaswrks commented on #618
@raamdev writes...

Agree.

@patdumond writes...

On that site, if you can run the following test it might shed light.
- Create this PHP test file in the root of your WordPress installation please.
  `/xml-sitemap-test.php`

[code]
- In the above code snippet, change `http://example.com/sitemap.xml` to your Sitemap URL.
- Open `http://example.com/xml-sitemap-test.php` in a browser and paste the ou

[2015-11-19 22:01] raamdev commented on #614
@moretarman Can you tell me the ticket number?

[2015-11-19 22:24] moretarman commented on #614
9590 I think

[2015-11-19 22:28] patdumond commented on #618
Well, I went to run that test on my stubborn site and the message had disappeared. I know it was still there yesterday afternoon, because I logged in specifically to check that before closing up everything for the night.

[2015-11-19 22:39] ufufufu commented on #618
Just run the code above, and below is the output:-

[code]

[2015-11-19 22:53] jaswrks commented on #618
@ufufufu Very helpful. Thanks!

If you wouldn't mind, can you run one more test, but this time with this alternate code snippet that uses `wp_remote_head()` instead please.

[code]

[2015-11-19 23:02] ufufufu commented on #618
The result has considerably different formatting (no line-breaks):-

[code]

[2015-11-19 23:10] jaswrks commented on #618
@ufufufu Thank you. Both of those tests show that WordPress is properly identifying that you do in fact have `https://imouto.my/sitemap.xml`. Couple of questions for you.
- Do the test results change at all when you alter the scheme; i.e., `http://` vs. `https://` for the URL?
- Can you confirm that you are in fact still seeing the warning notice in ZenCache regarding a missing sitemap?

[2015-11-19 23:20] jaswrks commented on #618
Also, are you running a WordPress Multisite Network or a standard installation?

[2015-11-19 23:26] ufufufu commented on #618
1) If I use `http://` instead, I will get the output below:-

[code]

This is by using the...

[code]

...script.

BTW, unless I also clear the opcache. the script's output will be cached.

Also, I've configured Apache to always redirect to https and remove the www. portion of the URL using the code below in Apache configuration.

[code]

Therefore, if I load http://imouto.my/sitemap.xml on my bro

[2015-11-19 23:30] jaswrks commented on #618
Thank you very much for that info. What URL is defined in your WordPress General Options? i.e., what do you have here please? I'm curious to see if perhaps ZenCache is attempting to access the `http://` variation by mistake.

![2015-11-19_14-29-41](https://cloud.githubusercontent.com/assets/1563559/11287674/ffa13990-8ec9-11e5-9ec0-af130b1224ca.png)

[2015-11-19 23:33] jaswrks commented on #618
@ufufufu I see that the error report you pasted shows:

[code]

That is incorrect altogether, because that's an invalid host name.

Looking at your `.htaccess` file, I see this line that is causing that.

[code]

_It is stripping the `/` away and creating an invalid host name in the redirection._

It should be:

[code]

Or this would also work:

[code]

[2015-11-19 23:45] jaswrks commented on #618
@raamdev One possible reason for this could be Multisite Network installations. I'm seeing [this block of code](https://github.com/websharks/zencache-pro/blob/151105/src/includes/classes/AutoCache.php#L77-L89) where ZenCache is actually trying to find an XML Sitemap for each child blog in the network, and that's not always going to be the case; i.e., the Main Site in the Network may be the only lo