[2015-11-19 23:52] raamdev commented on #614
@moretarman I spent the past hour reviewing the Revslider plugin and testing it against the ZenCache HTML Compressor. I'm not seeing any immediate fix on our end and it's not entirely clear to me why Revslider is breaking the HTML Compressor.

I did find that if I disable the HTML Compressor option to "combine CSS/JS from remote resources" (**ZenCache → Plugin Options → HTML Compression → HTML Com

[2015-11-20 00:27] ufufufu commented on #618
Yeah, after editing the relevant .conf file, now both `http://` and `https://` has the same output.

In 'General Options', both fields contains the correct info.

[2015-11-20 00:37] jaswrks commented on #618
@ufufufu Thanks! And you're not running a Multisite Network, right?

[2015-11-20 00:38] ufufufu commented on #618
Yes, only a single standard installation.

[2015-11-20 04:17] kristineds commented on #600
@jaswsinc: Here you go. Please check if I missed anything. ;)

_Note: I'm using the `clock` sharkicon for Custom Routine option. If you want to change it to something else, let me know._

![Custom Routine Clock icon](https://cloud.githubusercontent.com/assets/7514953/11291939/c61a4d52-8f81-11e5-8524-7615d2ff09f5.png)

---

## Next Actions (Step 1 of 2)

Add new UI option called "Custom Routine" in

[2015-11-20 08:11] xgiovio opened #619 "HTML Compressor- No page compressed"
Upgraded to pro some months ago. After the last update the html compressor is completely broken. All enabled but no page compressed. http://www.xgiovio.com

[2015-11-20 08:43] jaswrks commented on #600
@kristineds That's excellent work! I may have a couple of suggestions, but I'd like to ask Raam a question or two before I make any comments about your outline thus far.

@raamdev I'm seeing some potential for confusion once this new feature is added. Notice that ZenCache already allows for Custom Code to be entered here.

![2015-11-19_23-26-00](https://cloud.githubusercontent.com/assets/1563559/1

[2015-11-20 09:04] jaswrks commented on #617
@Kalfer Thank you. Interesting. I'm not seeing any reason for you to get that error then.

Would you mind running a test for me?

## Debugging Steps
- Enable ZenCache, if you haven't already.
- Using FTP, create this file in the root of your WordPress installation, in the same directory as `wp-config.php`. Name the file: `zencache-test.php`

[code]
- Open `http://yoursite.com/zencache-test.php` in

[2015-11-20 09:36] Kalfer commented on #617
Hi,
I send the test result:

/home/cubierta/public_html/
/home/cubierta/public_html/.htaccess
bool(true)
bool(true)
Array
(
    [0] => 118
    [1] => 26345482
    [2] => 33188
    [3] => 1
    [4] => 502
    [5] => 513
    [6] => 0
    [7] => 1268
    [8] => 1447954233
    [9] => 1442395252
    [10] => 1447867586
    [11] => 4096
    [12] => 8
    [dev] => 118
    [ino] => 26345482
    [mode] => 3

[2015-11-20 16:23] jaswrks commented on #617
@Kalfer Thank you. That narrows it down quite a bit. What I am left with in terms of debugging, is [this line of code](https://github.com/websharks/zencache-pro/blob/151105/src/includes/closures/Plugin/HtaccessUtils.php#L96). In short, if your existing `.htaccess` file already has something in it related to ZenCache, it might be causing you this problem.

Can you paste the contents of your `.htacc

[2015-11-20 16:32] jaswrks commented on #617
@raamdev One possible cause, is [this line of code](https://github.com/websharks/zencache-pro/blob/151105/src/includes/closures/Plugin/HtaccessUtils.php#L96). Notice that just above this line, we are stripping the `.htaccess` tweaks that were inserted by ZenCache, and then checking to confirm that they were in fact removed. However, that check is simply scanning for any remaining instances of the

[2015-11-20 18:34] moretarman commented on #614
I reached out to the Revslider people, and here's what they said:

Thanks for the update. The best thing to do would be to have the ZenCache team contact us directly, and then we can work with them to solve the issue.

So, there you go. It's funny how that one slider breaks the compression, whereas all the others are fine. I bet it has something to do with the strangish XML data that's included on

[2015-11-20 20:18] raamdev commented on #613
I'm copying @patdumond's comment from https://github.com/websharks/zencache/issues/603 so that we can keep all reports for this in one place (this issue has more updates, so I'm favoring keeping this one open):

---

@patdumond writes...

[2015-11-20 20:19] raamdev commented on #603
@patdumond I'm moving this to https://github.com/websharks/zencache/issues/613#issuecomment-158513720 (that issue reports the same issue and has more updates).

[2015-11-20 20:19] #603 closed, assigned to nobody

[2015-11-20 20:21] raamdev commented on #613
@jaswsinc writes...

That bug did not exist in v151105, so this issue must be the result of something else.

[2015-11-20 20:57] raamdev commented on #614
@moretarman Do you have an email address or link to a contact page where I can contact the Revslider developers? I did a Google search but didn't find anything. It seems like the only way to reach their support is by purchasing.

[2015-11-20 21:29] jaswrks commented on #613
Copy that. My mistake. That bug was introduced while working on a PR, never in the official copy.

[2015-11-20 23:14] raamdev commented on #472
Next Pro Release Changelog:
- **Enhancement**: The automatic Cache Cleanup schedule that cleans up (deletes) expired/stale cache files has been changed from once every day to once every hour. Running the cleanup hourly makes ZenCache smarter when configured in certain ways and saves disk space. Props @kristineds. See [Issue #472](https://github.com/websharks/zencache/issues/472).
- **New Feature!*

[2015-11-20 23:14] #472 closed, assigned to kristineds

[2015-11-21 01:00] renzms commented on #498
@jaswsinc

Here's my take on step 2, submitting PR as well. The placement, style and the wording I'm sure are subject to change.

![plugin options renz s test area wordpress](https://cloud.githubusercontent.com/assets/13220018/11315512/133b3b62-902e-11e5-95eb-134d096d8c2b.jpg)

[2015-11-21 17:43] Kalfer commented on #617
Here my .htaccess :

# -FrontPage-

IndexIgnore .htaccess _/.??_ _~ *# */HEADER_ _/README_ _/_vti_
<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName XXXXXXX.com
AuthUserFile /home/XXXX/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/XXXX/public_html/_vti_pvt/service.grp

# BEGIN WordPress

<IfModule mod_

[2015-11-21 23:24] raamdev commented on #617
@Kalfer Thank you very much! I have confirmed this is a bug caused by the presence of an existing occurrence of the word `zencache` inside your `.htaccess` file.

If you simply rename `# Para Zencache` and `# END Zencache` to `# Para ZC` and `# END ZC` and then click "Save All Changes" inside the ZenCache Options panel (no need to change any settings; just click the "Save All Changes" button), the

[2015-11-21 23:46] raamdev commented on #617
@jaswsinc writes...

Yup, that's exactly what's happening. I just confirmed this using the snippet of code from @Kalfer's `.htaccess` on my test site--I got the same Dashboard error that he reported.

So do you think we should just remove [that check](https://github.com/websharks/zencache-pro/blob/151105/src/includes/closures/Plugin/HtaccessUtils.php#L96) altogether? I reviewed the codebase and I'

[2015-11-22 00:00] jaswrks commented on #617
I love this idea. That would be perfect.

[2015-11-22 00:09] raamdev opened #620 "ZenCache removes custom htaccess rules that use # BEGIN/END ZenCache comment markers"
## Steps to reproduce this bug
1. Install and activate ZenCache Pro v151114
2. Add some rules to your `.htaccess` file that include start and end marker comments like the following:

[code]
3. Enable the ZenCache Pro Static CDN Filters (**ZenCache → Plugin Options → Static CDN Filters**)
4. Click "Save All Changes" at the bottom
## Expected Behavior

ZenCache should _add_ any necessary rules to th

[2015-11-22 00:16] raamdev commented on #620
@raamdev writes in https://github.com/websharks/zencache/issues/617#issuecomment-158691271...

@jaswsinc writes in https://github.com/websharks/zencache/issues/617#issuecomment-158691752...

[2015-11-22 00:24] raamdev commented on #620
The original bug reported by @Kalfer in https://github.com/websharks/zencache/issues/617 exhibited itself by the following Dashboard message that appeared when saving the ZenCache options despite the `.htaccess` file being writable:

![2015-11-21_19-18-14](https://cloud.githubusercontent.com/assets/53005/11321227/0121874a-9085-11e5-962b-04bd81c359f2.png)

The issue there was that @Kalfer's existin

[2015-11-22 00:25] raamdev commented on #617
@Kalfer I'm going to close this issue in favor of the bug report that I opened here: https://github.com/websharks/zencache/issues/620 Fixing that bug will solve the problem you described here (which I re-described in this comment: https://github.com/websharks/zencache/issues/620#issuecomment-158693865). Thanks so much for helping us debug this! We'll get this fixed in the next release. If you'd li

[2015-11-22 00:25] #617 closed, assigned to nobody

[2015-11-22 00:27] raamdev commented on #620
@jaswsinc writes...

So a simple static string in the comment should suffice, right? I was thinking we could dynamically generate a unique string on a per-site basis, but that seems unnecessary and asking for trouble (e.g., if the `.htaccess` gets copied to another site/server the generated string won't match).

[2015-11-22 00:31] raamdev commented on #618
Related: https://github.com/websharks/zencache/issues/616

[2015-11-22 00:32] raamdev commented on #616
Related: https://github.com/websharks/zencache/issues/618

[2015-11-22 00:43] raamdev commented on #618
@jaswsinc writes...

So should we change the behavior so that by default only the Main Site is used for an XML Sitemap and then have an option (that appears when Network Activated) that allows a site owner to specifically enable "Check Each Child Blog For an XML Sitemap"?

If we did that, we'd also need to update the [XML Sitemap error message](https://github.com/websharks/zencache-pro/blob/151105

[2015-11-22 00:46] raamdev commented on #619
@xgiovio This sounds related to your theme and/or a plugin that you have installed. We need more details about the issue to begin troubleshooting. If you could try disabling plugins one-by-one, and temporarily switching to the default Twenty Fifteen theme, that would help narrow down the issue.

You could also try tweaking the HTML Compressor options to see if enabling/disabling certain features f

[2015-11-22 01:29] xgiovio commented on #619
I enabled the pro 2 months ago. I didn't have any problem. The last updates broken the functionality

[2015-11-22 18:11] Kalfer commented on #617
Hi @Raam Dev,

I've made these changes, and now the error does not appear.
Thank you.

[2015-11-22 19:25] moretarman commented on #614
Their support told me you could email: info@themepunch.com

[2015-11-22 21:05] raamdev commented on #614
I sent them an email and will update here again when I hear back.

[2015-11-22 21:08] raamdev commented on #619
@xgiovio We have been unable to reproduce the issue you describe above. Please [Test ZenCache in a Clean WordPress Installation](http://zencache.com/kb-article/testing-zencache-in-a-clean-wordpress-installation/) and provide us with a list of steps to reproduce the issue. Until we can reproduce the issue, we have no way of debugging it.

[2015-11-22 21:19] xgiovio commented on #619
I can't understand this type of logic. If the software is bugged and i test it on a clean wordpress env , we wouldn't resolve the issue. The html compressor worked with a previous version. I have no time to disable and test your plugin for my cause. I've paid a software and i would have a working plugin. I shouldn't lose time debugging the issue. Am i wrong? I can list my installed plugin but you

[2015-11-22 23:40] raamdev commented on #502
@jaswsinc writes in https://github.com/websharks/zencache/issues/502#issuecomment-135763648...

Reviewing this issue and the related PRs (https://github.com/websharks/zencache-pro/pull/144 and https://github.com/websharks/zencache-pro/pull/136) I see that the Lite version was never addressed, i.e., when we generate a Lite version from the Pro codebase, this enhancement (showing the version number

[2015-11-23 18:39] raamdev commented on #619
@xgiovio Have you read [Testing ZenCache in a Clean WordPress Installation](http://zencache.com/kb-article/testing-zencache-in-a-clean-wordpress-installation/)? Let me quote you the first part of that article, which addresses your questions:

[2015-11-23 22:25] jaswrks commented on #617
@Kalfer Great! Thanks for the feedback on this.

[2015-11-23 22:30] jaswrks commented on #618
Yes, I agree with that approach. I don't think that's any big deal. A simple checkbox to flick that on seems worth it to me; i.e., not feature creep IMO.

That, in concert with the checkbox, sounds like a good idea to me. We can just disable error reporting for child blogs and let the log file suffice in that instance. If a network admin really wants to look closer they can go to the log for this

[2015-11-23 22:32] jaswrks commented on #620
Yeah, good point. I agree, something that is always the same in every copy of ZenCache, but unique enough that it will not clash with anything else in that file; e.g., ZenCache base64 encoded: `WmVuQ2FjaGU=`

[2015-11-23 22:37] jaswrks commented on #498
@renzms Lookin' good!

@raamdev originally wrote...

So there should be a checkbox option under the URI Exclusion patterns.

[2015-11-23 22:39] jaswrks commented on #619
I was also unable to reproduce this in a clean installation.

@xgiovio What are the _exact_ steps to reproduce in a clean install?

[2015-11-23 23:40] jaswrks commented on #502
@raamdev I added support for this. Please review: https://github.com/websharks/zencache-pro/pull/186

[2015-11-24 22:16] raamdev opened #621 "Feature Request: Option to display notification when Release Candidate is available (Lite version)"
In https://github.com/websharks/zencache/issues/352 we added the ability for the Pro Plugin Updater to check for the latest Release Candidate. While the Lite version doesn't use the Pro Plugin Updater (it updates via WordPress.org), it would be nice to provide Lite users with an option to be notified when a new Lite RC is available.

This could just be a Dashboard notice that shows up with a link

[2015-11-25 12:19] renzms commented on #498
@jaswsinc

Updated, tested and submitting PR for review. Thanks!

![plugin options renz s test area wordpress 1](https://cloud.githubusercontent.com/assets/13220018/11397076/a4cf7fa8-93b1-11e5-8d1a-97d17d189419.jpg)

Options:
![screen shot 2015-11-25 at 8 16 22 pm](https://cloud.githubusercontent.com/assets/13220018/11397092/c5b968be-93b1-11e5-8913-d20bff3d6d83.png)

[2015-11-25 15:40] raamdev opened #622 "ZenCache welcome message shows when plugin is already enabled (dev version)"
The new ZenCache welcome message (currently only available only in the dev version of ZenCache) shows even after upgrades, when the ZenCache plugin is already active:

![2015-11-25_10-38-13](https://cloud.githubusercontent.com/assets/53005/11401491/ce8c27ac-9360-11e5-9f8c-90b255f10cd5.png)

This should only be shown when the plugin is not already active, as it's redundant to show it to site owners

[2015-11-25 17:32] patdumond opened #623 "Use `updated_user_meta` Instead of `update_user_metadata`"
Reference: https://websharks.zencache.com/agent/tickets/9475

User experienced problems with logged-in user caching. The user did some troubleshooting and found that `autoClearUserCacheFA2` is called on every page load when a User is logged in. Then narrowed it down that the filter `update_user_metadata` in `Plugin.php` is what is triggering `autoClearUserCacheFA2` on every page load. So the user

[2015-11-25 17:45] raamdev commented on #622
Closed by https://github.com/websharks/zencache-pro/issues/188

[2015-11-25 17:45] #622 closed, assigned to nobody

[2015-11-25 17:57] patdumond opened #624 "ZenCache + PHP 5.6 FASTCGI = Internal Server Error"
Reference: https://websharks.zendesk.com/agent/tickets/9600

User reported an `Internal Server Error` when running ZenCache with PHP 5.6 FASTCGI. User determined the issue was ZenCache and PHP 5.6 FASTCGI using sound troubleshooting techniques (see referenced ticket). Error logs summarized below:

[code]

[2015-11-25 18:16] jaswrks commented on #624
ZenCache uses output buffering which can exacerbate problems in some buggy versions of PHP. I'd suggest a review of [this thread](http://stackoverflow.com/questions/2247977/what-does-zend-mm-heap-corrupted-mean), followed by attempts to alter the PHP configuration in subtle ways. Or, perhaps upgrading to a slightly newer (or slightly older) version of PHP to see if that resolves this.

_Note: I'm

[2015-11-25 18:17] raamdev commented on #620
Next Pro Release Changelog:
- **Bug Fix**: Fixed a bug that was generating a "Failed to update your `/.htaccess` file" error message. The routines that update your `.htaccess` file were failing if your `.htaccess` file already contained the word "ZenCache" (case-insensitive). See [Issue #617](https://github.com/websharks/zencache/issues/617) and [Issue #620](https://github.com/websharks/zencache/i

[2015-11-25 18:17] #620 closed, assigned to nobody

[2015-11-25 18:28] jaswrks commented on #623
Agree! Referencing: https://github.com/WordPress/WordPress/blob/bc1e479fd03b95c5b977726878adcc19ffd38832/wp-includes/meta.php#L268

[2015-11-25 19:47] raamdev commented on #498
@renzms Looking nice! Thank you. Here's some feedback:
- [x] Move these new options to the very bottom of the Client-Side Cache panel (**ZenCache → Plugin Options → Client-Side Cache**), as I feel it makes more sense to go there. (Having it in the URI Exclusion Patterns panel makes things confusing: two different types of URI Exclusion Patterns). Also, URI Exclusion Patterns are far more likely to

[2015-11-26 06:46] kristineds commented on #418
Requested here:  https://websharks.zendesk.com/agent/tickets/9708
~ edit by @jaswsinc (this is an internal private ticket link)

[2015-11-26 08:41] renzms commented on #498
@raamdev

Changes made! Submitting PR. Thanks for feedback. Please see screenshot below for changes:
![plugin options renz s test area wordpress 2](https://cloud.githubusercontent.com/assets/13220018/11418614/7209a17e-945c-11e5-9da8-f689138f6971.jpg)

[2015-11-26 18:03] raamdev commented on #498
@renzms Thanks! Feedback here: https://github.com/websharks/zencache-pro/pull/183#issuecomment-159969987

[2015-11-26 19:20] raamdev commented on #624
Also reported here (internal ticket): https://websharks.zendesk.com/agent/tickets/9635

[2015-11-27 02:52] rballengee commented on #615
Hi, I stumbled on this thread this evening, frustrated and looking for answers. About a week ago, I first installed ZenCache, hoping it might provide a caching solution that wouldn't upend a WPMU membership plugin. It did, with some thinking, but it unfortunately has killed my sitemaps' compatibility with Google Webmasters Tools.

Although I didn't make a change in my sitemap plugin (XML Sitemap &

[2015-11-27 02:55] eurobank opened #625 "ZenCache Lite 151107, Editors Saving a Draft sees Notices"
My Editor (editors WP class) sometimes he sees notices from ZenCache about refreshing the Home Page when SAVING a DRAFT blog post.

"ZenCache: detected changes. Found 1 file in the cache for the designated "Home Page"; auto-clearing."

Two problems: the Editors shouldn't see anything IMHO, and ANYONE saving a draft should not clear the Home Page or whatever.

Thanks !

[2015-11-27 03:19] KTS915 commented on #615
@rballengee,

Are you caching logged-in members?

[2015-11-27 03:25] rballengee commented on #615
I'm not

On Thu, Nov 26, 2015 at 10:19 PM, KTS915 notifications@github.com wrote:

[2015-11-27 03:37] KTS915 commented on #615
Hmm, OK. I am still wondering whether having protected pages is somehow relevant (perhaps because Google can't access all the pages in the sitemap).

[2015-11-27 03:47] rballengee commented on #615
I'm starting to suspect the same. Went into GWT since, as you'd expect, I
have a hike in Soft 404s, and had Google fetch some of the URLs, including
the sitemap.

All return: Fatal error&lt;/b&gt;: Call to a member function
add_membership() on a non-object in
&lt;b&gt;/home/thegol5/public_html/wp-content/plugins/membership/app/addon/searchindex/class-ms-addon-searchindex.php&lt;/b&gt;
on line &lt;

[2015-11-27 23:10] raamdev commented on #607
Next Pro Release Changelog:
- **Bug Fix**: Fixed a bug with clearing cache files for paginated pages where the `pagination_base` had been changed from the default `page` to something else (e.g., a translated string). The WP Rewrite API is now used to include `pagination_base` and `comments_pagination_base` when building paths to cache files to determine which cache files should be cleared. Props @

[2015-11-27 23:10] #607 closed, assigned to renzms

[2015-11-27 23:45] raamdev commented on #459
@jaswsinc writes...

Does the behavior introduced by https://github.com/websharks/zencache-pro/pull/173 match the above? I don't think it does, but I wanted to double-check.

AFAIK, https://github.com/websharks/zencache-pro/pull/173 _only_ adds a new menu item to the Clear Cache options menu in the Admin Bar that allows site owners to clear _Expired_ Transients, correct?

Is there any reason we do

[2015-11-27 23:46] jaswrks commented on #625
Thanks for that feedback.
- As it exists now, anyone who can `activate_plugins` can see those notices.
- You can also hide these notices entirely in ZenCache Pro.

Agree. This has been fixed in the pro version, and we will push those changes to the lite version soon.

To confirm, I ran tests against both lite and pro just now.
- Saving a draft in pro version, no problem.
- Saving a draft in lite v

[2015-11-27 23:49] jaswrks commented on #459
Correct.

No. I agree with you.

[2015-11-27 23:59] raamdev commented on #459
In that case, I think a new Options Panel is in order (WP Transients).

There are [entire plugins](https://wordpress.org/plugins/transients-manager/) (see [this screenshot](https://s.w.org/plugins/transients-manager/screenshot-1.png?r=1296111)) dedicated to managing WP Transients and it would probably add a lot of value to ZenCache Pro to have a new options panel with three buttons to "Delete Expi

[2015-11-28 00:02] jaswrks commented on #459
Sounds like a really great idea to me. I also agree on the football strategy.

[2015-11-28 00:14] jaswrks commented on #623
@kristineds Would you like to take a shot at outlining this one all by yourself? I'm curious to see if you can search through the pro codebase and find our existing hook attached to `update_user_metadata`. Provide instructions for how to change this so that we are listening to [`updated_user_meta`](https://github.com/WordPress/WordPress/blob/bc1e479fd03b95c5b977726878adcc19ffd38832/wp-includes/met

[2015-11-28 00:37] raamdev opened #626 "Feature Request: New Options Panel for Managing WP Transients"
As a continuation of the enhancement that was added in https://github.com/websharks/zencache/issues/459 to allow clearing Expired Transients from the Clear Cache Options Menu in the Admin Bar (Pro version only), we should add a new options panel called "WP Transients" that allows a site owner to manage their WP Transients.

There are [entire plugins](https://wordpress.org/plugins/transients-manage

[2015-11-28 00:39] raamdev commented on #459
@jaswsinc I've forked the additional features to https://github.com/websharks/zencache/issues/626.

[2015-11-28 00:43] jaswrks commented on #626
Oh, nice mockup!

[2015-11-28 00:52] raamdev commented on #459
Next Pro Release Changelog:
- **New Feature!** It's now possible to clear [Expired WordPress Transients](https://codex.wordpress.org/Transients_API) from the Clear Cache Option Menu in the WordPress Admin Bar. The WordPress Transients API has no functionality to automatically clean up expired transients; doing so is left for plugin authors and we've found that very few plugins that use the Transie

[2015-11-28 00:52] #459 closed, assigned to kristineds

[2015-11-28 06:53] lkraav commented on #459
Can you elaborate on "properly"? I am aware of at least two strong plugins from prominent authors, where I am not aware of anything being done improperly. The above sounds like a randomish claim type of thing.

[2015-11-28 15:39] raamdev commented on #459
@lkraav By default, old transients are only deleted when requested again (after they've expired), so if a plugin uses the WP Transients API to create transients with an expiration, but then doesn't request them after the expiration, those expired transients will live on forever in the database (i.e., WordPress doesn't periodically clean up expired transients).

Plugins authors need to take that be

[2015-11-28 15:45] lkraav commented on #459
Oh, you're talking about plugins in general. For some reason I read the original text as "Transient cleaning plugins are mostly doing things improperly..."  (examples: https://wordpress.org/plugins/transients-manager, https://wordpress.org/plugins/delete-expired-transients/)

OK, all clear.

[2015-11-28 16:00] raamdev commented on #459
Right. :smile: No worries. That changelog entry could've been a bit more clear.

[2015-11-28 17:53] raamdev commented on #495
@jaswsinc It appears that somewhere between v151002 and v151114, this bug was reintroduced. We received a report (see [internal ticket](https://websharks.zendesk.com/agent/tickets/9673)) and I just tested Static CDN Filters with the following Permalink settings to confirm that ZenCache is rewriting all URLs that end with `.htm` (i.e., any links to posts/pages with the permalink ending in `.htm` is

[2015-11-28 18:33] raamdev commented on #495
@jaswsinc I was just reviewing [the code for this](https://github.com/websharks/zencache-pro/blob/151114/src/includes/classes/CdnFilters.php#L551-L557) and this looks to me like the bug might be with the assumption that `wp_get_mime_types()` returns an array that contains two separate keys for `htm` and `html`.

Looking at [`wp_get_mime_types()`](https://github.com/WordPress/WordPress/blob/4.3.1/w

[2015-11-28 19:01] raamdev opened #627 "Feature Request: Option to specify Roles/Capabilities allowed to see notifications on Dashboard"
_This issue is being forked from https://github.com/websharks/zencache/issues/625._

As of v151114, ZenCache Dashboard notices that announce when one or more cache files have been automatically cleared are shown to any users who can `activate_plugins`. I suggest that we make it possible to specify a comma-delimited list of Roles and/or Capabilities that can see the Dashboard notices (just like we

[2015-11-28 19:02] raamdev commented on #625
@eurobank I've created a feature request for the ability to define the Roles/Capabilities allowed to see the Dashboard notices: https://github.com/websharks/zencache/issues/627#issue-119313034

The fix for the bug with saving a Post as Draft clearing the Home Page will go out with the next release (within the next 2 weeks). Thanks for your patience! :-)

[2015-11-28 19:02] raamdev commented on #625
Next Lite Release Changelog:
- **Bug Fix**: Fixed a bug where saving a Post/Page as a Draft as a user with an Editor role would unnecessarily clear the Home Page cache. See [Issue #625](https://github.com/websharks/zencache/issues/625).

[2015-11-28 19:02] #625 closed, assigned to nobody

[2015-11-28 22:05] jaswrks commented on #495
Oh, good catch. I see this _was_ working properly, but now it is broken for some of those with more than one extension. Referencing: https://github.com/websharks/zencache-pro/blob/150821/src/includes/classes/CdnFilters.php#L544

That's my bad. I left that line out of the outline I posted in this issue prior.

The CDN Filter class runs as a part of the plugin (i.e., not in the early phase) but like

[2015-11-30 17:51] mastermikeywwt commented on #597
Hey sorry is there any update on this? We're still having the same issue unfortunately. Products stock levels change very frequently so its almost impossible to keep up with.

I'd love to help but unfortunately I don't think I have the skills to.

[2015-11-30 18:10] raamdev commented on #495
This already occurs:

![2015-11-30_13-10-17](https://cloud.githubusercontent.com/assets/53005/11480135/c2a2ce6c-9763-11e5-8139-bece52514248.png)

[2015-11-30 22:49] jaswrks commented on #495
aha! Great! I totally forgot that you added this.

[2015-12-01 00:11] jaswrks commented on #627
:+1:

[2015-12-01 00:44] raamdev commented on #495
Next Pro Release Changelog:
- **Bug Fix**: Fixed a bug with the Static CDN Filters that affected sites using a permalink structure that ended with `.htm` or `.html`. This bug was supposed to be fixed back in v151002 but another bug prevented the fix from working properly. This release fixes the issue once and for all. See [Issue #495](https://github.com/websharks/zencache/issues/495#issuecomment-1

[2015-12-01 00:44] #495 closed, assigned to nobody

[2015-12-01 01:24] #502 closed, assigned to renzms

[2015-12-01 02:43] kristineds commented on #626
:+1:

[2015-12-01 03:20] raamdev commented on #624
Also reported here (internal ticket): https://websharks.zendesk.com/agent/tickets/9774 (**note that this was with ZenCache Lite v151107**)

[2015-12-01 04:10] jaswrks commented on #624
Related: https://wordpress.org/support/topic/cgi-script-zend_mm_heap-corrupted

[2015-12-01 16:10] kristineds commented on #623
@jaswsinc I've searched through the codebase and found these.

---

## Next Actions
- New feature branch in the `websharks/zencache-pro` repo.
- Replace [this line](https://github.com/websharks/zencache-pro/blob/de82d345ad67d0d7a70c7b49080e060e70425c41/src/includes/classes/Plugin.php#L500) with the following:

[code]
- Replace [this line](https://github.com/websharks/zencache-pro/blob/443256abdbce

[2015-12-01 22:15] jaswrks commented on #623
@kristineds Very close. We should use `add_action` instead of `add_filter`, because `updated_user_meta` is an action not a filter.

[code]

Taking this a step further, we should also attach to a different handler. The current handler is designed to work as a filter (i.e., `...FA2` = filter argument 2), and it is named `autoClearUserCacheFA2()`. We should create a new method that is like [this one]

[2015-12-02 01:11] jaswrks commented on #623
↑ I updated the above to improve clarity.

[2015-12-02 02:20] renzms opened #628 "Bug: Using `define('ZENCACHE_ALLOWED', FALSE);` to Disable Zencache, Should Disable the ZenCache Static CDN Filters"
## Overview

Customer tried using `define('ZENCACHE_ALLOWED', FALSE); to disable CDN support for specific pages, but was not working properly.
## Steps to Reproduce
- Set `define('ZENCACHE_ALLOWED', FALSE);` or `define('DONOTCACHEPAGE', TRUE);`
- Check if Static CDN Filters/ZenCache itself are disabled
## Expected Behavior

Setting `define('ZENCACHE_ALLOWED', FALSE);` or `define('DONOTCACHEPAGE',

[2015-12-02 05:18] jaswrks commented on #624
Related PHP bug reports that could be the underlying cause of this:

---
- https://bugs.php.net/bug.php?id=69251

  Suggested fixes:
  - Upgrade to latest build of PHP v5.6.
  - Or, set `opcache.enable_cli=0` in your php.ini file.

---
- https://bugs.php.net/bug.php?id=68365

  Suggested fixes:
  - Upgrade to latest build of PHP v5.6.
  - Or, increase WP memory. See [this article](https://codex.wo

[2015-12-02 14:42] raamdev commented on #597
@mastermikeywwt Improved WooCommerce compatibility to auto-clear the Product cache file when stock changes is coming in the next release; see https://github.com/websharks/zencache-pro/issues/191

If you're interested in testing a beta release of ZenCache before the next version comes out, please sign-up to be a beta tester [here](http://zencache.com/r/zencache-beta-testers-list/) or see **ZenCache

[2015-12-02 15:15] raamdev commented on #424
Next Pro Release Changelog:
- **Enhancement**: ZenCache now clears the cache whenever a WordPress plugin is activated or deactivated. Many WordPress plugins change content on the front-end of the site, so this enhancement ensures that an old cache file is never served to visitors. If you want to disable this automatic behavior, see [this article](http://zencache.com/kb-article/how-do-i-prevent-zen

[2015-12-02 15:15] #424 closed, assigned to renzms

[2015-12-02 15:33] theperfectwill commented on #615
@jaswsinc @raamdev

I am building a new version of a client's site, but you can take a look at the live version that still has this issue, that would help?

The issue started after the latest Zencache or Yoast update. I'm not sure which.

I can still access and verify the xml sitemap is at it's location, but I still get the warning that Zencache couldn't find that file.

This is using the Pro vers

[2015-12-02 16:29] raamdev commented on #615
@NoahjChampion If you look at the `wp-content/cache/zencache/zencache-auto-cache.log` file, does it look like the Auto-Cache Engine is working, i.e., like it's pre-caching the pages?

[2015-12-02 21:08] raamdev commented on #597
Next Pro Release Changelog:
- **WooCommerce Compatibility:** This release improves compatibility with the WooCommerce Product Stock feature. When the Product Stock changes, ZenCache will now clear the cache file for the associated Product to ensure that the stock quantity that appears on the site remains up-to-date. See [Issue #597](https://github.com/websharks/zencache/issues/597).

[2015-12-02 21:08] #597 closed, assigned to nobody

[2015-12-02 22:56] raamdev commented on #554
Punting this to a Future Release. We need to build an **Apache Optimizations** panel so that we have a place to put the option required to close this issue. The **Apache Optimizations** panel itself depends on work discussed in https://github.com/websharks/team/issues/36.

[2015-12-02 23:05] raamdev commented on #613
@patdumond writes...

Are you saying that the Auto-Cache Engine is disabled if ZenCache is disabled? That is the expected behavior. If you disable ZenCache, the cron job that runs the Auto-Cache Engine _should_ be removed.

[2015-12-02 23:53] patdumond commented on #613
I'm saying that it is removed from we-cron when ZenCache is deactivated and is not recreated/turned back on when ZenCache is reactivated.

[2015-12-03 02:13] theperfectwill commented on #615
@raamdev

Sort of...

**Looking at the .log:**
- It looks like there are only issues with Woocommerce pages.
- These pages are /my account, /checkout, /cart, /product/*... in which they return the following:
  `"Error: Too many redirects."`
- However, the pages (my account, checkout, cart) are set in my URI Exclusions. So should there even be an attempt to cache these pages?

**For the "/product/\

[2015-12-03 10:48] jaswrks commented on #615
Just noting this related issue: https://github.com/websharks/zencache/issues/618

[2015-12-03 12:55] mastermikeywwt commented on #597
This doesn't seem to be working for me still for some reason. are there any special options I need to enable in the new version to enable this feature?

[2015-12-03 12:58] raamdev commented on #597
@mastermikeywwt The new version has not been released yet. We're targeting that for end of next week.

If you're interested in testing a beta release of ZenCache before the next version comes out, please see my comment above: https://github.com/websharks/zencache/issues/597#issuecomment-161318899

[2015-12-03 13:11] mastermikeywwt commented on #597
Its the beta I'm testing at the moment

[2015-12-03 13:20] raamdev commented on #597
@mastermikeywwt There is no beta released that includes the work from this issue. We're anticipating the next RC release by end of the day tomorrow.

[2015-12-03 13:22] mastermikeywwt commented on #597
Ah right I see. Apologies for the misunderstanding. Will the new release include the required update to PHP 5.4? I still need to do this on our server you see.

[2015-12-03 13:40] raamdev commented on #618
Next Pro Release Changelog:
- **Enhancement**: The Auto-Cache Engine diagnostic reporting for XML Sitemap-related errors has been greatly improved. The Dashboard notice now explains exactly what error is occurring when the Auto-Cache Engine attempts to verify that the XML Sitemap exists. Props @jaswsinc. See [Issue #615](https://github.com/websharks/zencache/issues/615) and [Issue #618](https://gi

[2015-12-03 13:40] #618 closed, assigned to nobody

[2015-12-03 13:44] raamdev commented on #597
Yes, the next release will require PHP 5.4 or higher.

[2015-12-03 13:47] raamdev commented on #613
@patdumond Do you still have a site where you can reproduce that behavior consistently? If so, I'd like to send you a copy of the latest dev build to see if the recent work that went into the dev branch fixes this issue.

[2015-12-04 03:32] raamdev opened #629 "3rd Party Plugin Compatibility: MainWP WordPress Management Plugin"
This GitHub issue exists to research compatibility with [MainWP](https://mainwp.com), a WordPress Management Plugin that provides a Dashboard Server/Client allowing you to manage several WordPress sites from a central site.

The following issue with ZenCache Pro was reported (ZenCache Lite, as of v151107, seems unaffected):

Referencing (internal) ticket: https://websharks.zendesk.com/agent/ticket

[2015-12-04 14:50] raamdev commented on #616
Next Pro Release Changelog:
- **Enhancement**: Auto-Cache Engine XML Sitemap error checking is now more intelligent. When configured, the XML Sitemap URL is now checked upon every `admin_init` to verify that the XML Sitemap is accessible and valid. If a previous error has been fixed, the error message will disappear immediately instead of taking 15 minutes (the Auto-Cache Engine run cycle). See [I

[2015-12-04 14:50] #616 closed, assigned to nobody

[2015-12-04 15:35] MarioKnight opened #630 "Using RAM as cache directory + Generic 500 error + Rename failure when saving changes"
I touched upon this in #613 , however I believe this is unrelated so I am making a separate report.  Whenever I save changes to ZenCache Pro options, I ger a generic 500 error in my browser.  When I navigate back to the options page, the changes I made are present.  When making one just a few minutes ago, I decided to check the apache error log for the domain for any hints.  I was able to find thi

[2015-12-04 15:40] raamdev commented on #498
Next Pro Release Changelog:
- **New Feature!** Client-Side Caching now includes a new URI Exclusion Patterns for Client-Side Caching, allowing you to exclude specific URIs from being cached by a client-side browser when Client-Side Caching is enabled. Props @renzms. See [Issue #498](https://github.com/websharks/zencache/issues/498).

[2015-12-04 15:40] #498 closed, assigned to renzms

[2015-12-04 15:41] CotswoldPhoto commented on #629
I will further try to tie this down. I have deliberately taken one site on this server off ZenCache Pro and subsequent updates to that site have not taken it down. On the other sites, the updates do take place, and MainWP reports all updates are successful. But the sites have gone down. It has to be something to do with the handshake process that MainWP uses, connecting the child to the master. On

[2015-12-04 16:21] raamdev commented on #486
Next Pro Release Changelog:
- **Enhancement**: Static CDN Filters are no longer applied by default for Logged-In Users. This was causing some confusion because Logged-In User caching is disabled by default. There is no harm in applying Static CDN Filters to all users (logged-in or not logged-in), in fact we recommend it, however we now disable this functionality by default to avoid confusion. A ne

[2015-12-04 16:21] #486 closed, assigned to kristineds

[2015-12-04 16:58] raamdev commented on #601
Next Pro Release Changelog:
- **bbPress Compatibility:** This release improves compatibility with bbPress when ZenCache Logged-In User caching is enabled. In this scenario, bbPress may generate links for Admins that contain time-sensitive `_wpnonce` values which could expire if cached and result in certain admin-related actions failing. ZenCache no longer caches pages that contain `_wpnonce` in th

[2015-12-04 16:58] #601 closed, assigned to kristineds

[2015-12-04 17:21] CotswoldPhoto commented on #629
OK. Spent an hour or so this afternoon. Also upgraded my server to PHP5.6.16 to see if that made any difference. The surest way to crash random sites (assuming they all have ZC Pro installed, activated and cache enabled), in MainWP plugins panel do a search on all domains for any active plugins containing the string 'zen'. Random sites will crash (never all, rarely none), requiring a http restart.

[2015-12-04 17:42] kristineds commented on #623
@jaswsinc @raamdev Like this?

---

## Next Actions
- New feature branch in the `websharks/zencache-pro` repo.
- Replace [this line](https://github.com/websharks/zencache-pro/blob/de82d345ad67d0d7a70c7b49080e060e70425c41/src/includes/classes/Plugin.php#L500) with the following:

[code]
- After [this line:](https://github.com/websharks/zencache-pro/blob/443256abdbce31e56a8768700104ba5807eaa8d5/src/

[2015-12-04 20:07] raamdev commented on #623
@kristineds Yes, that looks correct, except `$self->autoClearUserCache($meta_id);` should be `$self->autoClearUserCache($object_id);`. The `$object_id` is the user ID whose cache we need to clear, whereas `$meta_id` is just the ID of updated metadata entry (`autoClearUserCache()` clears a user cache).

---

Could you go ahead and submit a PR for this? :smile:

[2015-12-04 23:41] jaswrks commented on #623
@kristineds _Really_ nice work on this. Fantastic!

_Just that minor tweak Raam mentioned and that should do it._

[2015-12-05 00:07] jaswrks commented on #630
@MarioKnight Thanks for this detailed report. I'm tagging this so that we can run some additional tests to see if there are any problems that we can work around in relation to a RAM disk and atomic cache writes.

[2015-12-05 01:12] raamdev commented on #630
@MarioKnight @jaswsinc This is almost certainly a dupe of https://github.com/websharks/zencache/issues/624.

[2015-12-05 01:17] raamdev commented on #630
@MarioKnight If possible, would you be able to try some of @jaswsinc's suggestions in https://github.com/websharks/zencache/issues/624#issuecomment-161184784 and see if that resolves the Error 500 issue? We've received several similar reports with PHP 5.6 but we haven't been able to pin down what's actually causing the issue, so anything you could do to help here would be hugely appreciated. :smil

[2015-12-05 02:53] raamdev commented on #629
@CotswoldPhoto I noticed that you're running PHP 5.6; these issues are possibly related to #630 and #624.

[2015-12-05 03:03] kristineds commented on #623
@jaswsinc @raamdev Submitting PR for this: https://github.com/websharks/zencache-pro/pull/195

_Note: Is there a way I could edit that previous commit message title? I got it mixed up. ._

[2015-12-05 03:29] raamdev commented on #623
@kristineds writes...

[2015-12-05 04:00] raamdev commented on #628
Next Pro Release Changelog:
- **Enhancement**: The Static CDN Filters now attempt to obey the `ZENCACHE_ALLOWED` and `DONOTCACHEPAGE` constants so that Static CDN Filters are not applied when caching is disabled. However, due to the way Static CDN Filters are implemented this is not always reliable. If you need to programmatically disable Static CDN Filters, see [this article](http://zencache.com/

[2015-12-05 04:00] #628 closed, assigned to nobody

[2015-12-05 04:12] raamdev commented on #623
Next Pro Release Changelog:
- **Bug Fix**: With Logged-In User caching enabled, there were some scenarios where the user cache was being cleared on every page load when a user was logged in. ZenCache now hooks into `updated_user_metadata` instead of `update_user_metadata` to clear a specific user cache. Props @kristineds. See [Issue #623](https://github.com/websharks/zencache/issues/623).

[2015-12-05 04:12] #623 closed, assigned to kristineds

[2015-12-05 07:58] CotswoldPhoto commented on #629
OK, following suggestions on those and linked threads, I tried the following:
1. Increased WP_MEMORY_LIMIT to 256M => No effect
2. Set opcache.enable_cli=0 => No effect (was =1)
3. Increased PHP memory_limit to 1024M => No effect
4. Set opcache.memory_consumption=512 (was =256) => Fixed

My conclusion is that Zend OpCache is running out of memory. Now, this is a Server related issue. Luckily, I ha

[2015-12-05 21:06] jaswrks opened #631 "Possible Bugs :: Dev Branch :: WcpPluginUtils"
-  Missing argument 2 for WebSharks\ZenCache\Pro\Plugin::WebSharks\ZenCache\Pro{closure}() in /websharks-wordpress/plugins/zencache-pro/src/includes/closures/Plugin/WcpPluginUtils.php on line 17
- Undefined variable: network_wide in /websharks-wordpress/plugins/zencache-pro/src/includes/closures/Plugin/WcpPluginUtils.php on line 21

[2015-12-06 00:37] raamdev commented on #629
@CotswoldPhoto Woohoo! Thank you SO much for testing that and reporting what you've found. cc @jaswsinc

[2015-12-06 00:40] raamdev commented on #629
@CotswoldPhoto Just to confirm: When you say "Fixed" are you referring to the Error 500 going away, or the issues with MainWP going away, or both?

[2015-12-06 00:53] raamdev commented on #631
Related to work completed in https://github.com/websharks/zencache/issues/424.

[2015-12-06 02:42] raamdev commented on #613
I was able to successfully reproduce this bug following these steps:
1. Install + activate ZenCache Pro v151114 on a clean installation (no prior ZenCache options in the database); cron jobs are added as expected
2. Enable ZenCache, Save All Changes
3. Deactivate + Delete ZenCache from Plugins page; `_cron_zencache_cleanup` is left behind (expected, as we did not disable Deactivation Safeguards),

[2015-12-06 02:47] raamdev commented on #631
@jaswsinc Thanks for catching this! :smile: Fixed by https://github.com/websharks/zencache-pro/pull/196.

[2015-12-06 02:47] #631 closed, assigned to nobody

[2015-12-06 02:58] raamdev commented on #613
Another datapoint that adds to the difficulty of reproducing this bug:
- After following the steps that I outlined above, you may notice that after Step 4 the `_cron_zencache_auto_cache` _still exists_ (i.e., what you would expect). However, if you simply wait until that Cron is scheduled to run again (every 15 minutes by default), you'll notice that _it does_ disappear the next time it runs. (Not

[2015-12-06 03:00] jaswrks commented on #613
Referencing: [this file in WP core](https://github.com/WordPress/WordPress/blob/77e365efbf2e499e2ed11d29c101ea466cf1ceed/wp-includes/cron.php#L77). I'm reviewing that file to see if I can help answer your question.

[2015-12-06 03:42] jaswrks commented on #613
I haven't been able to pin this down yet, but I am almost sure that the reason for this disappearance is the schedule that the auto-cache engine runs on. It's a schedule that only exists so long as ZenCache is an active plugin; i.e., it runs on a custom schedule of `every15min`, which ceases to exist once the plugin is inactive. I'm seeing these lines that look suspect. https://github.com/WordPres

[2015-12-06 03:46] jaswrks commented on #613
So I think you've discovered a WP core bug. We just need to find a way to prove that now. ha

[2015-12-06 07:23] CotswoldPhoto commented on #629
Both.

[2015-12-06 07:28] CotswoldPhoto commented on #629
Looking at the apache error log, it was reporting the same corruption error as other reports (not related to MainWP or ZenCache), ie zend_mm_heap corrupted. When you look at the bug reports for PHP5.5 through to PHP7, only PHP5.6 has this problem with Zend OpCache, with zero reports in PHP5.5 or PHP7 (clearly the PHP7 reports will mainly using the betas and Release Candidates, as the final release

[2015-12-06 09:46] CotswoldPhoto commented on #629
This morning it is back. Not sure if that is because the resources I gave it were used up, so I restarted the server and tried again, and 3 of my sites immediately gave 500's. I have now set my php.ini as follows:

opcache.memory_consumption=1024 # was 256, then up to 512, now up to 1024
opcache.interned_strings_buffer=32 # was 16
opcache.max_accelerated_files=8000 # was 4000
opcache.fast_shutdown

[2015-12-06 13:19] raamdev commented on #613
@jaswsinc You were right. This is related to WP Core, but it's not a bug as far as I can see (unless we're supposed to be able to schedule events with schedules that no longer exist). :smile:

**Here's what's happening:** [When `wp_schedule_event()`](https://github.com/WordPress/WordPress/blob/4.3.1/wp-includes/cron.php#L132) is called via `wp_reschedule_event()` (_after_ ZenCache has been uninsta

[2015-12-06 22:11] jaswrks commented on #613
Makes sense. I see exactly what you mean.

ha. That's awesome! I'll have to try that out some time.

I mostly agree, but what makes me feel that this is a bug are the comments in these lines of code. See: https://github.com/WordPress/WordPress/blob/77e365efbf2e499e2ed11d29c101ea466cf1ceed/wp-includes/cron.php#L126-L137

As it exists, a CRON entry is self-contained, and it should not _need_ to depe

[2015-12-06 22:28] jaswrks commented on #613
I agree with you there, we shouldn't be able to create a CRON using a non-existent schedule, because the interval would be unknown. However, once an event has been scheduled it shouldn't disappear simply because the schedule it was connected to is gone. It shouldn't even _be_ connected to the original schedule at all, in fact.

Once the event is set, the interval is known. The `interval` (as it ex

[2015-12-06 23:52] jaswrks commented on #629
@CotswoldPhoto Thanks for the follow-ups. Interesting!

I think you're right about there being a bug in Opcache. 1024 seems _very_ high; i.e., like you have a memory leak somewhere. I can't imagine a site powered by WordPress requiring any more than about 128MB of RAM. 256 should be _more_ than enough. That's memory for PHP scripts (i.e., the scripts themselves), nothing more. So unless you are us

[2015-12-06 23:57] jaswrks commented on #629
@CotswoldPhoto A tool like this is quick and easy, and it might assist you in diagnosing the problem. See: https://github.com/rlerdorf/opcache-status

Or, you can just put together a PHP script and output the array and review.

[code]

[2015-12-07 00:08] jaswrks commented on #613
Another example of how (what I consider to be a bug) could cause problems...

We recently made it possible for you to schedule the cleanup process in a custom way; using one of the configured WordPress CRON schedules that is available in your installation of WordPress. But what happens if you choose a schedule from the dropdown that is exposed by a plugin other than ZenCache? If, later, you deacti

[2015-12-07 00:46] raamdev commented on #613
@jaswsinc writes...

Ah, I see what you mean. Yep, I agree that this appears to be the result of a bad strategy on WP_Cron's part and probably someone inserting code somewhere that changed the originally intended behavior.

Great point! That's a really good example of how this bug would affect other plugins in negative ways, or at the very least make it more challenging and less intuitive for them

[2015-12-07 08:12] CotswoldPhoto commented on #629
OK. I had tried that tool already and it showed me nothing. I have re-set the opcache settings as follows:

opcache.memory_consumption=256
opcache.interned_strings_buffer=16
opcache.max_accelerated_files=4000
opcache.revalidate_freq=900
opcache.fast_shutdown=1
opcache.enable_cli=0
opcache.validate_timestamps=1
opcache.max_file_size=102400

So far all is OK. I will probably migrate to PHP7 when cPa

[2015-12-07 08:22] CotswoldPhoto commented on #629
What I CAN see is that by making these changes:

OpCache has used up almost all of the 256M straight away.
OpCache is getting only 55-65% hit rate (before it was getting 90-95%).
The sites are a LOT faster loading!

I am thinking that by limiting the filesize to 100K, I have stopped it loading any large files, hence the drop in hit rate, but freeing up the cache from these large files has let the

[2015-12-07 11:26] CotswoldPhoto commented on #629
I can confirm that the problem is back. I am going to push the memory back up for now.

[2015-12-07 13:57] raamdev commented on #613
Next Pro Release Changelog:
- **Bug Fix**: Fixed a bug where the Auto-Cache Engine cron event would disappear in some scenarios. Props @patdumond, @MarioKnight. See [Issue #613](https://github.com/websharks/zencache/issues/613).
- **Enhancement**: Improved WP Cron-related configuration and validation of custom cron schedules. See [PR #197](https://github.com/websharks/zencache-pro/pull/197).

[2015-12-07 13:57] #613 closed, assigned to nobody

[2015-12-07 16:14] CotswoldPhoto commented on #629
I have to confirm that only when I have increased the settings like this:

opcache.memory_consumption=1024
opcache.interned_strings_buffer=32
opcache.max_accelerated_files=8000
opcache.revalidate_freq=900
opcache.fast_shutdown=1
opcache.enable_cli=0
opcache.validate_timestamps=1
opcache.max_file_size=102400

It NOW seems 'stable'. I was 'lucky' in that WooCommerce just released an update. I ran it

[2015-12-08 13:27] MarioKnight commented on #630
It doesn't look like any of the suggestions in the linked comment helped.  WP memory limit is already set to an absurdly high value (apparently I never lowered this back to a reasonable one pending various upload tests a year and a half or so ago, oops), and I don't appear to have opcache installed or configured on this server.  I still put in the line to disable it just in case, however this did

[2015-12-08 13:30] MarioKnight commented on #630
Also, if this helps, here is the phpinfo() output for the site showing this behavior: https://missdream.org/phpinfo.php

[2015-12-08 16:55] MarioKnight commented on #630
I just installed opcache, checked the behavior which remained the same.  I retried the suggestions however nothing changed in the browser or error logs.

[2015-12-09 15:27] raamdev commented on #630
@MarioKnight The error you're seeing consistently in your error logs is `Unable to delete files. Rename failure`, correct? Also, have you been able to connect the Error 500 in your browser with a corresponding `Unable to delete files. Rename failure` in your server logs? I'm just trying to figure out if we're dealing with more than one issue here...

[2015-12-09 15:40] MarioKnight commented on #630
Correct, the error log block in my initial post has remained consistent.  That message block only occurs when I click the save changes button within the plugin options.  I did have other errors in my logs, but I was able to address them separately, and watched the live logs following to confirm.  I also updated WP core to 4.4 this morning, and there was no change in this behavior.

[2015-12-09 16:04] raamdev commented on #630
@MarioKnight Great. Thank you. In that case my feeling is that the issue you're experiencing **is not related** to the issue in https://github.com/websharks/zencache/issues/624 (which we suspect is related to a bug in Opcache), but rather more likely related to [configuring your cache directory to use a RAM disk](http://zencache.com/kb-article/how-to-use-ram-memory-for-your-cache-directory/).

The

[2015-12-09 16:18] MarioKnight commented on #630
I unmounted the cache directory and the 500 error is gone!  I will keep it unmounted for the time being, however if you have anything you'd like to test for this issue, I'll be happy to test.

[2015-12-09 16:21] raamdev commented on #630
@MarioKnight Thank you! I've updated the title of this GitHub issue to reflect that his appears to be specific to using RAM as the cache directory.

[2015-12-11 09:35] tetradion opened #632 "WP-PostRatings"
WP-PostRatings

[2015-12-11 13:27] raamdev commented on #632
@tetradion What about WP-PostRatings?

[2015-12-11 21:53] tetradion commented on #632
При кэшировании, отображается только картинка от PostRatings. Как исправить? Как запретить кэширование?

[2015-12-12 01:53] raamdev commented on #632
@tetradion Please see this article:
- [Why isn’t my dynamic content updating?](http://zencache.com/kb-article/why-isnt-my-dynamic-content-updating/)

[2015-12-12 01:53] #632 closed, assigned to nobody

[2015-12-14 09:16] jaswrks commented on #624
Another possible PHP bug that could cause this:
https://bugs.php.net/bug.php?id=66799&edit=1

[2015-12-14 10:16] mastermikeywwt commented on #597
Hey sorry to keep messaging about this but I'm still waiting on that RC release. Any ideas when that might be out? :)

[2015-12-15 00:56] raamdev commented on #597
@mastermikeywwt Within the next 24 hours. :-) We had a bug that held up the RC but we're past that now; it will be out soon. Thanks for your patience!

[2015-12-16 10:53] mastermikeywwt commented on #597
Thankyou. Just getting difficult manually clearing the cache of pages when we sell stock. We're so busy this year its unreal :O.

[2015-12-16 15:02] raamdev commented on #624
Next Pro Release Changelog:
- **Enhancement:** The new default value for "Clear the PHP OPcache Too?" when clearing the cache manually is now disabled. Instead of having this option enabled by default, we automatically invalidate only the `advanced-cache.php` file in PHP's opcode cache whenever you update your configuration options, which allows ZenCache to function as expected. That was the most

[2015-12-16 15:02] #624 closed, assigned to nobody

[2015-12-16 17:17] raamdev commented on #630
@MarioKnight A new version of ZenCache was just released that includes many bug fixes and enhancements. You might want to give this release candidate a try to see if it addresses any of the issues you were having here. See http://zencache.com/zencache-pro-v151216-rc-release-candidate/

[2015-12-16 17:17] raamdev commented on #629
@CotswoldPhoto A new version of ZenCache was just released that includes many bug fixes and enhancements. You might want to give this release candidate a try to see if it addresses any of the issues you were having here. See http://zencache.com/zencache-pro-v151216-rc-release-candidate/

[2015-12-16 17:20] raamdev commented on #597
@mastermikeywwt The ZenCache Pro RC, which includes the improved WooCommerce compatibility, has been released. :smile:  See http://zencache.com/zencache-pro-v151216-rc-release-candidate/

[2015-12-16 18:33] CotswoldPhoto opened #633 "Failed to update your /.htaccess file automatically."
ZenCache™ Pro v151216-RC

Testing the HTML Compression options. All HTML Compression Options set to on, but needed to switch set 'No, do not combine JS from <head> into fewer files.' because this conflicts with jquery.nivo slider js file. This gives:

Failed to update your /.htaccess file automatically. Most likely a permissions error. Please make sure it has permissions 644 or higher (perhaps 666

[2015-12-16 18:38] MarioKnight commented on #630
Thank you for the heads up on the RC posting.  I've gone ahead installed the RC, and sadly it doesn't seem to address the issues in this and in #613 (or perhaps a different issue since the cron event was not actually removed from what I was able to tell, will make separate issue after this post).  I re-mounted the cache directory to tmpfs, and the 500 error returned when saving changes.  As from t

[2015-12-16 19:18] MarioKnight opened #634 "Auto-cache cron event fails to work or doesn't see sitemap"
I installed v151216-RC, and where #613 seems to have been solved as I do not get the error as reported there, however the event itself does not perform as it did prior to v151114.  Pre-v151114, if I called the `_cron_zencache_auto_cache` event directly via WP-CLI, it would take ~10 minutes to run and cache every page within the sitemaps from https://missdream.org/sitemap_index.xml .  Now when doin

[2015-12-16 19:23] CotswoldPhoto commented on #629
I can confirm that this RC fixes the problem, although I AM having some issues, and these I have reported on another ticket.

[2015-12-16 19:40] raamdev commented on #634
@MarioKnight If you let the Auto-Cache Engine run via WP Cron itself (or manually run the event from inside WordPress using a plugin like WP Crontrol), does Auto-Cache Engine appear to work fine? If so, that would indicate some weirdness with calling it via WP-CLI (which we haven't tested at all yet).

[2015-12-16 19:46] raamdev commented on #633
@CotswoldPhoto Thanks for the report! Hmm, the latest release changes the `.htaccess` utils so that the following marker is added to the comment block:

[code]

Are those the "random characters" that you saw?

Would you be able to share a copy of your `.htaccess` file so that I can attempt to reproduce this issue on my test site?

---

Also, can I ask how you updated to the RC? Did you deactivate

[2015-12-16 19:46] raamdev commented on #629
@CotswoldPhoto Awesome! Thank you for confirming.

[2015-12-16 19:49] raamdev commented on #630
@MarioKnight Thank you for the update and the additional information. That will definitely help us when we take a closer look at this during the next development cycle. For now, I recommend not using the RAM disk.

[2015-12-16 20:58] MarioKnight commented on #634
I got pulled away into a bunch of other things, and I checked to see if WP Cron itself ran the event, and the cache appears to be what I would expect to see following a clean run of the event.  Now I'm curious as to what may or may not have led to this, because in the past month I've had #613 and #630 occur, and in prep for WP Core 4.4 (which I eventually updated to as well), WP-CLI was updated to

[2015-12-16 21:24] CotswoldPhoto commented on #633
The WmVuQ2FjaGU was what was on a separate line. It has happened on one site so far. This is the htaccess file as I found it:

# BEGIN ZenCache
# END ZenCache

WmVuQ2FjaGU

<files wp-config.php>
order allow,deny
deny from all
</files>

# Prevent folder browsing
Options All -Indexes

<IfModule mod_expires.c>
# Enable expirations
ExpiresActive On
# Default directive
ExpiresDefault "access plus 1 mon

[2015-12-16 21:33] CotswoldPhoto commented on #633
I shared the .htaccess on github. The first time I overwrote the plugin
using ftp. The second time I deleted it and installed it via plugins in
Admin. Both ways produced the error. The first time it gave the .htaccess
you see on github, the second time (doing it by removing and installing via
upload) it put those characters before the rest of the file. Same effect
both times.

On Wed, Dec 16, 2015

[2015-12-17 10:35] mastermikeywwt commented on #597
I've installed the new version and it appears to work pretty well. I do have a request though (A rather important one for us). While the cache does clear on the page when an order is placed on the website, it doesn't clear the cache when there is a stock update in the backend. For instance we link our site stock levels to our shop floor. When we sell something there is pushes the new stock levels

[2015-12-17 12:16] raamdev commented on #597
@mastermikeywwt writes...

How are you linking the site stock levels to your shop floor?

ZenCache hooks into WooCommerce via the `woocommerce_product_set_stock` hook, which is fired whenever the WooCommerce `set_stock()` function is run. If you're updating the stock levels using some custom code that doesn't use the WooCommerce API, you'll need to make sure you also fire the proper hook so that Z

[2015-12-17 12:19] raamdev commented on #633
@CotswoldPhoto Thank you. I will try to reproduce this. Two more quick questions: What version of PHP are you running and what web server are you running?

[2015-12-17 12:25] mastermikeywwt commented on #597
It updates the column in the database using MySQL as I understand. Is there anyway to clear the cache around this?

I'll look into that link as that may be a good workaround for now :)

[2015-12-17 12:39] raamdev commented on #597
You'll need to add some code to whatever script updates the database so that it also fires the `woocommerce_product_set_stock` hook for WordPress. If you're working with a developer, I suggest deferring to him or her. :-)

[2015-12-17 12:44] raamdev commented on #634
@MarioKnight Cool, thanks for the update. Yeah, with so many version changes around the same time it's hard to say which one may have introduced the problem. I suggest setting up a test environment where you install the previous versions of WP-CLI, WP Core, and ZenCache that were working for you, then attempting to reproduce the issue after updating each one individually to see which piece might b

[2015-12-17 13:15] CotswoldPhoto commented on #633
Centos7.1 with Apache/2.4.16 (Unix) OpenSSL/1.0.1e-fips mod_bwlimited/1.4 PHP/5.6.16, using the cPanel/WHM Easyapache 3 stack.

[2015-12-17 14:00] mastermikeywwt commented on #597
Perfect thankyou. I'm the case with them now. Its a company called Veeqo. Its basically manages sales across several channels like ebay, Amazon, WooCommerce. Hopefully they sort it for me. Sounds like this is the proper way to push stock levels

[2015-12-17 15:55] jaswrks commented on #633
@raamdev I was able to reproduce a portion of this.

As requested, I ran the following test...

There is a minor problem in this test. Whenever I toggled Static CDN Filters off in v151114 and saved options (with ZC still enabled), I ended up with: https://gist.github.com/jaswsinc/f795b76f42fda25529b7

[code]

That problem is resolved by the VS upgrade routine in 151216-RC via [this file](https://g

[2015-12-17 15:56] jaswrks commented on #633
### So I propose two small changes:
- We could try to do a better job of keeping the version that's in the array of options in sync. That way it remains as it should, even when you're running RC tests like this.
- Run the contents of the `.htaccess` file through: [wp_check_invalid_utf8](https://developer.wordpress.org/reference/functions/wp_check_invalid_utf8/). If that check fails, we should just

[2015-12-17 17:36] patdumond commented on #633
I tested the install on 2 sites:

Installed ZenCache RC151216 via FTP on one site where it had never previously been installed. I then enabled HTML compression (all options set to "Yes") and saved the settings. No error messages. Checked `.htaccess` and found the correct settings as listed by @raamdev above. Deactivated and deleted ZenCache. Checked `.htaccess` and ZenCache settings had been prope

[2015-12-17 19:08] CotswoldPhoto commented on #629
Sad to say, but it is doing it again :-(

[2015-12-18 01:25] raamdev commented on #633
@patdumond writes...

Enabling the HTML Compressor does not write anything to the `.htaccess` file at this time, only the Static CDN Filters do, so the behavior you observed is normal.

[2015-12-18 01:45] raamdev commented on #633
@jaswsinc writes...

I was not able to reproduce what you saw. I used the same scenario you referenced:

("update to the RC" was done by simply overwriting the `wp-content/zencache-pro/` directory with a copy of the v151216-RC, and then reloading my WP Dashboard.)

Before the "update", my `.htaccess` file had this:

[code]

After the update, as soon as I loaded the WordPress Dashboard, the `.htacc

[2015-12-18 01:54] raamdev commented on #629
@CotswoldPhoto Sorry to hear that. :( It sounds like this may be more of a compatibility issue between ZenCache and MainWP. Am I correct to assume that you've only been seeing these issues while using MainWP?

[2015-12-18 03:34] raamdev commented on #611
@jaswsinc Could you clarify for me what the bug is here?

[2015-12-18 03:35] raamdev commented on #602
@mastermikeywwt Are you still having an issue here, or can I close this issue?

[2015-12-18 03:35] raamdev commented on #564
I have not heard back from @kNmnPyGGCwxk4zQoDD with additional details; closing this issue.

[2015-12-18 03:35] #564 closed, assigned to nobody

[2015-12-18 03:37] raamdev commented on #619
I have not heard back from @xgiovio regarding this issue; closing.

[2015-12-18 03:37] #619 closed, assigned to nobody

[2015-12-18 08:18] CotswoldPhoto commented on #629
What I HAVE done that DOES seem to avoid the issue, is to install a WordPress OPCache plugin:

https://wordpress.org/plugins/opcache/

And running its Reset function before the update has NO effect on the cache, as though the OPCache has somehow become locked.

Running it immediately after the update has the desired effect of flushing the cache and then Apache does not crash. It is as though ZenCa

[2015-12-18 10:16] mastermikeywwt commented on #602
Sorry I forgot to respond. You resolved the problem for me. Thankyou very much, you can close the issue :)

[2015-12-18 11:55] CotswoldPhoto commented on #629
Well, I thought that had worked, but it does not. Roll on PHP7 support for my server stack.

[2015-12-18 12:28] raamdev commented on #629
@CotswoldPhoto This definitely sounds like a bug in OPcache and your best bet for now (until you upgrade to PHP7) is probably to disable OPcache altogether. Since you're running WordPress, ZenCache is going to give you more bang-for-your-buck than OPcache when it comes to speeding up your site(s).

We haven't any _any_ reports like this with PHP 5.5 + OPcache, however there have been a couple of s

[2015-12-18 12:29] #602 closed, assigned to nobody

[2015-12-18 12:48] jaswrks commented on #611
The `^` and `$` characters are not supported in:
- **Dashboard → ZenCache → Automatic Cache Clearing → XML Sitemap Patterns**
  The `^` and `$` characters are not supported there. The KB article says they are, but in truth that is not the case.
- The same is true for Custom URLs that you list and/or for a Specific URL that you give ZC.

_Referencing: [this line](https://github.com/websharks/zencac

[2015-12-18 12:54] CotswoldPhoto commented on #629
I can disable it by editing php.ini and stop the module loading. Easier to do that than to edit the .htaccess in every domain.

Thanks for all your help.

[2015-12-18 13:00] raamdev commented on #611
@jaswsinc Got it. Thanks so much for clarifying the issue. Perfectly clear now. :-)

[2015-12-18 14:35] jaswrks opened #635 "PHP v5.4+ Codebase Enhancements"
Starting with the next release of ZenCache, PHP v5.4+ will be a requirement. I'm opening this issue so that we have a place to list and work on PHP v5.4 improvements; i.e., changes to the codebase that will reduce complexity, improve performance, dependability, and make it easier to maintain.

Referencing: http://php.net/manual/en/migration54.new-features.php
Referencing: http://php.net/manual/en/

[2015-12-18 16:48] raamdev commented on #633
Next Pro Release Changelog:
- **Bug Fix**: Fixed a bug where ZenCache could inadvertently corrupt the `.htaccess` file if it contained invalid UTF-8 characters. This has been fixed by first checking the `.htaccess` file for invalid UTF-8 characters via `wp_check_invalid_utf8()`. See [Issue #633](https://github.com/websharks/zencache/issues/633#issuecomment-165493039).

[2015-12-20 17:12] raamdev commented on #633
Next Pro Release Changelog:
- **Enhancement**: Improved `.htaccess` utilities so that an exclusive lock is acquired when reading+writing to the file. This helps avoid inadvertently corrupting the `.htaccess` file in scenarios where another process might be reading/writing to it at the same time. See [Issue #633](https://github.com/websharks/zencache/issues/633).

[2015-12-20 17:12] #633 closed, assigned to nobody

[2015-12-21 01:19] raamdev commented on #633
**ZenCache v151220** has been released and includes changes worked on as part of this GitHub Issue. See the [release announcement](http://zencache.com/zencache-pro-v151220-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#633).

[2015-12-21 01:20] raamdev commented on #628
**ZenCache v151220** has been released and includes changes worked on as part of this GitHub Issue. See the [release announcement](http://zencache.com/zencache-pro-v151220-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#628).

[2015-12-21 01:20] raamdev commented on #624
**ZenCache Pro v151220** has been released and includes changes worked on as part of this GitHub Issue. See the [release announcement](http://zencache.com/zencache-pro-v151220-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#624).

[2015-12-21 01:20] raamdev commented on #623
**ZenCache Pro v151220** has been released and includes changes worked on as part of this GitHub Issue. See the [release announcement](http://zencache.com/zencache-pro-v151220-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#623).

[2015-12-21 01:21] raamdev commented on #620
**ZenCache Pro v151220** has been released and includes changes worked on as part of this GitHub Issue. See the [release announcement](http://zencache.com/zencache-pro-v151220-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#620).

[2015-12-21 01:22] raamdev commented on #618
**ZenCache Pro v151220** has been released and includes changes worked on as part of this GitHub Issue. See the [release announcement](http://zencache.com/zencache-pro-v151220-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#618).

[2015-12-21 01:22] raamdev commented on #616
**ZenCache Pro v151220** has been released and includes changes worked on as part of this GitHub Issue. See the [release announcement](http://zencache.com/zencache-pro-v151220-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#616).

[2015-12-21 01:23] raamdev commented on #615
**ZenCache Pro v151220** has been released and includes changes worked on as part of this GitHub Issue. See the [release announcement](http://zencache.com/zencache-pro-v151220-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#615).

[2015-12-21 01:23] raamdev commented on #613
**ZenCache Pro v151220** has been released and includes changes worked on as part of this GitHub Issue. See the [release announcement](http://zencache.com/zencache-pro-v151220-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#613).

[2015-12-21 01:24] raamdev commented on #607
**ZenCache Pro v151220** has been released and includes changes worked on as part of this GitHub Issue. See the [release announcement](http://zencache.com/zencache-pro-v151220-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#607).

[2015-12-21 01:24] raamdev commented on #601
**ZenCache Pro v151220** has been released and includes changes worked on as part of this GitHub Issue. See the [release announcement](http://zencache.com/zencache-pro-v151220-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#601).

[2015-12-21 01:25] raamdev commented on #597
**ZenCache Pro v151220** has been released and includes changes worked on as part of this GitHub Issue. See the [release announcement](http://zencache.com/zencache-pro-v151220-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#597).

[2015-12-21 01:25] raamdev commented on #498
**ZenCache Pro v151220** has been released and includes changes worked on as part of this GitHub Issue. See the [release announcement](http://zencache.com/zencache-pro-v151220-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#498).

[2015-12-21 01:26] raamdev commented on #495
**ZenCache Pro v151220** has been released and includes changes worked on as part of this GitHub Issue. See the [release announcement](http://zencache.com/zencache-pro-v151220-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#495).

[2015-12-21 01:26] raamdev commented on #486
**ZenCache Pro v151220** has been released and includes changes worked on as part of this GitHub Issue. See the [release announcement](http://zencache.com/zencache-pro-v151220-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#486).

[2015-12-21 01:27] raamdev commented on #472
**ZenCache Pro v151220** has been released and includes changes worked on as part of this GitHub Issue. See the [release announcement](http://zencache.com/zencache-pro-v151220-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#472).

[2015-12-21 01:27] raamdev commented on #459
**ZenCache Pro v151220** has been released and includes changes worked on as part of this GitHub Issue. See the [release announcement](http://zencache.com/zencache-pro-v151220-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#459).

[2015-12-21 01:27] raamdev commented on #424
**ZenCache Pro v151220** has been released and includes changes worked on as part of this GitHub Issue. See the [release announcement](http://zencache.com/zencache-pro-v151220-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#424).

[2015-12-21 14:41] MarioKnight opened #636 "Custom pages of varying depth don't auto-clear"
After seeing #607 in the changelog for yesterday's new release, I made a note to myself to keep an eye on things for my site, as last week I finally made the changes to alter `?mdgpage=x` to `/mdgpage/x/` within my site.  Essentially I have code that can be placed in any page to call upon a custom gallery script, so the `mdgpage` parameter can be seen at varying depths, as opposed to a fixed depth

[2015-12-21 15:17] raamdev opened #637 "Filter to disable `_wpnonce` exclusion"
In v151220, we prevented pages that include `_wpnonce` in their HTML from being cached (see https://github.com/websharks/zencache/issues/601). I have seen several requests now for the ability to disable this functionality and allow `_wpnonce` in the HTML source.

We should add a filter to make this possible, and write a KB Article that explains how to use the filter and the risks of doing so.

[2015-12-21 18:38] treyg06 opened #638 "ZenCache Pro v151220 html compressor not working"
I just updated Zencache Pro to v151220 and the html compressor is no longer working.

[2015-12-21 18:54] #638 closed, assigned to nobody

[2015-12-22 19:43] KTS915 commented on #445
With the latest versions of both these plugins, this issue appears resolved, so am closing.

[2015-12-22 19:43] #445 closed, assigned to nobody

[2015-12-23 00:36] raamdev commented on #445
@KTS915 Great! Thanks so much for following up. :smile:

[2015-12-23 11:23] lkraav opened #639 "Ability to cache GET (Query String) requests, but ignore the parameter value possible?"
I would like to cache AdWords campaign responses which will receive tons of people with `?gclid=<id>` requests where `<id>` is an endless amount of random hashes. It makes no sense to cache these, because essentially they're one time use. So I would need to return a response that's general for just `gclid=` parameter, regardless of the exact value.

http://zencache.com/kb/ doesn't seem to indicate

[2015-12-23 14:04] renzms opened #640 "Bug: Error In HTML Compression using Special Characters"
User reported ZenCache is removing some Russian uppercase letters. Example `Р` in the word `Русский`.

Issue with code in **zencache-pro\src\vendor\websharks\html-compressor\src\includes\classes/Core.php** on row 2000. ZenCache uses `preg_replase`, but `preg_replase` reportedly has a problem with **UTF-8**.

---

According to customer, this can be fixed using:

[code]

---

Referencing example - h

[2015-12-23 18:31] raamdev commented on #639
@lkraav Requests that include a query variable (e.g., `?gclid=`) are almost always meant to be dynamic in some way, which is why ZenCache does not cache GET requests by default.

You could enable GET Request caching (**ZenCache → Plugin Options → GET Requests**) and tell ZenCache to cache those pages anyway, however if you have a _lot_ of variations of the same URL (e.g., `?gclid=`, `?gclid=2`, `?

[2015-12-23 18:43] lkraav commented on #639
Correct, this is exactly the problem. Caching even hurts performance here (probably near-negligible but still), because the page will always be built from scratch, and additionally the useless cache output will be built.

I'm thinking you're overly pessimistic here. Certainly a configurable query parameter parsing algorithm can be devised that will arrive at the correct conclusion about which cach

[2015-12-23 23:19] raamdev commented on #639
That sounds doable, yes. A new textarea inside the GET Requests panel that allows you to list query parameters that ZenCache should consider "safe to cache", and if ZenCache receives a request from a URL that contains _only_ that query parameter, it could silently drop it and cache the page as if the parameter wasn't present.

It does seem like a rather odd use-case, and prone to accidentally crea

[2015-12-23 23:42] lkraav commented on #639
I would propose that the algorithm should not consider the subject caching strategy when it's the _only_ query parameter. There seems to be no reason why there couldn't be an arbitrary number of query parameters in an incoming request working out with this enhanced decision strategy. ZenCache would
1. examine the full URI
2. remove all matching parameter names from plugin configuration textarea (o

[2015-12-24 15:16] BreursICT opened #641 "Failed to update your /.htaccess file automatically."
When i try to safe the settings i get the following error "Failed to update your /.htaccess file automatically. Most likely a permissions error. Please make sure it has permissions 644 or higher (perhaps 666). Once you've done this, please try saving the ZenCache options again."

I allready checked my htaccess but nothing strange. Also checked the permissions on the htaccess file but that fine asw

[2015-12-24 19:52] raamdev commented on #641
@BreursICT Could you show us a copy of your `.htaccess` file? I'd like to test it against my local installation of ZenCache to see if anything strange is going on.

[2015-12-24 19:57] raamdev commented on #640
@renzms Thanks for the report!

@jaswsinc Any thoughts on this?

[2015-12-25 12:44] Kalfer opened #642 "Bug: Akismet comment nonce is not automatically disabled"
Hey there

I upgraded to Pro v151220 ZenCache, and I found that the Akismet (3.1.6) plugin also causes the issue #601.

Thank you

[2015-12-26 13:30] raamdev commented on #642
@Kalfer ZenCache Pro v151220 automatically detects when the HTML contains `_wpnonce` or `akismet_comment_nonce` and prevents that page from being cached. When this happens, you should see a note at the very bottom of the source code (when you View Source on the page) that indicates as much (assuming you have ZenCache HTML Notes enabled in **ZenCache → Plugin Options → Enable/Disable**).

Is that n

[2015-12-26 14:18] raamdev opened #643 "Problematic XML Sitemap URL - WP_Http says: Operation timed out after 5001 milliseconds with 0 bytes received"
I've seen several reports of `WP_Http` timing out (after the default timeout value of `5` seconds) and triggering the following Dashboard notice about the Auto-Cache Engine being unable to reach the XML Sitemap:

![2015-12-26_08-55-10](https://cloud.githubusercontent.com/assets/53005/12006680/9b181b22-abae-11e5-9e44-705d7466a3e3.png)

At the time I reproduced this on my own server (running ZenCach

[2015-12-26 14:30] raamdev commented on #643
### Temporary Workaround

You can use an [MU-Plugin](http://codex.wordpress.org/Must_Use_Plugins) to change the default value of all `WP_Http` requests.

Create the following directory and file:
`wp-content/mu-plugins/increase_http_timeout.php`

[code]

[2015-12-26 16:57] Kalfer commented on #642
Yes, I saw that message at the end of my web source code.

Now I have Akismet disabled. Is there any alternative to Akismet?

Thanks

[2015-12-26 17:26] raamdev commented on #642
@Kalfer ZenCache is supposed to disable the Akismet nonce when it detects that Akismet is active (see [this line](https://github.com/websharks/zencache-pro/commit/5a28f4ce696fad1976d3ccf4579b4fcbafea1217#diff-80c3f899e9a4e8c5ee77be429a019f08R500)), but for some reason that's not working as expected. I just confirmed this on my own site and I'm still researching.

You should definitely be able to u

[2015-12-26 18:27] raamdev commented on #642
### Problem Found: Akismet Bug

This is actually a bug in the way Akismet checks the value of `$akismet_comment_nonce_option` on [this line](https://plugins.trac.wordpress.org/browser/akismet/tags/3.1.6/class.akismet.php?rev=1316570#L34).

Akismet is using `==` (simple equality operator) instead of `===` (strict type comparison operator) when checking if `$akismet_comment_nonce_option == ''`, so w

[2015-12-26 18:28] raamdev commented on #642
### Temporary Fix for Site Owners

You can use an [MU-Plugin](http://codex.wordpress.org/Must_Use_Plugins) to tell Akismet to disable the Akismet Nonce, which will allow ZenCache to continue caching pages even while Akismet is enabled. (This was the intended behavior all along, but due to the bug described above, it's not working as expected in the latest ZenCache release. This MU-Plugin returns a

[2015-12-26 18:28] raamdev commented on #642
### How ZenCache can resolve this in the next release

If Akismet does not fix this issue by the next ZenCache release, we can temporarily work around this issue by returning something like `'not-true'` (or `'0'`--as a string literal--, but that might be confusing and get refactored to return `0` which would introduce this issue again) instead of boolean `FALSE`.

The nice thing about returning so

[2015-12-26 19:12] raamdev commented on #642
**EDIT:** Added `PHP_INT_MAX` to `add_filter()` in **Temporary Workaround** above.

[2015-12-26 19:26] raamdev opened #644 "Auto-Cache Engine fails silently when allow_url_fopen=0"
When `allow_url_fopen` is disabled via the PHP configuration, the Auto-Cache Engine cannot read the XML Sitemap and silently fails with a PHP Warning:

Until we take a closer look at falling back on cURL for reading the XML Sitemap when `allow_url_fopen` is disabled (see https://github.com/websharks/zencache/issues/440), we should move forward with detecting when `allow_url_fopen=0` and showing a

[2015-12-26 19:26] raamdev commented on #440
Referencing https://github.com/websharks/zencache/issues/644

[2015-12-27 04:26] KTS915 opened #645 "Bug: Overcautious failure to cache when nonce in markup"
This is related to #642, but Akismet is not involved.

ZenCache Pro v151220 apparently now refuses to cache any page (at least for logged-in users) where some mention is made of `nonce`. This is pretty serious because it means effectively that I can't cache any pages on some of my sites.

Plugins that include `nonce` in the markup include those, like BAW Login/Logout menu, that provide a means of

[2015-12-27 18:28] raamdev commented on #645
@KTS915 Thanks for the report.

ZenCache should be automatically disabling the Akismet nonce (which is supported by Akismet for scenarios such as when caching pages), however a bug in the way Akismet reads the value of the filtered option is preventing ZenCache v15120 from working as expected (see https://github.com/websharks/zencache/issues/642; we have a temporary workaround posted in that issue

[2015-12-27 18:28] #645 closed, assigned to nobody

[2015-12-27 19:12] raamdev commented on #642
Note that this is not be changed/fixed in Akismet for backwards compatibility reasons; see [this comment](https://plugins.trac.wordpress.org/ticket/2467#comment:3):

---

All that remains to close this issue is to change ZenCache so that it returns (string) `'disabled-by-zencache'` instead of (boolean) `false`.

[2015-12-27 21:18] GermontZ commented on #490
@jaswsinc

According to their [release log](https://wordpress.org/plugins/bj-lazy-load/changelog/), not anymore!

@isaumya

There is nothing to break given I am foccussed on performance, and I use only certains scripts that don't cause trouble. And CF Rocket Loader improves performance A LOT! Therefore better Google ranking and so on.

@raamdev
Please, maybe you don't move lazy load one more time

[2015-12-27 21:58] KTS915 commented on #645
OK, thanks, Raam. I don't use Akismet on any sites. I look forward to finding out how to disable the nonce exclusion.

[2015-12-28 10:36] kristineds commented on #637
Also requested here (referencing internal, private ticket): https://websharks.zendesk.com/agent/tickets/10280

[2015-12-28 11:52] kristineds commented on #637
Requested here as well (internal, private ticket): https://websharks.zendesk.com/agent/tickets/10204

[2015-12-28 14:49] raamdev commented on #490
@Alergic Thank you for the feedback and the +1! :-) We'll take a closer look at this soon.

[2015-12-28 21:14] raamdev commented on #641
After some research, I discovered a few issues with the htaccess utilities in ZenCache Pro v151220:
- Every time the plugin options are saved when ZenCache is enabled, ZenCache [calls `addWpHtaccess()`](https://github.com/websharks/zencache-pro/blob/151220/src/includes/classes/Actions.php#L570-L572), regardless of whether or not it actually needs to (i.e., whether or not any options are enabled th

[2015-12-28 21:16] raamdev commented on #641
Also reported here (internal ticket): https://websharks.zendesk.com/agent/tickets/10212

[2015-12-28 23:18] raamdev commented on #637
Also requested here (internal ticket): https://websharks.zendesk.com/agent/tickets/10258

[2015-12-28 23:54] viriis commented on #637
Hi, How can I access to the link because I have this message
"You do not have access to request #10258. It may have been solved or deleted."
Thanks

[2015-12-29 02:48] jaswrks commented on #643
The ACE makes a [non-blocking request](https://github.com/websharks/zencache-pro/blob/151220/src/includes/classes/AutoCache.php#L158). So for there to be timeout, that would require the timeout to occur in the connection phase, not in the response phase. For that reason, I don't see the need for a configurable timeout in this particular case.

If it takes longer than 5 seconds for your site to con

[2015-12-29 02:56] raamdev commented on #637
@viriis Those are private, internal tickets, not publicly accessible.

[2015-12-29 02:57] raamdev commented on #643
Well then how can we detect such a problem so that the site owner doesn't think that the Auto-Cache Engine is broken? Because that's how it looks right now.

[2015-12-29 03:04] jaswrks commented on #643
Agree. I'm not sure what causes this timeout yet. If it occurred only very rarely then I'd just chalk that up to it being a connection timeout during a time when there was a network connectivity problem. However, from what you are describing and from what I have seen, this occurs more often than I would ever expect it to. We might need to work at debugging the WP_Http class in order to determine w

[2015-12-29 05:24] jaswrks commented on #640
This issue (i.e., full UTF-8 support) can be addressed in https://github.com/websharks/zencache/issues/635 whenever we pass the `/u` flag for all string manipulation. The solution presented above, which uses `mb_ereg_replace()` will work as a short-term solution, but passing the `/u` flag to `preg_replace()` is far better. The ereg_\* family of functions is deprecated. Perl already supports UTF-8,

[2015-12-29 05:38] jaswrks commented on #639
@lkraav

I agree that it would be nice if ZC could be configured to strip specific query string variables from it's caching algorithm. Your example, Google Analytics, is a use case where `gclid` and [these utm_ variables](https://support.google.com/analytics/answer/1033867?hl=en) are probably safe to ignore in almost every case. These are used to assist in tracking campaign performance and referra

[2015-12-29 05:40] jaswrks commented on #639
## Short-Term Solution

A decent short-term solution is to add the `&zcAC=1` variable to the URL.

So if you have a URL which contains query string variables, and you still want it cached, add that onto the end of the URL and it tells ZenCache that it's OK to do so.

[code]

[2015-12-29 06:28] bridgeport commented on #639
I was thinking over this suggestion, and believe there's a flaw to the approach of designating certain query parameters to be cached as well as @jaswsinc `zcAC=1` suggestion. And overcomplicates it.

I don't think the optimum solution is allowing individual query string url variations to be cached as separate files. Instead, I think you should serve the non-GET/non-query string version of the cach

[2015-12-29 08:18] lkraav commented on #639
You're correct @jaswsinc, `utm`-parameters are the perfect second example which I forgot. I knew there was something I left out :)

Either way, everything written above (although some concepts are repeated by now) is correct. I like the alphabetic ordering idea - that's indeed the optimal way to go about it.

[2015-12-29 08:46] BreursICT commented on #641
Hi Raam,

Thank you for your support!

So If I understand correct the error messages are not applicable, and for now I can just ignore them.

With kind regards,

Wesley de Graaf

Email:  mailto:wesley@breursict.com wesley@breursict.com

Website:  http://www.breursict.com http://www.breursict.com

BreursICT | Kvk 63788004 | Bunschoten | Nederland

Van: Raam Dev [mailto:notifications@github.com]
Ver

[2015-12-29 16:38] raamdev commented on #641
@BreursICT That is correct. If you don't have Static CDN Filters enabled (**ZenCache → Plugin Options → Static CDN Filters**), then any messages about being unable to write to the `.htaccess` file can be ignored.

[2015-12-29 16:58] raamdev commented on #639
@bridgeport writes...

Right. That was my understanding about how this would work: You would have "Query Vars To Ignore" section inside the **GET Requests** panel that would allow you to define a series of query variables that should be ignored (stripped) from the request prior to caching or loading an existing cache file.

@bridgeport writes...

That's an interesting idea and I agree that should

[2015-12-30 00:21] raamdev commented on #641
Next Pro Release Changelog:
- **Bug Fix**: Fixed an issue that was unexpectedly producing "Failed to update your /.htaccess file" error messages. The `.htaccess` routines are now more intelligent and take into consideration which plugin options are enabled and which options require updating the `.htaccess` file. This also improves performance by avoiding unnecessary read/writes to the `.htaccess`

[2015-12-30 00:21] #641 closed, assigned to nobody

[2015-12-30 00:26] raamdev commented on #644
Next Pro Release Changelog:
- **Bug Fix**: When `allow_url_fopen` is disabled via the PHP configuration, the Auto-Cache Engine is unable to read the XML Sitemap and was silently failing with only PHP Warning in the PHP error log. The Auto-Cache Engine currently requires [PHP URL-aware fopen wrappers](http://zencache.com/r/allow_url_fopen/). A new Dashboard notice displays an error message when `al

[2015-12-30 00:26] #644 closed, assigned to nobody

[2015-12-30 00:38] raamdev commented on #643
@jaswsinc I wonder... could this have something to do with how I have `allow_url_fopen=0` on my server...? Could it be that the `WP_Http` class is using a transport that doesn't support non-blocking requests??

[2015-12-30 03:09] raamdev commented on #637
Also requested here (internal, private ticket): https://websharks.zendesk.com/agent/tickets/10283

[2015-12-30 03:31] raamdev opened #646 "Improve UX of auto-updating .htaccess and provide manual update instructions"
Many site owners run security plugins that either prevent writing to `.htaccess` files or store the `.htaccess` contents in the database itself. In those scenarios, it would be nice to give site owners the option to disable the automatic-updating of the `.htaccess` (which, for those site owners, results in persistent Dashboard errors about being unable to write to the `.htaccess`) and automaticall

[2015-12-30 03:32] jaswrks commented on #535
Another check in the plus column for this feature.
Referencing private (internal) ticket: https://websharks.zendesk.com/agent/tickets/10106

**The problem:** Hard-coding a URL (e.g., while working in the Visual Editor) which leads to a media resource results in the URL not being filtered, because as it stands now the Static CDN Filters are applied to WP-driven URL filters only, and not to static c

[2015-12-30 03:53] raamdev commented on #643
@jaswsinc I just enabled WP_Http API debugging on my raam.org site and traced all requests to `raam.org/sitemap.xml`. Interestingly, every time I saved the ZenCache plugin options there were 4 calls:

[code]

That was repeated _every time_ I saved the ZenCache plugin options.

Here are the full details of those requests: http://pastebin.com/2chSjQG9

While reviewing the details of the requests, I

[2015-12-30 04:44] jaswrks commented on #643
Exactly, yes. Blocking is the default methodology, so unless it is changed specifically to use a non-blocking request, any WP_Http wrapper will use a blocking request.

30 seconds seems too long. Even 5 seconds is pushing it IMO. In this specific case we are dealing with a blocking request that is performed on `admin_init`. So forcing a site owner to wait for up to 30 seconds in order to tell them

[2015-12-30 14:27] raamdev commented on #643
I agree. I think what we need to do is add a note to the bottom of the error message when timeouts occur with the Auto-Cache Engine that suggests refreshing the page, and if the error persists to see a related KB article that explains why they might be seeing that error. That article can also suggest temporarily increasing the timeout using a filter. That would give us a way to address scenarios w

[2015-12-30 16:52] raamdev commented on #643
Added note regarding timeout errors when the error message mentions timeout issues:

![2015-12-30_11-51-42](https://cloud.githubusercontent.com/assets/53005/12053916/be9958e6-aeeb-11e5-84db-6a63dd0d9397.png)

[2015-12-30 20:15] raamdev commented on #643
@jaswsinc Commit https://github.com/websharks/zencache-pro/commit/0655c4175a7ca7d2b128bbbc6490b35bc2b29c66 reduces repeated attempts to validate XML Sitemap URL once successful by storing the last checked time as a WP Transient:
- If XML Sitemap URL is valid, it is not checked again for at least 1 hour, or until the next time the Auto-Cache Engine runs (every 15 minutes by default).
- If XML Sitem

[2015-12-31 16:53] raamdev commented on #642
Next Pro Release Changelog:
- **Akismet Compatibility**: Fixed a bug with Akismet compatibility where ZenCache was not properly disabling the Akismet Comment Nonce, which resulted in pages being unnecessarily excluded from the cache due to the presence of the `akismet_comment_nonce` in the markup. Props @Kalfer. See [Issue #642](https://github.com/websharks/zencache/issues/642).

[2015-12-31 16:53] #642 closed, assigned to nobody

[2015-12-31 17:09] raamdev commented on #643
Next Pro Release Changelog:
- **Bug Fix**: Fixed an Auto-Cache Engine bug that was producing false-positive Dashboard errors related to timeouts: "Problematic XML Sitemap URL - WP_Http says: Operation timed out after 5001 milliseconds with 0 bytes received." Due to the way ZenCache was checking the XML Sitemap URL more than necessary, timeouts were more likely to occur. We now only check the URL r

[2015-12-31 17:09] #643 closed, assigned to nobody

[2016-01-02 10:39] xberg commented on #626
Will this work if I enabled Redis or memcache persistent caching?

[2016-01-02 17:17] raamdev commented on #626
@xberg This feature has not been created yet, but we'll keep Redis and Memcache in mind when working on this. :-)

Referencing https://github.com/websharks/zencache/issues/47

[2016-01-03 20:01] raamdev commented on #637
Next Pro Release Changelog:
- **Enhancement**: It's now possible to override the ZenCache Nonce exclusion globally (dangerous) or only for Logged-In Users (safer). Please see [this article](http://zencache.com/r/kb-article-what-are-wordpress-nonces-and-why-are-they-not-cache-compatible/) for full details. [Issue #637](https://github.com/websharks/zencache/issues/637).

[2016-01-03 20:01] #637 closed, assigned to nobody

[2016-01-03 20:36] raamdev commented on #644
**ZenCache v160103** has been released and includes changes from this GitHub Issue. See the [v160103 announcement](http://zencache.com/zencache-pro-v160103-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#644).

[2016-01-03 20:36] raamdev commented on #643
**ZenCache Pro v160103** has been released and includes changes from this GitHub Issue. See the [v160103 announcement](http://zencache.com/zencache-pro-v160103-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#643).

[2016-01-03 20:37] raamdev commented on #642
**ZenCache Pro v160103** has been released and includes changes from this GitHub Issue. See the [v160103 announcement](http://zencache.com/zencache-pro-v160103-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#642).

[2016-01-03 20:38] raamdev commented on #645
**ZenCache Pro v160103** has been released and includes changes from this GitHub Issue. See the [v160103 announcement](http://zencache.com/zencache-pro-v160103-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference #637.

[2016-01-03 20:39] raamdev commented on #641
**ZenCache Pro v160103** has been released and includes changes from this GitHub Issue. See the [v160103 announcement](http://zencache.com/zencache-pro-v160103-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#641).

[2016-01-03 20:39] raamdev commented on #637
**ZenCache Pro v160103** has been released and includes changes from this GitHub Issue. See the [v160103 announcement](http://zencache.com/zencache-pro-v160103-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#637).

[2016-01-04 05:59] RP-Joe opened #647 "Crashed my site"
I have several websites. All same theme. I installed zencache and now have a white screen of death.
This is the second time. The first time it crashed one of my websites, I thought I did something wrong. It was no big deal. It was a small website and I rebuilt it.

I have WordPress 4.3 or 4.4, I can't remember. I renamed plug-in folder. I renamed the theme folder. The only thing left in there is 2

[2016-01-04 13:12] raamdev commented on #647
@RP-Joe Try following the manual uninstallation instructions here: [How do I uninstall ZenCache?](http://zencache.com/kb-article/how-do-i-uninstall-zencache/)

Your `wp-content/advanced-cache.php` file may have become corrupt. You can delete that file and ZenCache will recreate it the next time it is activated and enabled.

If deleting the ZenCache plugin folder _and_ the `wp-content/advanced-cach

[2016-01-04 13:12] #647 closed, assigned to nobody

[2016-01-04 15:15] RP-Joe commented on #647
WOW
I did not expect such a fast response and you solved my problem.
Amazing. Thank you.
Its up and running. I am going to use 2014 theme. Not taking any chances now.
Thanks again.

[2016-01-06 08:00] jaswrks opened #648 "Possible Conflict w/ OPcache on PHP 5.6"
This is a duplicate of a ticket was that worked on in the past. See: https://github.com/websharks/zencache/issues/624

We made attempts to resolve the issue, but the customer reports the problem still exists after upgrading to the latest version of ZenCache Pro.

Referencing private/internal ticket: https://websharks.zendesk.com/agent/tickets/10259

[2016-01-06 13:52] mennobouma opened #649 "Bug after saving page"
Hi Zencache support,

When i save a page i get this error:

Warning: rename(/home/users/*****_.nl/wp-content/cache/zencache/cache/https/www-**_**-nl-568d1affd89a6848447998-tmp,/home/users/weddrftp/****_.nl/wp-content/cache/zencache/cache/https/www-**_**-nl): Directory not empty in /home/users/****_/**_**.nl/wp-content/plugins/zencache-pro/src/includes/closures/Shared/CacheDirUtils.php on line 384

[2016-01-06 18:29] raamdev commented on #649
@mennobouma A few questions:
- What version of PHP are you running?
- What version of ZenCache Pro are you running?
- How often does this error occur? Is it all the time or only occasionally?
- Does your web hosting company used cloud-based or network-based storage (NFS)? Those sorts of filesystems are more prone to issues with file locking.

[2016-01-06 19:31] mennobouma commented on #649
Hi Raamdev,
- 5.4.45
- Zencache Pro 160103
- it happens occasionally but especially on major changes like menu updates where all pages need to be flushed
- running Apache, on network-based storage (cluster hosting @ Byte.nl)

[2016-01-07 07:12] renzms opened #650 "Feature Request: Option to disable HTML Compression for Logged-In Users"
HTML compression allows for cached pages to load a lot faster compared to the initial visit to the page. Logged in users may have a much slower first time visit of loading of a page because of the HTML Compression. Compared to regular visitors or users who are not logged in, those visitors/users may have a faster experience because of the Auto-Cache Engine and the way it can pre-cache.

There shou

[2016-01-07 13:00] raamdev commented on #649
@mennobouma writes...

This is almost certainly related to the network-based storage system your hosting company is using. Please see this article and consult with them regarding the best technique for locking:
- [What is Cache Locking?](http://zencache.com/kb-article/what-is-cache-locking/)

[2016-01-07 13:00] #649 closed, assigned to nobody

[2016-01-07 13:02] jaswrks commented on #649
Agree. I suggest _not_ using NFS for a cache.

[2016-01-07 14:01] raamdev opened #651 "Feature Request: URI Exclusions for HTML Compressor"
@renzms writes in https://github.com/websharks/zencache/issues/650#issue-125337944...

We currently have JavaScript and CSS Exclusion options in the HTML Compressor; a new "URI Exclusion Patterns" section sounds like a good idea to me.

[2016-01-07 14:01] raamdev commented on #650
Love that idea! Thank you.

That sounds like a good idea too. I forked that to a separate GitHub issue: https://github.com/websharks/zencache/issues/651

[2016-01-07 14:22] Zwilla opened #652 "preg_split() expects parameter 3 to be integer"
\nWarning: preg_split() expects parameter 3 to be integer, null given in /var/www/html/mydomain.com/wp-content/plugins/zencache/zencache.inc.php on line 2237
\

[2016-01-07 14:44] raamdev commented on #652
This is line 2237 of `zencache.inc.php`:

[code]

The [`preg_split()` docs](http://php.net/manual/en/function.preg-split.php) say the 3rd parameter can be set to `NULL` (as ZenCache is doing here):

@jaswsinc We could just change that 3rd parameter to `-1` throughout the codebase to avoid these warnings, sound good?

[2016-01-07 15:20] jaswrks commented on #652
@raamdev Yes, that sounds good to me.

I have seen this myself recently. I was forced to update this in a few places in another project. The `NULL` value works fine until you turn on strict types in PHP 7, and then it requires that it be set to an integer value; e.g., `-1`.

[2016-01-07 18:38] Zwilla commented on #652
Apache - Mariadb - PHP7 - HHVM (hhvm.php7.all = 1) - Wordpress

I changed the value now to "-1"

thx

[2016-01-08 03:03] renzms commented on #650
@raamdev

Cool, thanks for separating the two as I wasn't sure if I should make a **Feature Request Issue** for each feature. I'd love to work on both once an outline is made!

[2016-01-09 23:43] xberg opened #653 "cron_zencache_cleanup never executing!"
Hi
Using Pro version 160103.
The _cron_zencache_cleanup never executes. I use Crontrol to monitor the wp_cron and there's very strange behavior: The "next run" time keeps changing!!! I have it set to run every 3 hours, but the next run time is always in just 1 minute time! When I refresh the crontrol page I see your CRON is still schedule to run in a minute. and it NEVER NEVER runs. So this just f

[2016-01-09 23:45] xberg commented on #653
I do NOT have the Disable Cache Expiration If Server Load Average is High enabled, but it seems to behave like it is and that my server is high.

[2016-01-10 12:39] raamdev commented on #653
@xberg I'm not able to reproduce this behavior. The cronjobs are behaving as expected for me:

## 40 seconds before running

![2016-01-10_07-34-24](https://cloud.githubusercontent.com/assets/53005/12221531/a527c602-b76c-11e5-919c-d6ac9877e101.png)

## While running

![2016-01-10_07-35-17](https://cloud.githubusercontent.com/assets/53005/12221535/d3357ada-b76c-11e5-8da3-d5cf35277b2f.png)

## Just a

[2016-01-10 12:42] raamdev commented on #653
@xberg Also, if you want to change the schedule at which the cache cleanup occurs, you can create a custom schedule with WP Crontrol (**Dashboard → Settings → Cron Schedules**) and then select that custom schedule in **ZenCache → Plugin Options → Cache Expiration Time → Cache Cleanup Schedule**:

![2016-01-10_07-41-00](https://cloud.githubusercontent.com/assets/53005/12221565/ac106630-b76d-11e5-8b

[2016-01-11 09:10] xberg commented on #653
Raam,
Just because you cannot reproduce the issue does not mean that the issue is not there.
I am experienced with CRON jobs and I can tell you that there is a major problem on my setup with just your plugin, and this only started a few weeks ago (at least 2 releases ago).
Yes, I can change the schedule to whatever I want, but your cleanup NEVER runs. It keeps reseting itself to run in a minute (b

[2016-01-11 09:16] xberg commented on #653
http://prntscr.com/9oo1oz
http://prntscr.com/9oo1t5
http://prntscr.com/9oo1wq
http://prntscr.com/9oo1zu
http://prntscr.com/9oo22i
http://prntscr.com/9oo25s
http://prntscr.com/9oo2b0

Here I am refreshing CRONTROL every 20 seconds. You can see that your CRONs are alway reset to run in 1 minute. In the meanwhile you can see that another cron, the NXS decrements correctly.

You have a problem and you

[2016-01-11 16:18] raamdev commented on #653
@xberg Have you reproduced this issue in a clean WordPress installation? See [Testing ZenCache in a Clean WordPress Installation](http://zencache.com/kb-article/testing-zencache-in-a-clean-wordpress-installation/)

If you have, then please provide me with a list of steps to reproduce this issue on my site.

[2016-01-12 01:59] renzms commented on #535
On a related note contributing to this, CDN filters are using HTTP instead of HTTPS

Referencing internal ticket: https://websharks.zendesk.com/agent/tickets/10332

[2016-01-12 08:10] xberg commented on #653
Raamdev,

Do you have anything in your program that resets the counter to 1 minute? It would not surprise me at all that your "Disable Cache Expiration If Server Load Average is High" is creating the problem.

Otherwise is there any instruction I could run to replicate the behavior of your CRON?

Without this, what is your reimbursement policy as I can no longer use your caching with this bug.

[2016-01-12 09:08] xberg commented on #653
Ah!! I found your code that was creating the bug. I cannot believe you did not immediately find it yourself after my description!

It's code you added 20151220 which resets the CRON to run in a minute: exactly the description I made initially!!!

It's in CronUtils.php and here it is:

/*
- Checks Cron setup, validates schedules, and reschedules events if necessary.
  *
- @attaches-to `init` hook.

[2016-01-12 09:30] xberg commented on #653
Remving this line fixed your bug:

|| $self->options['crons_setup_on_wp_with_schedules'] !== sha1(serialize(wp_get_schedules()))

[2016-01-12 13:27] jaswrks commented on #650
Another +1 for this here. Private/internal ticket ↓
https://websharks.zendesk.com/agent/tickets/10506

[2016-01-12 14:20] rdanamcd opened #654 "PHP Rename Error when hosting on Pantheon.io"
I've recently moved to Pantheon.io for their Dev, Stage, Live servers and GIT version control. Not sure if Zencache will be able to be compatible with Pantheon.io or not. It works fine caching ( have to put the cache folder in a writable directory wp-content/uploads/cache folder ) but it is unable to delete the cache files. Getting an Exception error at all "Renames" in the src/includes/closures/S

[2016-01-12 14:35] jaswrks commented on #654
@rdanamcd To my knowledge, Pantheon is not compatible with _any_ WP cache plugin, due to the nature of their platform. It might be possible to run something that takes further advantage of Redis within their infrastructure, but generally speaking it appears their take is that "_you don't need a WP cache plugin_" when running on their platform. ZenCache does not support Redis (yet).

Referencing: h

[2016-01-12 14:42] jaswrks commented on #653
@xberg Watch it with the tone! Show some respect here, and we will do the same.

Please cleanup the code that you posted and I will review as well. So far it looks like you solved the problem, but I'm not clear on why you're calling this a :bug: yet. Please explain in greater details and we can work together at solving it.

[2016-01-12 14:46] jaswrks commented on #535
@renzms writes...

Note that HTTPS must be explicitly enabled whenever you configure Static CDN Filters, because your CDN needs to be configured in ways that allow for this to function as intended. If after reviewing the configuration panel for Static CDN Filters in ZenCache, you are able to find a bug, please open a _separate_ issue for this.

[2016-01-12 14:49] xberg commented on #653
Youi're right: I'm sorry about the tone.

[2016-01-12 14:58] raamdev commented on #653
@xberg writes...

The only reason that line would cause problems is if `wp_get_schedules()` changes on every page load (and that should never happen, which again, is why I asked you to reproduce this in a clean installation of WordPress to rule out issues with other plugins or custom code).

That line basically says, "if there has been a change to the WordPress Cron Schedules (i.e., you added/remo

[2016-01-12 15:04] rdanamcd commented on #654
I contacted them and they gave me the information on how to set it up. They were fine with it. Had to put advanced-cache.php under GIT control and put the cache directory in the wp-content/uploads/cache folder. It does work and cache is fast but does not delete.
I've tried using their Varnish Servers and been in contact with tech support about. Since it's mainly for logged in users and some php se

[2016-01-12 15:17] jaswrks commented on #654
Ah. Cool! Thanks for sharing that information with us.

Cool. Thanks for the +1 on Redis. https://github.com/websharks/zencache/issues/47

[2016-01-12 15:25] raamdev commented on #654
ZenCache uses the PHP `rename()` function in several places, so unless you modify the ZenCache codebase to change its behavior, it doesn't sound like there's going to be an easy solution for you with Pantheon.io.

[2016-01-12 15:57] rdanamcd commented on #654
That's what I'm thinking. I did notice a TODO parameter to optimize the deleteFilesFromCacheDir for extremely large sites. ( Mine does not fit in the category though :-) ) Don't know if the rename() is the fastest solution to delete files... it might be, have no idea. Just wanted you to be aware of the rename issue and Pantheon.io.

Thanks

[2016-01-13 02:00] raamdev commented on #654
@rdanamcd Thanks for the heads up. Much appreciated. :-)

[2016-01-13 02:00] #654 closed, assigned to nobody

[2016-01-14 11:05] xberg commented on #653
Raamdev,
I am not a developer so I cannot help you. I just know that removing this line fixed my problem. With the line there was a continuous loop which kept creating a new cron job that was to execute in a minute, but immediately got deleted and recreated.

I understand it's hard to debug without being able to replicate, but I am convinced I am not the only one who will have this problem so at l

[2016-01-14 12:08] raamdev commented on #653
@xberg Again, have you reproduced this in a clean WordPress environment? I'm guessing you did not, because if you did I have a strong feeling you'd see that there is no bug there. :-)

[2016-01-15 07:14] renzms commented on #651
## Step 1
- New feature branch in the `websharks/zencache-pro` repo.
- After [this line](https://github.com/websharks/zencache-pro/blob/160103/src/includes/classes/Plugin.php#L207) add

[code]
- After [this line](https://github.com/websharks/zencache-pro/blob/160103/src/includes/classes/Plugin.php#L337) add

[code]
- After [this line](https://github.com/websharks/zencache-pro/blob/160103/src/inclu

[2016-01-15 07:37] renzms commented on #651
@raamdev
Also, noticed a grammatical error (probably me?)

[here](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/classes/MenuPageOptions.php#L554) in the URI exclusion patterns explanation

[code]

should be

[code]

Should I just open up a new ZenCache issue for that one?

[2016-01-15 10:12] renzms commented on #650
## Next Actions (Step 1 of 2)
- New feature branch in the `websharks/zencache-pro` repo.
- After [this line](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/classes/Plugin.php#L216) add the following:

[code]
- After [this line](https://github.com/websharks/zencache-pro/blob/160103/src/includes/classes/Plugin.php#L347) add the following:

[code]
- After [this line](https://g

[2016-01-15 22:40] raamdev commented on #651
Thanks for catching that! Fixed in https://github.com/websharks/zencache-pro/commit/2a6e3a7a96af7a48e168addf19f0a6f39b3984c1. No need to open an issue for that one.

[2016-01-15 22:47] raamdev commented on #651
That looks great! Nice work! :smile:

@jaswsinc How's this look to you?

[2016-01-15 22:51] raamdev commented on #650
@renzms Nice work getting us started on this! Thank you. :smile:

This one looks wrong; I don't think that code belongs in `advanced-cache.txt`:

---
- After [this line](https://github.com/websharks/zencache-pro/blob/000000-dev/src/includes/templates/advanced-cache.txt#L407) add the following:

[code]

---

There also appears to be something missing here:

---

Add UI option for:

`'htmlc_when_log

[2016-01-16 16:01] sdesign75 opened #655 "HTML Compression - Page generation speeds"
Hi

The Html compression seems to really slow down page generation on my site (see my figures below).

Obviously for pages that have already been cached the html compression is going to make them load faster (at least I think it will), but what it means is that the first visitor to a page has over twice the page generation time that they had without html compression. Not good!

What do you think a

[2016-01-16 17:03] renzms commented on #651
Updated links to use the `160103` branch

[2016-01-16 17:04] renzms commented on #650
Updated links to use the `160103` branch

[2016-01-16 17:17] renzms commented on #650
~~###Attempt for Step 2~~

### Attempt for Step 2

Add UI option for:

`htmlc_when_logged_in`

~~After this line here~~

After [this line](https://github.com/websharks/zencache-pro/blob/160103/src/includes/classes/MenuPageOptions.php#L842) here

Submit PR.

[code]

[2016-01-18 03:24] jaswrks commented on #651
Looks fantastic! Nice work @renzms.

---

@raamdev Looks like there will be one additional step needed to read the list of exclusions and prevent the HTML Compressor from running whenever one of the patterns matches the current URI. I think that code should be added to the HTML Compressor itself though.

I just released a new version of the HTML Compressor to support this.
See: https://github.com/

[2016-01-18 03:37] jaswrks commented on #655
@sdesign75 Thanks for posting the stats, that helps.

You wrote...

Can I assume then, that your average page generation time w/o _any_ caching or HTML Compression whatsoever is somewhere in the neighborhood of three full seconds?

If that's the case, then it stands to reason that the HTML Compressor is going to take a longer time on this site. 3 seconds is quite a long time. The HTML Compressor n

[2016-01-19 10:04] sdesign75 commented on #655
Hi,

Yes, my page generations are around 3 full seconds. It's specifically the buddypress plugin. It really slows things down. My other Wordpress sites on the same server are much less than 2 seconds. This is why I bought ZenCache, was the only cache system that seemed to work properly with member sites. I have turned pre-cache on so this helps. I really just posted the figures for your info as I

[2016-01-19 12:00] Metacowboy opened #656 "html Compression is not working on https"
the Plugin compress the files perfect on a http request for the https no compression is done

[2016-01-19 15:01] raamdev commented on #656
@Metacowboy Have you tested this in a [Clean WordPress Installation](http://zencache.com/kb-article/testing-zencache-in-a-clean-wordpress-installation/)? HTML Compression for HTTPS requests works fine for me.

[2016-01-19 15:03] raamdev commented on #655
@sdesign75 Thank you for the feedback and for posting the stats! :-) As Jason noted, the Auto-Cache Engine is designed specifically to solve the first-to-cache slowdown that visitors might experience.

[2016-01-19 15:03] #655 closed, assigned to nobody

[2016-01-19 15:05] raamdev commented on #650
@renzms Something still looks wrong with that. ↑

[2016-01-19 17:18] GermontZ commented on #656
@Metacowboy  Do you use Cloudflare?

[2016-01-21 03:43] renzms commented on #650
@raamdev

I see, I think its this line:

[code]

Should be:

[code]

[2016-01-21 16:07] raamdev commented on #650
@renzms Good catch! But I was actually referring your formatting and missing link in your GitHub comment:

![2016-01-21_11-05-00](https://cloud.githubusercontent.com/assets/53005/12486077/0186c6f8-c02f-11e5-8504-10d165c8c17f.png)

---

Nice work on putting together the outline! Please go ahead and open a PR for the above work so that we can start reviewing code. :-)

[2016-01-21 16:09] raamdev commented on #651
@renzms I noticed that you added a `ready for review` label here. Please only use that label for Pull Requests. If something is ready for another review in a GitHub issue, please leave a comment in the GitHub issue saying as much. :-)

[2016-01-22 03:30] renzms commented on #650
@raamdev

Oh yeah, thanks! Edited the above. Funny, in my previous posts I actually included the link! I'll get started  on the PR.

[2016-01-22 03:32] renzms commented on #651
@raamdev

Noted! PR submitted and ready for review.

[2016-01-22 14:43] dbaritchi opened #657 "Feature Request - Option to Serve jQuery (and other JS libs) from Google Hosted Libraries / CDNJS"
Hi there!

A number of the javascript libraries distributed with WordPress are also hosted on Google's Hosted Libraries project and CDNJS.

It would be awesome to have a checkbox/ option to enable auto URL replacement site-wide for these common JS libraries with calls to Google Hosted Libraries ( https://developers.google.com/speed/libraries/ ) or the Cloudflare-supported CDNJS ( https://cdnjs.com

[2016-01-22 23:08] lkraav commented on #653
@raamdev I'm seeing the same thing on my multisite installation subsites. This cron schedule gets bumped to 1min away on every page load. There doesn't seem to be anything that would be messing with cron schedules that would cause the hash to change. I'll investigate some more.

EDIT `!wp_next_scheduled('_cron_'.GLOBAL_NS.'_auto_cache')` always evaluates to `true` for me, causing the ever-reset sy

[2016-01-23 09:51] xberg commented on #653
Thanks ikraav for sharing your fix. Concretly, what file did you edit?

[2016-01-23 10:39] lkraav commented on #653
`./src/includes/closures/Plugin/CronUtils.php` the same thing you already found. It's not a fix, just a stopgap until people are able to figure out what's happening.

[2016-01-24 18:44] jaswrks commented on #652
## Next Actions
- New feature branch in the `websharks/zencache-pro` repo.
- Search the entire codebase (excluding `includes/share.php`) and look for: `preg_split`
- In calls to `preg_split()`, if the third argument is currently being set to a value of `null` (or `NULL`), please change it to `-1` instead for PHP v7 + strict types compatibility.
- Submit PR for review.

---

e.g.,

[code]

becomes:

[2016-01-24 18:48] jaswrks commented on #648
@raamdev Another possible bug that could cause this.
https://github.com/zendtech/ZendOptimizerPlus/issues/146

i.e., Running OPcache with `opcache.fast_shutdown=true`
http://php.net/manual/en/opcache.configuration.php#ini.opcache.fast-shutdown

[2016-01-24 18:54] jaswrks commented on #612
@renzms This might be a good one for you to tackle, since you have already worked with this specific area of the code in ZenCache before. Would you like to give this a shot? If so, let us know so that we can assign this to you. Thanks man! :-)

[2016-01-24 18:59] jaswrks commented on #545
@raamdev I'd like to suggest that we close this issue now, and instead we can just _be done_ with this file as a part of our upcoming work on 'you know what' (IC).

[2016-01-24 19:02] jaswrks commented on #621
I gave this some more thought and my feeling about this now is that we should not do it. It's bending things into our direction, and steering away from the 'the WordPress way', which almost always results in unnecessary maintenance on our part, or a breaking of the rules in one form or another.

If you want the beta copy. Go pro.

[2016-01-24 19:09] jaswrks commented on #635
## <del>Next Actions (Step 1 of Many) ~ for @renzms </del>

_**UPDATE:** This has been resolved in https://github.com/websharks/comet-cache-pro/pull/223_

---
- New feature branch in the `websharks/zencache-pro` repo.
  _Please name it `feature/635-arrays`_
- Search the entire codebase (excluding `includes/share.php`) and look for: `array(`
- Replace instances of `array()` with the short-array syn

[2016-01-24 19:17] jaswrks commented on #635
## <del>Next Actions (Step 2 of Many) ~ for @kristineds</del>

_**Update:** This was completed in https://github.com/websharks/comet-cache-pro/issues/222._

---
- New feature branch in the `websharks/zencache-pro` repo.
  ~ _Please DO make this a separate branch._
  _Please name it `feature/635_this`_
- Search the entire codebase for instances of: `$_this` (leading underscore).
- Remove the use of

[2016-01-25 05:33] jaswrks commented on #635
@raamdev Regarding this item listed above...

Can you please give us an OK on Multibyte String support in ZenCache? i.e., is it OK for us to absolutely require every site to be running the `mbstring` extension for PHP? My vote is yes. http://php.net/manual/en/mbstring.installation.php

[2016-01-25 06:06] jaswrks commented on #635
## <del>Next Actions (Step 3 of Many) ~ @raamdev</del>

_This was completed in https://github.com/websharks/comet-cache-pro/issues/224._

---
- New feature branch in the `websharks/zencache-pro` repo.
  _Please name it: `feature/635-http_response_code`_
- Completely remove [this block of code](https://github.com/websharks/zencache-pro/blob/160120-RC/src/includes/closures/Ac/ObUtils.php#L289-L293).

[2016-01-25 07:40] jaswrks commented on #635
@kristineds @renzms @raamdev Whoever takes Step 3 should probably the let the others know :-)

[2016-01-25 14:52] theperfectwill opened #658 "Feature Request/Question: Allowing Developers to Communicate an Asset Priority to Zencache"
Hi,

<strong>For Theme Developers: </strong>
Can you add an option for us to communicate with Zencache, giving Zencache a priority in which to compress an asset?

I've been working on a theme to tightly optimize it with Zencache, but I need some help as nothing else is working so far. So I had this idea.

<strong>In Short: </strong>
I need Zencache to compress my theme's css file after my theme's

[2016-01-25 18:00] raamdev commented on #658
@NoahjChampion You need to handle this with `wp_enqueue_style()`. You can create a dynamic PHP file [like this](https://github.com/raamdev/independent-publisher/blob/master/css/customizer.css.php) that generates your user-generated styles.

You can then [make sure the user-generated styles are called after the main theme CSS](https://github.com/raamdev/independent-publisher/blob/master/functions.p

[2016-01-25 18:00] #658 closed, assigned to nobody

[2016-01-25 18:20] theperfectwill commented on #658
@raamdev Thanks for your genius.

A little new to php, but I can wrap my head well around that. I've never seen that done, so never knew it could be done that way.

Thanks!

[2016-01-26 09:47] renzms commented on #612
@jaswsinc @raamdev

Sure, I'll take this one!

These should all open in new tab/window correct?

[2016-01-26 09:58] jaswrks commented on #612
:-) Cool!

[2016-01-26 19:54] theperfectwill opened #659 "Theme Support to force a Zencache setting"
In <em>HTML Compression</em> > <em>CSS Exclusion Patterns </em>
- I would like my theme tell Zencache to not cache my above the fold styles.
- I've given my above the fold styles a unique pattern id to be able to do this. But currently this has to be entered manually in Zencache to respect that.
- Is there away I can make sure my exclusion pattern is considered by Zencache?

I was looking for an <

[2016-01-26 20:54] omriamos opened #660 "Feature Request: Support for srcset attribute in Static CDN Filters"
Hi,

ZenCache's Static CDN Filters works great within my site, beside one issue - I'm using the 'srcset' parameter in the <img> tags in order to set a different image src for each screen size, and the filter changed only the first "src=" parameter but none of the "srcset=" parameters...

For example:
`<img class="alignnone wp-image-86011" src="//cdn.hwzone.co.il/wp-content/uploads/2016/01/1-1.jpg?

[2016-01-27 19:32] raamdev commented on #651
Next Pro Release Changelog:
- **New Feature!** The HTML Compressor now supports URI Exclusion Patterns, so you exclude specific pages or an entire series of pages from the HTML Compressor using the flexible [Watered-Down Regex Syntax](http://zencache.com/r/watered-down-regex-syntax/). Props @renzms. See [Issue #651](https://github.com/websharks/zencache/issues/651).

[2016-01-27 19:32] #651 closed, assigned to renzms

[2016-01-27 20:33] raamdev commented on #660
@omriamos Thank you for the feature request. :-)

---

This article provides an overview of the how and why of the `srcset` attribute:

http://www.sitepoint.com/responsive-images-part-1-using-srcset/

And here's some official docs:

https://www.w3.org/html/wg/drafts/html/master/semantics.html#introduction-3:device-pixel-ratio-2

Note that this is for HTML 5.1 and the above link is to the W3C Worki

[2016-01-27 20:39] raamdev commented on #659
@NoahjChampion Setting that sort of thing from a theme is not ideal. It would be better to make your above-the-fold styles compatible with compression, or to provide some documentation for your theme users who might be using ZenCache, explaining how to exclude those specific styles.

You might be able to use a technique [like this](http://zencache.com/kb-article/how-do-i-disable-static-cdn-filters

[2016-01-27 20:43] raamdev commented on #621
@jaswsinc What about just checking if a beta version is available and showing a Dashboard notice that includes a link to the announcement post? (Along with an option to enable/disable this check.) That way we're not dealing with code that installs the Lite Beta version (they'll have to do that manually using instructions in the announcement post), but at the same time we can give site owners a way

[2016-01-27 20:54] jaswrks commented on #621
Sounds good :-)

[2016-01-27 20:58] raamdev commented on #635
@jaswsinc writes...

Hmm, that sounds like it's [asking for trouble](https://wordpress.org/search/mbstring?forums=1).

PHP.net [says](http://php.net/manual/en/mbstring.installation.php):

If I understand the reason for adding Multibyte String support to ZenCache, it's to improve support for sites that use languages with multibyte character encoding, correct? If so, that _does not_ sound like a hig

[2016-01-27 21:03] raamdev commented on #545
@jaswsinc That sounds like a plan to me. But let's keep this issue open so that we remember to remove it.

I'm adding it to a new IC (Soft Launch) milestone.

[2016-01-27 21:18] raamdev commented on #653
@lkraav The `wp_next_scheduled()` function (see [docs](https://codex.wordpress.org/Function_Reference/wp_next_scheduled)) just checks if a given action hook, in this case `_cron_zencache_auto_cache`, has been scheduled.

If the conditional where that check exists evaluates to true (i.e., the event has _not_ been scheduled), then ZenCache schedules the event with this line:

[code]

So once the eve

[2016-01-27 21:25] raamdev commented on #657
@dbaritchi Thanks for the feature request. :-)

---

@jaswsinc Any thoughts on this feature? It seems like a nice feature to add to the Lite version (we haven't released many new features in the Lite version and this seems like it would fit well).

My first thought about this was that there might be issues with library versions (i.e., we need to make sure we link to the right version libraries as

[2016-01-27 21:38] lkraav commented on #653
I will re-evaluate each of the conditions again. It may not be about just `wp_next_scheduled()` here.

[2016-01-27 22:51] jaswrks opened #661 "Stats Log Endpoint"
Endpoint URL should be updated to:
`https://stats.wpsharks.io/log`

https://github.com/websharks/zencache-pro/blob/160103/src/includes/closures/Plugin/StatsUtils.php#L24

[2016-01-28 12:12] renzms commented on #612
@raamdev

On your link for the blog I think you meant: http://zencache.com/blog/

Your link up there currently goes to: **zencache/blog/**

[2016-01-28 14:46] renzms commented on #612
@raamdev @jaswsinc Tested, submitting PR

![screen shot 2016-01-28 at 10 45 31 pm](https://cloud.githubusercontent.com/assets/13220018/12647609/e2f9ce96-c610-11e5-8095-04e05abce86c.png)

[2016-01-28 14:47] jaswrks commented on #612
ha. It would be cool if we owned `http://zencache`

[2016-01-28 14:48] jaswrks commented on #612
Better: `zencache://blog`

[2016-01-28 16:57] sdesign75 opened #662 "Feature Request: Wildcards in Auto-Cache URLs"
Can you please add the ability to use wildcards in the "List of URLs to Auto-Cache"?

At the moment, if I want to auto-cache categories and tags I have to put the URL for every page of each archive, and then keep adding to the list as my archives grow. I know that I could add categories and tags to the sitemap.xml but this practice is bad for SEO (as Google will see them as duplicate content).

I

[2016-01-29 05:38] dbaritchi commented on #657
@raamdev Thanks. Glad you're considering this. I was looking at other possible ways to offload processing from our servers and this idea just seems to fit with a high end caching/performance plugin like ZenCache.

ZenCache is doing great so far in our long term BlogPress evaluation. It has been a far more positive experience for us than a French option proved to be not long before. Even on a very

[2016-01-29 15:15] renzms commented on #652
@jaswsinc

PR submitted, ready for check. Thanks!

[2016-01-29 17:42] jaswrks commented on #662
Cool idea. I agree this would be nice.

The challenge is that in this particular area of the code we are not dealing with exclusions, or even a list that is derived from a call to the DB. There's nothing to match against; yet.

Instead, we run from a list that you supply. So in order to support wildcards here we would need to query the DB in a way that is indirectly based on slugs and/or wildcards

[2016-01-29 17:48] jaswrks commented on #659
Something like this perhaps, as Raam was suggesting.

[code]

[2016-01-30 11:58] sdesign75 commented on #662
I didn't think about the need to call the database. Makes sense.

[2016-01-31 03:16] KTS915 commented on #657
That's a very old reference to which @dbaritchi linked! I could find much more recent articles written by developers considered to be WP gurus who would advise strongly that replacing WP jQuery with Google jQuery should not be done.

But I'm not going to do that. My point is that there are strong arguments on both sides, and no one article has the answers.

What does concern me is that Zen Cache s

[2016-01-31 03:27] KTS915 commented on #650
@renzms, @jaswsinc, @raamdev: I'm curious. What would be the benefit to logged-in users of disabling HTML compression?

[2016-01-31 04:11] KTS915 commented on #657
Thinking about this further, the point is to speed up the site on which this is done (and/or reduce server load). It's certainly not about changing a site's configuration.

So you would also need to make sure that the Google version of jQuery being loaded is the same as the one WP is using.

[2016-01-31 15:40] jaswrks commented on #657
@KTS915 writes...

Ah, good point. Yep. That's a tricky thing to work around. We can load jQuery into noConflict mode, even from a CDN, but it requires an additional line of code just after the script is included. https://api.jquery.com/jquery.noconflict/

Hmm. I don't think it's worth us trying to load jQuery into noConflict mode though, because the only conflicts that exist are between JavaScrip

[2016-01-31 16:02] dbaritchi commented on #657
Hey guys, just came across another Wordpress plugin that has the same functionality for jQuery URL replacement as the one linked above - but it handles both Google Libraries AND CDNJS - so code may be helpful.

Here's the description:

https://wordpress.org/plugins/wp-jquery-plus/

[2016-01-31 16:15] dbaritchi commented on #657
I've been doing some research this morning on the noconflict problem brought up above relating to doing CDN URL replacement for jQuery - and at least to me it seems all the conflicts and problems forlks are running into are specifically due to not loading jQuery in "no conflict" mode like Wordpress does by default.

Is there any reason to not add that no-conflict line as well?

If that extra line

[2016-01-31 16:32] KTS915 commented on #657
@dbaritchi: Thanks for your latest comments. I agree with your approach.

But have you actually tried WP jQuery Plus with Zen Cache Pro? In the last twenty minutes, I've been testing them together on two sites (one localhost, the other with my paid host). The results were the same on both.
- WP jQuery Plus clearly made the sites faster than running no caching or compression at all.
- Zen Cache mad

[2016-01-31 19:11] dbaritchi commented on #657
@KTS915 i have not, our network is too "production" to test a plugin in that way, no telling what could conflict on what site lol. I actually only found this one when looking for the "no conflict" issue you mentioned, where i too found the "add the line of no conflict code" as a solution. :)

But I would think it's hard isolate that conclusion from that test. That test tells us the plugin WP jQuer

[2016-01-31 19:23] KTS915 commented on #657
@dbaritchi: Yes, I have seen that thread before. And I agree that my tests don't necessarily tell us much about the principle. (In fact, I said as much when I reported them.)

But, interestingly, you've quoted my favorite bit about that thread. Because I don't use a CDN on my sites (which are complex things with 70+ plugins and a lot of content), and yet they score 98% on Yslow and PageSpeed! (And

[2016-01-31 19:27] dbaritchi commented on #657
lol @KTS915 i know, i quoted that post in spite of. ;)

in all seriousness, the only real comparison is doing independent loads of JUST the JS libs from your server compared with the Google Libs served file and CDNJS file or jquery.com file.

Google / CDNJS / even jquery.com will simply deliver that file much faster and compounded by multiple sites with multiple visitors each, that is a good thing

[2016-01-31 19:36] jaswrks commented on #657
@dbaritchi

Cool. Thanks for relaying that.

[2016-01-31 19:37] KTS915 commented on #657
@dbaritchi: :)

"for the visitor it will be a faster experience regardless because Google Libs / CDNJS (powered by CloudFlare) have edge servers everywhere where the file already lives already close to these first time visitors. so win/win/win. :)"

As I said, I don't think that's necessarily true. 98% of the time, probably. The other 2%? That's not a given at all. You are overlooking the fact tha

[2016-01-31 19:43] jaswrks commented on #657
@dbaritchi writes...

Nope. It doesn't hurt anything at all. I agree that the closer to _the WordPress way_ you can get the better, and it's something we could consider carefully when/if we implement this in ZenCache.

However, it just strikes me as seemingly unnecessary. I mean, if you're loading jQuery from a CDN, you're already doing things in a non-WordPress way. So adding the noConflict mode,

[2016-01-31 19:52] jaswrks commented on #657
@KTS915 writes...

I agree on both of those points. There are ups and downs.
- CDN = lower latency across the globe, fewer hits to your site, possible caching to reduce bandwidth for users who visit your site, which improves render time.
- CDN = also equals (as you pointed out) new points of failure, and multiple DNS lookups for a browser. With the forward momentum that HTTP/2 is seeing, this is e

[2016-01-31 20:23] jaswrks commented on #657
@dbaritchi writes...

I agree. Definitely. That's a big reason (the only reason that I need) to use a CDN. If you don't run a CDN, then your visitors are losing this important speed boost that only a CDN can provide.

_This is something that quick tests will not show you. Geographic response time._

With HTTP/2, it's best to use a CDN like CloudFlare that operates at the DNS level. Or, short of th

[2016-02-01 15:37] luckybhumkar commented on #585
@WPExpert, The solution for your "Fatal error: require_once():..."
Just change the file permission of **wp-config.php** to **644**. That's it. Nothing else.
Source:http://doubtsolver.com/ask/9/permission-denied-in-public_html-wp-load-php-line-wordpress

[2016-02-01 15:38] luckybhumkar commented on #598
@dthreatt , The solution for your "Fatal error: require_once():..."
Just change the file permission of **wp-config.php** to **644**. That's it. Nothing else.
Source:http://doubtsolver.com/ask/9/permission-denied-in-public_html-wp-load-php-line-wordpress

[2016-02-02 17:40] jaswrks commented on #635
I vote in the other direction, but I understand your concern.

---

If we don't require the `mbstring` extension, then we simply cannot add full support for UTF-8 string parsing performed by PHP. So this section will need to be removed from the suggestions above and delayed until such time as we can require the `mbstring` extension.

---

The reason that I vote in the other direction is because:
-

[2016-02-02 19:10] GermontZ opened #663 "Feature Request: preloading a list of attachments links"
Hello!

I am using Cloudflare. I just noticed that if my origin server is unfortunately offline, the pages already preloaded can't load all the images, pdf's or whatever.
Is there a way to generate an attachments list? I prefer preloading with a download manager.
Site owners should have the possibility to choose between automatic preloading and custom solutions.
Thank you!

[2016-02-02 20:10] raamdev opened #664 "Evaluate Custom PHP Code does not evaluate custom PHP code"
## Steps to reproduce
1. Install ZenCache Pro v160127, activate, enable, and add the following to **ZenCache → Plugin Options → Manual Cache Clearing → Evaluate Custom PHP Code when Clearing the Cache?**

[code]
2. Visit the site to cache some pages
3. Clear the cache manually using the Clear Cache button in the admin bar
## Expected behavior

The custom PHP code should be run, generating `WP_CONT

[2016-02-02 20:12] jaswrks commented on #664
Does it make any difference if you remove the PHP tags?

[2016-02-03 01:54] dbaritchi commented on #657
@jaswsinc been pondering what you said for a day or two... and agreed completely.

Love CloudFlare. We realy heavily on them both for our high traffic content sites, and for our blog hosting service... love CloudFlare. they recently added HTTP/2 and add that to their transparent caching of static assets, it's a great combo.

One problem with our multisite tho... so let's say there are thosands of

[2016-02-03 14:39] raamdev commented on #652
Next Pro Release Changelog:
- **Enhancement**: Fixed several PHP "Warning: preg_split() expects parameter 3 to be integer, null given". Props @Zwilla @renzms. See [Issue #652](https://github.com/websharks/zencache/issues/652).

[2016-02-03 14:39] #652 closed, assigned to renzms

[2016-02-03 14:44] raamdev commented on #661
Next Pro Release Changelog:
- Updated WebSharks stats log endpoint URL. Props @kristineds. See [Issue #661](https://github.com/websharks/zencache/issues/661).

[2016-02-03 14:44] #661 closed, assigned to kristineds

[2016-02-03 14:52] raamdev commented on #650
@KTS915 If a site has CSS/JS that gets loaded for logged-in users that is not compatible with the HTML Compressor, it would be nice to have an option for disabling it.

[2016-02-03 14:57] raamdev commented on #635
Right, but if it isn't enabled then ZenCache becomes unusable. If we're going to require it to run ZenCache, then we need to do the same thing we did with the PHP 5.4 requirement: come up with a plan for announcing the change to anyone who is currently running ZenCache on a site that doesn't have `mbstring` installed, and let them know that an upcoming version will require it.

Collecting that inf

[2016-02-03 15:00] raamdev commented on #663
@GermontZ Just to make sure I understand correctly: Are you saying that if you're using ZenCache Static CDN Filters, your HTML contains links to a CDN, and ZenCache then generates cache files that contain those CDN links, that when the CDN goes down and ZenCache loads a cached file (which contains the links pointing to the CDN), the static resource links end up appearing as broken?

[2016-02-03 15:02] raamdev commented on #664
No, no difference.

[2016-02-03 15:08] GermontZ commented on #663
I never said I use a CDN, at least not one like MaxCDN or other, so I don't need ZenCache settings enabled for it. Just Cloudflare! And the 'origin server' is my shared server with cheap subscription.
Therefore, sometimes it goes offline, and even if the visitors load the html page from Cloudflare servers, the images and other attachments are not, ore I must wait a few seconds for it.

That's why

[2016-02-03 15:31] raamdev commented on #663
@GermontZ So what is the feature request for ZenCache? I don't understand how ZenCache fits into the picture here.

[2016-02-03 15:34] GermontZ commented on #663
It could pick all attachment links, generate a list, and preload it.

[2016-02-03 15:34] raamdev commented on #663
Preload it where?

[2016-02-03 15:36] GermontZ commented on #663
The same how it's working for .html? On Cloudflare.

[2016-02-03 15:40] raamdev commented on #663
So you're asking if ZenCache can visit your attachment URLs so that they get cached by CloudFlare on their servers? The the ZenCache Auto-Cache Engine (**ZenCache → Plugin Options → Auto-Cache Engine**) should already be capable of doing that. The Auto-Cache Engine visits each page in the Sitemap file, which if you're using CloudFlare, should result in any static content stored on each page to be

[2016-02-03 15:42] jaswrks commented on #663
@raamdev He's talking about the static resources that a pre-cached page would ordinarily load had it been viewed by a browser. The ACE is not a browser, so all it preloads is the HTML source, and not the static assets such as JS/CSS, images, or other media, etc.

[2016-02-03 15:43] jaswrks commented on #663
@GermontZ Have you tried this yet?
https://support.cloudflare.com/hc/en-us/articles/206776707-Does-CloudFlare-do-prefetching-

[2016-02-03 15:49] GermontZ commented on #663
Thx anyway, worth reading.
Other than that, it could be taken into account that not everyone includes attachments, or archive subpages into sitemap. The ACE engine could be improved and preload some predefined pages:
- every blog pages
- attachments

I must create a list with those links and add it to the ACE list.

[2016-02-03 16:02] jaswrks commented on #663
I see. Enterprise only.

Well, to me, this feature request seems like it would be rarely-used; i.e., prefetching content for the purpose of being able to serve it in offline mode whenever an under-provisioned server goes offline frequently.

It sounds like CloudFlare already has you covered for this, but it is reserved for Enterprise customers.

[2016-02-03 16:05] GermontZ commented on #663
Well, than I will create myself a list for the ACE or download manager...
Thanks both of you for the patience to answer :-)

[2016-02-03 16:25] #663 closed, assigned to nobody

[2016-02-03 16:47] MarioKnight opened #667 "Better connectivity with Stream?"
I'm not sure how to best sum this up in the subject line, but I've noticed when using the Stream plugin ( https://wordpress.org/plugins/stream/ ), when ZenCache Pro is active, I see the following logged at least a couple times per minute the following two events are logged:

[code]

This appears to happen whenever someone is logged in and has the WP dashboard open in a tab regardless of what they

[2016-02-03 17:10] lkraav commented on #667
This is almost certainly related to #653

Stream helped me identify that weird things with cron were indeed happening.

[2016-02-03 21:03] VR51 opened #668 "Option to Cache by Browser Brand (to Fix an Oversight)"
Made an observation a few minutes ago while trying to figure out why CSS rules that target specific web browsers would work then not work then work then not.... Surprised I didn't spot this before.

**The Scenario**
- The body element of my pages contains a CSS class for the web browser brand e.g. Firefox, IE, Chrome.
- I often use CSS rules that are specific to web browser brands.
- When a cached

[2016-02-03 22:23] jaswrks commented on #668
You can already do this with a Version Salt.
See: http://zencache.com/kb-article/introduction-to-dynamic-version-salts/

[2016-02-03 22:30] jaswrks commented on #650
The issue is that cached pages for logged-in users have a much shorter TTL. For instance, if you're logged into the site and you submit a form, that triggers a cache clearing. Lots of little actions you take can result in a clearing of the cache. This shorter TTL is not ideal when running the HTML Compressor, because the HTML Compressor does a deep analysis of the page content and resources in ord

[2016-02-03 23:31] KTS915 commented on #650
I see! Thank you both, @raamdev and @jaswsinc!

[2016-02-04 00:21] MarioKnight commented on #656
This might be related (if not please split this off into a separate issue) as at times, I have seen my https site appear busted to an extent.  It seemed to be random, and clearing the cache always seemed to fix it.  Following the automatic WP core security update, it was noticed that the issue was coming up.  I finally had the ability to attempt to look into it, and it seems that one of the compre

[2016-02-04 17:51] theperfectwill commented on #659
Hey, apologies for the delay. I have to figure out why my Github notifications are not making it to my inbox.

@raamdev I see what you're saying and I agree, but maybe I should be more clear.

I have a default database setting import, that loops through the database to find if the database option_name is created or not. If it find that it is created then the import runs nothing. If it finds the op

[2016-02-04 18:16] KTS915 commented on #667
@lkraav: Are you sure that Stream is not also _causing_ the problem?

I ask for two reasons. One is this thread: https://wordpress.org/support/topic/repeating-changes-from-cronjob-ip-filtering?replies=9

The other is that I myself stopped using Stream because it was causing all sorts of peculiar issues (including on sites with no caching running at all). I have had far superior results with Activi

[2016-02-04 18:31] Bobchev opened #669 "Blank page on first load"
Hello, when I activate the plugin, the website become blank on first load. I have similar problem with other cache plugins.

[2016-02-05 19:46] #668 closed, assigned to nobody

[2016-02-05 20:17] raamdev commented on #669
We reserve GitHub for filing bug reports and making feature requests. Please post support questions to the [WordPress.org Support Forum](https://wordpress.org/support/plugin/zencache) (for ZenCache Lite) or open a [Trouble Ticket](https://www.websharks-inc.com/support/?product=zencache&request_type=trouble_ticket) (ZenCache Pro). Thank you! :)

[2016-02-05 20:17] #669 closed, assigned to nobody

[2016-02-05 20:25] raamdev commented on #667
@MarioKnight writes...

I just installed the Stream plugin alongside the latest version of ZenCache Pro and I'm not seeing anything logged "a couple times per minute".

It sounds to me like there's something else (other than the Stream plugin, although as @KTS915 noted, possibly including the Stream plugin) preventing ZenCache Pro from behaving as expected.

As @lkraav noted, the symptoms sound ex

[2016-02-05 20:29] raamdev commented on #656
@MarioKnight Thanks so much for the detailed report. :-)

@jaswsinc My instinct tells me that this sounds like there might be a bug in ZenCache that lets this happen when automatic updates occur. Any thoughts?

[2016-02-05 20:47] MarioKnight commented on #667
Interesting, especially since this site is as bare minimum as can be.  Does it continue to not log on the test site if the auto-cache is enabled?  If it does, hopefully that can help.  If not, then I'm going to try the plugins that @KTS915 mentioned and see how those work for me since I'm not overly attached to Stream.

[2016-02-05 23:07] raamdev commented on #667
@MarioKnight writes...

Correct. I have both the Auto-Cache Engine and the HTML Compressor enabled, along with the Stream plugin, and I'm not seeing any repetitive logs related to `crons_setup_on_wp_with_schedules` or `crons_setup`.

[2016-02-06 17:03] renzms opened #670 "3rd Party Plugin Compatibility: All-In-One Intranet"
I installed [All-In-One Intranet](https://wordpress.org/plugins/all-in-one-intranet/) and tested it with the latest version of **ZenCache Pro v160103**

**Steps:**
- Used Default theme and disabled all plugins except **All in One Intranet + ZenCache Pro v160103**
- Enabled cache for logged in users
- added this line to `wp-config`:

[code]

**Findings:**

Cache had 0 files until I added that line

[2016-02-06 22:01] jaswrks commented on #656
A related bug was found and fixed not too long ago in the HTML Compressor, documented here: https://github.com/websharks/html-compressor/releases/tag/150923

@Metacowboy @MarioKnight Do we know which version of the HTML Compressor (or of ZenCache) was in use when this occurred?

[2016-02-07 21:11] KTS915 commented on #650
@jaswsinc wrote: "For logged-in users, it is better to skip that and just cache the HTML source as-is, avoiding the extra overhead."

That was particularly enlightening. I have been trying this out and, on every site I tried, it was indeed better to turn off the compressor for logged-in users. I would never have guessed.

So another big thanks for the explanation, and a +1 for this feature request

[2016-02-08 14:12] MarioKnight commented on #656
I can't speak of previous times when I was unable to properly record any information, but last week ZCP 160103 was in place when the automatic WP core update of 4.4.1 to 4.4.2 took place and the behavior described above happened.

[2016-02-08 15:23] raamdev commented on #650
@jaswsinc writes...

That's a good reason to make the default for this new option "Enabled" (so that the HTML Compressor is disabled for Logged-In Users by default). The above should also be explained in the description for this option, i.e., that leaving the HTML Compressor disabled for Logged-In Users will improve performance in most cases.

[2016-02-08 15:24] theperfectwill commented on #659
@raamdev @jaswsinc Thanks for the help. I'm closing this.

I just imported all the Zencache settings when active for the first time. The user afterward can opt to change it.

[2016-02-08 15:24] #659 closed, assigned to nobody

[2016-02-08 15:59] raamdev commented on #659
@NoahjChampion Thanks for the update!

[2016-02-08 21:50] jaswrks commented on #650
Agree.

[2016-02-08 23:11] VR51 commented on #668
Hadn't thought of using version salts. Thanks for this advice.

[2016-02-09 04:13] renzms opened #671 "ZenCache Pro + PHP 5.6 FASTCGI causes Internal Server Error"
Customer reported:

Using **ZenCache 160120-RC** or **ZenCache Pro 160103**, would not function with **PhP 5.6 FastCGI**. However, once FastCGI is turned off, they both started to work properly.

Referencing previous closed issue: https://github.com/websharks/zencache/issues/624

---

Referencing Internal Ticket: https://websharks.zendesk.com/agent/tickets/10936

[2016-02-10 19:05] patdumond commented on #671
Reference also: Private Internal Ticket: [\Fatal Error On Trying To Reactivate Zen Cache Pro](https://websharks.zendesk.com/agent/tickets/11121).

[2016-02-10 23:28] dbaritchi commented on #657
@jaswsinc @raamdev thoughts on the above?

Thanks!
Dan

[2016-02-12 20:06] jaswrks commented on #671
I tested the latest RC against PHP 5.6 w/ FastCGI and there are no issues. I suspect this is a server-specific problem. So far I have been unable to reproduce it.

![2016-02-12_11-03-12](https://cloud.githubusercontent.com/assets/1563559/13018851/8fc0c3c4-d178-11e5-80a9-945833e57ab6.png)

[2016-02-12 20:15] jaswrks commented on #671
## Debugging PHP 5.6 w/ FastCGI

The difference between running PHP w/ FastCGI and without can mean that your server uses a completely different PHP build. Here is a typical breakdown.
- **Without FastCGI:** PHP is likely compiled into Apache as a DSO. This comes with a heavier footprint and increased RAM usage. Also, there are likely fewer security restrictions imposed at runtime.
- **With FastCG

[2016-02-13 10:12] marcselman opened #672 "HTML compression works except on homepage"
Hi,

On my website nomadandvillager.com the HTML compression seems to work fine, except on the homepage.
Any ideas what could cause this?

Thanks

[2016-02-13 16:32] raamdev commented on #672
@marcselman We reserve GitHub for filing bug reports and making feature requests. Please post support questions to the [WordPress.org Support Forum](https://wordpress.org/support/plugin/zencache) (for ZenCache Lite) or open a [Trouble Ticket](https://www.websharks-inc.com/support/?product=zencache&request_type=trouble_ticket) (ZenCache Pro). Thank you! :)

[2016-02-13 16:32] #672 closed, assigned to nobody

[2016-02-13 17:59] raamdev commented on #650
@renzms I updated https://github.com/websharks/zencache-pro/issues/208 with a few notes. Any chance you could get that PR finished by Monday evening so that this feature can be included in the next ZenCache Pro release (RC is targeted for Monday night, February 15th).

[2016-02-13 18:00] raamdev commented on #664
@jaswsinc Any idea what the problem might be here? I looked into this a bit and nothing jumped out at me.

I'm trying to see if we can get this fixed before the next ZenCache RC (targeted for Monday night, February 15th).

[2016-02-13 18:01] raamdev commented on #635
@jaswsinc Ping. ↑

[2016-02-14 01:35] jaswrks commented on #664
It looks like the problem is with [this line of code](https://github.com/websharks/zencache-pro/blob/160211/src/includes/closures/Plugin/WcpEvalUtils.php#L24). This check returns false for language constructs like `eval()` because they are not actually functions as far as `function_exists()` and `is_callable()` are concerned.

I worked around this in Comment Mail by whitelisting a set of language

[2016-02-14 01:52] jaswrks commented on #635
My opinion is that we need to use `mbstring` in ZenCache to avoid unforeseen issues and improve reliability of the code. Long ago, I got into a bad habit of leaving this out of a lot of PHP code that I've written in order to avoid that dependency, but now that WordPress allows for emojis, the likelihood of a conflict occurring is increased by a lot. Without `mbstring`, the plugin will be unstable

[2016-02-14 16:03] KTS915 commented on #657
I had published a new site, just before our exchange above, and decided it would be a good idea to test out the use of a CDN. I tried both the one provided by my host and KeyCDN. I also tried numerous configurations with Zen Cache Pro, and both with and without other plugins that purport to assist (e.g. by using them to minify CSS and/or JS instead of ZCP, or by having them defer JS).

I have now

[2016-02-15 13:38] renzms commented on #650
@raamdev
Updated according to your notes, thanks!

[2016-02-15 18:27] patdumond commented on #465
+1 for this feature: referencing internal private ticket https://websharks.zendesk.com/agent/tickets/11122.

[2016-02-16 11:42] jaswrks commented on #657
@dbaritchi writes...

Yep. Serving everything over SSL is what I would recommended. That's a part of the move to HTTP/2. Google is even going to start scoring sites lower if they are not serving everything over SSL. Referencing: https://googlewebmastercentral.blogspot.com/2014/08/https-as-ranking-signal.html

So I would suggest trying to move into a direction that serves every page on your site ov

[2016-02-16 12:03] jaswrks commented on #657
@KTS915 writes...

Cool! :-)

I see. If most of your visitors are in the U.S. and you prefer to reduce the number of dependencies your site has, I can't argue. You also ran your own tests, and I can certainly respect that choice.

Just keep in mind that a CDN is also about location; i.e., reducing latency in various geographic areas. So aside from HTTP/2 or domain sharding, I see a CDN being valua

[2016-02-16 15:49] KTS915 commented on #657
@jaswsinc,

Thanks for this. https really make a big difference with Google.

As you surmised, my sites are only directed at people in North America, and the server is in Chicago, so a CDN is likely to offer fewer benefits than if I were interested in attracting readers from elsewhere. (I did run some tests from Australia, though, and found it made no difference. That might, of course, simply mean

[2016-02-16 16:25] raamdev commented on #664
@jaswsinc Awesome! Thanks for finding that. :-) I fixed and tested via https://github.com/websharks/zencache-pro/issues/215.

[2016-02-16 16:32] raamdev commented on #664
Next Pro Release Changelog:
- **Bug Fix**: Fixed a bug that was preventing the "Evaluate Custom PHP Code when Clearing the Cache" feature from working properly. This bug resulted in the custom code not being run when the cache was cleared manually. See [Issue #664](https://github.com/websharks/zencache/issues/664).

[2016-02-16 16:32] #664 closed, assigned to nobody

[2016-02-16 18:19] patdumond commented on #671
I have an update from internal private ticket referenced above (https://websharks.zendesk.com/agent/tickets/11121). @raamdev said he thought this was a file-locking issue and asked me to have the user ask his hosting company about their locking mechanism. They found that ZenCache had 2 files in the `/tmp` directory with 2 different owners, thereby preventing ZenCache for locking or using them. The

[2016-02-17 11:27] jaswrks commented on #635
Example implementation of websharks/wp-php-rv where we require specific PHP extensions also.
https://github.com/websharks/wp-sharks-core/blob/000000-dev/plugin.php

[2016-02-17 15:19] dbaritchi commented on #657
@jaswsinc lol feeling slow this morning - i'm looking at that help article and NOT seeing how to implement that domain filter you mention. can you please clarify. :)

Thanks!!
Dan

[2016-02-17 20:57] dbaritchi commented on #657
@jaswsinc Writes...

So what I'm hoping to do is exclude only the top-level domain, i.e. my-top-domain.com from the URL replacement - i guess with the Static CDN filters? sounds great.

but the other thousands of sites on the multisite network - be they subdomains (i.e. blog1.my-top-domain.com) or mapped domains (totally-different-domain.com) should all still get the URL replacement. :)

Thanks!
D

[2016-02-18 02:22] raamdev opened #673 "3rd Party Plugin Compatibility: WPBakery Visual Composer Post Grid"
This issue exists to track compatibility between Comet Cache and WPBakery's Visual Composer Post Grid. [This article](http://www.wpfastestcache.com/features/visual-composer-post-grid-problem/) explains one method that could be used to improve integration.

[2016-02-18 02:22] raamdev commented on #673
Mentioned here (internal ticket): https://websharks.zendesk.com/agent/tickets/11238

[2016-02-18 07:14] almeco commented on #673
I vote for this

[2016-02-19 02:10] raamdev commented on #635
I agree. Since the plugin simply won't behave as expected in some scenarios where it _should_ behave properly, making `mbstring` a required extension to run ZenCache makes sense.

---

My only concern is not knowing how much of our userbase is currently happily using ZenCache _without_ the `mbstring` extension (and _not_ experiencing any problems because their site doesn't use any special UTF-8 ch

[2016-02-19 06:32] jaswrks commented on #635
Sounds good. I think a notice and warning is fair enough. I don't see this impacting very many people at all; so running through stats to check the percentages may not be worth the time. However, running stats wouldn't hurt anything either. Whatever you feel best about is fine with me.

As long as we can start using `mb_` functions at some point in the near future.

---

_If we add this to the WP

[2016-02-19 14:23] raamdev commented on #635
@jaswsinc I'm getting ready to add that notice for today's GA release. Doing a check if `extension_loaded('mbstring')` should be sufficient, correct?

[2016-02-19 14:39] jaswrks commented on #635
Yep. That'll do it.

[2016-02-19 17:10] raamdev commented on #635
Added a note to the list of PHP 5.4+ enhancements at the top indicating that we should wait until after March 1st, 2016 to make any changes that will require the `mbstring` extension.

[2016-02-19 23:10] raamdev opened #674 "3rd Party Plugin Compatibility: WooCommerce + Hide Out of Stock Products"
A [user report](https://wordpress.org/support/topic/woocommerce-out-of-stock-products?replies=5) indicates that when "hide out of stock products from the catalog" is enabled in WooCommerce, and a product goes out of stock, the catalog pages are not updated (i.e., the old cache file is loaded, which shows the now-out-of-stock product that should be hidden).

In #597 we improved compatibility with W

[2016-02-21 13:59] raamdev commented on #612
@renzms I made a few tweaks (see https://github.com/websharks/zencache-pro/commit/38806c7479985fdb77bb93e497adced72df6b782 and https://github.com/websharks/zencache-pro/commit/f2da851e6db1aae6f9abcc479cd5044e8a015499) and I'm attaching screenshots below.

### Lite version

![2016-02-21_08-53-25](https://cloud.githubusercontent.com/assets/53005/13202951/dea2a9d8-d878-11e5-8eb9-31c70919d771.png)

##

[2016-02-21 14:00] raamdev commented on #612
Next Lite Release Changelog:
- **Enhancement**: Added support-related links to the plugin options page.

[2016-02-21 14:00] raamdev commented on #612
Next Pro Release Changelog:
- **Enhancement**: Added support-related links to the plugin options page.

[2016-02-21 14:00] #612 closed, assigned to renzms

[2016-02-21 15:09] jaswrks opened #675 "Bug: Settings Link in Multisite Network"
![2016-02-21_06-07-11](https://cloud.githubusercontent.com/assets/1563559/13203302/9d7de2ae-d861-11e5-926e-1b6837d442a8.png)

The settings link leads to an error when viewing the list of active plugins on the Main Site in a Network installation. I actually was not expecting to find ZenCache listed there at all, so a solution to this problem might be to simply exclude those additional links wheneve

[2016-02-21 15:40] raamdev commented on #675
Confirmed fixed via https://github.com/websharks/zencache-pro/commit/d640106f580025013c8c66807f5907a673a46d45.

![2016-02-21_10-37-10](https://cloud.githubusercontent.com/assets/53005/13203471/19137044-d887-11e5-83a6-966417df8855.png)

Also, it appears that the Multisite behavior changed in a recent WordPress update, as one of my Multisite test sites was running an older version of WordPress and Z

[2016-02-21 15:42] raamdev commented on #675
Next Lite Release Changelog:
- **Bug Fix (Multisite)**: Fixed a bug where when ZenCache was Network Activated the plugin settings link would show up in the plugins list for the Main Site and would lead to a 404 error. The settings link is now only shown when viewing the plugins list from the Network Admin. Props @jaswsinc. See [Issue #675](https://github.com/websharks/zencache/issues/675).

[2016-02-21 15:42] raamdev commented on #675
Next Pro Release Changelog:
- **Bug Fix (Multisite)**: Fixed a bug where when ZenCache was Network Activated the plugin settings link would show up in the plugins list for the Main Site and would lead to a 404 error. The settings link is now only shown when viewing the plugins list from the Network Admin. Props @jaswsinc. See [Issue #675](https://github.com/websharks/zencache/issues/675).

[2016-02-21 15:42] #675 closed, assigned to nobody

[2016-02-21 23:53] ThePopularizer commented on #673
I'm experiencing a conflict with Visual Composer's Post Grid at the moment, where, after a few days of having it cached, it would not load; more precisely, it shows the loading graphics, but it would not load the actual posts. Strangely enough, it works fine soon after the cache is cleared or when it is first cached. It's a little difficult to troubleshoot, given this element of time interval. The

[2016-02-22 12:57] raamdev commented on #675
**ZenCache v160222** has been released and includes changes from this GitHub Issue. See the [v160222 announcement](http://zencache.com/zencache-v160222-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#675).

[2016-02-22 12:57] raamdev commented on #664
**ZenCache v160222** has been released and includes changes from this GitHub Issue. See the [v160222 announcement](http://zencache.com/zencache-v160222-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#664).

[2016-02-22 12:58] raamdev commented on #661
**ZenCache v160222** has been released and includes changes from this GitHub Issue. See the [v160222 announcement](http://zencache.com/zencache-v160222-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#661).

[2016-02-22 12:58] raamdev commented on #652
**ZenCache v160222** has been released and includes changes from this GitHub Issue. See the [v160222 announcement](http://zencache.com/zencache-v160222-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#652).

[2016-02-22 12:58] raamdev commented on #651
**ZenCache v160222** has been released and includes changes from this GitHub Issue. See the [v160222 announcement](http://zencache.com/zencache-v160222-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#651).

[2016-02-22 12:58] raamdev commented on #612
**ZenCache v160222** has been released and includes changes from this GitHub Issue. See the [v160222 announcement](http://zencache.com/zencache-v160222-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#612).

[2016-02-22 12:59] raamdev commented on #625
**ZenCache v160222** has been released and includes changes from this GitHub Issue. See the [v160222 announcement](http://zencache.com/zencache-v160222-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#625).

[2016-02-22 16:24] #545 closed, assigned to nobody

[2016-02-22 16:24] pavelthq commented on #673
@ThePopularizer Hi, i'm one of core developers of visual composer. Can you please test this snippet:

[code]

[2016-02-22 18:04] lkraav commented on #667
Yes. Today's comet-cache update brought the problem back as it overwrote my monkeypatch, and I disabled Stream to see what happens. Exactly the same thing keeps happening, every request causes a database write for a cron update. So it's not Stream.

I'm still strapped for time for going in depth on this. Will be sure to report back when I have something.

[2016-02-22 18:47] KTS915 opened #676 "Comet Cache Pro not caching logged-in users with s2Member"
I have just moved a test site from ZC Pro to CC Pro, and I see that, although I have CC Pro set to cache logged-in members, it is refusing to do so because s2Member is setting the PHP constant DONOTCACHEPAGE.

Obviously, s2Member is right to do that, but ZC Pro enabled that to be overridden if it was set to cache logged-in users. Can that be added back in to CC Pro, please?

[2016-02-22 20:32] patdumond opened #677 "Third-Party Theme Compatibility Problem: Bretheon Theme (Muffin Group)"
A user has reported that there is a compatibility problem with ZenCache/Comet Cache, HTML Compression, and the [Muffin Group's Bretheon theme](http://themes.muffingroup.com/?theme=bretheon).

The user reports that when using HTML Compression with this theme he has problems with 2 options:
1. Combine CSS from head and body: this seems to completely remove the theme
2. Combine JS from head into fewe

[2016-02-22 20:36] raamdev commented on #676
Hmm, I don't recall ZenCache doing any overriding of that for s2Member, but I'll need to take a closer look at this and see if I can reproduce this. The Comet Cache Pro codebase is the ZenCache Pro codebase; we didn't remove any feature code. Do you recall which version of ZenCache Pro you were using that was overriding s2Member's `DONOTCACHEPAGE`?

@jaswsinc Any thoughts here?

[2016-02-22 20:57] raamdev opened #678 "Pro Updater: "Unknown error. Please wait 15 minutes and try again.""
Some users are reporting seeing the following error when using the Comet Cache Pro Updater to upgrade Comet Cache Pro:

![2016-02-22_15-50-26](https://cloud.githubusercontent.com/assets/53005/13232186/13c846be-d97c-11e5-8cbf-e124c002116a.png)

---

It appears this is an issue with the version of cURL on some web hosts, so not all users are affected. [Manually upgrading Comet Cache Pro](https://com

[2016-02-22 20:57] raamdev commented on #678
@jaswsinc You mentioned [this CloudFlare Universal SSL issue](https://www.reddit.com/r/Wordpress/comments/35tdo7/ecdsa_ssl_curl_oneline_fix_for_cloudlares/); are you thinking that's what's causing this?

[2016-02-22 23:28] KTS915 commented on #676
Version 160103 of ZC Pro certainly permits caching forlogged-in members while s2Member is running, and so have previous versions of ZCP/Quick Cache Pro for at least a year, I think (from which I infer ZCP was overriding the DONOTCACHEPAGE constant.

I am going to update ZCP on another test site to v160222 and see if it still works with that.

[2016-02-22 23:30] KTS915 commented on #676
Interesting! v160222 of ZCP does not permit caching of logged-in users with s2Member running.

So the code change is between versions 160103 and 160222 of ZCP.

[2016-02-22 23:32] KTS915 commented on #676
Just another post to note this KB post: https://s2member.com/kb-article/is-s2member-compatible-with-caching-plugins/

It states: "Tip: ZenCache has a unique ability to cache logged-in users too, which is highly effective whenever it runs alongside the s2Member Pro application; keeping WordPress fast even when a user is logged in as a member. Very impressive!"

[2016-02-23 00:01] KTS915 commented on #676
Sorry, I was wrong about ZC Pro v160222: it does permit caching of logged-in users while s2member is running. (Another plugin on that site was preventing caching there.) So it seems that there is a difference between ZC Pro v160222 and CC Pro v160223.

I am going to try changing from ZC Pro to CC Pro on this site to see if the same problem occurs or not.

[2016-02-23 00:27] KTS915 commented on #676
OK, I have now changed this site to CC Pro too: this time, version 160223.1. And it will not cache logged-in users while s2member is running.

So there is definitely a difference somewhere between ZC Pro v160222 and CC Pro v160223.

[2016-02-23 02:08] jaswrks commented on #678
Yes, I think that could be the issue. It sounds like a cURL bug may cause this.

[2016-02-23 02:10] jaswrks commented on #676
Agree. We have some additional code in the s2Member plugin itself that accomplishes full compatibility between the two, and so we will need to update the s2Member codebase so that it looks for Comet Cache PHP Constants; i.e., the name change may require changes in s2Member also. Thanks for reporting! I'm going to address this before a release of s2 this week.

[2016-02-23 02:27] jaswrks commented on #678
cURL versions < 7.36 are impacted by this.
https://curl.haxx.se/changes.html

See also: https://community.centminmod.com/posts/10738/

[2016-02-23 02:35] jaswrks commented on #671
Cool. Thank you for this report Pat! :-)

@raamdev So it might help if we use `666` permissions on this file.
https://github.com/websharks/comet-cache-pro/blob/160223.1/src/includes/closures/Shared/CacheLockUtils.php#L45

[2016-02-23 03:12] raamdev commented on #676
@KTS915 Thanks for the detailed testing reports. As @jaswsinc pointed out, this is because s2Member is not integrating properly with Comet Cache, not that Comet Cache is not integrating properly with s2Member.

I've opened an s2Member issue to track this here: https://github.com/websharks/s2member/issues/888

Since this isn't a Comet Cache issue, I'm going to close this in favor of the s2Member is

[2016-02-23 03:12] #676 closed, assigned to nobody

[2016-02-23 03:14] KTS915 commented on #676
@jaswsinc, @raamdev: Thanks for the explanations!

[2016-02-23 03:37] digitalhexcode opened #679 "Comet Cache "Auto Cache Engine" not saving pages."
I noticed after updating from Zencache Pro to Comet Cache that the Auto Cache Engine runs, however, it doesn't actually save any of the files. I can see in the cc-auto-cache.log that it runs every 15 minutes without errors loading many pages but none of the files are being saved in the /cache/comet-cache/cache/http/ directory. If I manually goto a web page it will cache it and save it properly. Wo

[2016-02-23 10:30] pavelthq commented on #673
Also @raamdev filter I provided disables `nonce` checking

[2016-02-23 10:58] xberg commented on #653
Today I upgraded to V160222 Pro and the issue was back.
I returned to
/wp-content/plugins/zencache-pro/src/includes/closures/Plugin/CronUtils.php
and commented out as I did before:
|| $self->options['crons_setup_on_wp_with_schedules'] !== sha1(serialize(wp_get_schedules()))

but this time it was not enough, and the CRON kept resetting itself to 1 minute.

But also commenting out:
|| $self->options

[2016-02-23 15:29] raamdev commented on #671
Also mentioned here: https://wordpress.org/support/topic/white-screen-of-death-lingers?replies=3

[2016-02-23 16:48] ThePopularizer commented on #673
Thanks @AngeIII, I've left it for a day, and so far so good.

[2016-02-23 16:51] raamdev commented on #671
@jaswsinc I don't think this is related, but I noticed that we're not using the `b` flag with `fopen()` here: https://github.com/websharks/comet-cache-pro/blob/160223.1/src/includes/closures/Shared/CacheLockUtils.php#L47

[PHP.net says](http://php.net/manual/en/function.fopen.php):

Is there any specific reason we're not using that flag here?

[2016-02-23 16:52] jaswrks commented on #671
No, no specific reason. Nothing is written to the file though, so I think it's OK without. Either way though.

[2016-02-23 20:33] ronnymac opened #680 "Feature Request: Scheduled Cache Refresh"
This is one feature which makes me willing to upgrade sites to the Comet Cache Pro level. A scheduled cache clearing according to a specific date and time instead of just every x-number of days or hours. For example, have CC clear the cache every Friday at midnight (or some other date, day, and time). I have a few sites which get internal content updated at the same time each week, but CC doesn't

[2016-02-24 01:54] bridgeport opened #681 "Suggestion: Have a "Save Changes" button on the "Plugin Updater" page"
As far as I can tell, there's no way to change save settings (e.g., username, license key, dashboard notifications, beta testers) without also forcing an update.

For instance, going from ZenCache Pro to Come Cache Pro results in a new license key to be updated. When saving the new license key, the Update button will re-download the same installed version, remove the existing, then reinstall.

A s

[2016-02-24 06:21] jaswrks commented on #681
:+1:

[2016-02-24 11:16] kapagatavot opened #682 "Feature request: please add more fields (3-4) to sitemap.xml links to Auto-Cache Engine"
Please add more fields (3-4) to sitemap.xml links in Auto-Cache Engine.
Sitemaps plugins generate sitemap.xml for each language separately.

Example:
http://gravtex.eu/sitemap_index.xml
http://gravtex.eu/ru/sitemap_index.xml
http://gravtex.eu/de/sitemap_index.xml

[2016-02-24 13:06] raamdev commented on #679
@digitalhexcode Thanks so much for the report. It looks like this is a bug.

The issue is that we are mixing two different constants in the Auto-Cache Engine code (`SLUG_TD` and `GLOBAL_NS`) when we should be using just one or the other. The reason this wasn't an issue in ZenCache is that those two constants happened to have been set to the same thing (`zencache`).

When we rebranded the code for

[2016-02-24 17:19] raamdev opened #683 "Backwards compatibility for ZENCACHE_ALLOWED is missing"
There should be backwards compatibility in Comet Cache for the `ZENCACHE_ALLOWED` constant, so that if a site owner had been using `define('ZENCACHE_ALLOWED', FALSE);`, Comet Cache should pick that up and treat it the same way it would `COMET_CACHE_ALLOWED` (i.e., caching should be disabled if that constant is set to `FALSE`).

However, I confirmed that `ZENCACHE_ALLOWED` is not working in Comet C

[2016-02-24 17:21] jaswrks commented on #683
It looks like the `12` here needs to change to the number of characters in `ZENCACHE_`. https://github.com/websharks/comet-cache-pro/blob/160223.1/src/includes/classes/AdvCacheBackCompat.php#L54

[2016-02-24 17:24] raamdev commented on #683
@jaswsinc Ah! Thanks for pointing that out. That would've taken me some digging to discover. :smile:

[2016-02-24 17:38] raamdev commented on #683
@jaswsinc Correct me if I'm wrong, but it looks like `GLOBAL_NS` is not available in the scope of where this runs: https://github.com/websharks/comet-cache-pro/blob/160223.1/src/includes/classes/AdvCacheBackCompat.php#L54

[2016-02-24 17:45] raamdev commented on #683
Hmm, nope, that's wrong. I see that `src/includes/stub.php`, where `GLOBAL_NS` is defined, gets included before the compat. routines: https://github.com/websharks/comet-cache-pro/blob/160223.1/src/includes/templates/advanced-cache.txt#L22-L28

I'm trying to figure out why despite [this line](https://github.com/websharks/comet-cache-pro/blob/160223.1/src/includes/classes/AdvCacheBackCompat.php#L58)

[2016-02-24 17:51] raamdev commented on #683
Ah, it's because `GLOBAL_NS` is set to a lowercase `comet_cache`, which results in the constant being set to `comet_cache_ALLOWED`, instead of `COMET_CACHE_ALLOWED`.

[2016-02-24 18:10] raamdev commented on #671
@jaswsinc writes...

Are you thinking just a call to [`chmod()`](http://php.net/manual/en/function.chmod.php) right below that line (i.e., `chmod($mutex, 0666)`)? We probably don't want check for a failure there, since if we can't `chmod()` we may still be able to obtain a lock, right?.

[2016-02-24 18:13] raamdev commented on #671
I'm thinking of a scenario where `safe_mode` is enabled:

[2016-02-24 18:15] jaswrks commented on #671
Yes. Actually, I'd put it right after this line:
https://github.com/websharks/comet-cache-pro/blob/160223.1/src/includes/closures/Shared/CacheLockUtils.php#L49

Right. I'd just add a `@chmod(` to suppress any problems there. It's just there as a way to improve compatibility in some edge cases like this. If it fails, no big deal.

That's OK. If we can't write to the temp directory there are bigger

[2016-02-24 18:25] raamdev commented on #671
@jaswsinc writes...

Can we `chmod()` on a file that has been opened with an exclusive lock?

[2016-02-24 18:26] raamdev commented on #671
Oh, WE are the one obtaining the lock, so we can do whatever we want, right? :smile:

[2016-02-24 18:32] jaswrks commented on #671
Yep :-) Anyway, it's _advisory_ file locking anyway, so you can do whatever. The filesystem itself doesn't really play any part in this, other than just tracking the locks that are open. It doesn't enforce this.

[2016-02-24 20:02] zaproo-support opened #684 "Settings are not saving anymore"
We have bought the Pro version and now we can enable and disable the cache, other settings are not saving anymore.

[2016-02-24 23:19] noodlz opened #685 "Time out switching to Comet Cache, can't file ticket through site"
Trying to switch from Zen Cache Pro to Comet Cache Pro, and my website is timing out after clicking on the Activate button and waiting 30 seconds. I'm on Rackspace.

You also have a problem with your site, I tried to file a ticket through the paid customers link but it's saying my email address doesn't exist as a customer, even though I'm copying/pasting straight from my profile page.

[2016-02-25 01:39] theperfectwill commented on #681
@jaswsinc +1 for this.

To add, I would like to mention while this thought is up...

I've always needed a save changes button at the top of the plugin settings page.

I personally loathe having to scroll all the way down to the end of the plugin's settings page to save a change, especially when that setting change is simple as turning the plugin on or off at the top of the page, then having to scr

[2016-02-25 01:42] theperfectwill commented on #680
+1 for this.

I needed this feature as well.

For any site that has a schedule for adding content, this is great.

[2016-02-25 02:44] theperfectwill opened #686 "3rd Party Plugin Compatibility: Query Monitor"
I just came across this... and thought I would mention it.

I get two errors from Query Monitor.
- Plugin Reference: https://wordpress.org/plugins/query-monitor/

See screenshot
- http://take.ms/9gHdZ

These are not reported as "php errors" from Query Monitor, so they don't show up as an issue, unless I read read the query monitor results page.

But thought I would share as I don't know the validi

[2016-02-25 02:50] raamdev commented on #686
@NoahjChampion Are you running ZenCache or Comet Cache? Which version?

[2016-02-25 02:52] raamdev commented on #680
+1. Cool idea.

[2016-02-25 02:56] raamdev commented on #681
@bridgeport Yes, I totally agree. Thank you for posting this! I've noticed the lack of a Save Changes button the Pro Updater plugin to be quite annoying but I kept forgetting to open a GitHub issue so that we could get that fixed. :-)

@NoahjChampion I also totally agree with you. I've experienced the same frustration of having to scroll all the way to the bottom to hit the Save All Changes button

[2016-02-25 02:59] theperfectwill commented on #686
@raamdev Zencache.

I know about the change to Comet Cache, and have the version that states that from the Zencache page, but not sure how to update to Comet Cache just yet. I didn't dig into it yet. Do I have to manually download Comet Cache.

It all happened quickly. I didn't think Comet Cache would be out already :)

[2016-02-25 03:06] raamdev commented on #653
@xberg @lkraav I'm reopening this issue.

@lkraav reported in https://github.com/websharks/comet-cache/issues/667#issuecomment-187297229 that this issue occurred again with the Comet Cache update, which tells me this bug is most likely related to a certain combination of events that are not being considered in the [`checkCronSetup()`](https://github.com/websharks/comet-cache-pro/blob/160223.1/src/

[2016-02-25 03:07] raamdev commented on #667
@lkraav Thanks for the update! I've reopened https://github.com/websharks/comet-cache/issues/653#issuecomment-188580394 so that we can look into that issue with the cron setup a bit more. Please post further any updates to that issue over there. :-)

[2016-02-25 03:11] raamdev commented on #685
@noodlz Thanks for the heads up on the support center issue; we're aware of the problem and we're working on it. :-)

Regarding the ZenCache → Comet Cache migration: Can you try manually uninstalling ZenCache and Comet Cache following these [manual uninstall instructions](https://cometcache.com/kb-article/how-do-i-uninstall-comet-cache/#toc-86754ab8)? Once that's done, try installing Comet Cache a

[2016-02-25 03:13] raamdev commented on #684
@indrekpihor I've tested saving other settings and it works fine for me. Which settings specifically are not working?

Also, have you tried clicking the Restore button to reset the Comet Cache configuration to the defaults?

![2016-02-24_22-12-22](https://cloud.githubusercontent.com/assets/53005/13308714/d1e64e98-db43-11e5-9e1b-29643288955b.png)

[2016-02-25 03:16] theperfectwill commented on #681
@raamdev ok. This sounds good.

Going into a new revamp, not sure what ideas you have about it, wether off a framework or not, but it would also be a better experience I feel if the Panel Headings "plugin-menu-page-panel-heading" would collapse when another panel heading is opened. The content in each panel heading is so detailed focused, I don't think there is much use to have multiple ones open

[2016-02-25 08:20] jaswrks commented on #686
@NoahjChampion Take a look at the "Migrating from ZenCache to Comet Cache" section here. https://cometcache.com/blog/announcing-comet-cache-formerly-zencache/

[2016-02-25 09:12] jaswrks commented on #685
This issue with the support center has now been resolved. Thanks for the heads up.

---

@noodlz writes...

Are you still having this trouble? I have been unable to reproduce thus far. Any additional details that you can provide? e.g., maybe a step-by-step on how to reproduce that error.

[2016-02-25 09:23] zaproo-support commented on #684
yes, this didnt help.

[2016-02-25 09:30] jaswrks commented on #684
@raamdev writes...

@indrekpihor Which settings are not changing for you? Is there anything in particular that you can point to which might shed light? i.e., Do you have any thoughts about what could have led to this scenario?

 Also, can you take a screenshot of the top of your Comet Cache Pro Dashboard for us, just so we can see which version is installed, and confirm that you do in fact have th

[2016-02-25 09:32] zaproo-support commented on #684
As I wrote before, please look first comment. Anyway, its seems like they all return to default when we hit save. All dropdowns are in default position. It didnt happen on ZenCache, I will probably go back to free version if that works better.

[2016-02-25 10:44] jaswrks commented on #684
I see. So it's _all_ of the options then? Is that correct?

What about OPcache. What did you find there?

[2016-02-25 11:15] zaproo-support commented on #684
Right.
Where is the OP tool?

[2016-02-25 11:17] jaswrks commented on #684
If you don't see it in your Admin Bar already, and if you cannot save the options, you won't be able to turn that on. Instead, you can try running it through a script like this:

[code]

http://php.net/manual/en/function.opcache-reset.php

[2016-02-25 11:18] zaproo-support commented on #684
i did that.. on CLI. So thats not the case. Still same thing.

[2016-02-25 11:25] jaswrks commented on #684
Hmm. How strange! Have you tried testing in a clean installation also? Raam reported success, and I haven't been able to reproduce this yet either. https://cometcache.com/kb-article/testing-comet-cache-in-a-clean-wordpress-installation/

[2016-02-25 13:40] raamdev opened #687 "False-Positive: Some virus scanners incorrectly report Comet Cache v160223.1 contains "Webshell""
Some virus scanners are reporting that Comet Cache contains a 'Webshell', however this is a false-positive. There is nothing in Comet Cache that could behave as a webshell.

We need to investigate what in the Comet Cache codebase is triggering this false-positive to try and avoid confusion for users who run Comet Cache through a virus scanner.

---

Here are two VirusTotal reports that report a we

[2016-02-25 16:22] raamdev commented on #673
@AngeIII Thanks for chiming in here! Could you explain a bit more about what that filter does? ZenCache / Comet Cache specifically disables caching for any pages where it finds a Nonce value being added to the page source (specifically so that there are no issues where a time-sensitive Nonce value might get cached). I'm curious if that's not working as expected, or if Visual Composer is doing some

[2016-02-25 16:28] raamdev commented on #682
@kapagatavot Thanks for the feature request! This has been marked as accepted, so we'll add this to a future development cycle. :-)

Could you tell us which XML Sitemap Generator plugin and/or language plugin you're using on your site?

[2016-02-25 16:33] raamdev commented on #681
@NoahjChampion That already exists, but you're not the first one to miss that the plugin already has this... @jaswsinc added that part of the UI a _long_ time ago, and I missed that it was even there for the longest time!

![2016-02-25_11-30-15](https://cloud.githubusercontent.com/assets/53005/13326272/318d9a62-dbb3-11e5-8601-713b7330eb49.png)

---

Thanks for the other feedback. Referencing https

[2016-02-25 17:30] noodlz commented on #685
Whatever was happening seems to be fixed now, it activated instantly. Thanks.

[2016-02-25 17:30] #685 closed, assigned to jaswrks

[2016-02-25 17:47] raamdev opened #688 "3rd Party Plugin Compatibility: AMP"
The [AMP plugin](https://wordpress.org/plugins/amp/) adds support for the [Accelerated Mobile Pages (AMP) Project](https://www.ampproject.org/). AMP is already used by Google and is becoming a big thing. The AMP WordPress plugin (developed by Automattic) already has 10k+ active installs.

Initial testing with Comet Cache v160223.1 indicates that AMP pages (which are generated by appending `/amp/`

[2016-02-25 17:56] theperfectwill commented on #688
+5

[2016-02-25 18:02] jaswrks commented on #688
This is an easy fix. We can change [this line](https://github.com/websharks/comet-cache-pro/blob/160223.1/src/includes/closures/Shared/CachePathUtils.php#L33) to the following:

[code]

The same thing in [this line](https://github.com/websharks/comet-cache-pro/blob/160223.1/src/includes/closures/Shared/CachePathUtils.php#L31) also.

[2016-02-25 18:07] theperfectwill commented on #681
@raamdev Wow... I never saw that either :(

Thanks for that and I will look out for the UI conversations. I'm actually subscribed to everything of Comet Cache :)

[2016-02-25 18:15] theperfectwill commented on #686
@jaswsinc thanks. Done.

I took the time to look over all the query monitor results and there are 19 errors, all of the same kind of reference.

Here is a screenshot of all those errors together @ http://take.ms/sNGqL

[2016-02-25 18:26] pavelthq commented on #673
@raamdev
Okay I will try to explain full process:
1) when grid [vc_basic_grid, vc_media_grid, vc_masonry_grid, vc_masonry_media_grid] being rendered it creates a nonce: `data-vc-public-nonce="<?php echo vc_generate_nonce( 'vc-public-nonce' ); ?>`
2) function vc_generate_nonce actually calls wp_create_nonce with our prefix

This is being used in javascript ajax call

3) when server receives ajax ca