[2016-12-18 23:26] raamdev commented on #858
@KTS915 Have you tried clearing the browser cache on those mobile browsers, just in case the cookie(s) got corrupted somehow?

[2016-12-18 23:28] KTS915 commented on #858
@raamdev : Yes, I did.

[2016-12-20 04:18] renzms commented on #673
Mentioned here in ([internal ticket](https://app.intercom.io/a/apps/zbpo3mkk/inbox/conversation/7331527351))

Details:

Customer has issues when using Visual Composer with Comet Cache. While Comet Cache is active they are unable to see Visual Composer options in Page(s)/Post(s)/Portfolio(s), etc. When Comet Cache is deactivated it reportedly works fine. Customer has also tried deactivating html co

[2016-12-20 17:05] raamdev commented on #673
@renzms I provided you with a copy of Visual Composer in Slack for testing purposes.

[2016-12-21 18:15] raamdev opened #860 "HTML Notes don't indicate "fully functional" when generating cache file"
When a page is cached for the first time, the HTML Notes don't indicate that Comet Cache is "fully functional":

![2016-12-21_13-09-48](https://cloud.githubusercontent.com/assets/53005/21400628/17d9661a-c77f-11e6-8789-e8a026926663.png)

That message is only shown when actually loading a cached file:

![2016-12-21_13-09-58](https://cloud.githubusercontent.com/assets/53005/21400629/18c8d15a-c77f-11e

[2016-12-21 18:42] raamdev commented on #733
**Comet Cache v161221** has been released and includes changes from this GitHub Issue. See the [v161221 announcement](https://cometcache.com/blog/comet-cache-v161221-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#733).

[2016-12-21 18:42] #733 closed, assigned to jaswrks

[2016-12-21 18:43] raamdev commented on #471
**Comet Cache v161221** has been released and includes changes from this GitHub Issue. See the [v161221 announcement](https://cometcache.com/blog/comet-cache-v161221-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#471).

[2016-12-21 18:43] #471 closed, assigned to jaswrks

[2016-12-21 18:44] raamdev commented on #611
**Comet Cache v161221** has been released and includes changes from this GitHub Issue. See the [v161221 announcement](https://cometcache.com/blog/comet-cache-v161221-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#611).

[2016-12-21 18:44] #611 closed, assigned to jaswrks

[2016-12-21 18:45] raamdev commented on #660
**Comet Cache v161221** has been released and includes changes from this GitHub Issue. See the [v161221 announcement](https://cometcache.com/blog/comet-cache-v161221-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#660).

[2016-12-21 18:45] #660 closed, assigned to jaswrks

[2016-12-21 18:45] raamdev commented on #827
**Comet Cache v161221** has been released and includes changes from this GitHub Issue. See the [v161221 announcement](https://cometcache.com/blog/comet-cache-v161221-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#827).

[2016-12-21 18:45] #827 closed, assigned to jaswrks

[2016-12-21 18:45] raamdev commented on #695
**Comet Cache v161221** has been released and includes changes from this GitHub Issue. See the [v161221 announcement](https://cometcache.com/blog/comet-cache-v161221-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#695).

[2016-12-21 18:45] #695 closed, assigned to jaswrks

[2016-12-21 18:46] raamdev commented on #848
**Comet Cache v161221** has been released and includes changes from this GitHub Issue. See the [v161221 announcement](https://cometcache.com/blog/comet-cache-v161221-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#848).

[2016-12-21 18:46] #848 closed, assigned to jaswrks

[2016-12-21 18:46] raamdev commented on #858
**Comet Cache v161221** has been released and includes changes from this GitHub Issue. See the [v161221 announcement](https://cometcache.com/blog/comet-cache-v161221-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#858).

[2016-12-21 18:46] #858 closed, assigned to jaswrks, renzms

[2016-12-21 19:35] raamdev commented on #853
@renzms Can you try reproducing this with the Load Average Check enabled? See **Comet Cache → Plugin Options → Cache Expiration Time → Disable Cache Expiration If Server Load Average is High?**

[2016-12-21 19:36] raamdev commented on #845
Haven't been able to reproduce this. Closing due to lack of feedback.

[2016-12-21 19:47] raamdev commented on #32
Noting that this is still an issue as of Comet Cache v161221.

[2016-12-21 20:14] raamdev commented on #546
@jaswsinc I noticed we have a `tests/` directory in the Comet Cache Pro repo. Can you give me a status update on this GitHub issue?

[2016-12-21 20:15] jaswrks commented on #546
@raamdev I think this can be closed now, because the testing framework was implemented a long while back. What we could use now is a new issue that tracks our progress on creating some wiki articles to document that framework and give everyone a refresher on how the framework functions, how to write tests using CasperJS, etc. In short, we just need to build the tests now.

[2016-12-21 20:45] raamdev opened #861 "Document the Testing Framework"
_Forked from https://github.com/websharks/comet-cache/issues/546_.

We implemented a testing framework for Comet Cache developers awhile back. Now we need to create a few wiki articles to document the testing framework and give everyone a refresher on how the framework functions, how to write tests using CasperJS, etc., so that we can start building tests.

[2016-12-21 20:45] #546 closed, assigned to jaswrks

[2016-12-22 09:19] renzms commented on #853
@raamdev

### Confirmed able to reproduce Bug

WordPress Version: 4.7
Current WordPress Theme: Twenty Sixteen version 1.3
Theme Author: the WordPress team - https://wordpress.org/
Theme URI: https://wordpress.org/themes/twentysixteen/
Active Plugins: Comet Cache Pro Version 161221

At lower Server Load Average numbers, it causes the invalid time calculation.

### Correct Calculation at Server Load

[2016-12-22 15:39] MarioKnight opened #862 "Updating via IWP temporarily broke sites"
With yesterday's Comet Cache Pro update, I manually updated my personal sites via the WP dashboard with no issues.  This morning, I updated ~250 sites for clients through InfiniteWP.  Soon after, I received reports of sites yielding a 500 error.  In the error logs for them, I saw the following:
[code]

I tried to go into the WP dashboard for a few of them, and was successful.  Interestingly, sites

[2016-12-22 16:21] raamdev commented on #862
@MarioKnight Thank you very much for the report. I'm sorry that this created unnecessary stress and work for you. We'll need to add an update from IWP to our testing matrix during the RC period to catch potential issues like this before future releases.

@jaswsinc Can you take a look at the above report and let me know if you see something we might have missed when adding the Mobile Mode feature?

[2016-12-22 19:36] jaswrks commented on #862
@MarioKnight Thank you for this report. Can you please confirm for me that you do not have Mobile Mode enabled right now? Or that you didn't have it enabled whenever you did the upgrade, correct?

[2016-12-22 19:43] jaswrks commented on #862
@MarioKnight Also, would it be accurate to assume that your sites have the OPcache extension enabled? My hunch is that this was not caused by a bug in Comet Cache itself, but by [this ongoing problem with OPcache](https://core.trac.wordpress.org/ticket/36455) not being cleared by WordPress core during plugin upgrades. If your sites are running OPcache, that might help us confirm that suspicion and

[2016-12-22 19:44] jaswrks commented on #862
@raamdev I'm referencing [this line in Comet Cache](https://github.com/websharks/comet-cache-pro/blob/161221/src/includes/traits/Ac/ObUtils.php#L207). If those new constants are not yet defined (e.g., the OPcache still has an old copy of `advanced-cache.php`), then this line will not behave as intended in the latest release, which would result in that error.

[2016-12-22 19:49] jaswrks commented on #862
@raamdev I'm seeing another potential cause as well. Based on the feedback above from @MarioKnight, it looks like remote updates can potentially bypass [this check](https://github.com/websharks/comet-cache-pro/blob/161221/src/includes/classes/Plugin.php#L535).

[2016-12-22 19:58] MarioKnight commented on #862
@jaswsinc Currently I don't have Mobile Mode enabled on any site.  There were a handful of sites that utilize the Dynamic Version Salt section (and still do, at some point I'll convert them over to the new Mobile Mode).  None of the sites reported to me were those sites.

It seems safe to assume that OPcache is enabled to some degree, going by that the Comet Cache Stats/ Charts page does have OPca

[2016-12-22 22:03] jaswrks commented on #862
@MarioKnight Thank you very much for that feedback.

@raamdev So it looks like in this case, the problem is [this check](https://github.com/websharks/comet-cache-pro/blob/161221/src/includes/classes/Plugin.php#L535) is getting bypassed.

[2016-12-22 23:46] raamdev commented on #862
@jaswsinc I was reviewing the InfiniteWP GitHub issue where we tested IWP with the new way the Pro updater integrates with the existing WordPress update mechanism, and I saw that we had issues during testing when `WP_DEBUG` was set to true, issues that we determined were a problem with IWP failing whenever output happened to contain something like a PHP Notice as the result of `WP_DEBUG` being ena

[2016-12-22 23:49] raamdev commented on #862
That said, the PHP Fatal Error reported at the top of this issue is clearly not something that should be occurring, in any scenario. I'm just wondering if the problem we're seeing here is a combination of issues and not just a problem with the Comet Cache version check routine being bypassed.

[2016-12-23 00:10] MarioKnight commented on #862
@raamdev It appears that none of them had `WP_DEBUG` enabled, so unfortunately there are no additional logs to help.

[2016-12-23 23:59] raamdev opened #863 "Comet Cache Pro v161223-RC (Maintenance Release Candidate)"
# General Availability Target: December 26th, 2016

_**Note:** This is a release candidate for a Pro maintenance release._

## Downloads

- [Comet Cache Pro v161223-RC](https://cometcache.com/r/download-pro-v161223-rc/) (requires being logged into cometcache.com)

## Changelog

- **Bug Fix** (Pro): Resolves error `Unable to determine UA info directory location` when upgrading to latest release. Se

[2016-12-24 04:34] renzms commented on #863
@raamdev

### All Fixes Confirmed Working 👍

- [x] Bug Fix (Pro): Resolves error `Unable to determine UA info directory location` when upgrading to latest release. See Issue #862.
- [x] Bug Fix (Pro): Enhancing compatibility with InfiniteWP, ManageWP, and other remote management tools for WordPress. See Issue #862.
- [x] Bug Fix (Pro): Incorrect time calculations whenever load average checks are e

[2016-12-25 02:58] renzms commented on #862
**Fix Confirmed Working**, see comments [here](https://github.com/websharks/comet-cache/issues/863#issuecomment-269068663)

[2016-12-25 02:59] renzms commented on #853
**Fix Confirmed Working**, see comments [here](https://github.com/websharks/comet-cache/issues/863#issuecomment-269068663)

[2016-12-25 20:11] peowpeow commented on #845
Hello, I have same problem on MU install. After setting up Comments settings on one subsite.

Warning: in_array() expects parameter 2 to be array, boolean given in /home/novacom/public_html/wp-content/plugins/comet-cache-pro/src/includes/traits/Shared/TokenUtils.php on line 189

PHP is version  5.4.42, Comet Cache newest, Wordpress too.

[2016-12-26 16:24] raamdev commented on #845
@peowpeow Thank you for the feedback.

@renzms Could you please try to reproduce this on multisite with PHP v5.4?

[2016-12-26 23:37] raamdev commented on #862
**Comet Cache Pro v161226** has been released and includes changes from this GitHub Issue. See the [v161226 announcement](https://cometcache.com/blog/comet-cache-pro-v161226-maintenance-release/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#862).

[2016-12-26 23:37] #862 closed, assigned to jaswrks

[2016-12-26 23:39] raamdev commented on #853
**Comet Cache Pro v161226** has been released and includes changes from this GitHub Issue. See the [v161226 announcement](https://cometcache.com/blog/comet-cache-pro-v161226-maintenance-release/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#853).

[2016-12-26 23:39] #853 closed, assigned to jaswrks

[2016-12-26 23:39] raamdev commented on #863
**Comet Cache Pro v161226** has been released and includes changes from this GitHub Issue. See the [v161226 announcement](https://cometcache.com/blog/comet-cache-pro-v161226-maintenance-release/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#863).

[2016-12-26 23:39] #863 closed, assigned to renzms

[2016-12-27 05:43] renzms commented on #845
@raamdev

### Unable to reproduce bug

WordPress Version: 4.7
Current WordPress Theme: Twenty Sixteen version 1.3
Active Plugins: Comet Cache Pro v161226
PHP Version: 5.4.45
MySQL Version: 10.0.28-MariaDB-0ubuntu0.16.04.1
Apache Version: Apache/2.4.10 (Debian)

Tested using Multisite. Created test posts, managed comments, updated and added plugins for Child sites.

Anything else specific that I co

[2016-12-27 17:36] raamdev commented on #845
@renzms Did you try specifically saving the Discussion settings on a child site?

[2016-12-27 18:04] raamdev opened #864 "admin-bar.min.css missing from Comet Cache Pro v161226"
The Comet Cache Pro v161226 (Maintenance Release) distributable was somehow built and released without `admin-bar.min.css`, which causes issues with the Admin Bar buttons:

![2016-12-27_12-54-40](https://cloud.githubusercontent.com/assets/53005/21505267/a799118e-cc33-11e6-87ed-8fb640ca0bd1.png)

This will be resolved in a follow-up Pro maintenance release (v161227) coming shortly.

[2016-12-27 18:18] raamdev commented on #864
**Comet Cache Pro v161227** has been released and includes changes from this GitHub Issue. See the [v161227 announcement](https://cometcache.com/blog/comet-cache-pro-v161227-maintenance-release/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#864).

[2016-12-27 18:18] #864 closed, assigned to raamdev

[2016-12-27 19:19] peowpeow commented on #845
Edit: currently I have found out that it is server-specific on our side. I have tested copy of installation on different server and everything runs fine.

[2016-12-28 02:29] KTS915 opened #865 "Problem with updating to 161227"
The Pro update to 161227 (see #864) is not updating properly. In fact, it seems to just be "updating" to 161226. So then (a) the user gets a message to update again, and (b) the issue with the adminbar is not fixed.

[2016-12-28 03:57] renzms commented on #865
@KTS915 @raamdev

Hi KTS, was this during a manual upgrade?

On my test site where Automatic updates were configured, it updated properly to **v161227** and has the admin bar fix.

![screen shot 2016-12-28 at 11 54 30 am](https://cloud.githubusercontent.com/assets/13220018/21513521/8b4b4760-ccf4-11e6-8a64-c139850d6ac7.png)

[2016-12-28 03:59] KTS915 commented on #865
Yes, it was a manual update. I don't understand why it would make a difference, though.

[2016-12-28 04:01] renzms commented on #845
@raamdev Yes, when I changed the settings to manually approve comments. 😃

Customer has updated their comment [above](https://github.com/websharks/comet-cache/issues/845#issuecomment-269370346), and it seems it was a server specific error.

[2016-12-28 04:03] renzms commented on #865
Let me try reproducing that error with a manual installation and manual update.

[2016-12-28 04:05] KTS915 commented on #865
Just tried on another site and had the same result.

[2016-12-28 04:19] renzms commented on #865
Tested using 3 sites, (single site and 2 multisites) all are working fine with manual installation and manual update from the plugins list to Comet Cache Pro v161227

Distributable is from https://cometcache.com/account/

WordPress Version: 4.7
Current WordPress Theme: Twenty Sixteen version 1.3
PHP Version: 7.0.10-2+deb.sury.org~xenial+1
MySQL Version: 10.0.28-MariaDB-0ubuntu0.16.04.1
Server: NGI

[2016-12-28 04:30] KTS915 commented on #865
Interesting! I have had one site work now (on localhost), but none of the other three I've tried (two on a live server, one on localhost). Just tried again and still no go (even though it reports success).

What version were you updating from? The unsuccessful updates were all from 161226. The successful one was from an earlier version (I think the November one). Perhaps that makes a difference.

[2016-12-28 04:36] renzms commented on #865
Yeah, that is interesting! 😄

Two sites I tried upgrading from v161226 and one I tried upgrading from v161223-RC.

I've also tried deleting the plugin and removing Safeguard settings to clear the database of Comet Cache to start from scratch, and then manually install on all 3.They all seem to work.

Could you please try one with an older RC and one by removing Safeguard settings of v161226 on tho

[2016-12-28 04:40] KTS915 commented on #865
Just tried upgrading a localhost site from version 160917 and it all went fine.

[2016-12-28 04:43] KTS915 commented on #865
Hmm, just gone into a site I haven't touched for a while. It's running version 161119. The update message it's getting is for 161226 -- so even the message is wrong on that one.

Something is buggy somewhere!

[2016-12-28 04:49] renzms commented on #865
Hmm, that's strange it might be a case with Comet Cache Pro v161226 or the update process.

@raamdev Could there be a bug or a lag in the update process?

[2016-12-28 04:52] renzms commented on #865
@KTS915

If you go to WordPress updates and ask it to `Check Again`, does it still say to upgrade to v161226?

[2016-12-28 04:57] KTS915 commented on #865
That's just caused it to hang.

Actually, cancel that. As I was typing, and after several minutes of apparently getting nowhere, it's now updated the message to 161227.

[2016-12-28 04:58] KTS915 commented on #865
And that update to 161227 has now gone fine. But, again, it was from an older version.

[2016-12-28 05:04] renzms commented on #865
For the sites that are using v161226, does the Update prompt say `Upgrade to Comet Cache Pro v161227`? Could you please try doing the `Check Again` for sites using v161226 to see if it jumpstarts an upgrade properly?

[2016-12-28 05:05] KTS915 commented on #865
For the sites that are using v161226, the prompt already says 161227.

Just re-tried a localhost site that refused to update properly before, and now it's worked (at about the sixth time of asking)! So maybe whatever the glitch has been is clearing.

[2016-12-28 05:13] renzms commented on #865
Awesome! The inconsistency might have just been a problem with a Cron Job/Server Upkeep time which delayed the proper update on your installation. Like an old tv, WordPress sometimes needs a little bump to get it started.

Glad to hear you got it working though! Cheers!

[2016-12-28 05:14] KTS915 commented on #865
Thanks for responding! Time for bed here -- goodnight!

[2016-12-28 12:16] jaswrks opened #866 "Bug: Firefox = Broken Textarea"
- Enable Static CDN Filters
- Attempt to fill-in multiple CDN Hostnames from a Network installation.
- Try to break down to the next line by pressing Enter.

_This is broken in the most recent version of Firefox._

![2016-12-28_03-14-48](https://cloud.githubusercontent.com/assets/1563559/21521704/e5c30582-ccab-11e6-9f69-76f70fbfc861.jpg)

[2016-12-28 12:17] jaswrks commented on #866
Referencing internal/private ticket:
https://app.intercom.io/a/apps/zbpo3mkk/inbox/me@jaswsinc.com/conversations/7405306906

[2016-12-28 12:32] danielmt2k opened #867 "Custom expiration cache for given pages"
Hi,

It would be nice to be able to set different expiration dates for different sets of content. For example:

- The posts in a blog won't be updated mostly, so it can have a 7 days expiration date.

- The main's calendar page with events will change daily, so it would be necessary to have a 1 day expiration date. In this case, a 7 days expiration date that suits most of the website doesn't have

[2016-12-28 12:42] jaswrks commented on #867
_Noting another related issue:_ https://github.com/websharks/comet-cache/issues/170

[2016-12-28 14:40] peowpeow commented on #845
After testing on different machines it was because 1)php version - on second was 5.6, on first 5.4. and/or 2) low memory (set limit on wordpress folder and/or only 64mb ram allowed).

Thank you for this great caching plugin, always our number one on every project.

[2016-12-28 15:25] #865 closed, assigned to nobody

[2016-12-28 15:39] raamdev opened #868 "Clear Cache not clearing cache directories"
We have several reports of Comet Cache Lite v161221 not deleting directories in `wp-content/cache/comet-cache/cache/http/example-com/*` when you click the 'Clear Cache' button. Cache _files_ get deleted, but any and all directories remain. Comet Cache Lite v160917 and v160706 are also reported as having this issue.

I have not been able to reproduce this, but there are at least three confirmed rep

[2016-12-28 17:07] renzms commented on #868
@raamdev

### Unable to reproduce error

Tested using Comet Cache Lite v161221, with single site and multisite.

Using PHP 5.4/7

Comet Cache Lite v161221 clears files and directories properly.

![screen shot 2016-12-29 at 12 58 31 am](https://cloud.githubusercontent.com/assets/13220018/21526998/2fd87028-cd63-11e6-8f8b-f1f17a3f8de3.png)

![screen shot 2016-12-29 at 1 04 23 am](https://cloud.github

[2016-12-28 17:32] raamdev commented on #845
@peowpeow Thanks for the update! :-) If you haven't already, we'd LOVE a review on WordPress.org: https://wordpress.org/support/plugin/comet-cache/reviews/?filter=5 😃

[2016-12-28 17:32] #845 closed, assigned to nobody

[2016-12-28 17:37] raamdev commented on #867
@danielmt2k Thank you for the feature request. I'm going to close this issue in favor of https://github.com/websharks/comet-cache/issues/170, but your request has been noted on that GitHub issue.

[2016-12-28 17:37] #867 closed, assigned to nobody

[2016-12-28 17:43] raamdev commented on #866
This appears to be caused by the `style="white-space:nowrap;"` attribute on that textarea.

[2016-12-28 17:45] raamdev commented on #866
Related Mozilla bug report: https://bugzilla.mozilla.org/show_bug.cgi?id=1137650

According to [the spec](https://drafts.csswg.org/css-text-3/#valdef-white-space-pre-wrap), we should be using `style="white-space:pre-wrap;"`, which preserves new lines, not `nowrap`, which collapses new lines.

[2016-12-28 17:47] raamdev commented on #866
Confirmed that `pre-wrap` works as expected on Firefox Version 50.1.0 (macOS), Chrome Version 55.0.2883.95 (macOS), and Safari Version 10.0.2 (macOS).

[2016-12-28 23:28] raamdev opened #869 "Dashboard notice should explain why the cache was automatically cleared"
There are many occasions where the cache is cleared automatically, as the result of some event that occurred (e.g., automatic plugin update, a remote plugin update, etc.), but the reason for this automatic clearing is not self-evident.

It would be great if Comet Cache could keep track of the _event_ that triggered the automatic cache clearing and then mention that event in the details of the Dash

[2016-12-29 12:54] eurobank commented on #868
Doesn't work for me also. CloudLinux Shared Hosting with PHP 7, using LiteSpeed webserver (if this makes any difference).

Directories remain.

Tested with other cache plugins and works as expected.

[2016-12-29 16:07] renzms commented on #446
@raamdev

### Unable to reproduce issue

WordPress Version: 4.7
Current WordPress Theme: Illdy version 1.0.35.2
Theme Author: Colorlib - http://colorlib.com
Theme URI: http://colorlib.com/wp/themes/illdy/
Active Plugins: Comet Cache Pro v161227
PHP Version: 7.0.10-2+deb.sury.org~xenial+1
MySQL Version: 10.0.28-MariaDB-0ubuntu0.16.04.1

**HTML Compressor enabled**

![screen shot 2016-12-30 at 12 01

[2016-12-29 16:11] skipthedrive commented on #446
Yep, seems to be working fine now. Thanks!

[2016-12-29 16:41] renzms commented on #731
@raamdev

### Unable to reproduce issue

WordPress Version: 4.7
Current WordPress Theme: Twenty Seventeen version 1.0
Theme Author: the WordPress team - https://wordpress.org/
Theme URI: https://wordpress.org/themes/twentyseventeen/
Active Plugins: Comet Cache Pro Version 161227 + Facebook Comments Plugin Version 2.3.6
PHP Version: 7.0.10-2+deb.sury.org~xenial+1
MySQL Version: 10.0.28-MariaDB-0ubu

[2016-12-29 19:20] raamdev commented on #423
Removing the `needs testing` label, as this is just a feature request and this GitHub issue is not related to Jason's comment above. I haven't seen any further reports of issues with Nginx + GZIP + HTML Notes, so I'm not even going to fork that to a separate GitHub issue.

[2016-12-29 19:24] raamdev commented on #731
Thanks, Renz. I'll go ahead and close this as `cannot reproduce`.

[2016-12-29 19:24] #731 closed, assigned to nobody

[2016-12-29 19:30] raamdev commented on #446
@renzms @skipthedrive Thanks for the confirmation! :-) I'll go ahead and close this.

[2016-12-29 19:30] #446 closed, assigned to nobody

[2016-12-30 16:01] jaswrks opened #870 "Compat.: Activation Status Plugin"
A customer writes...

Referencing internal/private ticket:
https://app.intercom.io/a/apps/zbpo3mkk/inbox/me@jaswsinc.com/conversations/7521487261

Apparently this plugin changes something in WordPress that results in the cache being cleared at a time when it is otherwise unexpected. If possible, we should try to run some tests against this plugin and learn more. I'm going to ask the customer to ad

[2016-12-30 16:23] danielmt2k commented on #870
Hi,

It happens just by activating/deactivating the plugin. In both cases, it wipes the whole cache.

I've been taking a quick look at the code, and it just queries the database to check plugin activation (wp_XX_option tables). So I don't see the point to wipe the whole cache.

Thanks.

[2016-12-30 17:35] raamdev commented on #868
After extensive tests, we discovered the bug that was causing this issue; see https://github.com/websharks/comet-cache-pro/commit/3db638daf2df16e3a4e9da5aa7729bfc1d1b07ac. A fix for this issue will go out with the next release.

[2016-12-30 19:11] raamdev commented on #870
@danielmt2k Clearing the entire cache on activation/deactivation of a plugin is expected behavior. Comet Cache does that because it has no way of knowing if the plugin being activated/deactivated changes the output on the front-end of the site. If the plugin being activated/deactivated did affect the front-end of the site, then deactivating/activating the plugin would cause (potentially) the entir

[2016-12-30 20:51] danielmt2k commented on #870
Hi @raamdev,

This plugin has only one purpose, to check which other plugins are activated in a network. So it runs only on the main subsite of the network, and does nothing on the front end.

It runs on the admin (back-end) of Wordpress, nothing is changed on the front. So it would be desirable that the cache is not wiped for the whole network.

Regards,
Daniel.

[2016-12-30 20:52] danielmt2k commented on #870
FYI, the plugin is not even network activated, just activated/deactivated on the main subsite of the network.

[2016-12-30 21:29] raamdev commented on #870
@danielmt2k Please re-read what I said above:

[2016-12-31 05:21] renzms commented on #516
@raamdev

Looks like VaultPress is a premium plugin now https://vaultpress.com/plans/, does this still need testing or was Jason's suggested fix above implemented already?

[2016-12-31 06:03] renzms commented on #606
@raamdev

### Unable to reproduce major bug or find any major compatibility issues

Tested Using:

WordPress Version: 4.7
Current WordPress Theme: Twenty Seventeen version 1.0
Active Plugins: Comet Cache Cache Pro Version 161227 + iThemes Security Version 6.0.0
PHP Version: 7.0.10-2+deb.sury.org~xenial+1
MySQL Version: 10.0.28-MariaDB-0ubuntu0.16.04.1

**Comet Cache appears to be running fine.**

[2016-12-31 06:47] renzms commented on #803
### Unable to reproduce 404 or redirection errors

Tested using:

WordPress Version: 4.7
Current WordPress Theme: Twenty Seventeen version 1.0
Active Plugins: Comet Cache Cache Pro Version 161227 +All In One WP Security	4.2.4
PHP Version: 7.0.10-2+deb.sury.org~xenial+1
MySQL Version: 10.0.28-MariaDB-0ubuntu0.16.04.1

After enabling most applicable security settings in All In One WP Security, (Fire

[2016-12-31 07:07] jaswrks commented on #516
The work outlined above has never been completed, no.

[2017-01-04 02:09] raamdev commented on #803
Thanks, Renz. So it sounds like all that needs to be done here is to figure out what we can hook into that gets fired with All In One WP Security settings are saved, so that we can clear the cache at the same time.

I'll remove the `needs testing` label for now and leave this as a todo.

[2017-01-04 02:13] raamdev commented on #606
@renzms writes...

I agree. That's something that we can do to improve compatibility.

That sounds like a great candidate for a KB Article. Would you mind drafting one for me with those notes? Title: "Is Comet Cache compatible with iThemes Security?"

[2017-01-16 15:20] renzms commented on #606
@raamdev

Sure thing! I'll try and take some updated screens to go with it.

[2017-01-19 09:10] danielmt2k commented on #870
Hi @raamdev ,

I’ve created a MU plugin with this content:

	add_filter('comet_cache_disable_auto_wipe_cache_routines', '__return_true', 10, 0);
	add_filter('comet_cache_disable_auto_clear_cache_routines', '__return_true', 10, 0);

I wanted to disable the auto-wipe routines. But I’m checking that in some websites where I have posts scheduled, the home page is not being cleared to update the new po

[2017-01-19 12:28] cschalenborgh commented on #673
Fyi @AngeIII, I've experienced the same issue, but with WP Fastest Cache.

This fixed it:
`add_filter('vc_grid_get_grid_data_access','__return_true');`

[2017-01-19 13:15] pavelthq commented on #673
@cschalenborgh note that this filter will disable _vcnonce (wp_verify_nonce) checks for ajax calls.

[2017-01-19 19:04] raamdev commented on #870
Those two filters specifically **disable the automatic tasks**, i.e., those filters are designed to disable all of the Comet Cache automatic routines. We don't recommend doing this because those automatic routines ensure that the cache gets cleared _automatically_ whenever it's supposed to be cleared (e.g., when a scheduled post gets published).

Your options are to remove those filters (and there

[2017-01-19 19:07] danielmt2k commented on #870
Ok,

Do I put this filter in the MU plugin created replacing the other 2 lines? So this filter won't wipe the cache when a plugin is activated in the main's netwok site of a multisite install?

Thanks.

[2017-01-19 19:08] raamdev commented on #870
Yes, that's correct.

[2017-01-25 14:38] code-flow opened #871 "HTML Compressor + antispambot() with umlauts results in cached blank page"
Hey guys,
I hope you're doing well today. I've interesting bug report for you.

It seems that the latest version (I'm using CometCache Pro version 161227) has problems when a website uses WordPress' internal [antispambot() function](https://codex.wordpress.org/Function_Reference/antispambot) **and** when an e-mail address has umlauts in it.

Here's an example code you can use in your themes functi

[2017-01-27 02:40] raamdev commented on #871
@code-flow Thank you for the report! :-) However, I haven't been able to reproduce this issue following your instructions above. I'm using Comet Cache Pro v161227 + HTML Compressor, on WP v4.7.2 running the Twenty Fifteen theme on PHP v7.0.12 and Nginx v1.11.3.

The page with the shortcode gets cached properly and subsequent visits to that cached page **do not** show up as blank, but rather the ca

[2017-01-27 08:25] code-flow commented on #871
Hey @raamdev. You're welcome. Thanks for having a look into that. I have this issue on a customer website as well as on my local machine.
* Live Site is PHP/7.0.13 on Apache/2.4.20.
* Dev Site is PHP/7.0.1 on nginx/1.10.1.
* CometCache-Version is always 161227.

I've tested again with the following:
* WP 4.7.2
* fresh installation
* no plugins except Comet Cache CometCache 161227
* Set Option "Yes

[2017-01-27 19:10] raamdev commented on #871
@code-flow Can you confirm that disabling the HTML Compressor resolves the issue? I.e., that this seems specifically related to the HTML Compressor?

[2017-01-27 19:12] jaswrks commented on #866
Referencing: https://developer.mozilla.org/en-US/docs/Web/CSS/white-space
~ I agree with the above and that was my mistake. However, I think `pre` is even better than `pre-wrap` in this case. We don't ever want breaks to occur because much of Comet Cache is based on line-delimited configuration options.

[2017-01-30 07:38] code-flow commented on #871
Yes, when HTML-Compressor is off, everything works just fine.

[2017-01-30 10:45] code-flow commented on #871
I'm not sure if the following helps:

When using
`antispambot('info@hägar.de', 0) // --> blank page`
the output of the above shortcode is:
`<a href="mailto:in&#102;&#111;&#64;hä&#103;&#97;&#114;.&#100;e">Testmail</a>`
And I get a blank page.

The following works (hex-encoded). However the E-Mail would then be sent to "info@hÃ¤gar.de".
`antispambot('info@hägar.de', 1) // --> works`
The output:
`<a

[2017-01-30 20:44] raamdev commented on #871
**I was able to reproduce this issue, yes.** It looks like the blank page issue is not consistent—it only occurs about 50% of the time. I'm guessing there's some character that `antispambot()` is sometimes using (the specific characters change and _which part_ of the email address that gets encoded also changes) that the HTML Compressor is choking on.

When I got the blank cached page, here's what

[2017-01-31 14:39] freddiehdxd opened #872 "Download On local plugin error"
Hello when l download the zip file here to put it in the local server l am getting errors and the plugin is not activating any suggesting fix?

[2017-01-31 15:16] freddiehdxd opened #873 "Any issues Running On Nginx Server"
hello Any issues Running On Nginx Server. Is the plugin compatible with Nginx. apache is not install on my server all website run on Nginx

[2017-01-31 21:43] raamdev commented on #873
No, there are no issues running on NGINX. Comet Cache is fully-compatible with NGINX. See [Recommended Nginx Configuration for Comet Cache](https://cometcache.com/kb-article/recommended-nginx-configuration-for-comet-cache/).

[2017-01-31 21:43] #873 closed, assigned to nobody

[2017-01-31 21:44] raamdev commented on #872
@freddiehdxd This repo is for development only and the ZIP file packaged by GitHub is not an installable WordPress plugin. Please download Comet Cache from https://cometcache.com/release-archive/ or https://wordpress.org/plugins/comet-cache/.

[2017-01-31 21:44] #872 closed, assigned to nobody

[2017-02-01 00:42] freddiehdxd commented on #872
yeah l want to do some deep testing with nginx. but l need it to be install
on my local the plugin

On Tue, Jan 31, 2017 at 4:44 PM, Raam Dev <notifications@github.com> wrote:

[2017-02-01 23:41] raamdev opened #874 "Comet Cache v170201-RC (Release Candidate)"
### General Availability Target Date: February 7th, 2017

### Downloads

- [Comet Cache Lite v170201-RC](http://cometcache.com/r/download-lite-v170201-rc/)
- [Comet Cache Pro v170201-RC](https://cometcache.com/r/download-pro-v170201-rc/) (requires being logged into cometcache.com)

### Changelog

- **New Feature:** Comet Cache can now be configured to automatically clear the cache for date-based a

[2017-02-03 11:11] renzms commented on #874
### Tested
- [x] **Bug Fix:** Broken textarea field due to `white-space:nowrap` in Firefox. See [Issue #866](https://github.com/websharks/comet-cache/issues/866).
- [x] **Bug Fix:** This release resolves empty directories being left in the cache folder, in some scenarios. See [Thread #866](https://forums.wpsharks.com/t/cache-folders-not-removed-during-clean-up-process/866).
- [x] **Enhancement:**

[2017-02-03 12:25] renzms commented on #860
### Confirmed as Working

![screen shot 2017-02-03 at 8 24 56 pm](https://cloud.githubusercontent.com/assets/13220018/22591305/dc28e53a-ea4e-11e6-8762-28fc42b38bb1.png)

[2017-02-03 12:34] renzms commented on #748
@raamdev @jaswsinc

### Possible bug regarding server detection

### APACHE

WordPress Version: 4.7.2
Current WordPress Theme: Twenty Sixteen version 1.3
Theme Author: the WordPress team - https://wordpress.org/
Theme URI: https://wordpress.org/themes/twentysixteen/
Active Plugins: Comet Cache Pro v170201-RC
PHP Version: 7.0.10
MySQL Version: 10.0.29-MariaDB-0ubuntu0.16.04.1
Apache Version: Apache

[2017-02-03 12:44] renzms commented on #868
### Confirmed working in Comet Cache™ Pro v170201-RC

Clear button clears out all empty directories

[2017-02-03 13:02] renzms commented on #866
### Confirmed Working

Tested Using:

WordPress Version: 4.7.2
Current WordPress Theme: Twenty Seventeen version 1.1
Theme Author: the WordPress team - https://wordpress.org/
Theme URI: https://wordpress.org/themes/twentyseventeen/
Active Plugins: Comet Cache Comet Cache™ Pro v170201-RC
PHP Version: 7.0.10-2+deb.sury.org~xenial+1
MySQL Version: 10.0.29-MariaDB-0ubuntu0.16.04.1

FireFox: 51.0.1

Te

[2017-02-06 13:32] renzms commented on #724
### Not working

Tested using

WordPress Version: 4.7.2
Current WordPress Theme: Twenty Seventeen version 1.1
Theme Author: the WordPress team - https://wordpress.org/
Theme URI: https://wordpress.org/themes/twentyseventeen/
Active Plugins: Comet Cache™ Pro v170201-RC
PHP Version: 7.0.10-2+deb.sury.org~xenial+1
MySQL Version: 10.0.29-MariaDB-0ubuntu0.16.04.1

Set `Settings → Permalinks to Custom S

[2017-02-06 13:36] renzms commented on #855
Noting that testing will be continued once issue with Apache detection,(https://github.com/websharks/comet-cache/issues/748) is resolved

[2017-02-07 16:50] freddiehdxd opened #875 "PHP7 Compatibility issues"
PHP7 Compatibility issues when will  comet-cache be full compatible with php 7 my website crash if l activate php 7.

FILE: /home/ultrahor/public_html/wp-content/plugins/comet-cache-pro/src/vendor/websharks/wp-php-rv/src/includes/functions/checks.php
-----------------------------------------------------------------------------------------------------------------------------------------------------

[2017-02-07 19:29] raamdev commented on #875
@freddiehdxd Comet Cache is fully-compatible with PHP 7. We're running Comet Cache on many production sites that are also running PHP 7 and there are no issues. The tool you're using to run your tests is producing false-positives.

See: https://wordpress.org/support/topic/false-positive-comet-cache/

If you're using the PHP 7 Compatibility Checker plugin, please make sure you're running the latest

[2017-02-07 19:29] #875 closed, assigned to nobody

[2017-02-09 13:26] jaswrks commented on #748
... on Nginx but not the other way around.

---

@renzms Great catch. I left a `!` behind in the code following tests of my own. Thanks for spotting this and helping us avoid this going out in a release that way.

Fixed in last commit.

[2017-02-09 13:40] jaswrks commented on #724
Recording incorrect link formulation found during follow-up tests.

[code]

[2017-02-09 13:42] jaswrks commented on #724
Recording correct link formulation after bug fix:

[code]

[2017-02-09 13:49] jaswrks commented on #724
@renzms Another great catch! Thank you.

This, along with the other issue in Apache Optimizations, have both been resolved now — in the release/170201-RC branch. ~ cc @raamdev

[2017-02-10 01:40] raamdev commented on #874
@renzms I'm publishing a new RC after the recent bug fixes that Jason pushed to the RC branch for #724 and #748. Please run new tests for the items on the "Tested with Issues" list using this new RC and finish your "Ongoing Tests" with this new RC as well. It's not necessary to re-test the "Tested" items.

----

## NEW RELEASE CANDIDATE: Comet Cache v170209-RC

_This updated RC includes fixes for

[2017-02-10 09:10] renzms commented on #724
### Fix Confirmed Working for Comet Cache Pro v170209-RC

**Original Archive Cache**

**After updating post, cache is cleared for post as well as archive cache.**

**Updated Archive Cache**

[2017-02-13 09:00] renzms commented on #748
@raamdev @jaswsinc

### Fix Confirmed Working

This is now working correctly for Comet Cache Pro v170209-RC , the options show in the appropriate user case for the appropriate server.

Apache Optimizations also working properly when enabled.

[2017-02-13 09:35] renzms commented on #855
@raamdev @jaswsinc

### Fix Confirmed Working

Tested Using:

WordPress Version: 4.7.2
Current WordPress Theme: Twenty Seventeen version 1.1
Theme Author: the WordPress team - https://wordpress.org/
Theme URI: https://wordpress.org/themes/twentyseventeen/
Active Plugins: Jetpack Version 4.6 / Comet Cache Pro Version 170209-RC
PHP Version: 7.0.10
MySQL Version: 10.0.29-MariaDB-0ubuntu0.16.04.1
Apac

[2017-02-13 09:36] renzms commented on #874
@raamdev

Fixes and enhancements confirmed working for Comet Cache Pro v170209-RC

[2017-02-13 21:20] amgleft commented on #606
Hey I was having a problem with a site of mine — it wouldn't load. I was getting errors like this:
"Fatal error: Allowed memory size of 268435456 bytes exhausted (tried to allocate 20480 bytes) in /home/yoursite.com/wp-includes/class-wp-hook.php on line 291" and when I disabled Comet Cache via ftp the problem stopped and the site loaded fine.

here’s what I did that seems to have everything workin

[2017-02-14 15:12] vestaxpdx commented on #417
+1 for this. I too would like this ability to call a create_cache($post_id) function or simply make this the default behavior. Would eliminate anyone getting that first slow load even with ACE on as that only runs every 15mins and on sites with 4k pages plus it is just never going to catch it just as you publish.

[2017-02-17 00:41] raamdev commented on #606
@amgleft Thanks so much for sharing that! Hopefully that will help someone who comes across this. 😄

[2017-02-18 21:51] jaswrks opened #876 "Auto-Cache Engine: Add Configurable Option for auto_cache_max_time"
The `auto_cache_max_time` setting is available within Comet Cache, but it doesn't appear to have been exposed in the UI yet. See: https://github.com/websharks/comet-cache-pro/search?utf8=%E2%9C%93&q=auto_cache_max_time

This option should be configurable in order to work around script execution time limits on shared hosts; e.g., if your host doesn't allow a script to run for the default 900 second

[2017-02-20 23:27] #724 closed, assigned to jaswrks

[2017-02-20 23:27] #748 closed, assigned to nobody

[2017-02-20 23:28] raamdev commented on #855
**Comet Cache v170220** has been released and includes changes from this GitHub Issue. See the [v170220 announcement](https://cometcache.com/blog/comet-cache-v170220-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#855).

[2017-02-20 23:28] #855 closed, assigned to nobody

[2017-02-20 23:28] raamdev commented on #866
**Comet Cache v170220** has been released and includes changes from this GitHub Issue. See the [v170220 announcement](https://cometcache.com/blog/comet-cache-v170220-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#866).

[2017-02-20 23:28] #866 closed, assigned to nobody

[2017-02-20 23:28] raamdev commented on #860
**Comet Cache v170220** has been released and includes changes from this GitHub Issue. See the [v170220 announcement](https://cometcache.com/blog/comet-cache-v170220-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#860).

[2017-02-20 23:28] #860 closed, assigned to nobody

[2017-02-20 23:29] #874 closed, assigned to renzms

[2017-02-20 23:31] raamdev commented on #868
**Comet Cache v170220** has been released and includes changes from this GitHub Issue. See the [v170220 announcement](https://cometcache.com/blog/comet-cache-v170220-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#868).

[2017-02-20 23:31] #868 closed, assigned to nobody

[2017-02-20 23:46] #794 closed, assigned to nobody

[2017-02-24 00:14] raamdev commented on #653
@renzms Thanks for the testing!

----

I just did another review of this entire GitHub issue and [the associated source code](https://github.com/websharks/comet-cache-pro/blob/170220/src/includes/traits/Plugin/CronUtils.php#L35) and I'm totally out of ideas. @xberg was [unable](https://github.com/websharks/comet-cache/issues/653#issuecomment-197944819) to reproduce the issue in a cloned version of

[2017-02-25 19:54] raamdev commented on #653
@jaswsinc writes...

That reminded me of this todo I had in my task list from a long time ago that I never got around to, related to bugging WP Cron. It was filed in my task manager as unrelated to this issue, but now that you mentioned buggy WP Cron, I was reminded of it. There's likely more background related to this issue here: https://github.com/websharks/comet-cache/issues/613#issuecomment-16

[2017-03-02 02:46] freddiehdxd opened #877 "Unable to deleted the cache directory"
Unable to deleted the cache directory on my server
any way to deleted the folder

[2017-03-02 02:47] #877 closed, assigned to nobody

[2017-03-09 03:27] raamdev commented on #15
@ethanpil I just spent some time reviewing this entire GitHub issue and thinking through how I might be able to write up some documentation for it, and I even got as far as testing out a few code examples on my local test site, but I discovered that it's actually a little trickier than I first thought.

For caching to be enabled for Logged-In Users, you must enable Logged-In User caching, which te

[2017-03-09 04:28] ethanpil commented on #15
Why not use the setting "Yes - Same cache for all users" and then apply the Dynamic Version Salt?

[2017-03-15 16:23] Richi400 opened #878 "Cannot activate or configure comet cache in backend"
Hi there,

I installed the comet cache pro plugin right now.
But it is not possible to activate it. (I see no Save Button)! Or to configure it in the plugin options because I cannot navigate the single tabs. All Tabs (like "Update Credentials") are liked to /wp-admin/admin.php?page=comet_cache# which just leads me to the top of my page.

What went wrong? Any suggestions?

thanks! kind regards
Tors

[2017-03-15 23:46] #878 closed, assigned to nobody

[2017-03-16 00:32] raamdev commented on #857
@renzms Thanks for testing. I'm going to close this as `cannot reproduce`.

[2017-03-16 00:32] #857 closed, assigned to renzms

[2017-03-28 21:09] raamdev opened #880 "PHP Fatal error: Uncaught Error: Call to a member function get_year_permastruct() on null in wp-includes/link-template.php:453"
We have at least two independent reports of an error that only appears occasionally and only when Comet Cache is active. Some reports indicate that a "blank screen is shown" and the cache must be cleared before things start working again.

- https://wordpress.org/support/topic/crash-from-debug-log/
- https://wordpress.org/support/topic/errors-and-blank-screen/

[code]

The error is referring to a

[2017-03-28 21:41] raamdev commented on #15
@ethanpil Thanks for the update. I haven't dug into the Gator Cache codebase, but I was just thinking a bit more about how this would work and the problem that I foresee with caching logged-in users by role would be that if, for example, the site displays the logged-in user's name somewhere, then the first person to generate the cache would have their name cached, and subsequent users with the sam

[2017-03-29 12:13] jaswrks commented on #15
Yes. There's certainly ways to implement this for site-specific needs. The only reason I'm pushing back on this at the moment, is that I'm not seeing a pathway that would allow for this to work on a large number of sites, or even a way to do it that wouldn't require several KB articles to explain how it functions — a sign of feature creep. There's also a lot of potential for security issues with t

[2017-03-30 21:46] raamdev opened #881 "Feature Request: MaxCDN Secure Token"
It would be great if we could provide support for MaxCDN's Secure Token, which enhances security when using a Pull Zone. See https://www.maxcdn.com/one/tutorial/pull-zone-security/

This is a provider-specific feature, but I imagine other security-conscious CDN providers will be adding features like this, so we should consider how we can start supporting enhanced security with the Static CDN Filte

[2017-04-07 07:18] Helmi commented on #812
I've never used Nginx Plus. This plugin is made for and delivered with EasyEngine which is a free and open source server management package. See https://easyengine.io/

EasyEngine is quite wide spread now and they're in the process of releasing their completely rewritten 4.0 this year. They already do support W3TC and WPSupercache. Maybe it's worth talking to these guys.

[2017-04-12 22:08] lukecav commented on #673
Related.
http://www.wpfastestcache.com/tutorial/visual-composer-post-grid-problem/

[2017-04-20 04:10] jaswrks opened #886 "Cornerstone Plugin Compatibility"
A customer writes...

Referencing internal/private ticket:
https://secure.helpscout.net/conversation/351920691/922/?folderId=1246818

[2017-04-20 07:03] jaswrks commented on #871
My investigation shows that `antispambot()` uses `zeroise()` and at times it produces an invalid UTF-8 sequence; i.e., that function is buggy. Sometimes the output it generates is fine, other times it generates an invalid UTF-8 sequence. As a result, the invalid UTF-8 sequence is passed to the HTML Compressor and run through `preg_replace()`, which chokes on the invalid UTF-8 sequence and returns

[2017-04-20 07:22] andysallis commented on #886
As Requested here is the theme I am using that Comet Cache does not work with.
[x.zip](https://github.com/websharks/comet-cache/files/941081/x.zip)

[2017-04-20 21:00] sous-studio opened #887 "Performance Improvement via Server Side Cron"
Hey folks! :)
Long time not see, huh?

As I am a performance geek, I was testing my server with and without Comet Cache Pro (thanks again ;-)). Anyway, I came to a conclusion that when CC Pro is disabled, the page actually loads faster than when it's "just-enabled" (eg. cache is NOT created yet). Now my proposition is to detect whether DISABLE_WP_CRON is set to true (as in server side cron enabled

[2017-04-25 17:02] sjlevy opened #888 "Adjust long filename character limit"
Suggest adjusting character limits formulated in issue #275 to be based on file system path length instead of URL, and to comply with the Windows path limitation (effectively 247 characters)

See post here for more details: https://wordpress.org/support/topic/long-filename-issues/#post-9066322

[2017-04-25 17:18] jaswrks commented on #888
Just adding a related article posted on HN this morning.
https://eklitzke.org/path-max-is-tricky

[2017-05-11 21:49] jcpacelli opened #889 "Comet Cache overwriting CSS"
I've been trying for hours to get this to work. I'm using Content Views Pro and am trying to hide the .dropdown_script class underneath an HTML dropdown. I finally found where that code was located by importing into dreamweaver and searching for the code.
No CSS will override the cached "display:block!important;" no matter where I put it. Tried uninstalling comet cache and my CSS will still not ap

[2017-05-11 22:14] raamdev commented on #889
If this problem occurs even with Comet Cache uninstalled, how is this is a Comet Cache issue?

[2017-05-11 23:35] jcpacelli commented on #889
Because the ONLY code that is preventing me to do so is this:

`#pt-cv-view-229fa8a6bh .pt-cv-content, #pt-cv-view-229fa8a6bh  .pt-cv-content *:not(.pt-cv-readmore){display:block!important;}`

Using DreamWeaver, I narrowed down where exactly that code was located. It was located in wp-content/cache/comet-cache/..../wallpapers.html

I uninstalled/deleted comet cache (with selecting the option to ye

[2017-05-12 05:22] raamdev commented on #889
Have you deleted the `wp-content/cache/comet-cache/` directory?

[2017-05-12 05:24] jcpacelli commented on #889
Yes, tried that too.

[2017-05-12 16:32] raamdev commented on #889
@jcpacelli If you delete `wp-content/cache/comet-cache/` and uninstall Comet Cache, there's simply no way for Comet Cache to serve a cached version of anything.

Have you checked if you have some other server-side caching that might have been installed by your web hosting company that could be serving cached versions of the CSS files? Have you tried clearing your browser cache?

[2017-05-19 20:03] raamdev commented on #547
@futtta Do you know if this is still a problem? This GitHub issue is quite old, so I'm wondering if you've seen any compatibility issues between Comet Cache and Autoptimize lately.

[2017-05-19 21:02] raamdev commented on #547
Thank you, @futtta! :-) Have a great weekend.

[2017-05-19 21:02] #547 closed, assigned to nobody

[2017-05-23 14:09] MikeiLL opened #890 "Fatal Error with loading includes/functions/.load.php"
I'm using php7 locally and php5.6 on the server. Locally I get the following error:

[code]

On the server there's a fatal error, but no details provided.

I saw I similar issue here: https://github.com/websharks/comet-cache/issues/585

But wp-config.php has permissions of 644.

Can you possibly offer any insights?

[2017-05-23 21:26] raamdev commented on #890
@MikeiLL This is definitely an issue specific to your environment and not a bug in Comet Cache. We reserve GitHub for filing bug reports and making feature requests. Please post support questions to the [Community Forum](https://cometcache.com/r/community-forum/) (for Comet Cache Lite) or open a [Support Ticket](https://cometcache.com/support/) (Comet Cache Pro). Thank you! :)

[2017-05-23 21:26] #890 closed, assigned to nobody

[2017-05-24 20:01] jaswrks commented on #805
Referencing: https://make.wordpress.org/cli/handbook/internal-api/wp-cli-add-command/

[2017-05-25 13:36] renzms opened #891 "Feature Request: Auto-Cache Engine Scheduler"
Currently, the only custom controls over the **Auto-Cache Engine** is if a customer wants to specifically cache a list or URLs, and the **Auto-Cache Delay Timer** to delay the connection between each run of URLs it makes.

It would also be nice if it were possible to control when the **Auto-Cache Engine** runs at an interval. This feature could work similar to how the **Cache Cleanup Schedule** (D

[2017-05-25 22:20] #891 closed, assigned to nobody

[2017-05-26 21:47] raamdev opened #892 "Feature Request: Add Referrer-Policy HTTP Header to Whitelist"
@jaswrks writes...

Here's the existing Comet Cache HTTP Header Whitelist as of v170220: https://github.com/websharks/comet-cache-pro/blob/170220/src/includes/traits/Shared/HttpUtils.php#L67-L112

----

Requested here: https://wordpress.org/support/topic/gzip-in-cpanel/#post-9168722

[2017-06-06 08:08] renzms opened #895 "Feature Request: Option to Select Timezone."
It would be nice if a user had the option to use the local server's timezone or had an option to select a timezone. For example, using GMT timezones since the current timezone in the plugin is only UTC.

_____

Referencing Internal ticket: https://secure.helpscout.net/conversation/376029653/1351/

[2017-06-06 22:06] raamdev commented on #895
What part of Comet Cache is this referring to? Comet Cache is a WordPress plugin and uses the WordPress date/time settings in **Dashboard → Settings → General**.

[2017-06-15 20:13] timparkin opened #897 "Cacheing not working for logged in users"
Testing website with Comet Cache Pro and setting cache for logged in users and it says that it isn't cacheing.

e.g. https://www.onlandscape.co.uk/2017/06/alex-bamford-featured-photographer/

I've uploaded the options json (as a txt)

[comet_cache-options.txt](https://github.com/websharks/comet-cache/files/1078868/comet_cache-options.txt)

[2017-06-15 22:12] #897 closed, assigned to nobody

[2017-06-16 09:08] renzms opened #898 "Feature Request: Option to convert all URLs to root-relative paths"
It would be nice for the HTML Compressor to have an option to convert all URLs to root-relative paths to benefit HTTP/1.1 and HTTP/2 sites.

[2017-06-16 09:11] renzms opened #899 "Feature Request: List the removal of HTML comments"
It would be nice for the HTML Compressor to have an option to list the removal of HTML comments and allow that feature to be enabled/disabled.

[2017-06-16 09:22] renzms opened #901 "Feature Request: Option to alphabetically order query string variables"
It would be nice for the HTML Compressor to have an option to alphabetically order query string variables that appear in URLs.

[2017-06-16 09:28] renzms opened #903 "Feature Request: Option to remove quotes from HTML attributes"
It would be nice for the HTML Compressor to have an option to remove quotes from HTML attributes when they are not necessary.

[2017-06-16 09:31] renzms opened #904 "Feature Request: Option to serve popular CSS/JS frameworks from a CDN"
It would be nice for the HTML Compressor to option to serve popular CSS/JS frameworks from a CDN to improve the chances of those files already being in a visitor's cache; e.g., if jQuery (and/or popular jQuery plugins) are found in the source, those could be pointed to a copy of served by cdnjs.com, where it is likely that the files already exists in the browser cache.

[2017-06-16 13:44] viet0viet commented on #673
I have the exact same problem. Can someone tell me how to add the filter?

[2017-06-18 10:14] kodyaz commented on #673
Thanks @AngeIII
This fixed it:
add_filter('vc_grid_get_grid_data_access','__return_true');
I use Wp Fastest Cahce.

[2017-06-29 05:22] code-flow commented on #871
Has this issue been merged to the pro version already? We've updated today to version 170220 but the problem still exists :-(

[2017-06-29 13:31] ogessel commented on #653
And I can confirm that solution proposed by xberg of February 22nd does do the trick.

Since I'm not a developer, I'm not sure what it now is doing or not doing anymore, but after having commented out that line the Cron jobs seem to perform like the other ones. In English: normally.

Of course I still hope that about a bug fix will be available shortly.
Greets, Olaf

[2017-06-29 22:43] raamdev commented on #871
@code-flow This issue has been resolved in the dev-branch and will go out with the next official release. We're hoping to get the next release out within a week or two. This GitHub issue will be updated once the release occurs.

_Note: If you're interested in testing a beta release of Comet Cache before the next version comes out, please sign-up to be a beta tester [here](http://cometcache.com/bet

[2017-08-08 17:25] raamdev opened #909 "Comet Cache v170808-RC (Release Candidate)"
### General Availability Target Date: August 14th, 2017

### Downloads

- [Comet Cache Lite v170808-RC](https://cometcache.com/r/download-lite-v170808-rc/)
- [Comet Cache Pro v170808-RC](https://cometcache.com/r/download-pro-v170808-rc/) (requires being logged into cometcache.com)

### Changelog

- **New Feature: Memcached / RAM** (Pro): Comet Cache Pro now includes support for Memcached / AWS Ela

[2017-08-09 15:31] raamdev opened #910 "3rd Party Plugin Compatibility: WooCommerce Waitlist"
We have a report of a possible conflict with the WooCommerce Waitlist plugin:
https://wordpress.org/support/topic/conflict-with-woocommerce-waitlist/

This needs to be tested to see if we can reproduce the issue and to determine if Comet Cache is causing a problem here. It would be most helpful if we can get a stacktrace when the fatal error occurs so that we can see what calls led up to the failu

[2017-08-10 09:43] renzms commented on #909
**Tested using:**

WordPress Version: 4.8-RC2-40880
Current WordPress Theme: Twenty Seventeen version 1.3
Theme Author: the WordPress team - https://wordpress.org/
Theme URI: https://wordpress.org/themes/twentyseventeen/
Active Plugins: Comet Cache Pro v170808-RC , Google XML Sitemaps Version 4.0.9
PHP Version: 7.1.3-3+deb.sury.org~xenial+1
MySQL Version: 10.0.31-MariaDB-0ubuntu0.16.04.2

### Conf

[2017-08-10 16:25] #910 closed, assigned to renzms

[2017-08-12 03:03] raamdev commented on #909
## Bug in Pro Updater for RC updates

@jaswrks and I discovered a bug in the Pro Updater that prevented the installation of Beta Updates via the built-in Pro Updater. This bug doesn't cause any harm, but it did prevent RC versions from being installed via the Pro Updater, which meant that any Pro users who were opting into Beta Updates via the built-in Pro Updater were not actually receiving them.

[2017-08-22 11:44] renzms commented on #886
Reported in Support

Referencing internal ticket [here](https://secure.helpscout.net/conversation/417814382/1906/)

[2017-08-31 16:05] gwfc opened #912 "multisite trailing / slash issue"
Hi, this is in reference to https://github.com/websharks/comet-cache/issues/554

Watch this 3 min video: https://www.screencast.com/t/GU4EYbq3u

and the end of a live chat with wpmudev which helped to isolate the issue to that module in comet cache causing the above issue in the video (I would say it is pretty significant and hidden issue for multisites):

"

I use comet cache network activated. s

[2017-09-02 18:25] gwfc commented on #912
@raamdev

Thanks. The video in the beginning illustrates the issue. Not sure why the chat pasted like that here.
But, it is definitely a bug per the video on WP multisites. I have it off for now but would like to turn back on in the future when/if it is fixed. :)

[2017-09-02 23:59] monokee commented on #886
Even though I'm a pro customer, I'm not neccessarily expecting a perfect quick fix here. But if you have any pointers as to where I might start looking for the issue myself I'd really appreciate it. There have been some forum posts on themeco support about this but no public fix or workaround has been proposed from either side. I'd need some input from someone who knows the codebase to start looki

[2017-09-04 14:04] renzms commented on #886
### Unable to reproduce issue

**Comet Cache Pro and Cornerstone confirmed working while both are active and enabled.**

@raamdev
______
### Tested Using the following:

WordPress Version: 4.8.1
Current WordPress Theme: Twenty Seventeen version 1.3

Active Plugins: Comet Cache™ Pro v170220 / Comet Cache™ Pro v170808-RC | Cornerstone Version 2.0.6
MySQL Version: 10.0.31-MariaDB-0ubuntu0.16.04.2

__

[2017-09-09 22:36] #886 closed, assigned to nobody

[2017-09-11 07:09] renzms commented on #909
@raamdev

![413 error](https://user-images.githubusercontent.com/13220018/30262369-3a82dbfc-9703-11e7-9394-b108cf71c7e1.png)

When uploading Comet Cache Pro 170808-RC (build 3) on NGINX server (PHP versions 5.4-7.1), the following error appears:

`413 Request Entity Too Large`

PHP Version: 5.4.45, 5.5.38, 5.6.30, 7.0.17
MySQL Version: 10.0.31-MariaDB-0ubuntu0.16.04.2
Apache Version: Apache/2.4.10

[2017-09-11 11:44] raamdev commented on #909
Installed and tested Comet Cache Pro 170808-RC (build 3) on **Apache/2.4.18**. No issues. 👍
Installed and tested Comet Cache Lite 170808-RC (build 3) on **Nginx/1.11.9**. No issues. 👍

[2017-10-13 08:58] monokee commented on #886
When bundled with Themeco's X and Pro themes, Cornerstone is not installed to the wordpress plugin directory but integrated into the theme codebase and likely configured differently than a separate plugin installation - which absolutely won't make this any simpler to debug. :/

[2017-11-06 16:48] jaswrks opened #915 "Sometimes a Double Redirect (Trailing Slash)"
The Apache Optimizations in Comet Cache are adding this line to the `.htaccess` file.

[code]

Not a problem, but if someone attempts to access a site over `http://` and there is also an `https://` redirect that needs to take place, this results in two redirects instead of one. Simply because the trailing slash redirect that Comet Cache uses doesn't specifically state what protocol to use, it just

[2017-11-07 15:07] jaswrks opened #916 "Third-Party Conflict w/ Cornerstone Theme"
A user reports...

Referencing internal/private ticket:
https://secure.helpscout.net/conversation/462149585/2428?folderId=1246818

[2017-11-07 15:24] Pixel8rx commented on #916
This is a duplicate of another ticket. Yes the comet cache pro software does not work on my site with the X theme and cornerstone. When comet cache is active the cornerstone app will not start. Deactivating comet cache means that Cornerstone loads.

https://github.com/websharks/comet-cache/issues/886

[2017-11-07 18:10] jaswrks opened #918 "autoCacheCheckXmlSitemap Waits for 404?"
A user reports...

[2017-11-07 18:10] jaswrks commented on #918
Referencing internal/private ticket:
https://secure.helpscout.net/conversation/447478214/2261?folderId=1246818

[2017-11-15 16:19] jpSimkins opened #919 "Cannot write to htaccess even with 777 permissions"
Cannot write to htaccess even with 777 permissions. How about you output the changes to be made so I can make these myself? I actually prefer this method.

[2017-11-15 16:32] #912 closed, assigned to nobody

[2017-11-24 15:30] #919 closed, assigned to nobody

[2017-12-04 20:44] raamdev opened #920 "API does not consider auto-clear routines disabled via filter"
If you disable the auto-clear routines like this:

[code]

and then call the API like this:

[code]

the API does not clear the cache because [this line](https://github.com/websharks/comet-cache-pro/blob/66a5b9a928f1f2717c1eb0b96806bf454f59619c/src/includes/traits/Plugin/WcpUtils.php#L88-L90) assumes if the auto-clear routines are disabled then the cache should not be cleared.

The easiest way to

[2017-12-19 00:23] raamdev opened #921 "create_function() is deprecated in PHP 7.2"
PHP Deprecated: Function create_function() is deprecated in …\wp-content\plugins\comet-cache\src\includes\traits\Shared\FsUtils.php on line 33

Reported here: https://wordpress.org/support/topic/version-170220-function-create_function-is-deprecated-in-php-7-2/

[2018-02-05 18:50] beatelite opened #923 "When activated on a multinetwork, the cache directory url doesn't behave as expected"
**Summary:**
When using a [multinetwork](https://wordpress.org/plugins/wp-multi-network/)  (multiple multisites on one install), enabling cometcache for each network, and creating a separately name-spaced cache directory for each network, comet cache switches the url for each site arbitrarily.

Basically, sometimes networks will use other network's url path which means clearing cache sometimes won

[2018-02-13 17:08] raamdev commented on #909
@ivarbergman writes...

No, sorry, SASL authentication is not supported at this time.

----

@OctavianParalescu writes...

Thank you. I will look into this.

@OctavianParalescu writes...

Yes, unfortunately this is necessary due to limitations in the simple approach taken by Memcached (in terms of how we can clear the cache).

@OctavianParalescu writes...

Agreed. I will take this into considerati

[2018-02-25 21:10] raamdev commented on #921
It looks like we actually _don't_ want to use Closures in `plugin.php`, since the code in that file where we use `create_function()` is code designed to show error notices for users running PHP < v5.4, which means using Closures there would actually break that code and not do what it's supposed to do (show a message when a user tries to run Comet Cache with PHP < 5.4).

[2018-04-23 14:37] #700 closed, assigned to nobody

[2018-04-23 14:39] raamdev opened #927 "Improve error handling for cache write and rename failures"
On some platforms, the filesystem or operating system prevent Comet Cache from being able to rename or write cache files. In these cases, the failure should be caught and handled in a way that does not produce a fatal error on the site.

[code]

----

Related:

- https://wordpress.org/support/topic/getting-some-fatal-errors/

[2018-04-24 19:28] Solgaz commented on #909
Hello!
Thanks for such a nice plugin!
I have a small problem!
Wordpress  4.9.5
WooCommerce 3.3.5
Comet Cache v170808-RC (Release Candidate)
When RAM Memcached is turned on, sometimes error 503 appears
my site: http://www.solgaz.space/

[2018-07-24 07:41] ThePopularizer opened #930 "APCu Support"
Can APCu support be implemented? It'd be as easy as dropping the [object-cache.php](https://wordpress.org/plugins/apcu/) file into wp-content folder.

[2018-09-15 23:32] emmaport commented on #880
The best solution, which I have tried, is to uninstall the wordpress and reinstall manually. Installing wordpress using sofwares like 1Click Install, Fantastico Deluxe, Softaculous etc., leads to this error. A fine tutorial on manual installation of Wordpress can be found here: https://www.youtube.com/watch?v=LIhNlzLgF78

[2018-09-19 02:08] JordanMG opened #931 "Trailing-slash 301 redirects not working when Comet Cache enabled"
When Comet Cache is activated, trailing-slash 301 redirects (if configured) do not work on posts.

To replicate:

- create a fresh WordPress install on Nginx
- configure the "post name" permalink settings in WordPress
- confirm that posts without a trailing slash 301-redirect to the slashed version
(example.com/post-name -> example.com/post-name/)
- activate comet cache
- as a guest user who views

[2018-09-21 04:07] JordanMG commented on #931
The debug output shows the trailing slash in the URL.

[2018-09-21 19:28] JordanMG commented on #931
Yeah, I never imagined Comet Cache would be dealing with this either, but it seems to be.

Nginx config:
`location / {
    try_files $uri $uri/ /index.php?$args ;
 }`

The issue can also be replicated on the official Comet Cache blog:

https://cometcache.com/blog
https://cometcache.com/blog/

https://cometcache.com/blog/comet-cache-v170808-rc-release-candidate
https://cometcache.com/blog/comet-cac

[2018-10-06 21:08] Solgaz commented on #909
Отлично все работает!!!

[2019-02-11 09:09] cristi-contiu opened #932 "Recommended static assets cache expiration"
Hello!

In the "Apache Optimizations" > "Leverage Browser Caching?" section there is the following statement: "Google recommends 1 week" and that is the `ExpiresDefault` setting used in `.htaccess`.

However, when I run a Google PageSpeed Insights test on a CometCachePro powered website, I get the following message in the Diagnostics section:
![image](https://user-images.githubusercontent.com/7203

[2019-05-10 13:31] DidierV34 opened #933 "Since WordPress 5.2 an extension causes causes a fatal error"
Since WordPress 5.2, a native feature allows you to detect if an extension or theme causes a fatal error on your site, and notifies you with this automatic email.

Here, WordPress has found an error with one of your extensions, "Comet Cache".

Détails de l’erreur ====================== Une erreur de type E_ERROR a été causée dans la ligne 227 du fichier /home/lengadoceq/www/wp-content/plugins/come

[2019-10-01 21:48] montenegrojd opened #934 "PHP Warning: Cannot modify header information"
Debug.log file is full of warnings from the plugin, like this one:

_PHP Warning:  Cannot modify header information - headers already sent in /home/98540.cloudwaysapps.com/zhcbxufrpj/public_html/wp-content/plugins/comet-cache-pro/src/includes/traits/Shared/HttpUtils.php on line 172_

[2019-10-03 18:34] #934 closed, assigned to nobody

[2019-12-09 14:42] Luc45 opened #935 "How to clear paginated homepage programmatically?"
First, thanks for Comet Cache. It's the best Cache plugin and I've been using it for years.

I have the Pro version, I want to clear the Homepage cache programmatically, but the homepage is paginated. How can I achieve that?

Examples:

Page 1: example.com
Page 2: example.com/page/2
Page 287: example.com/page/287

[code]

[2019-12-30 06:48] hectorfarahani opened #937 "Question: How to exclude files from plugin folder and external sites programmatically?"
I am in search of a filter hook to add our plugin js files to the list. There are URLs from external 3rd-party site and plugin folder too.

[2020-06-20 15:52] dimitris-t commented on #854
Any workarounds?

[2020-08-22 02:20] getin2magic opened #940 "error with the google MonsterInsights Pro plugin"
There are some trouble with the MonsterInsights Pro plugin. I dont know what exactly happens, but the popup from comet are not correctly displayed in use with the MonsterInsights Pro plugin. i tried to find out the problem and reinstalled only the new wp with comet and MonsterInsights Pro, nothing else. but the issue is there. I can not say, if comet is corectly working.

thanks for helping

[2020-09-24 12:14] headwalluk opened #941 "WooCommerce wc-api failure"
Hi

On a WooCommerce callback from SagePay I'm seeing the following, but it's intermittent. Could be specific to the individual orders, but the error message is the same when it happens.

Execution Timeout Error >> CacheDirUtils.php on line 160

The referrer is https://live.sagepay.com/ and they are coming at us with a very long URL which is a payment confirmation callback. The long URL contains a