[2016-02-25 19:18] raamdev commented on #686
I can confirm I'm seeing the same thing with the Query Monitor plugin, however I'm wondering if this is related specifically to how the Query Monitor plugin acquires these results (i.e., is it running each of these hooks itself and then checking the result? and maybe those Comet Cache calls are not meant to be run in that context?).

This will require a bit more research.

Any ideas @jaswsinc?

[2016-02-25 20:28] jaswrks commented on #688
We may also need to look at how permalinks are structured when this plugin is running, because we need to know if pagination occurs like `/amp/page-2` or `/page-2/amp` for instance.

[2016-02-26 00:50] raamdev opened #689 "Backwards compatibility for $GLOBALS['zencache'] is missing"
Comet Cache does not contain proper backwards compatibility for `$GLOBALS['zencache']`, which was often recommended for making various API calls.

@jaswsinc writes...

[2016-02-26 07:52] kapagatavot commented on #682
Thank you :)

I'm using Yoast SEO for Sitemap and WPML for languages.

[2016-02-26 12:28] raamdev commented on #678
@jaswsinc So do we have a resolution to this other than having everybody request that their web host upgrade the version of cURL? It seems like we could avoid this issue altogether by either a) not using CloudFlare Universal SSL, or b) setting up a separate server for the Pro updater that doesn't use CloudFlare Universal SSL.

[2016-02-26 12:59] raamdev commented on #688
It appears that Comments, Pages, and Archives are not supported at all yet by the AMP plugin. The comments section and any links to comments do not appear on posts that are loaded via AMP.

The only other thing to note is that you can also load the AMP version of a post by appending `?amp=1`, so we should be sure to consider that.

[2016-02-26 13:16] jaswrks commented on #678
Hmm. I hadn't given this much thought yet, but I like the idea of just moving it to another server. That's probably a better idea anyway, and it's what I was thinking for you-know-what also.

I'll come back to this over the weekend or on Monday.

[2016-02-26 14:13] raamdev opened #690 "Admin Bar prevents Logged-In User caching from working"
When Logged-In User caching is enabled in Comet Cache Pro, all pages on the site for a logged-in user are **not** cached by default, because by default WordPress has the WordPress Admin (aka the Toolbar) bar enabled for user for logged-in users, and the Admin Bar that adds a `wpnonce` to the page source on the front-end, which then disables Comet Cache caching.

![2016-02-26_09-07-44](https://clou

[2016-02-26 14:47] raamdev commented on #673
Correct, caching a nonce is a bad idea. See [What are WordPress nonces and why are they not cache-compatible?](https://cometcache.com/kb-article/what-are-wordpress-nonces-and-why-are-they-not-cache-compatible/)

It appears that Visual Composer is not using the standard `_wpnonce` values but instead using a custom `_vcnonce`. Comet Cache currently looks for `_wpnonce` in the page source and disable

[2016-02-26 15:04] raamdev commented on #686
![2016-02-26_10-04-22](https://cloud.githubusercontent.com/assets/53005/13355842/5778df6c-dc70-11e5-8060-a0382cfb6ddb.png)
![2016-02-26_10-04-07](https://cloud.githubusercontent.com/assets/53005/13355843/58b8d274-dc70-11e5-80a1-1bcc6646f336.png)

[2016-02-26 15:40] pavelthq commented on #673
@raamdev sent to your public email in @raamdev.com

[2016-02-26 15:50] raamdev commented on #673
@AngeIII Received. Thank you. I'll add Visual Composer + Comet Cache testing to my todo list and update here again when I have something to add.

[2016-02-26 16:43] raamdev commented on #686
After some digging into how Query Monitor works and finding [where it populates the callback handler](https://github.com/johnbillion/query-monitor/blob/2.8.1/classes/Util.php#L147-L220), we were able to narrow this down to an issue with how the Comet Cache codebase is currently doing some tricky things with PHP, which was necessary (until recently) to maintain compatibility with PHP 5.3.

Now that

[2016-02-26 16:45] raamdev commented on #635
Noting that switching to PHP Traits as part of this issue should resolve a compatibility issue with the Query Monitor plugin: https://github.com/websharks/comet-cache/issues/686

[2016-02-26 16:55] theperfectwill commented on #686
:+1:

[2016-02-26 18:18] raamdev commented on #688
@jaswsinc FYI, I tested and confirmed the fix you noted above. It works great! Cache files for AMP versions of posts are now automatically cleared when a post cache needs to be cleared. :-) I've submitted a PR that I will be merging soon.

[2016-02-26 20:37] Kedakai opened #691 "Backwards Compatibility for $GLOBALS['quick_cache'] is missing"
Good evening everyone,
i have a very annoying Issue.
Environment:
Wordpress Site, that has used Zencache before (Which worked fine!).

One of my friends told me this evening that changes made in the Plugins:
"Pretty simple progress meter" or
"tablepress" are not visible for not logged-in users.

I knew immediately that this was a Comet Cache Issue, but i thought about other points before, because

[2016-02-27 13:55] raamdev commented on #691
@Kedakai If you reinstall ZenCache, does the problem go away?

The Comet Cache codebase is exactly the same as the ZenCache codebase--the only thing we changed was the name of the plugin. So if it was working fine with ZenCache, it should work just fine with Comet Cache. If you can reinstall ZenCache and verify that it actually does work with ZenCache but not with Comet Cache, I'll see if I can ta

[2016-02-27 14:40] raamdev opened #692 "Feature Request: Return cache status in custom HTTP header"
A user [writes](https://wordpress.org/support/topic/simple-and-reliable-exactly-how-caching-in-wp-needs-to-be?replies=1#post-):

[2016-02-27 14:53] jaswrks commented on #688
Cool. That's awesome!

[2016-02-27 15:04] raamdev opened #693 "Cache not cleared for Custom Categories associated with Custom Post Types"
A user [writes](https://wordpress.org/support/topic/always-5-star-for-this-plugin?replies=1#post-)...

I have not tested or reproduced this yet, so this needs to be tested.

---

Related: https://github.com/websharks/comet-cache/issues/399

[2016-02-27 16:00] raamdev commented on #650
![2016-02-26_09-02-43](https://cloud.githubusercontent.com/assets/53005/13373879/3f79a622-dd41-11e5-984f-5ab464697ab2.png)

[2016-02-27 16:02] raamdev commented on #650
Next Release Changelog:
- **Enhancement** (Pro): A new HTML Compression options allows you to define whether or not HTML Compression should be enabled for Logged-In users (when Logged-In User caching is enabled). See **Comet Cache → Plugin Options → HTML Compression → Enable HTML Compression for Logged-In Users?**. Props @renzms. See [Issue #650](https://github.com/websharks/comet-cache/issues/650

[2016-02-27 16:02] #650 closed, assigned to renzms

[2016-02-27 16:09] raamdev commented on #679
Next Release Changelog:
- **Bug Fix** (Pro): Fixed an Auto-Cache Engine bug that was preventing the Auto-Cache Engine from generating cached pages. Props @digitalhexcode for reporting. See [Issue #679](https://github.com/websharks/comet-cache/issues/679).

[2016-02-27 16:09] #679 closed, assigned to nobody

[2016-02-27 16:11] raamdev commented on #683
Next Release Changelog:
- **Bug Fix**: Fixed a ZenCache Backwards Compatibility bug that was preventing `ZENCACHE_ALLOWED` from working properly with Comet Cache. See [Issue #683](https://github.com/websharks/comet-cache/issues/683).

[2016-02-27 16:11] #683 closed, assigned to nobody

[2016-02-27 16:16] raamdev commented on #671
Next Release Changelog:
- **Enhancement**: Improved the way Comet Cache handles file locking in an effort to improve compatibility with various environments. There were reports of issues with PHP FPM/FastCGI and this release attempts to address those. See [Issue #671](https://github.com/websharks/comet-cache/issues/671)

[2016-02-27 16:16] #671 closed, assigned to nobody

[2016-02-27 16:18] raamdev commented on #689
Next Release Changelog:
- **Bug Fix**: Fixed a ZenCache Backwards Compatibility bug that was preventing calls to `$GLOBALS['zencache']` from working properly with Comet Cache. See [Issue #689](https://github.com/websharks/comet-cache/issues/689)

[2016-02-27 16:18] #689 closed, assigned to nobody

[2016-02-27 16:22] raamdev commented on #688
Next Release Changelog:
- **Accelerated Mobile Pages (AMP) Compatibility**: Added full support for Accelerated Mobile Pages via the [AMP plugin](https://wordpress.org/plugins/amp/). Comet Cache now works great alongside the AMP plugin. AMP-generated pages will be cached and those cache files will be intelligently cleared when necessary to keep things up-to-date. See [Issue #688](https://github.com

[2016-02-27 16:22] #688 closed, assigned to nobody

[2016-02-27 16:36] Kedakai commented on #691
With Zencache the changes in tablepress worked fine.
Comet Cache does not recognize this changes, i think.

I have recorded the Issue so i can prove what i'm saying.
https://www.youtube.com/watch?v=_iH43m9AOcc (Available soon in 1080P60FPS)

I have no Costum Plugins installed and i haven't modified a Plugin ever.

[2016-02-27 17:01] raamdev commented on #691
@Kedakai Thank you very much for the video. I just watched it and I see the problem you are demonstrating. I will look into this issue a bit more and update here when I have more info.

[2016-02-27 17:13] raamdev commented on #691
@Kedakai I have confirmed the bug. The issue is that TablePress is using `$GLOBALS['quick_cache']->clear_cache()` to integrate with our caching plugin. That's the old API call (it should now be `comet_cache::clear()`;  see [Is there an API call that clears the cache?](https://cometcache.com/kb-article/is-there-an-api-call-that-clears-the-cache/)). ZenCache had backwards compatibility for Quick Cac

[2016-02-27 17:21] Kedakai commented on #691
@raamdev, great!
Thanks for the great support :-)

[2016-02-27 18:51] raamdev commented on #691
Next Release Changelog:
- **Bug Fix**: Fixed a Quick Cache Backwards Compatibility bug that was preventing calls to `$GLOBALS['quick_cache']` from working properly with Comet Cache. Props to @Kedakai for reporting. See [Issue #691](https://github.com/websharks/comet-cache/issues/691).

[2016-02-27 18:51] #691 closed, assigned to nobody

[2016-02-27 20:32] raamdev commented on #678
I believe this is related. I just installed Comet Cache Pro and Query Monitor showed that one `POST` by Comet Cache to `https://cometcache.com` failed with:

![2016-02-27_15-29-00](https://cloud.githubusercontent.com/assets/53005/13375177/fdec39ba-dd66-11e5-8079-307016fa8dc7.png)

The Call Stack indicates this originated in `UpdateUtils.php` on Line 74, which is in the `maybeCheckLatestProVersion(

[2016-02-27 23:01] raamdev commented on #650
**Comet Cache v160227** has been released and includes changes from this GitHub Issue. See the [v160227 announcement](https://cometcache.com/blog/comet-cache-v160227-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#650).

[2016-02-27 23:02] raamdev commented on #671
**Comet Cache v160227** has been released and includes changes from this GitHub Issue. See the [v160227 announcement](https://cometcache.com/blog/comet-cache-v160227-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#671).

[2016-02-27 23:02] raamdev commented on #679
**Comet Cache v160227** has been released and includes changes from this GitHub Issue. See the [v160227 announcement](https://cometcache.com/blog/comet-cache-v160227-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#679).

[2016-02-27 23:02] raamdev commented on #683
**Comet Cache v160227** has been released and includes changes from this GitHub Issue. See the [v160227 announcement](https://cometcache.com/blog/comet-cache-v160227-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#683).

[2016-02-27 23:02] raamdev commented on #688
**Comet Cache v160227** has been released and includes changes from this GitHub Issue. See the [v160227 announcement](https://cometcache.com/blog/comet-cache-v160227-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#688).

[2016-02-27 23:03] raamdev commented on #689
**Comet Cache v160227** has been released and includes changes from this GitHub Issue. See the [v160227 announcement](https://cometcache.com/blog/comet-cache-v160227-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#689).

[2016-02-27 23:03] raamdev commented on #691
**Comet Cache v160227** has been released and includes changes from this GitHub Issue. See the [v160227 announcement](https://cometcache.com/blog/comet-cache-v160227-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#691).

[2016-02-27 23:27] Kedakai opened #694 "TablePress calls to GLOBALS['quick_cache'] do not work"
I updated Comet Cache just now and tried if the Issue from https://github.com/websharks/comet-cache/issues/691 is solved. Still the exact same Problem..
Video was marked as private. If its needed please comment.

[2016-02-28 01:02] raamdev commented on #694
@Kedakai It looks like the problem is that TablePress is using `method_exists()` to check if `$GLOBALS['quick_cache']->clear_cache()` exists, however since that is really a Closure and not an actual method, `method_exists()` returns false which prevents the cache from being cleared.

We're switching over to PHP Traits in the codebase very soon and that will solve this problem (i.e., `method_exists

[2016-02-28 01:20] jaswrks commented on #635
_Edit: Comment moved to https://github.com/websharks/comet-cache-pro/pull/222#issue-136990093_

[2016-02-28 01:26] raamdev commented on #635
I'm starting work on the conversion to PHP Traits. ↑

[2016-02-28 01:30] raamdev commented on #635
@jaswsinc You didn't mention `namespace` at the top; does that get converted to `namespace WebSharks\CometCache\Pro\Traits\Plugin;` for all files in the `traits` directory?

[2016-02-28 01:31] jaswrks commented on #635
Yes, and please change `\Plugin` to `Ac` or `Shared` depending on the main folder.

[2016-02-28 01:37] jaswrks commented on #635
_Edit: Comment moved to https://github.com/websharks/comet-cache-pro/pull/222#issue-136990093_

[2016-02-28 02:44] raamdev commented on #635
@jaswsinc _Edit: moved question [here](https://github.com/websharks/comet-cache-pro/pull/222#issuecomment-189775366)_

[2016-02-28 20:10] raamdev opened #695 "Accelerated Mobile Pages (AMP) + HTML Compressor"
The Comet Cache HTML Compressor currently causes several validation errors when applied to AMP pages (which are loaded by appending `/amp/` to the URL of a page).

AMP has very specific rules for the markup of a page, as the whole point of the AMP project is to create somewhat of a standard for maximizing the speed and simplicity of displaying pages on mobile devices.

The following two sections p

[2016-02-28 20:42] raamdev opened #696 "Plugin Updater page has two sets of newsletter links"
In v160227, the Pro Plugin Updater page has two sets of newsletter links:

![2016-02-28_15-41-31](https://cloud.githubusercontent.com/assets/53005/13381753/d8e23590-de31-11e5-96d6-5c84aa3d5285.png)

[2016-02-28 20:44] raamdev commented on #696
This was fixed in https://github.com/websharks/comet-cache-pro/commit/03677c0e7c357a752fed8469810eeee30ba41431, which is in the `comet-cache-pro/feature/635-traits` branch. When that PR gets merged into `000000-dev`, this issue can be closed.

[2016-02-29 01:04] theperfectwill opened #697 "How to use a Cookie Free Domain?"
I am trying out the [Cookie Free Domain](https://codex.wordpress.org/Editing_wp-config.php#Set_Cookie_Domain) wp-config.php feature locally because I am new to using it.

I have this in wp-config.php...

[code]

All things (theme, plugins, etc.) are working fine for me, but Comet Cache is not doing it's job correctly, to my fault or not. I'm not sure, so let me know.

Comet Cache is working partly

[2016-02-29 01:21] theperfectwill opened #698 "How to change the wp-content path as the top level path used?"
I asked this some time ago, when Comet Cache was QuickCache :)

Back then I didn't understand as much as I do now, but I still don't see an easy way of doing this, when I looked in ZenCache or maybe I missed it.

I'm of course using Comet Cache now... :)

<strong>But, how can I change the wp-content path to use the [UPLOADS](https://developer.wordpress.org/reference/functions/wp_upload_dir/) direc

[2016-02-29 18:19] jaswrks commented on #698
@NoahjChampion Take a look at the `WP_CONTENT_DIR` constant mentioned in this article. https://premium.wpmudev.org/blog/10-wp-config-tweaks-to-improve-your-wordpress-site/

[2016-02-29 18:24] jaswrks commented on #695
Referencing: https://github.com/websharks/comet-cache-pro/blob/160227/src/includes/closures/Ac/HtmlCUtils.php#L42-L66

[2016-02-29 18:35] ricsmo opened #699 "Plugin Settings Page not Usable on Mobile Devices"
The plugin settings page does not resize small enough on some mobile browsers and the "Clear Cache" button is off screen and not scrollable. Tried on iPhone 6 using Safari and Chrome in both portrait and landscape.

[2016-02-29 19:55] kristineds commented on #678
Also reported here, referencing [internal / private ticket](https://websharks.zendesk.com/agent/tickets/11478).

[2016-02-29 21:56] nathanaelphilip commented on #584
Piggy backing on this, but would it be possible to put the JS in the footer? If you run Google’s page speed tools, it strongly recommends moving them there. It’s kind of hard to explain to the client that Google isn’t necessarily right in this instance...

[2016-03-01 14:00] raamdev commented on #697
@NoahjChampion Are you saying here that your `WP_CONTENT_URL` and `WP_CONTENT_DIR` are located somewhere outside the WordPress directory? It would help to see a complete breakdown of the various locations, e.g., the path to your WordPress directory, the WordPress Site URL (see **Settings → General**), etc.

[2016-03-01 14:08] raamdev commented on #699
@ricsmo Thank you for opening an issue for this. I'm aware of the problem with using the Comet Cache options pages on mobile devices, but I kept forgetting to open a GitHub issue so that I'd remember to get that fixed. :-)

We have another GitHub issue open to simplify the plugin options page itself (see https://github.com/websharks/comet-cache/issues/96) and working on this (improving mobile comp

[2016-03-01 14:12] raamdev commented on #584
@nathanaelphilip writes...

See [Why doesn’t Comet Cache “Eliminate Render Blocking” and move CSS/JS scripts into the footer?](https://cometcache.com/kb-article/why-doesnt-comet-cache-eliminate-render-blocking-and-move-cssjs-scripts-into-the-footer/)

[2016-03-01 14:19] nathanaelphilip commented on #584
Ah. Ok. I normally have all of my scripts set to go in the footer, but do I need to ensure ALL enqueued scripts go there?

Couldn’t you offer an option that said “load scripts in footer” with the disclaimer about it might break things.

[2016-03-01 14:35] raamdev commented on #584
@nathanaelphilip Please see https://github.com/websharks/comet-cache/issues/248 the related discussion there. My mind isn't really made up about whether or not Comet Cache should have an option for that. I tend to agree that having that option, with a big disclaimer, would be sufficient, but this GitHub issue isn't really the place for that discussion. :-) If you leave a comment on #248 I can reop

[2016-03-01 14:43] nathanaelphilip commented on #584
ok, thank you @raamdev. i really appreciate the quick responses and this all makes sense.

[2016-03-01 22:21] jaswrks commented on #678
I just reviewed this again and I suggest a tag of `wontfix` here. While it is possible for us to try and work around this problem by exposing a version of the API that acts as a less-secure proxy to a more-secure server; that only sacrifices the SSL ciphersuite that both CloudFlare and our own configuration both use; i.e., sacrificing security for compatibility, and in this case I think that's a b

[2016-03-02 04:09] renzms opened #700 "BUG: Comet Cache v160227 running Nginx / MariaDB server on Ubuntu causes PHP Fatal error: Uncaught exception 'RuntimeException'"
Using Comet Cache v160227 on Nginx / MariaDB server on Ubuntu causes PHP Fatal error

[code]

(full error message with stack trace here: http://pastebin.com/2Yfq71yZ)

---

Referencing Internal ticket: https://websharks.zendesk.com/agent/tickets/11528

[2016-03-02 04:24] jaswrks commented on #678
A reason not to choose HostGator.
http://www.remcotolsma.nl/2015/06/hostgator-curl-outdated-disappointing-support/

[2016-03-02 04:32] jaswrks commented on #678
I reported this to HostGator techs. Awaiting a response from them.

[2016-03-02 12:45] raamdev commented on #678
Then we should add messaging to the WordPress Dashboard accordingly, or even better, detect the version of cURL and hide the Pro Updater altogether with a message about why it's unavailable when cURL is outdated.

We'll need a KB Article that explains all of this too.

[2016-03-02 12:55] jessuppi opened #701 "inconsistent HTTP headers"
I've spent the last several days researching this across several websites, and though I'm not 100% sure, it seems like the HTTP headers being sent by CC are inconsistent.

_Quick background:_ it seems generally agreed upon that HTTP headers sent by modern web servers should include both one "strong" cache header and one "weak" cache header, that is one of either `Expires` or `Cache-Control` and on

[2016-03-02 14:01] raamdev commented on #635
Checking off this line item above:
- Convert all Closures into Traits

PR https://github.com/websharks/comet-cache-pro/issues/222 (Convert to PHP Traits) has been merged into `000000-dev`.

[2016-03-02 15:45] raamdev commented on #635
Checking off this line item above:
-  No longer necessary to build $_this references for closure callback handlers.

PR https://github.com/websharks/comet-cache-pro/pull/222 fixes that.

[2016-03-02 15:50] raamdev commented on #635
Noting that we can now continue with the conversion to utilize `mb_*()` functions where applicable. The notice to users indicated that after March 1st we will require the `mbstring` extension. Also adding the following line item above:
- Ensure that WP PHP RV requires the `mbstring` extension to prevent issues with sites that don't have it installed.

[2016-03-02 16:00] raamdev commented on #635
There are three occurrences of `ob_start()`:
- https://github.com/websharks/comet-cache-pro/blob/160227/src/includes/closures/Plugin/WcpEvalUtils.php#L27
- https://github.com/websharks/comet-cache-pro/blob/160227/src/includes/closures/Ac/PostloadUtils.php#L197
- https://github.com/websharks/comet-cache-pro/blob/160227/src/includes/closures/Ac/ObUtils.php#L220

@jaswsinc Do these need to be updated

[2016-03-02 16:12] raamdev commented on #700
Referencing line mentioned in error message: https://github.com/websharks/comet-cache-pro/blob/160227/src/includes/closures/Shared/FsUtils.php#L275

[2016-03-02 16:42] raamdev commented on #701
@jessuppi Thanks so much for the detailed feedback! :-)

I just reviewed the codebase to remind myself how all of this works and I'm sharing that below. This will require more research and discussion (hoping that @jaswsinc will chime in here soon).

Also, referencing two related issues: https://github.com/websharks/comet-cache/issues/255 and https://github.com/websharks/comet-cache/issues/134.

--

[2016-03-02 18:01] raamdev commented on #678
We should also be sure to prevent the plugin updater from attempting to call `maybeCheckLatestProVersion()` or anything else that might result in the handshake failure [mentioned above](https://github.com/websharks/comet-cache/issues/678#issuecomment-189718156) when an old version of cURL is installed.

[2016-03-02 18:48] afbmb opened #702 "Possible Memory Leak?"
We're operating a massive multi-site WP network. Everything has been running basically flawless since our migration to Microsoft Azure in November, up until the last week or so. Apache is continuously crashing and there appears to be a memory leak. Free memory isn't being allocated to services.

The only correlation we can see at this moment is Comet Cache. Feb. 23rd we purchased an unlimited lice

[2016-03-02 20:56] jaswrks commented on #701
@jessuppi Thank you for the feedback and willingness to discuss this topic.

You wrote...

They are not inconsistent, but I will try to comment on some of your notes.

---

That is correct, and it is only suggested for the purpose of speeding up the delivery of static files; i.e., as an additional suggestion that we make. It has no bearing on the cache functionality itself.

---

We follow the Wor

[2016-03-02 20:58] jaswrks commented on #701
@jessuppi Just curious. Does https://www.littlebizzy.com/ support PHP 7 yet?

[2016-03-02 21:15] jaswrks commented on #635
Nope. Those all look good. False-alarm on that one. Looks like no changes are necessary with respect to `ob_start()`. I think I listed that because I was unsure. There were some changes to the parameters to `ob_start()` in PHP 5.4, but since we dropped the locked output buffer idea, this doesn't seem to impact Comet Cache at all now. Looks good as-is.

[2016-03-02 21:26] jaswrks commented on #700
Hmm. I replied to that ticket to inquire about the type of filesystem they have.

[2016-03-02 22:24] afbmb commented on #702
Discovered the issue.

The Comet Cache plugin by default has "Enable WebSharks™ HTML Compression" enabled. And after a few days we discovered this was interfering with certain JavaScript files of ours so we disabled it. It appears all of the compressed asset files were left behind in the /cache/comet-cache/htmlc/public/ directory but access to them was forbidden.

Coincidentally both Googlebot & B

[2016-03-03 07:08] jessuppi commented on #701
Thanks for your response. I suppose this topic runs the risk of getting too deep in criticism of WordPress core (and Nginx, Google, Chrome/Webkit, etc) and when (if) it's appropriate to ignore/over-write WP core functionality. I'm not really a programmer so I can't pretend to speak authoritatively, however, there are some further points that I believe need to be made.

Fair enough, however, your r

[2016-03-03 14:29] raamdev commented on #702
Actually, the HTML Compressor is disabled by default (you can click the "Restore" button on the plugin options page to reset to plugin defaults to see that this is the case). The only reason it would be enabled when you migrated from ZenCache to Comet Cache is if the HTML Compressor was enabled in ZenCache, as Comet Cache imports the ZenCache settings the first time it is installed.

---

Hmm, you

[2016-03-03 14:29] #702 closed, assigned to nobody

[2016-03-04 00:20] raamdev opened #703 "Support for Multibyte Strings"
_Forked from https://github.com/websharks/comet-cache/issues/635._

@jaswsinc writes...

We should do a better job (even better than WP itself) in dealing with UTF-8. Given the amount of string manipulation that occurs in Comet Cache, we should:
- [x] Adopt the use of all `mb_*()` functions where applicable.
- [x] Always pass the `/u` flag to any `preg_*()` functions that we use.
- [x] Ensure that

[2016-03-04 00:22] raamdev commented on #635
@jaswsinc A new issue has been opened to add support for Multibyte Strings: https://github.com/websharks/comet-cache/issues/703

Unless there's anything else you feel needs to be done as part of this GitHub issue, I'm going to close this as done.

[2016-03-04 00:26] jaswrks commented on #635
Great! :-)

[2016-03-04 01:14] jaswrks commented on #703
- [x]

A first and very easy step here would be to search for all calls to:
- `preg_match`
- `preg_replace`
- `preg_replace_callback`

and on the end of the regex pattern add a `u` modifier.

e.g., `/pattern/` becomes `/pattern/u`
e.g., `/pattern/i` becomes `/pattern/ui`

[2016-03-04 01:22] jaswrks commented on #703
- [x]

Next, we need to search for instances of:
- `strpos`
- `stripos`

and a decision needs to be made that is based on the following.
- If `strpos` is being used to detect the number of _bytes_, leave it as-is.
- If `strpos` is being used to detect the number of _characters_ (or to search for another string, most prevalent in Comet Cache), change it to `mb_strpos` or `mb_stripos` respectively.

[2016-03-04 01:23] jaswrks commented on #703
- [x]

Next, search for:
- `strtolower`
- `strtoupper`

And change all of those to `mb_strtolower()` or `mb_strtoupper()` respectively.

[2016-03-04 01:23] jaswrks commented on #703
- [x]

Same thing for `substr`; i.e., should become `mb_substr`.

[2016-03-04 01:29] jaswrks commented on #703
- [x]

Next, we will need to see which other UTF-8-incompatible functions we are using in Comet Cache; i.e., see which functions we use in PHP core for which there is no UTF-8 `mb_*` variation available. In those cases, we will need to build a replacement of our own as a polyfill.

e.g., There is no `mb_str_ireplace`, and there is no `mb_str_pad()` either. PHP is also missing `mb_substr_replace()`

[2016-03-04 01:33] jaswrks commented on #703
Referencing full list of existing `mb_` functions provided by the `mbstring` extension.
http://php.net/manual/en/ref.mbstring.php

[2016-03-04 01:35] jaswrks commented on #703
- [x] Noting that the `trim()`, `rtrim()` and `ltrim()` PHP functions are generally safe to use on multibyte data. However, if we find instances of these functions where we are attempting to trim characters outside of the ASCII range, we will need to use `preg_replace()` with the `/u` modifier instead.

[2016-03-04 01:41] raamdev commented on #703
Can you give an example of those two? I'm not seeing anything that looks like `strpos()` is being used to detect the number of bytes...

[2016-03-04 01:44] raamdev commented on #635
Next Release Changelog:
- **Enhancement**: Several PHP 5.4+ enhancements, most notably a conversion from PHP Closures to PHP Traits. See [Issue #635](https://github.com/websharks/comet-cache/issues/635).

[2016-03-04 01:44] #635 closed, assigned to nobody

[2016-03-04 01:52] jaswrks commented on #703
- [x]

Sorry, I stated that incorrectly. What I should have been talking about there was `strlen()` instead of `strpos()`. All instances of `strpos()` and `stripos()` should be updated to their `mb_` counterparts.

---

Examples of `strlen()` looking for (or testing) the number of bytes:

[code]

[code]

Examples of `strlen()` looking for the total number of characters.

[code]

[code]

[2016-03-04 13:10] Kalfer opened #704 "HTML Compression work? - Comet Cache Pro v160227"
I have it on, but I do not see any files in subfolders: .../wp-content/cache/comet-cache/htmlc

[2016-03-04 13:38] raamdev commented on #704
@Kalfer We reserve GitHub for filing bug reports and making feature requests. Please post support questions to the [Community Forum](https://cometcache.com/r/community-forum/) (for Comet Cache Lite) or open a [Support Ticket](https://www.websharks-inc.com/support/?product=comet-cache&request_type=trouble_ticket) (Comet Cache Pro). Thank you! :)

[2016-03-04 13:38] #704 closed, assigned to nobody

[2016-03-04 16:17] raamdev commented on #694
The Comet Cache codebase has been updated to use PHP Traits (see https://github.com/websharks/comet-cache/issues/635) so this issue should be fixed in the next release.

[2016-03-04 16:17] #694 closed, assigned to nobody

[2016-03-04 18:46] raamdev opened #705 "PHP OPcache Bug: "zend_mm_heap corrupted" error"
The `zend_mm_heap corrupted` error is almost always related to bugs in PHP OPcache, bugs that can be triggered by any number of things, including other extensions being loaded into Apache.

This Stackoverflow post lists lots of possible workarounds:
- http://stackoverflow.com/questions/2247977/what-does-zend-mm-heap-corrupted-mean

There are also a _lot_ of PHP bug reports related to the `zend_mm_

[2016-03-04 18:55] raamdev commented on #705
@jaswsinc Any idea if OPcache-related issues are more likely to go away now that we're switching to PHP Traits and getting rid of Closures? (https://github.com/websharks/comet-cache/issues/635).

[2016-03-04 18:58] jaswrks commented on #705
Nope. No idea, sorry.

[2016-03-04 21:04] jaswrks commented on #700
The user writes...

[2016-03-04 21:07] jaswrks commented on #700
User has been invited to collaborate with us here, and I requested that they run the following command so that we can hopefully learn more about the condition of this particular file.

[code]

[2016-03-04 21:16] gossipninja commented on #700
File: ‘/websites/supersite-31/public_html/wp-content/cache/zencache/cache/http/chronicle-northcoastnow-com/2011/08/17/high-school-football-2011-running-game-young-clippers-e2-80-99-biggest-asset.html’
  Size: 63090           Blocks: 128        IO Block: 4096   regular file
Device: 811h/2065d      Inode: 15089170    Links: 1
Access: (0644/-rw-r--r--)  Uid: (   33/www-data)   Gid: (   33/www-data)
A

[2016-03-05 02:58] mati8 opened #706 "Undefined property: WP_Rewrite::$comments_pagination_base"
Since I upgraded from ZenCache to Comet Cache, in another plugin I am using on Wordpress I am receiving this error:

Notice: Undefined property: WP_Rewrite::$comments_pagination_base in /var/www/vhosts/mydomain.com/httpdocs/wp-content/plugins/comet-cache-pro/src/includes/closures/Shared/CachePathUtils.php on line 32

[2016-03-05 12:33] raamdev opened #707 "3rd Party Plugin Compatibility: WooCommerce All in One Currency Converter"
A user reports in an [private ticket](https://websharks.zendesk.com/agent/tickets/11538) that the [WooCommerce All in One Currency Converter](http://codecanyon.net/item/woocommerce-all-in-one-currency-converter/11519287?ref=Dev49net) plugin does not work with Comet Cache.

The plugin should take advantage of the Comet Cache [Dynamic Version Salt](https://cometcache.com/kb-article/introduction-to-d

[2016-03-05 13:14] raamdev commented on #706
@mati8 Can you tell us what this other plugin is where you're receiving this notice?

[2016-03-06 17:25] raamdev opened #708 "Update to Phings v160329"
The build system needs to be updated to [v160329](https://github.com/websharks/phings/releases/tag/160329).

[2016-03-06 17:27] raamdev opened #709 ".build.php files should auto-update use-lists during build process"
The `src/includes/traits/*/.build.php` files need to automatically insert the `use`-lists they generate into the relevant files, as the build system (as of Phings v160303, see https://github.com/websharks/comet-cache/issues/708) now runs these `.build.php` files, with the intention being that they handle this.

[2016-03-06 17:37] raamdev commented on #703
@jaswsinc writes...

Can you give me an example of where we're "attempting to trim characters outside of the ASCII range"? Trim functions are usually used on variables that have hard-to-predict (dynamic) values, so this seems like a case of challenging best-guess work.

[2016-03-06 17:42] raamdev commented on #706
I'm thinking we just need to check if `$GLOBALS['wp_rewrite']->comments_pagination_base;` is set (via `isset()`) before assigning it to a variable on this line: https://github.com/websharks/comet-cache-pro/blob/160227/src/includes/closures/Shared/CachePathUtils.php#L32.

@jaswsinc Do you concur?

[2016-03-06 18:00] raamdev opened #710 "Backwards compatibility for Quick Cache __advanced_cache is missing"
_Originally reported here: https://wordpress.org/support/topic/backwards-compatibility-with-oldquickcache-advanced-cache-plugins-is-broken?replies=1_

---

It appears that we missed backwards compatibility for `quick_cache__advanced_cache` in the `advanced-cache.txt` template: https://github.com/websharks/comet-cache/blob/160227/src/includes/templates/advanced-cache.txt#L221-L226

All we should ne

[2016-03-06 18:21] raamdev opened #711 "Pro Preview "Manual Cache Clearing" panel has the wrong color"
It should be using the Preview blue color like the other Pro Preview panels:

![2016-03-06_13-19-20](https://cloud.githubusercontent.com/assets/53005/13556030/3a16326e-e39e-11e5-8656-1e58d8a1bae8.png)

[2016-03-06 21:05] lomars opened #712 "Main user role capability to use Comet Cache Lite"
Hello!
The main user role capability in Comet Cache Lite is defined in
comet-cache -> src -> includes -> classes -> Plugin.php at line 54:
`
public $cap = 'activate_plugins';`
However having access to Comet Cache Lite settings page has nothing to do with 'activate_plugins' user role capability.
Normaly this kind of capability is set in most plugins (that grant access to admin user role) as:
`
publ

[2016-03-06 23:00] jaswrks commented on #703
Example where it should be updated:

[code]

Should become:

[code]

_I'm not sure if there are any cases like this in Comet Cache, so there might be nothing to do._

---

Examples that are fine like they are:

[code]

[2016-03-07 00:25] Dev49net commented on #707
Hi there,
In order to have the compatibility enabled, user needs to go to Advanced section in plugin settings and enable "Currency switching with page caching support". That will add additional parameter to the URL. This is the solution discussed here - https://github.com/woothemes/woocommerce/issues/7939
It is used natively in WooCommerce to make its geolocation feature compatible with cache plug

[2016-03-07 17:50] raamdev commented on #678
### Workaround for Upgrading Comet Cache Pro

If you're currently seeing this error when trying to update Comet Cache, you'll need to do manual upgrade by deactivating and deleting Comet Cache, and then installing the latest version. See https://cometcache.com/pro-installation/

[2016-03-08 19:13] raamdev commented on #707
@Dev49net I've posted a reply regarding this issue here: https://github.com/woothemes/woocommerce/issues/7939#issuecomment-193921578

[2016-03-08 20:11] raamdev commented on #707
Forking some discussion from https://github.com/woothemes/woocommerce/issues/7939:

[2016-03-08 20:16] daigo75 commented on #707
@raamdev I would not recommend to go that way. While it's true that plugins should play nicely with each other, I realised that trying to add explicit support for dozens of plugins is the wrong way to do it. That is
- Plugins A, B and C should not have to explicitly support caching plugins X, Y and Z.
- Caching plugins X, Y and Z should not have to be aware of all the idiosyncrasies of plugins A,

[2016-03-08 20:19] raamdev commented on #707
@daigo75 I'm not necessarily proposing that we build in specific integration for each plugin, but we could do something like maintain a directory of modular integrations, e.g., AC Plugins that can be contributed by various plugin authors who want to make sure the caching plugin handles their specific plugin the proper way.

[2016-03-08 20:20] daigo75 commented on #707
@raamdev in such case, you already have mine. :smile:

[2016-03-09 10:15] mati8 commented on #706
Hi, sorry for the late reply.
I am using this: https://it.wordpress.org/plugins/flickr-pick-a-picture/
Of course it's an old plugin, but maybe the error I am receiving it's on other plugins too, that's why I wrote it here. :-)

[2016-03-09 18:21] raamdev opened #713 "Feature Request: Option to specify Roles/Capabilities allowed to manage plugin options"
It's not currently possible to specify the Roles/Capabilities allowed to manage the plugin options (**Comet Cache → Plugin Options**). Right now, the capability required is `activate_plugins`, which doesn't seem appropriate (`manage_options` seems more appropriate).

However, given that caching has somewhat of a unique role on a site (in that it is loaded before any other plugins) and that site ow

[2016-03-09 18:21] raamdev commented on #627
Related: https://github.com/websharks/comet-cache/issues/713

[2016-03-09 18:22] raamdev commented on #712
@lomars Thank you for submitting a GitHub issue. I gave this some thought and filed a separate feature request using your feedback. See https://github.com/websharks/comet-cache/issues/713

I'm going to close this issue in favor of https://github.com/websharks/comet-cache/issues/713.

[2016-03-09 18:22] #712 closed, assigned to nobody

[2016-03-09 19:06] raamdev commented on #686
Confirming that the switch to PHP Traits has fixed this issue with Query Monitor (this is a screenshot while running the latest dev build):

![2016-03-09_14-04-58](https://cloud.githubusercontent.com/assets/53005/13646994/0966a054-e600-11e5-9986-12a2330a8f26.png)

[2016-03-09 19:11] raamdev commented on #686
Next Release Changelog:
- **Compatibility: Query Monitor.** The Query Monitor plugin was reporting false-positive errors indicating that many Comet Cache methods did not exist. This was due to how the Comet Cache codebase was utilizing PHP Closures, which Query Monitor had a hard time handling. The codebase has been refactored to use PHP Traits instead of Closures and now the Query Monitor plugin

[2016-03-09 19:11] #686 closed, assigned to nobody

[2016-03-10 07:44] lomars commented on #713
Hello,

In my opinion, managing Comet cache (pro or lite) settings is related to `manage_options` capability.

`activate_plugins` capability is explicit by himself and means that you can enable or disable plugins.
Plugin activation capability has nothing to do with settings management of a plugin, even if Comet cache **loads before**.

Also **Clearing cache** is not related to settings management.

[2016-03-11 16:12] Li-An opened #714 "3rd Party Plugin Compatibility: Comic Easel"
When I activate "Compress Final HTML code", the content managed by https://wordpress.org/plugins/comic-easel/ (webcomic plugin) is broken in Chrome - works in Firefox.
Plugin in action here: http://www.li-an.fr/blog/?latest

[2016-03-14 13:42] raamdev opened #715 "Auto-Cache Engine forces non-SSL scheme for XML Sitemap URL"
The Auto-Cache Engine forces an `http` scheme when building the Site URL for the sitemap that the Auto-Cache Engine uses:
https://github.com/websharks/comet-cache-pro/blob/160227/src/includes/classes/AutoCache.php#L89-L95

It then uses that (forced `http`) URL when fetching the sitemap:
https://github.com/websharks/comet-cache-pro/blob/160227/src/includes/classes/AutoCache.php#L100

This is likely

[2016-03-14 13:43] raamdev commented on #715
@jaswsinc Any feedback here? You wrote this part of the code and I don't see any code comments indicating a reason `http` is forced here, so I'm wondering if you had something specific in mind when you wrote this.

[2016-03-14 15:12] raamdev opened #716 "Run setup() on plugins_loaded instead of after_setup_theme"
Comet Cache currently [hooks its setup routine](https://github.com/websharks/comet-cache/blob/160227/src/includes/classes/Plugin.php#L127) into [`after_theme_setup`](https://github.com/WordPress/WordPress/blob/4.4.2/wp-settings.php#L376), which runs _after_ [`plugins_loaded`](https://github.com/WordPress/WordPress/blob/4.4.2/wp-settings.php#L276).

Other plugins that integrate with Comet Cache mig

[2016-03-14 15:21] raamdev commented on #716
@jaswsinc Is there any reason we're hooking into `after_setup_theme` here and not `plugins_loaded`? I reviewed the `setup()` function and I'm not seeing anything in there that would require waiting until `after_theme_setup`.

[2016-03-14 15:28] raamdev commented on #714
@Li-An Thank you for the report. I'm marking this as something that needs research.

[2016-03-14 15:41] renzms commented on #693
@raamdev

Was not able to reproduce what the customer had experienced.

Steps Taken:
- Using `000000-dev` branch distributable of Comet Cache Pro, I created custom taxonomies, custom post types, and custom categories.
- Did a test with several different types of posts and different combinations of the custom post type/+custom taxonomy/+custom category to make sure a cache was generated on the clea

[2016-03-14 15:47] raamdev commented on #693
@renzms If you cache a Custom Post Type Category archive view, and then edit a published post that belongs to that Custom Post Type category, does the CPT Category archive cache get cleared automatically?

[2016-03-14 16:07] renzms commented on #693
@raamdev

Yes, under **Auto Cache Clearing → Auto-Clear "Custom Post Type Archives" Too?**, it's set to `Yes, if any single Post with a Custom Post Type is cleared/reset; also clear any associated Custom Post Type archive views.`  Once I edited the post (updated text content, changed Category Type, etc), I checked again under the the Cache Directory and the cache cleared after a few moments.

[2016-03-14 16:12] Li-An commented on #714
Thanks :-)

[2016-03-14 17:20] gossipninja commented on #700
is there any other information I can provide?

[2016-03-14 23:57] raamdev commented on #693
@renzms writes...

Did you get a Dashboard notification indicating that the associated Category cache was cleared? It shouldn't take "a few moments"; it should happen instantly, as soon as the post is updated, and there should be a Dashboard notification indicating that cache file was cleared. (A screenshot of what you see would be helpful.)

[2016-03-15 01:12] renzms commented on #693
@raamdev

Notice appears after editing. Cache is auto cleared.

![screen shot 2016-03-15 at 9 09 40 am](https://cloud.githubusercontent.com/assets/13220018/13764771/d9369f32-ea8d-11e5-912d-48be5c606a95.png)

I verified the Cache was actually clear by checking the directory via FTP, which is probably why it took a few moments but the notice was instant.

[2016-03-15 12:42] raamdev commented on #693
@renzms Thank you. So it sounds like there is no issue here after all. Could you please post the code that you used to register the CPT and the CPT categories?

[2016-03-17 10:04] xberg commented on #653
Hi: quick update. Today I upgraded from Zencache Pro to Comet cache Pro V 160227 and the problem re-appeared.
So this time I had to comment out 3 conditions, as commenting out only 2 still continusouly resets the CRON to 60 seconds.
The additional condition I had to comment out was:
`!wp_next_scheduled('_cron_'.GLOBAL_NS.'_cleanup')`

in addition to:

[code]

Good luck, now that I know the "trick"

[2016-03-17 13:19] raamdev commented on #653
@xberg Thank you for the update! Would you mind providing a list of active plugins on your site?

[2016-03-17 13:51] xberg commented on #653
Sure @raamdev I have emailed this to you.
Let me email this to you privately as a public list of plugins might be a security threat in case one gets exposed.

[2016-03-17 14:19] ryanmount opened #717 "Can't update Comet Cache Pro (Unknown error)"
Getting "Unknown error. Please wait 15 minutes and try again" when trying to update Comet Cache.

[2016-03-17 14:31] raamdev commented on #653
@xberg Thank you. I received the email. That's quite a few plugins--I was hoping to review the code for those plugins to see if one of them might be causing problems, but that's too long of a list.

@lkraav Would you be able to provide a list of active plugins as well? That way I can see if there are any plugins you're both using and hopefully narrow this down.

[2016-03-17 14:44] raamdev commented on #717
@ryanmount There is already an issue open for this; please see https://github.com/websharks/comet-cache/issues/678.

The issue is that your server is running an outdated version of cURL that is not compatible with our update servers. We recommend asking your web hosting company to update to cURL v7.36+ to resolve this issue. Earlier versions of cURL do not support newer security technologies and c

[2016-03-17 14:44] #717 closed, assigned to nobody

[2016-03-17 15:09] xberg commented on #653
@raamdev haha, I completely understand. And it might be another 100 things that are causing this such as server settings. Perhpas a better use of your time would be to simply have a geek option somewhere that allows users that see this behavior to simply tick that option which in turns comments out the whole "cron reset" function. Or simply like me tell them to edit the file: no big deal at all.

[2016-03-17 15:10] xberg commented on #653
@raamdev Eventually I will set up a test platform and turn the plugins off one by one...

[2016-03-17 15:54] xberg commented on #653
@raamdev I created a near clone from my production site and I was not able to reproduce the behavior. On the test platform Comet Cache worked normally.
The biggest difference is no traffic on the test site :)

[2016-03-17 19:21] raamdev commented on #653
@xberg Thanks for the follow-up. I can't imagine a difference in traffic affecting this issue... It must be something else...

[2016-03-17 23:39] renzms commented on #693
I actually used this plugin to save some time and created multiple CPT categories: https://wordpress.org/plugins/custom-post-type-ui/

[2016-03-18 08:13] Li-An opened #718 "AMP error validation"
I've got some errors:
Incorrect attribute value in english ?
Valeurs d'attribut incorrectes:  href=http://www.li-an.fr/blog/wp-content/cache/comet-cache/htmlc/public/www-li-an-fr/5/b/6/6/6/1c9917bfecc0f24c037ba2a8917ea5bc-compressor-part.css
for this page: http://www.li-an.fr/blog/zolies-images/swallow-n5/amp/ (8 errors for the moment).

[2016-03-18 10:56] raamdev opened #719 "Standardize on WordPress-style dismiss button for Dashboard notices"
See https://github.com/websharks/comment-mail/issues/193. We should standardize on using the WordPress-style dismiss button for persistent-but-dismissable Dashboard notices in Comet Cache:

![2016-03-18_06-53-27](https://cloud.githubusercontent.com/assets/53005/13875779/45a4918e-ecd6-11e5-94bc-01f4776c98c0.png)

[2016-03-18 14:09] raamdev commented on #719
Completed in https://github.com/websharks/comet-cache-pro/issues/226.

![2016-03-18_08-47-28](https://cloud.githubusercontent.com/assets/53005/13880152/5ca34586-ecf1-11e5-8e73-e000f8d4b365.png)
![2016-03-18_08-50-17](https://cloud.githubusercontent.com/assets/53005/13880161/63a6533c-ecf1-11e5-8232-775ebdfb8738.png)
![2016-03-18_08-51-25](https://cloud.githubusercontent.com/assets/53005/13880163/65

[2016-03-18 14:10] raamdev commented on #719
Next Release Changelog:
- **UI Enhancement**: Dashboard notices generated by Comet Cache now use the WordPress-style dismiss button to keep things consistent. See [Issue #719](https://github.com/websharks/comet-cache/issues/719).

[2016-03-18 14:10] #719 closed, assigned to nobody

[2016-03-18 16:15] raamdev commented on #693
<del>I have confirmed the bug.< @renzms it appears that you were not testing Custom Taxonomies.</del>

**EDIT:** See [next comment](https://github.com/websharks/comet-cache/issues/693#issuecomment-198439091); there is no bug.

## Steps to reproduce the problem
1. Install, activate, and enable Comet Cache Lite v160227
2. Install and activate [Custom Post Type UI](https://wordpress.org/plugins/custo

[2016-03-18 16:30] raamdev commented on #693
## Well, scratch that. There is no bug. (But it was fun being an Actor in a Movie.)

I remembered there was a setting in **Comet Cache → Plugin Options → Automatic Cache Clearing → Auto-Clear "Custom Post Type Archives" Too?** and when I checked that I found that it was disabled.

![2016-03-18_12-25-58](https://cloud.githubusercontent.com/assets/53005/13884486/99e2af28-ed04-11e5-9f58-5887ea090894.

[2016-03-18 16:38] raamdev commented on #693
Referencing where this default is set to disabled:
https://github.com/websharks/comet-cache-pro/blob/160227/src/includes/classes/Plugin.php#L313

[2016-03-18 17:09] raamdev commented on #718
@Li-An Have you seen https://github.com/websharks/comet-cache/issues/695? Are you getting a validation error even when you disable the specific HTML Compressor options that are listed in https://github.com/websharks/comet-cache/issues/695?

[2016-03-18 17:56] Li-An commented on #718
Oh, I thought I was solved. Well, I don't know what is the best. Desactivate AMP or compressor :-) ? I will desactivate AMP until Comet Cache is compatible with it.

[2016-03-18 18:30] raamdev commented on #718
@Li-An You don't have to deactivate the HTML Compressor... you should be able to just deactivate a few of the options to make it compatible with AMP; see near the bottom here under **How to Improve Compatibility**: https://github.com/websharks/comet-cache/issues/695

[2016-03-18 18:44] Li-An commented on #718
Well, it won't be so good on GMetrix :-) OK, I will make a test.

[2016-03-18 19:13] Li-An opened #720 "problem with Autoptimize"
Hello - again -
I have a problem with Autoptimize - https://wordpress.org/plugins/autoptimize/ - and Comet Cache. When trying to "save and clean the cache" generated by Autoptimize, I've got this error:

**Fatal error: Uncaught Exception: Missing `base_dir` option value. in /home/xxx00/www/echodesplugins/wp-content/plugins/comet-cache-pro/src/includes/closures/Plugin/DirUtils.php:21 Stack trace: #

[2016-03-19 10:19] raamdev commented on #720
@Li-An See https://github.com/websharks/comet-cache/issues/716.

[2016-03-19 10:19] #720 closed, assigned to nobody

[2016-03-19 13:36] Li-An commented on #720
OK, thanks - I should have made a research.

[2016-03-21 13:00] jimlongo56 opened #721 "white page when activating plugin"
Hi, I've been trying to use your plugin on a cPanel Centos6 VPS with PHP5.5

But in most cases when I activate comet cache, I start getting dropped connections in the admin screens,  or white pages on the front end.

I just enabled debugging for a moment on one site, and when trying to view a front facing page (which displays a white page) get the following errors written to the debug.log.

[code]

[2016-03-21 13:29] 1wdtv commented on #678
We are running Curl 7.38 and still have the same problem...
Please investigate and let us know the actual required min version so we can request the same from our host?

cheers!
spence

[2016-03-21 14:59] raamdev commented on #678
@1wdtv Can you tell us what version PHP you're using? Or provide us with a link to the output of `phpinfo()`?

[2016-03-21 15:03] raamdev commented on #678
@1wdtv I'm running PHP 5.5.30 with cURL v7.38.0 and the Pro Updater is working correctly for me. Could you post a screenshot of the `curl` section of the `phpinfo()` output on your server? Here's mine:

![2016-03-21_11-02-26](https://cloud.githubusercontent.com/assets/53005/13922844/840b5f7c-ef54-11e5-80a4-dc9955fdfcf3.png)

[2016-03-21 15:05] raamdev commented on #721
@jimlongo56 Please follow these [manual uninstallation instructions](https://cometcache.com/kb-article/how-do-i-uninstall-comet-cache/#toc-86754ab8) and then reinstall Comet Cache. That should solve the problem. (The issue is that your `wp-content/advanced-cache.php` file is outdated and needs to be force-replaced by Comet Cache with an updated copy.)

[2016-03-21 15:05] #721 closed, assigned to nobody

[2016-03-21 15:21] 1wdtv commented on #678
Mine is exactly the same... cURL Information shows 7.38.0

On Mon, Mar 21, 2016 at 10:03 AM Raam Dev notifications@github.com wrote:

[2016-03-21 16:13] jimlongo56 commented on #721
Hi, thanks for the response.

I had tried those manual uninstallation instructions a few times and always the same result.
Noticed that every time I installed the cache folder kept being recreated as zencache.
Thought that perhaps because I couldn't delete the plugin from the admin panel, it wasn't cleaning up after itself fully.

What I had to do to completely remove all traces was also to go to

[2016-03-21 17:25] raamdev commented on #721
@jimlongo56 Thanks for the update. For future reference, if you want to have ZenCache / Comet Cache completely remove even the database options, you can deactivate plugin deletion safeguards, save options, and then Deactivate + Delete the plugin from **Dashboard → Plugins**. When you Delete the plugin with Plugin Deletion Safeguards disabled, ZenCache / Comet Cache will remove even the database op

[2016-03-21 17:32] jimlongo56 commented on #721
Good to know.

My problem was that I could only delete the plugin by FTP so it was not deleting the options.

[2016-03-22 00:15] renzms commented on #535
Customer reported a conflict with [Timber](http://upstatement.com/timber/) and Comet Cache using MaxCDN. Image URL's do not get filtered by the CDN. However, the JS / CSS files are loaded correctly.

---

Referencing internal ticket: https://websharks.zendesk.com/agent/tickets/11793

[2016-03-22 00:38] openbayou commented on #464
Would really like this as I manage a lot of WP sites as well.

[2016-03-22 11:30] GermontZ opened #722 "Feature Request: Caching redirects by redirection plugins"
Hello!
After installing a redirect plugin, I understood that every redirected link require a few additional queries to the database, which means more waiting time. I suppose that would be more practical to cache these redirects, even forever if we want it, in a separate cache which is never cleared when the usual cache is deleted.
I also wonder if this solve the case when there is no connection wi

[2016-03-22 22:06] ronnieg303 opened #723 "HTML Compression not including all CSS"
For the most part, HTML compression is working great. However, I just discovered that not all CSS files are being included. And as noted at the end, I eventually found out why.

My site uses Weaver Xtreme theme. It has a main theme CSS, child theme CSS, and CSS overrides. All of those appear to be always correctly included. My own plugin includes up to three additional CSS files. Of those, the mai

[2016-03-22 22:41] jaswrks commented on #722
Which redirection plugin are you using?

[2016-03-22 22:44] jaswrks commented on #678
@1wdtv When you say _exactly_ the same, do you mean _all_ of the details in that area are exactly the same, or just the cURL information/version? It would be really helpful if you could post a screenshot so everyone can compare here.

[2016-03-22 22:45] jimlongo56 commented on #721
@raamdev I installed this it's working fine, and then next morning, BOOM! it all stops, white page, can't login, nothing.
I move the comet-cache plugin folder by ftp up one level to wp-content, and I have access again.
I've looked there are no errors, it just stops serving the cached pages.

Once I move the plugin folder it will serve content as normal, I put the folder back, and white pages.
**th

[2016-03-22 22:59] raamdev commented on #721
@jimlongo56 A white screen indicates an error. If you just see a white screen and no error that means one of two things:
- PHP error logging has been disabled. You should enable it; see https://codex.wordpress.org/Debugging_in_WordPress
- Apache is throwing an error. In this case, you need to look at your Apache error log.

We need to see what error is being thrown.

[2016-03-22 22:59] jimlongo56 commented on #721
From access logs It appears that the site stopped serving pages at the same time the cache was rebuilt
Last log entries about 5:22

 Comet Cache file built for (http://spadinatherapycentre.com/) in 0.80812 seconds, on: Mar 22nd, 2016 @ 5:24 pm UTC.

[2016-03-22 23:01] jimlongo56 commented on #721
[22-Mar-2016 23:01:01 UTC] PHP Warning:  Invalid argument supplied for foreach() in /home/therapy/public_html/wp-content/plugins/comet-cache/src/includes/closures/Ac/ObUtils.php on line 199

[2016-03-22 23:02] raamdev commented on #721
PHP Warnings would not generate a white screen.

Also, have you reviewed [Testing Comet Cache in a Clean WordPress Installation](https://cometcache.com/kb-article/testing-comet-cache-in-a-clean-wordpress-installation/)?

[2016-03-22 23:03] jimlongo56 commented on #721
I have another site (same VPS, different account) that is working fine.

[2016-03-22 23:05] jimlongo56 commented on #721
There's nothing in the Apache error log.

[2016-03-22 23:07] jaswrks commented on #723
@ronnieg303 writes...

Thanks so much for the very detailed report! :-)

So can I assume from your last comment there that you resolved this already? It sounds like you did. Actually, it sounds like there was a bad rule in the CSS, and once it was compressed (all one line of code in compressed form) that caused some other rules following the bad one to be ignored. Do I have that right?

[2016-03-22 23:07] raamdev commented on #723
@ronnieg303 Thank you for the detailed report.

HTML/CSS/JS Compression requires abiding by specific rules set forth by the various standards. That's how we're able to strip out white space and combine the content to speed things up. However, it's true that if a plugin or theme adds some CSS/JS that is broken, it has a high probability of causing problems with the HTML Compressor. There's just no

[2016-03-22 23:09] raamdev commented on #721
So that would clearly indicate this isn't a Comet Cache issue but an issue with the configuration of that account that is causing problems with WordPress caching in general. I suggest comparing what's different between those two accounts and going from there.

[2016-03-22 23:12] raamdev commented on #535
@renzms Did you forget to mention that working on this GitHub issue (Static CDN Filters w/ Output Buffer) might help resolve the issue with Timber?

[2016-03-22 23:13] jaswrks commented on #693
Nope. That sounds like a great idea to me also.

[2016-03-22 23:13] GermontZ commented on #722
This one https://wordpress.org/plugins/redirection/

[2016-03-22 23:17] jimlongo56 commented on #721
i commented these lines from the .htaccess, can't imagine why they'd matter in this instance, yet doing that the plugin works again.

[code]

Then I immmediately uncommented them as to prove they are causing the issue, yet it still works.

So I'm stumped.  I'm have a feeling this won't be the last time.

[2016-03-22 23:27] jaswrks commented on #700
@gossipninja Thank you for those details. I apologize for the delayed response, I was on vacation over the past few days.

I see from the `stat` output that the file looks like it is a condition that we would expect; i.e., nothing jumping right out at me yet I'm afraid. You mentioned this was an ext4 filesystem. Do you know if that drive is an NFS mount powered by something like GlusterFS or any o

[2016-03-22 23:27] jimlongo56 commented on #721
I've also turned off Varnish on the problematic site, that's the only other difference I can see so far.

I hope.

[2016-03-22 23:39] jaswrks commented on #722
Thank you. Does that plugin give you the ability to choose the status code that is used for the redirection? If so, I recommend using 301 redirects, because those get cached automatically by most browsers, which will speed things up just a bit for you. http://stackoverflow.com/a/21396547/1219741

Having said that, I do agree that it would be nice if Comet Cache could cache these. Currently, they a

[2016-03-22 23:41] jaswrks commented on #716
No, that sounds fine to me also.

[2016-03-23 00:08] jaswrks commented on #715
I agree there is room for improvement here.

The reason I'm forcing `http` is because `network_home_url()` and `home_url()` will use the current scheme by default, which may or may not be desirable given the context of a CRON job that is running behind-the-scenes.

One way to improve this would be to force a scheme that matches their WordPress URL in the config options; i.e., `$scheme = parse_url(

[2016-03-23 00:11] raamdev commented on #722
@jaswsinc writes...

Hmm, it sounds like an interesting idea. However, I think any support for redirection plugins should probably be explicit, i.e., we add support for several specific redirection plugins. I'm not seeing an easy way to make this reliable otherwise. (What determines a "redirection" that should be cached?)

Another reason I would want to add per-plugin support is that it's pretty i

[2016-03-23 00:14] raamdev commented on #715
Not desirable in what way?

That seems like a pretty bad assumption, especially given the trend towards HTTPS everywhere.

[2016-03-23 00:15] raamdev commented on #715
Right, but if a site owner has configured their `network_home_url()` or `home_url()` with an HTTPS address, why shouldn't it be safe to assume that `https` works?

[2016-03-23 00:17] raamdev commented on #715
Oh, I see. `network_home_url()` and `home_url()` set the scheme based on [`is_ssl()`](https://codex.wordpress.org/Function_Reference/is_ssl), which just checks if the page is using SSL.

Agreed. That makes a lot more sense.

[2016-03-23 00:19] jaswrks commented on #722
Yep, great points.

I was thinking that a 301 (permanent) redirect would qualify it as being cacheable; i.e., if we can detect that a request was processed with a 301 status and a `location:` header, then that would be something we could cache in order to prevent repeat DB lookups on each future redirection. That would help plugins like our own WP Redirects also.

Yep, good point. That could get t

[2016-03-23 01:29] 1wdtv commented on #678
Here it is:

[image: phpinfo().jpg]

On Tue, Mar 22, 2016 at 5:44 PM jaswsinc notifications@github.com wrote:

[2016-03-23 01:32] raamdev commented on #678
@1wdtv GitHub does not support attachments when you reply via email. You need to drag the attachment into the comment box in your browser.

[2016-03-23 01:47] 1wdtv commented on #678
![phpinfo](https://cloud.githubusercontent.com/assets/11861749/13973283/4adb34ea-f06f-11e5-9fa3-7748bc4dd93d.jpg)

[2016-03-23 02:01] raamdev commented on #678
So the differences are that my output has `NTLMWB` and `TLS-SRP`, which yours is missing, and my **SSL Version** is `OpenSSL/1.0.1e` while yours is `OpenSSL/0.9.8b`.

@jaswsinc Anything jumping out at you as a possible issue here? I thought that maybe `OpenSSL/0.9.8b` was vulnerable to [HeartBleed](http://heartbleed.com/), but I confirmed that it **is not vulnerable**. That said, it is an older ve

[2016-03-23 02:19] raamdev opened #724 "Cache for date-based archive views not cleared when post is updated"
### Steps to reproduce
- Install Comet Cache Lite v160227, activate, enable.
- Set **Settings → Permalinks** to Custom Structure: `/%year%/%monthnum%/%postname%/`
- Publish a new post, then logout and visit that post to generate a cache file.
- Visit the date-based archive view for the post, e.g., `/2016/03/` to generate a cache file that includes that post.
- Now login and edit the published post

[2016-03-23 02:21] raamdev commented on #724
@jaswsinc I was looking through the Comet Cache Automatic Cache Clearing options and I realized that we don't even have anything for date-based archive views. Am I missing something or have we never had support for this? This seems like a pretty important thing to support, given that date-based archive views are on-par with category and tag archive views in terms of how often they're used.

[2016-03-23 02:43] 1wdtv commented on #678
I'm not sure what you guys have planned here, but my suggestion is that you consider a solution that does not require "latest and greatest" hosting options.

Why?

Because our hosts have confirmed that it is a major PITA for them to reconfigure updates to curl, php, etc., and not something they are willing to do on VPS or standard reseller hosting.

Your previous version of ZenCache Pro did not re

[2016-03-23 02:46] raamdev commented on #678
See https://cometcache.com/blog/announcing-comet-cache-formerly-zencache/

[2016-03-23 03:02] jaswrks commented on #706
I don't see a problem with doing that, but I don't think that should be necessary either. That is a property that is hard-coded into WordPress core. So if it doesn't exist, there is a bigger problem.

@mati8 What version of WordPress are you running please?

[2016-03-23 03:08] jaswrks commented on #706
I see that `->comments_pagination_base` has existed since WP v4.2.0.

[2016-03-23 03:19] jaswrks commented on #715
Cool.

Well, `http://` is still a default scheme for HTTP. So even as sites move to pure `https://` throughout, they must all still accept `http://` traffic in some form; e.g., if you simply type `www.example.com` into a browser, the browser will contact the site over `http://` first, and then it's the web server's job to upgrade the connection to `https://` if that is what it prefers.

[2016-03-23 03:22] jaswrks commented on #706
Thanks! :-) I reviewed the code in this plugin and there is nothing in it that would alter the `WP_Rewrite` class or any properties in it. So my best guess at this point is that you might be running an older version of WordPress that doesn't have the `comments_pagination_base` property.

[2016-03-23 03:35] jaswrks commented on #678
@raamdev writes...

OpenSSL v0.9.8b jumps out at me as being the most likely issue. `0.9.8` was originally released back in 2005 and `0.9.8b` was last updated in 2006. So it's about 10 years old now.

https://en.wikipedia.org/wiki/OpenSSL#Major_version_releases

---

Yep. It's an ongoing issue. Security and reliability vs. what is practical. While we do try to preserve back compat. in any way that

[2016-03-23 04:00] 1wdtv commented on #678
Our webhost is a smaller ISP and while they are cooperative, it requires
them to take down the VPS, and reload the new configuration, with a
turnaround of about two hours.

While I don't disagree with your suggestion, it seems to be an odd choice
to alienate existing customers who were perfectly content with your last
product version...over a feature like "automatic updates".

In other words... th

[2016-03-23 04:02] GermontZ commented on #722
_I also wonder if this solve the case when there is no connection with database._

I am saying that sometimes the visitor can't view the page, either because it can't be loaded from the database, or it can't be redirected to the actual url if it's required. What about the case if a page is already cached as html and also have its redirection cached? Could the visitor still load the page?

Thanks b

[2016-03-23 04:12] jaswrks commented on #724
Great catch. I'm not seeing anything either.

Agreed.

[2016-03-23 04:36] jaswrks commented on #722
Hmm. I'm still not sure that I completely understand. It sounds like the question you're asking might be plugin-specific; i.e., have more to do with the redirection plugin than with Comet Cache?

[2016-03-23 04:58] jaswrks commented on #678
Thank you very much for saying so :-)

I understand. We don't want to force anyone to upgrade if it's not necessary, but this is a case where we have a username and license key being used to authenticate users against our pro database and so we want that to be secure. This change was part of security review of our website and SSL ciphersuite. Our site was recently upgraded to a more secure configu

[2016-03-23 08:02] GermontZ commented on #722
My point is if the site could still be online using a cache plugin, even if there is no connection with database. After all, the html is there, also the redirection.

[2016-03-23 11:52] 1wdtv commented on #678
Appreciate your response ;-)

I look forward to a solution that doesn't require "state of the art" SSL
for such a basic function as auto-updates.

We develop plugins/themes and provide our own auto updates without this
burden, and have not found a single other author in the WP ecosystem
creating a similar problem...why do you guys want to be the point of
"friction?"

Love your plugin otherwise...h

[2016-03-23 12:23] raamdev commented on #722
That would require a pure Apache-rewrite method, i.e., no interaction whatsoever with WordPress (which requires the database). The primary (and currently the only) method used by Comet Cache for loading the caching system requires the `advanced-cache.php` file, which is loaded by WordPress very early on. That is what Comet Cache (and most other WordPress caching plugins) use.

Using Apache-only fo

[2016-03-23 12:37] raamdev commented on #706
Ah, that's most likely the issue We currently indicate WP 4.1+ as a minimum requirement.

Given that we'll need to increase the minimum version at some point anyway, I'd say this is probably a good opportunity to bump the minimum requirement to WP 4.2+. WP 4.2 was released almost a full year ago (see [versions](https://codex.wordpress.org/WordPress_Versions))

[2016-03-23 12:56] raamdev commented on #678
For the record, I agree with @1wdtv that the update server should be more flexible.

The built-in Pro Updater is a feature that we provide to Pro users because Pro software cannot use the WordPress update servers. We provide this feature to avoid needing to manually update the software whenever a new version is available. (And we can make it even easier by adding [automatic Pro updates](https://gi

[2016-03-23 13:08] 1wdtv commented on #678
Thanks @raamdev

I'm not trying to beat a dead horse, but you summed up my feelings well.

Since we "do" offer the very same solution (our LabPages plugin and Child Theme), we went back and forth on how to handle updates, and finally just settled on using Pippin's very simple and handy script for doing the same using our own servers (not WordPress). Done and Done.

It took us about six minutes to

[2016-03-23 14:56] jimlongo56 commented on #721
FYI, the issue seems to be directly related to my Apache build.

As stated in the beginning of the ticket I had rebuilt Apache recently using cPanel's EasyApache4.
I had just upgraded from EA3, so it was a new build profile.
The profile was using **mod_ruid2 + DSO handler for PHP** which was new for me.

I changed the build profile back to what it had been previously, using **mod_security and su_E

[2016-03-23 15:42] raamdev commented on #721
@jimlongo56 Thank you very much for the follow-up. I'm glad to hear things are working now! :-)

[2016-03-23 23:57] jaswrks commented on #678
@raamdev writes...

I respectfully disagree that it's not a strong argument. Any argument in favor of security over compatibility is a strong argument IMO, especially when the argument that I'm making is about compatibility with an SSL library that is _10 years old_ (or even 2 years old, which is ancient in the world of security these days). In short, I don't feel _any_ obligation to remain compat

[2016-03-24 00:23] jaswrks commented on #678
@1wdtv writes...

Are you planning to do that? It sounds like an excellent idea to me, but I'm curious to know, given the discussion above, if you are planning to upgrade or leave the old libraries as-is?

[2016-03-24 02:11] 1wdtv commented on #678
@jaswsinc - As they say "your ball, your decision whether to play with the other kids or go home".

I can't see the logic in creating "work" for your loyal subscribers over an issue that really has nothing to do with your core product function (which I recall is "caching", not "updating")...but it's your decision. We can only vote with our wallet the next time we decide whether to renew our subscr

[2016-03-24 02:44] gossipninja commented on #700
as far as I know it is a set as a drive in a dedicated server, the server
itself is a VM on vsphere

On Tue, Mar 22, 2016 at 7:27 PM, jaswsinc notifications@github.com wrote:

[2016-03-24 04:25] GermontZ commented on #722
Thanks for a detailed answer, now I am enlightened :)  I will do my best to extend my Pro licence if you add apache rewrite. Well, just one more reason to do it.

[2016-03-24 04:27] jaswrks commented on #678
I hear ya. I don't take a decision like this lightly either. Actually, it's not my decision to make, it is Raam's. I'm just trying to voice my opinion on the matter here, because I feel strongly about this.

I see. Thanks! :-) I'm going to send them a letter myself, as I did with HostGator also. I consider the argument that this is not a priority to be the weak one. Aside from millions of other si

[2016-03-24 04:49] jaswrks commented on #700
I see, thank you. As a next step in debugging this, if you can try to learn more about the underlying drive where the cache files are stored and report back, it may shed light.

Cloud and network-based filesystems tend to have more trouble with file locking, which is required for Comet Cache as it needs to lock the cache whenever it writes to or updates it. If the drive is network-based, it may ex

[2016-03-24 04:53] gossipninja commented on #700
is there a command I can run to take a look? Or do I need to check with our
contractors to see how they have it provisioned in vcenter?

On Thu, Mar 24, 2016 at 12:49 AM, jaswsinc notifications@github.com wrote:

[2016-03-24 05:34] jaswrks commented on #678
Dialogue w/ HostGator thus far. I was away on vacation for two weeks shortly after I contacted them, so the conversation moved more slowly than I had hoped. Hopefully we are making some progress though.

![2016-03-23_21-30-56](https://cloud.githubusercontent.com/assets/1563559/14009225/b2a61c1e-f13e-11e5-824e-8babd57abd79.png?v=2)

[2016-03-24 05:45] 1wdtv commented on #678
Good Luck Don Quixote!

I'm sure you'll have no trouble convincing a company that makes tens or
hundreds of millions of dollars a year to change all their servers for your
one cache plugin ;-)

On Thu, Mar 24, 2016 at 12:34 AM jaswsinc notifications@github.com wrote:

[2016-03-24 05:52] jaswrks commented on #678
@1wdtv writes...

That comment you just made suggests that you don't understand the issue. It's _not_ just our plugin, this is an issue that HostGator and MDDHosting both need to be made aware of. It impacts you, us, and many other site owners and services across the web.

[2016-03-24 05:57] 1wdtv commented on #678
Jaswinc i'm in the EXACT same business as you.... and I've been doing it
since 2006, and have had some very high profile public "debate" on these
very points... (feel free to google my name)

What I think you don't realize, is that all your points about security and
how awesome CloudFlare may be.... fall on DEAF EARS by all the other
providers in the ecosystem who (honestly) DON'T GIVE A DARN abou

[2016-03-24 06:06] jaswrks commented on #678
I have given it serious thought, and I have the opinion that I have for the reasons I have stated. I'm not _expecting_ those companies to change though. I agree on your points about that. They either will or they won't. However, that doesn't change the situation here. It is _they_ who need to upgrade, and if folks like us don't bring that to their attention (whether they respond or not), then it w

[2016-03-24 06:08] 1wdtv commented on #678
Your feelings are your right...
but it would be a shame to alienate your paying customers over a principal or your "feelings" if that really had no practical effect on your products main purpose for existing (which is caching, not updating).

Have a good evening ;-)

[2016-03-24 06:52] jaswrks commented on #700
Not that I'm aware of, sorry. I think contacting the host would be easiest.

[2016-03-24 14:12] phoenixMag00 commented on #678
Here are my thoughts on this since I'm in the same boat as a few you guys on this thread. We use MediaTemple DVs that run CentOS. The latest supported version of cURL that CentOS uses is an older version. Could we try to update cURL to the latest and greatest even though it's not officially supported? Sure, but there is just too much risk and time involved for saving ~$200.

So we had to make a bu

[2016-03-24 22:56] jaswrks commented on #678
@phoenixMag00 Thanks for sharing your thoughts about this and your experience,

I agree with that. At the very least, we do want to make this more apparent and try to offer some explanation so that site owners are made aware of this issue.

A decision about how to proceed with this has not been made yet, but if it does come down to us enforcing a higher standard for security over compatibility, th

[2016-03-24 23:04] jaswrks commented on #678
_Noting that Raam is currently away from the office. He may not respond immediately here for that reason, but I feel certain that he will be back to review this carefully soon._

[2016-03-24 23:54] jaswrks commented on #678
Noting that this issue also exists on a few servers at InMotion hosting. I contacted them on behalf of a client and they informed me that cURL is in fact outdated on some of their older servers, but not on their newer servers. They have been working to upgrade all of their clients. If you contact them about the issue they are happy to expedite the upgrade for you.

The issue being a lack of suppor

[2016-03-25 14:38] raamdev commented on #678
_As Jason noted, I've been on vacation for the past few days, but I'm starting to catch up now._

I think it's important to remember what we're discussing here. I'm all for increased security and for requiring that servers be running newer, more secure versions of software. But what we're talking about here is **updating Comet Cache Pro**. That is the core thing we are addressing in this GitHub Is

[2016-03-25 14:49] 1wdtv commented on #678
Whew....common sense (finally) prevails :-)
Good to have you back. Can't wait till this is implemented so we can fix
all our broken sites.
On Fri, Mar 25, 2016 at 9:38 AM Raam Dev notifications@github.com wrote:

[2016-03-26 03:34] gossipninja commented on #700
I asked if the /websites was set as an NFS share or glusterFS and they
said no.
"It is just a separate virtual disk than the rest of the OS.  All hard
drives are connected to a SAN via iSCSI at the VMWare layer and not at the
OS layer."

So hopefully that gives you some info.

Sorry this is a pain.

On Thu, Mar 24, 2016 at 2:52 AM, jaswsinc notifications@github.com wrote:

[2016-03-26 04:58] jaswrks commented on #700
@gossipninja Thank you for checking. That does help.

So it sounds like that could be problematic in this case, because this type of drive, while not classified as a network-based file system, usually does not have it's own set of network-based file systems that effectively make this a _virtual_ shared drive; i.e., normal file locking techniques may fail on a drive of this type, because the underl

[2016-03-26 05:47] kristineds opened #725 "3rd Party Plugin Compatibility: WooCommerce + Product Tags"
Referencing: [internal private ticket](https://websharks.zendesk.com/agent/tickets/11885)

---

Customer reports..

A decent short term solution for this is by [clearing the cache dynamically with PHP](https://cometcache.com/kb-article/clearing-the-cache-dynamically/).

It would be nice if we could improve the compatibility between the two and run some tests to see if it requires special attention

[2016-03-27 10:25] rashkoff opened #726 "Fatal error: Unknown: Cannot use output buffering in output"
Hello,
when I pass from ZEN to Comet I take often this error:
Fatal error: Unknown: Cannot use output buffering in output buffering display handlers in Unknown on line 0
Any suggestions?

[2016-03-27 10:31] jaswrks commented on #726
Thanks for the report. What are the steps needed to reproduce this error please?

[2016-03-27 10:37] rashkoff commented on #726
Sorry,
I hopping to  understand if you have a solution.
I think is connect to the minify options.
the php_limit is 256M on the server

[2016-03-27 10:54] jaswrks commented on #726
I can't seem to reproduce that bug in a test installation of WordPress. If you have a list of steps that we can use to reproduce the issue, then I'm happy to take a closer look.

[2016-03-29 00:40] renzms opened #727 "Bug: Comet Cache prompting users to upgrade to v160316."
Related to: https://github.com/websharks/comet-cache/issues/678

Customers have been reporting an issue where Comet Cache is prompting them to update to ​**Comet Cache v160316**​ however, only ​**ZenCache** has a **v160316**​. Latest installed version of Comet Cache and the available file you get from [cometcache.com](https://cometcache.com/) is ​**v160227**​.

![ccv160316](https://cloud.githubuse

[2016-03-30 19:11] MarioKnight opened #728 "Deactivating plugin via WP-CLI yields errors"
This seems to match #563 from what I can see.  In trying to determine an error (confirmed now to not have been caused by Comet Cache), I attempted to disable Comet Cache Pro through the command line and received the following errors:

[code]

I don't think is something that would be done often (I only did it this way since I didn't want to login to WordPress if I didn't have to), but I figured y'a

[2016-03-31 01:38] gossipninja commented on #700
Thanks for this.

luckily our server appears to have semaphore already installed (so no
recompile)

I followed the instructions you sent and added that file to the mu-plugins
directory. And fingers crossed it gets rid of the errors.

Thanks again.

On Sat, Mar 26, 2016 at 12:58 AM, jaswsinc notifications@github.com wrote:

[2016-03-31 01:49] jaswrks commented on #726
@rashkoff I'm waiting for a list of steps we can use to reproduce this issue; e.g., install, set this option, enable, do this, do that, observe the problem here, etc.

[2016-03-31 01:53] jaswrks commented on #727
@renzms Thanks for opening this report! :-)

## Next Steps for a PR
- After [this line](https://github.com/websharks/comet-cache-pro/blob/000000-dev/src/includes/traits/Plugin/OptionUtils.php#L23) please add the following:

[code]

[2016-03-31 02:02] jaswrks commented on #678
Last response from HostGator. I will reply back to clarify for them, because forcing the SSL version is not enough in those older versions of cURL. Basic TLS support is possible, but older versions of cURL contain a bug which prevents them from speaking to sites that use more modern ciphers.

HostGator response...

It's also worth noting that _"by the operating system itself"_ is not an excuse. It

[2016-03-31 02:39] jaswrks commented on #678
Also reported here. Private/internal ticket: https://websharks.zendesk.com/agent/tickets/12001

[2016-03-31 05:45] rashkoff commented on #726
I can’t understand why this error persist…

For sure when the plugin is off or Zen cache is restore, the problem is gone…

From: jaswsinc [mailto:notifications@github.com]
Sent: giovedì 31 marzo 2016 03:50
To: websharks/comet-cache
Cc: rashkoff
Subject: Re: [websharks/comet-cache] Fatal error: Unknown: Cannot use output buffering in output (#726)

@rashkoff https://github.com/rashkoff  I'm waiting

[2016-03-31 18:40] ReachWest opened #729 "HTML Compression interferes with Text in Slider Revolution Plugin"
Using Comet Cache Pro v160227

If HTML Compression option "Yes Combine CSS from Head and Body into fewer files" is activated, then text used in the Slider Revolution plugin becomes miniaturized. Disable the HTML compression option "Yes Combine CSS from Head and Body into fewer files" and the text size in Slider Revolution returns to normal.

Note: We have all other HTML Compression options in Come

[2016-04-01 11:59] jaswrks commented on #727
_For the benefit of others coming to this issue..._

Noting that we have a release archive available here where you can acquire older versions of ZenCache.
Please see: https://cometcache.com/release-archive/

[2016-04-02 11:32] anchantw opened #730 "Static CDN Filter broken login page"
When Static CDN Filter is active and logout, login page is broken.
After filter is on, access login page and check web source, I found the following code,
http://cdn.example.com/wp-admin/css/login.min.css.
Normally no need to change CDN "wp-admin" folder, right?

[2016-04-04 13:36] raamdev commented on #725
@kristineds Were you able to reproduce this? If WooCommerce is using Custom Post Types, this should already work when "Auto-Clear Custom Post Type Archives" is enabled in Automatic Cache Clearing:

![2016-04-04_09-34-56](https://cloud.githubusercontent.com/assets/53005/14249602/8b37d5ec-fa48-11e5-8eb4-ffba1f755997.png)

It sounds like this might be related to the issue with that option being **dis

[2016-04-04 13:37] raamdev commented on #728
Thanks for the report, @MarioKnight. It sounds like this is related to https://github.com/websharks/comet-cache/issues/464

[2016-04-04 13:41] raamdev commented on #726
@rashkoff See [Testing Comet Cache in a Clean WordPress Installation](https://cometcache.com/kb-article/testing-comet-cache-in-a-clean-wordpress-installation/).

[2016-04-04 13:41] #726 closed, assigned to nobody

[2016-04-04 13:48] raamdev commented on #729
@ReachWest Thank you for the report. We have another GitHub issue open for compatibility with Slider Revolution here: https://github.com/websharks/comet-cache/issues/614

I'm going to close this issue in favor of that one, but your note about disabling "Yes Combine CSS from Head and Body into fewer files" is definitely helpful! :-)

[2016-04-04 13:48] #729 closed, assigned to nobody

[2016-04-04 14:22] raamdev opened #731 "Plugin Compatibility: Facebook Comments"
We've had a report ([internal ticket)](https://websharks.zendesk.com/agent/tickets/11850)) of Comet Cache Pro not clearing the Home Page cache when a new post is published when the [Facebook Comments](https://wordpress.org/plugins/facebook-comments-plugin/) plugin is active. The same report also mentioned that this API call no longer worked:

[code]

The Facebook Comments plugin has 100k active in

[2016-04-04 16:42] raamdev commented on #710
@jaswsinc Ping. ↑

[2016-04-04 16:50] raamdev commented on #696
Next Release Changelog:
- **UI Bug Fix**: Fixed a duplicated row of links on the Pro Plugin Updater page. See [Issue #696](https://github.com/websharks/comet-cache/issues/696).

[2016-04-04 16:50] #696 closed, assigned to nobody

[2016-04-04 20:38] jaswrks commented on #710
I just reviewed the codebase again. Yes, that should to it. I had doubts that it would, because themes like Weaver II that integrated with this were also dependent upon old Quick Cache hook names (or so I thought), but as it turns out the hook name we suggested was prefixed with `get_class($this)`, which is dynamic enough that if they followed that suggestion, the change you have above should do t

[2016-04-04 22:37] jaswrks commented on #710
Just to confirm, we are not supporting Quick Cache backward compat in Comet Cache, right? This particular issue can be resolved easily, which is what I think you're trying to do since it is simple. However, moving forward we aren't trying to support the old Quick Cache hook names/filters/constants/globals etc. Do I have that right?

[2016-04-05 11:44] raamdev commented on #710
Yes, that's correct.

[2016-04-05 15:40] raamdev commented on #710
Next Release Changelog:
- **Compatibility**: Fixed a compatibility issue for some themes and plugins that were using old AC Plugin code designed to work with Quick Cache. This fix adds some backwards compatibility support for Quick Cache, but note that the first release of Comet Cache dropped support for Quick Cache backwards compatibility in favor of ZenCache backwards compatibility. See [Issue #

[2016-04-05 15:40] #710 closed, assigned to nobody

[2016-04-05 15:47] raamdev commented on #727
Next Release Changelog:
- **Bug Fix** (Pro): Fixed a bug related to the Pro Updater where some users who had migrated from ZenCache Pro to Comet Cache Pro were seeing an invalid new version message. Props @renzms @jaswsinc. See [Issue #727](https://github.com/websharks/comet-cache/issues/727)

[2016-04-05 15:47] #727 closed, assigned to renzms

[2016-04-05 16:03] raamdev commented on #678
It's important to keep in mind how web hosting companies operate.

Many web hosting companies are simply too small to maintain all aspects of a hosting environment. That's why companies like WHM/cPanel exist. They provide a platform for web hosting companies to run on, to make it possible to run a web hosting business. The web hosting company then relies on those 3rd parties (e.g., WHM/cPanel) to

[2016-04-05 16:52] 1wdtv commented on #678
Indeed @raamdev

So, as a pro user who has had this "pain" for two weeks or so and:

1) Sees a mislabeled update that is called "zen-cache" though my "comet-cache" keeps notifying me to update to it

2) Cannot update to it even manually, because it's "zen-cache" even though my latest "comet-cache" keeps annoying me daily when I log in

3) Cannot turn off the annoying update notice, because it won'

[2016-04-05 18:03] raamdev commented on #678
@1wdtv writes...

That's a known bug (see https://github.com/websharks/comet-cache/issues/727), which has been fixed and will go out with the next release, which is scheduled to happen within the next week.

Yes, that is annoying. We'll be fixing that soon. See https://github.com/websharks/comet-cache/issues/681.

I'm not able to reproduce that at all. Have you tried clearing your browser cache?

[2016-04-05 19:04] 1wdtv commented on #678
thank you for responding to those, and (cough cough cough)... yes, I think
I know how to "clear my cache" by now...given that I'm responding to the
authors of "XYZ-Cache" ... lol ;-)

It's an error in your plugin, that only shows on the update administrative
page where the "new" plugin is installed (try there).

I await your (hopefully) prompt solution to the most important problem...

thanks Raam

[2016-04-06 12:16] raamdev opened #732 "Failed to parse SourceMap"
The `*.min.css` files included with the distributable zip file currently contain a comment at the bottom that points to source maps (e.g., `/*# sourceMappingURL=admin-bar.min.css.map */`).

That comment is generally ignored by browsers (because it's just a comment). However, if your browser is configured in a way that causes it to look for and load the SourceMap files (again, for development purpo

[2016-04-06 12:18] raamdev commented on #678
@1wdtv writes...

It's not an error. It's a warning about being unable to parse the SourceMap, which is not required to run Comet Cache. I've opened a GitHub issue with details; see https://github.com/websharks/comet-cache/issues/732.

I wasn't referring to the page cache (which is what Comet Cache generates); I was referring to your local browser cache, which is what your browser generates. It's

[2016-04-06 13:50] raamdev commented on #716
Next Release Changelog:
- **Hooks/Filters**: Comet Cache now hooks into `plugins_loaded` instead of `after_setup_theme` when calling its own setup routine. This improves integration with other plugins that may be expecting the Comet Cache API functions to be available after `plugins_loaded`. Props to Frank Goossens (@futtta) from Autoptimize for helping with this. See [Issue #716](https://github.c

[2016-04-06 13:50] #716 closed, assigned to nobody

[2016-04-06 15:53] kristineds commented on #725
@raamdev I'm afraid I'm not able to reproduce this issue in a clean install of WordPress.

Also, "Auto-Clear "Custom Post Type Archives" Too?" is _enabled_ by default, which is the one that I used when I tested this out.

[2016-04-06 16:50] raamdev commented on #715
Next Release Changelog:
- **Enhancement** (Pro): Improved the way the Auto-Cache Engine figures out the URL scheme (`http` vs `https`) that should be used when fetching the XML Sitemap. Instead of forcing `http`, whatever scheme is configured with the Home URL is now used. See [Issue #715](https://github.com/websharks/comet-cache/issues/715).

[2016-04-06 16:50] #715 closed, assigned to nobody

[2016-04-06 17:00] raamdev commented on #706
Next Release Changelog:
- **Required WordPress Version is now v4.2.** The minimum required WordPress version has been bumped from v4.1 to v4.2. See [Issue #706](https://github.com/websharks/comet-cache/issues/706).

[2016-04-06 17:00] #706 closed, assigned to nobody

[2016-04-06 17:07] raamdev commented on #708
Close via https://github.com/websharks/comet-cache-pro/issues/234.

[2016-04-06 17:07] #708 closed, assigned to nobody

[2016-04-06 23:34] Reedyseth commented on #678
@raamdev  Unfortunately I just migrated my site to HostGator, the odd thing is that I was able to upgrade ZenCache and s2Member using the automatic update but not Comet Cache, the curl version is 7.12.1, much much older that the one mentioned here. So for now my only SSL issue is with Comet Cache.

[2016-04-07 10:08] renzms commented on #699
@raamdev

**Before Using Media Queries**:

![screen shot 2016-04-07 at 5 47 25 pm](https://cloud.githubusercontent.com/assets/13220018/14347455/bf87ea3c-fce9-11e5-8452-2725c29a07cd.png)
![screen shot 2016-04-07 at 5 47 51 pm](https://cloud.githubusercontent.com/assets/13220018/14347461/c26dad9a-fce9-11e5-95a9-c103446c35fe.png)

**Mock up using Responsive Design - Media Queries**:

[code]

![screen

[2016-04-08 01:24] kristineds commented on #725
@raamdev Please close this issue. I'm tagging it as **cannot reproduce**.  "Auto-Clear Custom Post Type Archives" fixed this. Thank you! :)

[2016-04-08 05:09] renzms commented on #711
@raamdev
Submitted a PR, ready for review. Thanks!

[2016-04-08 16:06] raamdev commented on #725
@kristineds Thank you for the update and for retesting. :-)

[2016-04-08 16:06] #725 closed, assigned to nobody

[2016-04-08 16:53] dbaritchi commented on #657
@jaswsinc I'm looking at that help article you mentioned but not seeing how to implement that domain filter you mention. can you please clarify. :)

the goal being to apply the CDN delivery ONLY to all the sub-sites on our network, NOT to the main top -level site.

Thanks!

[2016-04-08 17:02] jaswrks commented on #657
@dbaritchi Configure multiple CDN Host Names as discussed in that article, and simply do not include a mapping for the Main Site, which in this example would be just `mysite.com`.

![2016-04-08_09-00-47](https://cloud.githubusercontent.com/assets/1563559/14391452/8b3b9470-fd68-11e5-9e30-3d7be58e08e4.png)

---

Note the absense of `mysite.com =`; i.e., I only map sub-domains.

[2016-04-08 17:06] dbaritchi commented on #657
Oh, ok... problem is we have thousands of sub-sites and adding more daily so would not be able to specify them individually, initially or ongoing.

How can I say "all sites EXCEPT top-level mysite.com"

Also some are just sub-domains like myblog.mysite.com but many are domain-mapped like myblog.com.

Thanks!

[2016-04-08 17:32] jaswrks commented on #657
I see. Well, you could try using a filter for this.

Create: `/wp-content/mu-plugins/comet-cache.php`

[code]

Referencing: https://github.com/websharks/comet-cache-pro/blob/160227/src/includes/closures/Plugin/OptionUtils.php#L22

[2016-04-08 17:35] jaswrks commented on #730
@anchantw writes...

I just tested this myself and I was unable to reproduce that behavior in a clean WordPress installation. However, I suspect this _could_ be happening on your end due to the way that specific URL is being formulated. Do you know which theme or plugin is introducing that `login.min.css` file? If so, does it use `admin_url()` to construct the link or does it use `home_url()` or `

[2016-04-08 17:59] raamdev commented on #681
![2016-04-08_13-31-12](https://cloud.githubusercontent.com/assets/53005/14392204/31554890-fd8e-11e5-8525-5cd602ef4f99.png)

[2016-04-08 18:02] raamdev commented on #681
Next Release Changelog:
- **UI/UX Enhancement** (Pro): The Pro Plugin Updater page now includes a "Save All Changes" button at the bottom, allowing you to save changes to the updater configuration without actually running the plugin updater. Props @bridgeport @NoahjChampion @1wdtv. See [Issue #681](https://github.com/websharks/comet-cache/issues/681).

[2016-04-08 18:02] #681 closed, assigned to nobody

[2016-04-08 19:33] jaswrks commented on #690
@renzms The way to disable the Admin Bar in WordPress is by calling `show_admin_bar(false);`. It looks like this most of the work needed to complete this issue has already been implemented. However, as it stands now it is not configurable, so that would be something that you could add to the UI if you'd like.

See: https://github.com/websharks/comet-cache-pro/blob/160227/src/includes/classes/Plugi

[2016-04-08 19:36] jaswrks commented on #699
@renzms That looks like a fantastic start on this. Do you have that work (seen in the screenshots above) in a separate branch that you can push for a review?

[2016-04-08 19:37] jaswrks commented on #693
@renzms The next step here would be to alter the default value here; changing it from `0` to `1` (enabled). See: https://github.com/websharks/comet-cache-pro/blob/160227/src/includes/classes/Plugin.php#L313

[2016-04-08 19:46] jaswrks commented on #724
I was just taking a closer look at this issue. The permalink structure should not matter, should it? If a Post is updated in some way (regardless of permalink) the date-based archive view should be cleared as well, when that functionality is enabled. Does that sound right?

So it seems like what we need is a routine that can look at the original publication date and then clear the date-based archi

[2016-04-09 12:07] raamdev opened #733 "PHP Warning: Zend OPcache API is restricted by "restrict_api""
In some scenarios [`src/includes/closures/Shared/SysUtils.php#L85`](https://github.com/websharks/comet-cache/blob/160227/src/includes/closures/Shared/SysUtils.php#L85) may throw the following warning:

This is most likely the result of stringent rules put in place with [`opcache.restrict_api`](http://php.net/manual/en/opcache.configuration.php#ini.opcache.restrict-api). So while `functionIsPossibl

[2016-04-09 12:38] raamdev commented on #724
Yes, that sounds right.

All we need to consider is that the date-based archive views may be paginated, and the post that's being updated might be somewhere other than page 1.

I just did some testing and it appears that for a post published on April 9th, 2016, we would need to clear all of the following:

[code]

It's unfortunate that the cache for a whole years' worth of archives will get cleare

[2016-04-09 17:32] jaswrks commented on #724
Copy that. Sounds like a plan then.

Agreed. Our existing code for regex formulation should already handle this properly. Once we implement a new method to clear the date-based archive views for dated variations as you outlined above, the pagination will be taken into account by some of our existing regex handlers.

[2016-04-09 17:42] raamdev commented on #728
Noting that adding `--url=` to the WP-CLI command and specifying your WordPress Site Address allows Comet Cache to be disabled properly without the "host token empty" error.

[code]

[2016-04-09 21:29] jaswrks commented on #728
Referencing the following areas of the CC codebase where we could try to use a default value matching the current site's host name; i.,e, `parse_url(home_url('/'), PHP_URL_HOST)` (or similar).
- https://github.com/websharks/comet-cache-pro/search?utf8=%E2%9C%93&q=HTTP_HOST

The same would be true in the case of `$_SERVER['REQUEST_URI']`, which could default to just `/`.
- https://github.com/websha

[2016-04-10 01:55] raamdev commented on #728
@jaswsinc I assume you're suggesting that we apply those defaults only `if (defined('WP_CLI') && WP_CLI && empty($_SERVER['HTTP_HOST']))`, correct?

[2016-04-10 02:24] jaswrks commented on #728
@raamdev Yes, correct. Maybe it would help if we create a new method somewhere in the Shared Traits folder called `envVar()` that would capable of returning `$_SERVER` environment variables from a central location. That method could be responsible for working out a default value whenever we can detect (in this case) that WP CLI is running without them, which leads to this problem.

Doing it that w

[2016-04-10 02:32] raamdev commented on #464
Next Release Changelog:
- **Compatibility: WP-CLI.** When installing Comet Cache via WP-CLI, Comet Cache is now automatically enabled. There's no need to manually enable Comet Cache from within the plugin options after installing. Props @jaswsinc. See [Issue #464](https://github.com/websharks/comet-cache/issues/464).

[2016-04-10 02:32] #464 closed, assigned to jaswrks

[2016-04-10 04:40] aghoshx commented on #464
Thank you!

[2016-04-11 11:32] raamdev commented on #678
Next Release Changelog:
- **Bug Fix** (Pro): Fixed a bug with the Pro Plugin Updater that resulted in "Unknown error. Please wait 15 minutes and try again." when attempting to update Comet Cache Pro. The issue affected sites on servers running an old version of cURL (< v7.36) and/or an old version of OpenSSL, which made them unable to connect to the Comet Cache Pro update server. The Pro Plugin Up

[2016-04-11 11:32] #678 closed, assigned to nobody

[2016-04-11 15:40] raamdev commented on #709
Closed by https://github.com/websharks/comet-cache-pro/issues/240.

[2016-04-11 15:40] #709 closed, assigned to nobody

[2016-04-11 16:15] raamdev commented on #732
Next Release Changelog:
- **Bug Fix**: Fixed an issue where some browsers would report "Failed to parse SourceMap" errors in their console when browsing the Comet Cache Options page. This was related to `sourceMappingURL` comments in the minified JS/CSS files that were intended for development purposes. Props to @1wdtv for reporting. See [#732](https://github.com/websharks/comet-cache/issues/732).

[2016-04-11 16:15] #732 closed, assigned to nobody

[2016-04-11 17:33] raamdev commented on #711
Next Release Changelog:
- **Bug Fix**: Fixed a UI bug in the Pro Preview that was causing the Manual Cache Clearing panel to not appear as part of the Pro Preview. Props @renzms. See [Issue #711](https://github.com/websharks/comet-cache/issues/711).

[2016-04-11 17:33] #711 closed, assigned to renzms

[2016-04-12 17:16] BookClubs commented on #520
Have the names of any of the functions and variables change with the change of the program name?

For example:
`define('ZENCACHE_EXCLUDE_URIS',` '/^\/(index.php\/?)?(\?|$)/');``

Would this now be:
`define('COMETCACHE_EXCLUDE_URIS',`'/^\/(index.php\/?)?(\?|$)/');`

[2016-04-12 19:59] ghost opened #734 "Problem after upgrading to WP 4.5"
One of my sites just upgraded to WP 4.5.  I run Comet Cache version "Comet Cache™ Pro v160227".  Since the upgrade, I can no longer click on the blue menu options in Comet Cache to configure details.

Please advise

Torsten Dreier

[2016-04-13 10:13] raamdev commented on #734
@GulfToBayWeb I'm not able to reproduce this problem with WP 4.5 + Comet Cache Pro v160227.

It sounds to me like you might have a browser caching issues, where some of the older WP JavaScript files were cached by your browser. Can you try clearing your browser cache and testing again?

[2016-04-13 10:46] raamdev commented on #520
@BookClubs Yes, it would be `COMET_CACHE_EXCLUDE_URIS` (there's an underscore between Comet and Cache).

[2016-04-13 12:58] ghost commented on #734
Raam,

you were right,  clearing cache helped, everything is back to normal

Thanks
Torsten Dreier

On Wed, Apr 13, 2016 at 6:13 AM, Raam Dev notifications@github.com wrote:

[2016-04-13 13:28] #734 closed, assigned to nobody

[2016-04-13 16:39] BookClubs commented on #520
I double checked my wp_config file and it turns out I was using the following code:

`if(preg_match('/^\/(index\.php\/?)?(\?|$)/', $_SERVER['REQUEST_URI']))
    define('ZENCACHE_ALLOWED', FALSE); // Don't cache home page.`

So, would this become:

`if(preg_match('/^\/(index\.php\/?)?(\?|$)/', $_SERVER['REQUEST_URI']))
    define('COMET_CACHE_ALLOWED', FALSE); // Don't cache home page.`

Thanks aga

[2016-04-14 00:10] dbaritchi commented on #657
Thanks @jaswsinc - for some reason i'm having trouble enabling CDN  URL Replacement (CDN Static Filters) for our multisite... i turn it on, click Save, when the page refreshes it's off again.

I'll open a separate ticket with details on that. Thanks.

[2016-04-14 00:25] dbaritchi opened #735 "Difficulty enabling CDN URL Replacement (Static CDN Filters) on large domain-based multisite"
Hi there!

Trying to enable CDN URL Replacement (via Static CDN Filters) for a large domain-based multisite and having some difficulty turning it on.

Our config is 1 main site (i.e. mainsite.com) with thousands of sub-sites (i.e. blog1.mainsite.com, blog2.mainsite.com, etc.). we also have hundreds of domain-mapped sites (i.e. differentsite.com, anotherdifferentsite.com, etc.).

The goal is to ena

[2016-04-14 08:05] jaswrks commented on #657
Hmmm. Interesting. I can't seem to reproduce this myself. Just to confirm, that _is_ Comet Cache Pro you're running, right? Did you try it in a test WordPress installation without anything else as a possible conflict?

[2016-04-14 15:01] raamdev commented on #735
That sounds to me like you have another plugin on your site that is conflicting with Comet Cache in some way. Unfortunately the advice we recommend when that happens is to [Test Comet Cache in a Clean WordPress Installation](https://cometcache.com/kb-article/testing-comet-cache-in-a-clean-wordpress-installation/), however that's probably not practical in your situation with so many sub-sites.

Cha

[2016-04-14 15:04] #520 closed, assigned to nobody

[2016-04-14 15:27] BookClubs commented on #520
Is the code above correct?

[2016-04-14 15:31] raamdev commented on #520
@BookClubs Oh sorry, I didn't realize that you were asking a question.

Yes, that code looks correct to me.

[2016-04-14 18:19] BookClubs commented on #520
No worries, I figured that after my reply.  Thanks for your quick responses.

[2016-04-14 23:58] jaswrks commented on #735
I think @dbaritchi is seeing this after having implemented the filter I suggested [here](https://github.com/websharks/comet-cache/issues/657#issuecomment-207528277) for a specific use case. That filter impacts the Main Site, and so it impacts the config options panel too.

See: https://github.com/websharks/comet-cache/issues/657#issuecomment-207528277

I suggest the following modification to avoid

[2016-04-15 01:26] dbaritchi commented on #657
@jaswsinc sorry about that - i created the new ticket since the issue seemed off topic but forgot to reference it here.

[2016-04-15 04:07] 1wdtv commented on #678
I'm sorry... did I miss something? IS there an update somewhere? I cannot find it here or on your site.

[2016-04-15 04:47] dbaritchi commented on #735
@jaswsinc Yes, sorry i had indeed added that filter. Your new version above fixes the issue - It's now possible to Enable Static CDN Filters in the plugin settings and the setting stays on. :)

I've removed the filters altogether form functions.php now to debug the other items.

@raamdev thanks for the helpful advice.

OK - with the filter completely removed, the CDN URL Replacement happens perfec

[2016-04-15 13:58] CInsights opened #736 "Install on subdomain complains comet is already installed"
If comet is installed on an existing subdomain then when installing on a further subdomain of the same site comet complains that the cache directory already exists.
The plugin fails to activate initially.
It can be activated through the plugin admin panel and appears to work normally.

[2016-04-15 19:35] raamdev commented on #678
The release candidate ([v160412-RC](https://cometcache.com/blog/comet-cache-v160412-rc-release-candidate/)) has been released and includes the fix for this issue. I'll be doing an official release within the next 24 hours.

[2016-04-16 11:06] raamdev commented on #736
@CInsights Is this on a WP multisite or a standard installation?

[2016-04-16 11:08] CInsights commented on #736
Standard installation.

(Sent from iPhone)

On 16 Apr 2016, at 9:06 PM, Raam Dev notifications@github.com wrote:

@CInsights Is this on a WP multisite or a standard installation?

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub

[2016-04-16 11:58] raamdev commented on #736
@CInsights Hmm. I'm a bit confused about how the site is set up.

If you install WordPress on subdomain1.example.com, then that WordPress installation should have its own root directory on your web server (e.g., `/home/example/www/subdomain1/`) and Comet Cache would create and write to a directory inside there (e.g., `/home/example/www/subdomain1/wp-content/cache/`).

If you install WordPress on s

[2016-04-16 12:11] CInsights commented on #736
Agreed it doesn't make a lot of sense.
FYI the server is a "reseller" host system.
So not quite a VPS but a little different in that it has WHM.
The primary account domain is not used for hosting "public facing" sites.
I just have multiple utility and other test sites set up as subdomains of the primary account/domain.

All I did was to install using the upload of my Comet Pro zip so that was abou

[2016-04-16 12:32] CInsights commented on #736
Well as you'd expect that install worked without a hitch.
I tried uninstall and re-install also without a hitch.
So lacking any ability to reproduce I'll close this.

[2016-04-16 12:32] #736 closed, assigned to nobody

[2016-04-16 12:36] raamdev commented on #736
@CInsights Got it. Thanks for the update and for closing. :-)

[2016-04-16 14:11] raamdev commented on #635
**Comet Cache v160416** has been released and includes changes from this GitHub Issue. See the [v160416 announcement](https://cometcache.com/blog/comet-cache-v160416-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#635).

[2016-04-16 14:11] raamdev commented on #719
**Comet Cache v160416** has been released and includes changes from this GitHub Issue. See the [v160416 announcement](https://cometcache.com/blog/comet-cache-v160416-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#719).

[2016-04-16 14:12] raamdev commented on #715
**Comet Cache v160416** has been released and includes changes from this GitHub Issue. See the [v160416 announcement](https://cometcache.com/blog/comet-cache-v160416-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#715).

[2016-04-16 14:12] raamdev commented on #681
**Comet Cache v160416** has been released and includes changes from this GitHub Issue. See the [v160416 announcement](https://cometcache.com/blog/comet-cache-v160416-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#681).

[2016-04-16 14:12] raamdev commented on #696
**Comet Cache v160416** has been released and includes changes from this GitHub Issue. See the [v160416 announcement](https://cometcache.com/blog/comet-cache-v160416-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#696).

[2016-04-16 14:12] raamdev commented on #732
**Comet Cache v160416** has been released and includes changes from this GitHub Issue. See the [v160416 announcement](https://cometcache.com/blog/comet-cache-v160416-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#732).

[2016-04-16 14:13] raamdev commented on #711
**Comet Cache v160416** has been released and includes changes from this GitHub Issue. See the [v160416 announcement](https://cometcache.com/blog/comet-cache-v160416-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#711).

[2016-04-16 14:13] raamdev commented on #727
**Comet Cache v160416** has been released and includes changes from this GitHub Issue. See the [v160416 announcement](https://cometcache.com/blog/comet-cache-v160416-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#727).

[2016-04-16 14:13] raamdev commented on #678
**Comet Cache v160416** has been released and includes changes from this GitHub Issue. See the [v160416 announcement](https://cometcache.com/blog/comet-cache-v160416-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#678).

[2016-04-16 14:13] raamdev commented on #716
**Comet Cache v160416** has been released and includes changes from this GitHub Issue. See the [v160416 announcement](https://cometcache.com/blog/comet-cache-v160416-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#716).

[2016-04-16 14:14] raamdev commented on #710
**Comet Cache v160416** has been released and includes changes from this GitHub Issue. See the [v160416 announcement](https://cometcache.com/blog/comet-cache-v160416-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#710).

[2016-04-16 14:14] raamdev commented on #686
**Comet Cache v160416** has been released and includes changes from this GitHub Issue. See the [v160416 announcement](https://cometcache.com/blog/comet-cache-v160416-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#686).

[2016-04-16 14:14] raamdev commented on #464
**Comet Cache v160416** has been released and includes changes from this GitHub Issue. See the [v160416 announcement](https://cometcache.com/blog/comet-cache-v160416-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#464).

[2016-04-16 14:14] raamdev commented on #706
**Comet Cache v160416** has been released and includes changes from this GitHub Issue. See the [v160416 announcement](https://cometcache.com/blog/comet-cache-v160416-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#706).

[2016-04-17 14:07] raamdev opened #737 "Plugin Compatibility: AnsPress"
When Comet Cache Feed Caching is enabled (**Comet Cache → Plugin Options → RSS, RDF, and Atom Feeds**), a fatal error is produced when trying to activate the [AnsPress Question and Answer](https://wordpress.org/plugins/anspress-question-answer/) plugin (reproduced with Comet Cache Lite v160416):

[code]

Disabling Comet Cache Feed Caching allows the AnsPress plugin to work as expected.

[2016-04-17 14:49] emanwebdev opened #738 "Medias -> Add new Media raises a Fatal error while processing newly uploaded .mp3 media"
![comet_cache_fatal_error_feedutils_line232](https://cloud.githubusercontent.com/assets/1505372/14587918/47fb34ee-04bc-11e6-87db-76accfefe308.png)

Medias -> Add new Media -> Fatal error while processing newly uploaded .mp3 media

`Undefined class constant ‘CACHE_PATH_NO_SCHEME’`

in /plugins/comet-cache/src/includes/classes/**FeedUtils.php** on **line 232**

[2016-04-17 14:51] emanwebdev commented on #738
Using Comet Cache™ v160416
WP 4.4

all rights ok

Scenario found with .mp3 and .ogg media files formats

[2016-04-17 19:32] raamdev opened #739 "v160416: Undefined class constant ‘CACHE_PATH_NO_SCHEME’"
When Comet Cache Feed Caching is enabled (**Comet Cache → Plugin Options → RSS, RDF, and Atom Feeds**), a fatal error is produced whenever the cache is cleared (reproduced with Comet Cache Lite v160416):

[code]

This issue appears to be that [`FeedsUtil extends AbsBase`](https://github.com/websharks/comet-cache/blob/160416/src/includes/classes/FeedUtils.php#L9), which [itself](https://github.com/

[2016-04-17 19:38] raamdev commented on #738
@emanwebdev Thank you for the heads up. I'm aware of this bug and working on a fix now. I'll release a maintenance update shortly that will fix this. See https://github.com/websharks/comet-cache/issues/739

[2016-04-17 19:38] #738 closed, assigned to nobody

[2016-04-17 19:38] raamdev commented on #739
Related:
- https://wordpress.org/support/topic/todays-update-crashes-my-wp?replies=4
- https://github.com/websharks/comet-cache/issues/738

[2016-04-17 19:39] raamdev commented on #737
This is not specific to AnsPress. This is a Comet Cache bug. See https://github.com/websharks/comet-cache/issues/739.

I'm closing this issue in favor of https://github.com/websharks/comet-cache/issues/739.

[2016-04-17 19:39] #737 closed, assigned to nobody

[2016-04-17 20:19] raamdev commented on #739
Next Release Changelog:
- **Bug Fix**: Fixed a "PHP Fatal error: Undefined class constant ‘CACHE_PATH_NO_SCHEME’" with introduced by the previous release (v160416). This issue only affected sites where Feed Caching was enabled (_Comet Cache → Plugin Options → RSS, RDF, and Atom Feeds_). Props MassimoD and @emanwebdev for reporting. See [Issue #739](https://github.com/websharks/comet-cache/issues/7

[2016-04-17 20:19] #739 closed, assigned to nobody

[2016-04-17 20:51] raamdev commented on #739
**Comet Cache v160417** has been released and includes changes from this GitHub Issue. See the [v160417 announcement](https://cometcache.com/blog/comet-cache-v160417-maintenance-release/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#739).

[2016-04-17 20:52] raamdev commented on #738
@emanwebdev Just noting here that Comet Cache v160417 has been released and includes the fix for this issue. Please see https://cometcache.com/blog/comet-cache-v160417-maintenance-release/.

[2016-04-18 07:19] xberg commented on #653
Hi,
Another follow up. Today I upgraded Comet Cache Pro to V160417 and the same problem occured.
In this version you changed the directory structure, so for those facing the same problem as I have the file to modify is in:
/wp-content/plugins/comet-cache-pro/src/includes/traits/Plugin

And this time I had to comment out these 4 lines for the cron to stop resetting:
`//|| $this->options['crons_setu

[2016-04-18 13:14] raamdev opened #740 "PHP OPCache should be reset after WordPress upgrader_process_complete"
As of v160417, Comet Cache Pro automatically clears the PHP OPCache whenever it detects a new version of itself, however Comet Cache Lite does not (this was an oversight, not intentional).

As a result, Comet Cache Lite is more prone to fatal errors when upgrading from an older version of Comet Cache that contains major changes, such as a change from PHP Closures (v160227) to PHP Traits (v160417).

[2016-04-18 15:26] renzms commented on #690
(edited and moved to PR [here](https://github.com/websharks/comet-cache-pro/pull/245))

[2016-04-19 05:12] jaswrks opened #741 "Feature Request: Second Pro Updater Button"
In the latest release whenever I fill-in my Username and License Key, then scroll to the bottom, all I find is the "Save All Changes" button. Clicking that does what it says, but it's not quite clear how I can actually perform the upgrade itself.

![2016-04-18_21-03-28](https://cloud.githubusercontent.com/assets/1563559/14628309/20842f7c-05a9-11e6-8d62-b7c01aae6e55.png)

---

Of course, there is a

[2016-04-20 00:39] raamdev commented on #741
I agree it's a problem that needs solving, but I'm not sure yet about the best way to go about solving it from a UX perspective.

Following are two mockups of a second button at the bottom—both feel slightly wrong to me from a usability perspective (it's confusing: do I Save and Then Update? Or does Update also Save?):

![2016-04-19_20-33-11](https://cloud.githubusercontent.com/assets/53005/146599

[2016-04-20 03:38] jaswrks commented on #741
Cool. That sounds good to me also. I like the "Save _and_ Update" idea. That does make it clearer.

[2016-04-20 03:42] jaswrks commented on #741
While working on this issue, it would be awesome if we could find a way to disable Google Chrome Auto-Fill on this page (notice the yellow fields in my screenshot above). That always seems to get in my way on this page. That's not a CC problem, it's a Chrome problem, but if there is a way to turn that off altogether I'd love to know how.

I have never been able to accomplish this myself in any rel

[2016-04-20 06:40] jaswrks commented on #653
@xberg writes...

That seems to suggest that this is impacted by a race condition. It might help if we skip all of our CRON-related checks in this routine if CRON is currently in the middle of running a process where events are juggled around a bit and `wp_next_scheduled()` might return an unexpected value.

[code]

Referencing: https://github.com/WordPress/WordPress/blob/master/wp-cron.php#L78

[2016-04-20 11:16] groubee opened #742 "Comet Cache pro kills styles inside Slider Revolution"
Hi

When I activate the Comet Cache pro plugin - some of the style disappears. Here: [http://www.skisme.dk/lejligheder/casa-marietta/](url) in the right side you find an "Open fullsize icon" and a white animated text inside the Slider Revolution slide which disappears if Comet Cache pro plugin is active.? It happens in every slide - also on the homepage (here some text style changes to grey).

Wha

[2016-04-20 15:06] patdumond opened #743 "Issue Report: "Unknown error: Please wait 15 minutes and try again" is alive and well"
Reference: https://github.com/websharks/comet-cache/issues/678

I tried to update my WebSharks' test site this morning and got the "Unknown error: Please wait 15 minutes and try again." error. I checked the Developers Console and the only error is about jQuery Migrate being installed (WordPress 4.5 update).
![jquery-migrate](https://cloud.githubusercontent.com/assets/9320495/14679448/ebf07c58-06e7

[2016-04-20 16:03] raamdev commented on #743
That looks related to testing an older version of Comet Cache where that message got left in the database and never cleared out. I suggest turning off Plugin Deletion Safeguards, then Deactivating and Deleting the plugin (that will wipe all Comet Cache related settings from the database). If you then reinstall Comet Cache, you should see the proper messages.

Hmm, the jQuery Migrate message seems

[2016-04-20 16:08] jaswrks commented on #743
If that was done on a HostGator test site, it's something I would _expect_ for now. HostGator is running an extremely outdated version of the cURL library that is unable to speak with a large percentage of the web. They are aware of the issue and have done nothing about it yet, but they are supposed to be rolling out an update in mid-April that I'm hoping will resolve this.

So updating from the p

[2016-04-20 17:45] patdumond commented on #743
Unless we are hosting websharks-inc.net on a HostGator server, it was not on HostGator. I would not go near HostGator if I had to build my own web server and run fiber-optic cable to my house. ;)

@raamdev: I uninstalled Comet Cache after disabling _Plugin Deletion Safeguards_ last month and it didn't get rid of the false notification. If I have time I'll do it again. Reference the main point of t

[2016-04-20 17:48] jaswrks commented on #743
haha! That's hilarious. I know what you mean.

The test sites that we have _are_ on HostGator, so that may explain this.

[2016-04-20 18:14] raamdev commented on #743
I just upgraded Comet Cache Pro on my `raam.websharks-inc.net` test site (which is on HostGator). I had a Dashboard message about there being an update available for v160417. I had no problem with the update.

I will note that HostGator is a web host where we had the issue described in #678, and I'll also note that when I updated my test site (which was probably running v160416; I forgot to check

[2016-04-20 18:38] raamdev commented on #735
Unfortunately no, I have not seen anything like that. Static CDN Filters are working as expected in the tests in our multisite environments.

Are your sub-sites on a different domain (e.g., a sub-domain or a mapped domain)? If so, keep in mind that you need separate configuration lines for those:

![2016-04-20_14-34-54](https://cloud.githubusercontent.com/assets/53005/14686051/2cf75ae2-0705-11e6-8

[2016-04-20 21:45] patdumond commented on #743
@raamdev wrote:

That worked. Got rid of the erroneous notification as well.

[2016-04-20 21:46] raamdev commented on #743
@patdumond Cool. Thank you for the update and for the report here. :-)

I'll go ahead and close this issue, but let us know if you run into the "Unknown error" again.

[2016-04-20 21:46] #743 closed, assigned to nobody

[2016-04-20 23:07] raamdev opened #744 "Publishing via XMLRPC does not automatically clear the cache"
As reported [here](https://forums.wpsharks.com/t/no-cache-refresh-after-new-post-from-xmlrpc/240), when publishing a post via [XMLRPC](https://codex.wordpress.org/XML-RPC_WordPress_API/Posts) Comet Cache does not properly detect this and clear the appropriate cache files. If, for example, someone publishes a new post, the home page cache does not get cleared and the new post is not visible.

This

[2016-04-21 12:56] clanooij opened #745 "Comet Cache does not appear to be working because of wpnonce"
Comet Cache is NOT caching this page, because the current page contains `_wpnonce` or `akismet_comment_nonce`. How can this be solved?

[2016-04-21 13:49] raamdev commented on #742
@groubee It sounds like you're using the HTML Compressor feature of Comet Cache Pro and the CSS and/or JavaScript that Slider Revolution uses is not compatible with compression.

I suggest excluding any Slider Revolution scripts in **Comet Cache → Plugin Options → HTML Compression**; see **CSS Exclusion Patterns** and **JavaScript Exclusion Patterns**.

---

Note that we have another GitHub issue

[2016-04-21 13:49] #742 closed, assigned to nobody

[2016-04-21 13:49] raamdev commented on #614
See also: https://github.com/websharks/comet-cache/issues/742

[2016-04-21 13:51] raamdev commented on #745
@clanooij See: [What are WordPress nonces and why are they not cache-compatible?](https://cometcache.com/kb-article/what-are-wordpress-nonces-and-why-are-they-not-cache-compatible/)

[2016-04-21 13:51] #745 closed, assigned to nobody

[2016-04-21 23:17] CInsights opened #746 "Minor cosmetic issue on cache stats MB size display"
The cache stats display looks like it could do with a decimal place or two added once it gets to MB size?

Screen shot attached.

![image](https://cloud.githubusercontent.com/assets/9031896/14727064/bcc72e8e-086a-11e6-8dee-88d1d03f0ceb.png)

[2016-04-22 10:59] raamdev commented on #746
@CInsights Thanks for the heads up! :-)

@jaswsinc It looks like we should be using a decimal for all values over 1MB when the lowest value on the chart is under 1MB. Agreed?

[2016-04-22 13:00] raamdev commented on #465
+1 here (private ticket): https://websharks.zendesk.com/agent/tickets/12301

[2016-04-22 13:04] raamdev commented on #465
Noting that the ManageWP API page has been updated to include the following notice:

So, since the ManageWP API is no longer supported, it looks like integrating with ManageWP will involve adapting our Pro Updater to work more closely with the WordPress update system. We already do this in some ways, but we could improve the integration so that any plugins, such as ManageWP, also work with our Pro

[2016-04-22 13:46] renzms opened #747 "Feature Request: HTML Exclusion Patterns?"
It would be nice to have a feature that allowed users to exclude specific lines of HTML from being compressed based on a specific start and end marker (such as an HTML comment).

---

Reference Internal/Private Ticket: https://websharks.zendesk.com/agent/tickets/12279

[2016-04-23 17:47] raamdev opened #748 "Apache detection not always accurate"
<del>As of v160417, Comet Cache is not properly setting the `$is_apache` and `$is_nginx` globals, which means the routines that rely on checking the values of those globals are not behaving as expected.</del>

As Jason mentions [below](https://github.com/websharks/comet-cache/issues/748#issuecomment-213796358), those globals are [set by WordPress](https://github.com/WordPress/WordPress/blob/703d5b

[2016-04-23 17:50] jaswrks commented on #748
Just wanted to mention that we shouldn't set those globals in the CC plugin. Those are WordPress core globals. See: https://github.com/WordPress/WordPress/blob/703d5bdc8deb17781e9c6d8f0dd7e2c6b6353885/wp-includes/vars.php#L100

I can't be sure until I look closer, but those `isApache()`, `isNginx()` methods may have been introduced by me at some point in order to make it possible for us to run tho

[2016-04-23 17:58] raamdev commented on #748
@jaswsinc Thanks. I didn't realize those were set by WordPress. I've updated my original issue above to clarify the problem and I've removed the `high priority` label, as it sounds like this is not as widespread as I thought it might be.

[2016-04-23 19:01] jaswrks commented on #746
Hmm. I have no objection to that, but disk space is so cheap these days. My feeling is that integer values make this chart easier to glance at and understand. Adding decimals might be warranted for GB, but for MB it seems unnecessary to me. That's just me though. In the example above the disk has a capacity of 4TB, so what's a few hundred kilobytes give or take. 1MB, 2MB seems easier to read.

[2016-04-23 19:24] jaswrks commented on #735
@dbaritchi writes...

Hmm. I didn't realize that. Thanks for the heads up! :-)

Unfortunately, that is not something that Comet Cache supports at the moment. It is expected that you will have one CDN Host Name that can cover both protocols. It seems a little strange to me that MaxCDN wouldn't support this, because without having one CDN Host Name that can support both protocols you can't use cross

[2016-04-23 20:05] dbaritchi commented on #735
Re: MaxCDN SSL Access, the gotcha is they allow you to use their shared SSL host instead of using your own SSL cert - at no cost. meaning MaxCDN is a good deal at $70 per terabyte.

BUT if you want to use your own SSL cert for a zone, while possible, it's $99/MONTH per zone. makes it not worth using in almost all cases.

Here's their Shared SSL Guide: https://www.maxcdn.com/one/tutorial/setup-shar

[2016-04-23 20:14] dbaritchi commented on #735
just to be super clear, I'm in no way comparing Comet Cache to W3TC... the difference is night and day lol. :)

[2016-04-24 00:52] CInsights commented on #746
It gets messy.
What do you display if the cache files are sitting at say 1.8MB and that constitutes the max ring?
Also do you consider file size rounded to say within 10% of integer value qualifies as integer and drop the decimals(s) and only display integer level labels in MB and GB after KB drops off the scale?
Such fun.
Maybe just go with one decimal and the limit of 5 labels per chart and be d

[2016-04-24 09:22] jaswrks opened #749 "CDN Host Name (Per-Protocol)"
## Possible Enhancement

@dbaritchi writes...

@jaswsinc writes... https://github.com/websharks/comet-cache/issues/735#issuecomment-213812833

[2016-04-24 09:24] jaswrks commented on #735
Ah, good to know. Thanks :-)

Cool. That'd be awesome.

In the meantime, I'm opening a new issue to address this feature request here: https://github.com/websharks/comet-cache/issues/749

[2016-04-24 12:38] raamdev commented on #746
@jaswsinc writes...

Did you look at the screenshot above? Notice how it says "1MB" and then "1MB" again? To me that would be interpreted as a UI bug. To resolve that issue, we can use decimals.

Sure, but the whole point of looking at that chart is to get information about the cache. If the information is not clear or complete (seeing "1MB" twice is neither clear nor complete), then the chart is

[2016-04-24 12:44] raamdev commented on #749
Referencing the MU-Plugin workaround @jaswsinc mentioned in https://github.com/websharks/comet-cache/issues/735#issuecomment-213812833:

---

You can implement a filter (for now) while we work this issue.

`wp-content/mu-plugins/cc-hacks.php`

[code]

Replace `non-ssl-host.com` and `ssl-enabled-host.com` w/ the ones you have.

[2016-04-24 12:46] jaswrks commented on #746
I see what you mean now. Yep, decimals would certainly help to clear that up. Agree.

[2016-04-26 19:29] raamdev commented on #693
Next Release Changelog:
- **Enhancement**: The the option to automatically clear the cache for Custom Term Archive Views (see _Comet Cache → Plugin Options → Automatic Cache Clearing → Auto-Clear "Custom Term Archives" Too?_) is now enabled by default. This feature was previously disabled by default, which lead to confusion about why those cache files were not being cleared automatically when a Cu

[2016-04-26 19:29] #693 closed, assigned to renzms

[2016-04-26 21:34] VR51 opened #750 "WPML Compatibility Bug When Languages Use Different Domain Names"
WPML allows admins to configure each language to use a URL that is either:
1. a query string
2. a virtual directory
3. a different domain name

When the clear cache button is clicked in Comet Cache Pro all caches are cleared for URL formats 1 and 2 but format 3 (different domain name) remains unwiped.

I think the cache does clear itself automatically when it expires (not 100% sure) but the Clear

[2016-04-26 22:15] jaswrks opened #751 "Feature Request: Update to Latest WRegx"
For now, I'm calling this _WRegx_ (Watered-Down Regex).

This uses the best parts of extended glob, fnmatch, and regex together. It gives site owners a lot more to work with, but it's still easy to learn and hard to screw-up.
- `*` Matches zero or more characters that are not a `/`
- `**` Matches zero or more characters of any kind.
- `?` Matches exactly one character that is not a `/`
- `??` Matc

[2016-04-26 22:16] jaswrks commented on #751
Referencing internal/private discussion: https://github.com/websharks/team/issues/60

[2016-04-26 22:20] jaswrks commented on #751
@kristineds Here's one that you might be interested in tackling.

## Next Actions
- Get @raamdev's approval here first; i.e., does he want this in Comet Cache?
- If so, we need to update this class file so that it takes full advantage of the function I posted above.
  - See: https://github.com/websharks/comet-cache-pro/blob/160417/src/includes/traits/Shared/PatternUtils.php

[2016-04-26 22:28] raamdev commented on #751
@jaswsinc How would implementing this affect sites already using the Watered-Down RegEx in places like URI Exclusion Patterns? Is WRegx backwards-compatible with the existing Watered-Down RegEx?

[2016-04-26 22:39] jaswrks commented on #751
It is mostly backward-compatible, with this exception:
- These new special characters have been introduced:
  - `?[]!{},` did not exist prior.

  So if we can detect that any of these are being used in an old pattern, then we will need (VS upgrade) to replace them  with `[]` being wrapped around them in the pattern so that they are interpreted literally; e.g., `?` in an old pattern should become `

[2016-04-26 22:54] raamdev opened #752 "v160417: PHP Fatal error: Undefined class constant 'CACHE_PATH_NO_PATH_INDEX'"
Reported in an [private ticket](https://websharks.zendesk.com/agent/tickets/12316), this appears to be a similar problem as [the one that was fixed in v160417](https://github.com/websharks/comet-cache/issues/739):

It would appear that we need to add an `implements Interfaces\Shared\CachePathConsts` to the end of [this line](https://github.com/websharks/comet-cache-pro/blob/160417/src/includes/cla

[2016-04-26 23:04] jaswrks commented on #752
I concur. My suggestion would be to implement those constants at the base class layer.

On [this line](https://github.com/websharks/comet-cache/blob/160417/src/includes/classes/AbsBase.php#L9) add:

[code]

That way those constants are available to all classes that extend the base, which I believe is _all_ of the classes that we have. It looks like we did that [here](https://github.com/websharks/c

[2016-04-26 23:53] magnoliaman opened #753 "Contact forms not working on 4.5.1"
It seems that my sites that use Contact Form 7 with WordPress 4.5.1 and Comet Cache are not displaying any page content if it has a contact form. I deactivate Comet Cache and all is well. I'm also using Google's Recaptcha on most (maybe all) of these pages. It doesn't seem to matter what theme I'm using. Other forms don't appear to be impacted with this problem.

Here's an example: https://www.sho

[2016-04-27 13:53] raamdev commented on #751
@jaswsinc Do you think we should have this packaged as a library that gets included via Composer, as opposed to making it part of the Comet Cache codebase? I'm thinking that if we improve or enhance the WRegx library over time, it will be easier to update a single library than to go through each project that uses it and update each one individually.

[2016-04-27 13:55] raamdev commented on #750
@VR51 Can you give me an example of what a "different domain name" would be? For example, if your primary domain is `example.com` are you able to tell WPML to use `en.example.com`? And how does that work anyway? Is WPML adding something to your `.htaccess` file to rewrite URLs?

The reason the cache for the other domain isn't getting cleared is that Comet Cache doesn't know about it. It just knows

[2016-04-27 14:05] raamdev commented on #733
@jaswsinc Any opposition to suppressing warnings from `opcache_get_status()` here?

[2016-04-27 14:06] jaswrks commented on #751
Sounds good! I have WRegx in the websharks/core project, which is also used by the upcoming WPSC for our future WP projects. So that will help quite a bit. However, since I also mentioned this as a part of a team challenge; i.e., there are tentative plans to release this in a bigger way, creating a separate project for this is fine is probably a good idea. I can source it in the websharks/core tha

[2016-04-27 14:12] jaswrks commented on #733
I have no problem with that, no.

Alternatively, you could add a specific check for that scenario here: https://github.com/websharks/comet-cache/blob/160227/src/includes/closures/Shared/ConditionalUtils.php#L345-L347

The idea would be to check the `opcache.restrict_api` INI setting and then decide if the function is disabled or not. If it is, add it to the `$disabled_functions` array there. Then,

[2016-04-27 15:37] raamdev commented on #733
@jaswsinc writes...

I like that idea better. I was just reviewing the docs for `opcache.restrict_api`:

So, to support this properly we should be checking to see if `opcache.restrict_api` is blank (i.e., Comet Cache will be allowed) or if `opcache.restrict_api` contains a path that has partial match to the path to the Comet Cache plugin.

That said, the docs are not clear on whether or not partia

[2016-04-27 15:48] jaswrks commented on #733
_Noting that this would make a nice addition [here](https://github.com/websharks/core/blob/160417/src/includes/classes/Core/Utils/PhpHas.php) also._

[2016-04-27 15:58] jaswrks commented on #733
Referencing: https://github.com/zendtech/ZendOptimizerPlus/blob/3b16ca512290b0416baf02962beedc703147a97a/zend_accelerator_module.c#L88-L98

[2016-04-27 16:03] raamdev commented on #733
I see, so it looks like the path of the script just needs to _start_ with the path defined in `opcache.restrict_api` (i.e., if `opcache.restrict_api` is set to `/srv/www/` and the script is in `/srv/www/wordpress/wp-content/plugins/comet-cache-pro/`, that _will_ be allowed).

[2016-04-27 16:03] jaswrks commented on #733
Yes, I confirmed that locally also.

[2016-04-28 02:20] VR51 commented on #750
Hi raamdev, I kinda guessed the cause would be something along those lines.

Not certain it needs to perform rewrites for the multi-domain name feature to work. Certainly makes no edits to .htaccess. I'll explain how the server and WPML are configured:

We have two domain names, one for each language:
1. english-example.com
2. spanish-example.com

They are not sub-domains. The hyphens are delibera

[2016-04-28 13:23] raamdev commented on #608
Referencing [this](https://github.com/websharks/comet-cache/issues/750) GitHub issue with the WPML plugin, which allows integration with aliased domains to support specific domains for versions of the site in different languages.

Quoting https://github.com/websharks/comet-cache/issues/750#issuecomment-215289030...

Note that "addon domain" mentioned above is specifically referring to an aliased d

[2016-04-28 13:27] raamdev commented on #750
@VR51 Ah, thank you very much for that explanation and the great link to the WPML docs.

We actually have another issue open (see https://github.com/websharks/comet-cache/issues/608) specifically related to aliased domains and this issue with WPML clarifies the problem a bit more, so we should be able to get this fixed sooner rather than later.

I've copied relevant information from this GitHub is

[2016-04-28 14:08] kristineds opened #754 "Feature Request: Multisite Exclusion Patterns"
It would be nice if we could add a new Comet Cache Option panel for Multisite networks that would allow a network admin to exclude Comet Cache from certain sub-sites.

---

Requested here: [private internal ticket](https://websharks.zendesk.com/agent/tickets/12266)

[2016-04-28 17:37] abiere opened #755 "Last version of comet cache generates an error"
The last version of Comet Cache generates the following error:

[code]

I was only able to fix it by renaming the comet cache plugin directory. I have no clue how github etc works. Please let me know how to fix this.

[2016-04-28 17:40] abiere commented on #755
After I renamed the comet cache plugin directory back to the original name and refreshed wp-admin I could activate the plugin again. It recompiled and seems to work again.

[2016-04-28 17:46] raamdev commented on #755
@abiere Thank you for the report. Do you remember which version of Comet Cache you were upgrading _from_? Was it v160417, v160416, or v160227?

[2016-04-28 17:51] VR51 commented on #750
Thank you Raam. Look forward to that update. Will register as a beta tester later today.

[2016-04-28 17:55] abiere commented on #755
I'm sorry, but I don't remember. I updated everything every month or so. Is there some way I can check this for you?

[2016-04-28 17:57] raamdev commented on #755
Hmm, I'm afraid not. However, do you have an idea roughly how long ago you did the last update? v160417 and v160416 were released within the past 2 weeks, so if the last time you updated was earlier than that, you must've been running v160227.

[2016-04-28 18:00] abiere commented on #755
It is a month or more since I've updated, so it must be v160227. There is no harm done. Everything works again. Scared me as hell, but I survived ;)

[2016-04-28 18:02] raamdev commented on #755
When it crashed, were you updating using the built-in Pro Plugin Updater, or were you upgrading in some other way?

[2016-04-28 18:04] jaswrks commented on #755
This looks like an issue with the OPcache to me. This exception had to have been thrown by the old version of the software as seen here on line 57 in v160227: https://github.com/websharks/comet-cache/blob/160227/src/includes/classes/AbsBaseAp.php#L57

Now look at [these lines](https://github.com/websharks/comet-cache/blob/160227/src/includes/classes/AbsBaseAp.php#L23-L27) where the closures are lo

[2016-04-28 18:08] raamdev commented on #755
Related: https://github.com/websharks/comet-cache/issues/740

[2016-04-28 18:11] abiere commented on #755
I was updating with the built in updater.

[2016-04-28 18:12] jaswrks commented on #755
Yeah, this is not your fault. Sorry for any confusion. I'm just seeing how we can avoid this in the future and I think Raam is too. The OPcache is something that works internally in a lot of PHP installations and if not properly flushed after an upgrade it can lead to this problem. Thanks for your patience.

[2016-04-28 18:13] raamdev commented on #740
@jaswsinc This issue is specifically addressing Comet Cache Lite, which as of v160417 doesn't include the routines to clear the OPCache after upgrading, however https://github.com/websharks/comet-cache/issues/755 seems to indicate we may have an OPCache-related issue after upgrading Comet Cache Pro via the Pro Updater.

Maybe we need to clear the OPCache earlier than we do now?

[2016-04-28 18:16] jaswrks commented on #740
Referencing: https://core.trac.wordpress.org/ticket/36455

[2016-04-28 18:18] abiere commented on #755
No worries guys :) I was glad I was able to fix it with my nub skills ;) I will patiently await your magic to avoid panic with nubs like me ;) Keep up the good work!

[2016-04-28 18:27] jaswrks commented on #740
Agree. To my knowledge, there's no hook attached to the pro upgrade routine itself that would clear the OPcache after the upgrade occurs. It's not until _after_ the upgrade is complete, and a new pageview occurs that we detect a new version and run the automatic update routines. By that time, the additional pageview with a stale opcode cache may have already created an issue.

Whenever we add the

[2016-04-28 18:48] raamdev commented on #740
Noting [some earlier discussion from Slack](https://websharks.slack.com/archives/comet-cache/p1460984671000153):

@raamdev writes...

@jaswsinc writes...

[2016-04-28 18:51] raamdev commented on #755
@abiere Thanks again for the report. :-) I'm glad things are working now on your end but it's reports like this that help us improve the software for future releases, so I really appreciate it!

I'm going to close this issue in favor of https://github.com/websharks/comet-cache/issues/740, which should address the issue that you experienced here.

[2016-04-28 18:51] #755 closed, assigned to nobody

[2016-04-30 01:37] KTS915 opened #756 "Feature Request: Filter for not clearing the cache on logging in"
I have read the discussion on Issue #476.  I have also read the following KB article: https://cometcache.com/kb-article/clearing-the-cache-dynamically/

I understand why Comet Cache clears the cache upon every POST including logins and, for the reasons @jaswsinc gave in Issue #476, I agree that Comet Cache can't be expected to distinguish between POSTs that are pure logins and nothing else from PO

[2016-05-03 01:06] raamdev commented on #750
Referencing internal ticket: https://websharks.zendesk.com/agent/tickets/12400

[2016-05-03 20:04] MarioKnight opened #757 "iThemes conflict(?) causing random 500 errors on Chrome"
Over the past couple of weeks, I have been getting reports of different people getting random 500 errors on a couple of sites.  At the time, I believe it to just be Chrome, and even put in a ticket at https://bugs.chromium.org/p/chromium/issues/detail?id=607572 about it.  In attempts to troubleshoot what I could on my end, I have been able to determine that there is something with the combination

[2016-05-05 01:24] KTS915 commented on #757
@MarioKnight: I very much doubt that this has anything to do with Comet Cache. iThemes Security has had this problem for years: see https://wordpress.org/support/topic/500-internal-server-error-199?replies=3

That thread is three years old. What exactly are you using iThemes Security for? I suspect there's a much better alternative available.

[2016-05-05 13:01] MarioKnight commented on #757
@KTS915 I doubt this really has anything to do with Comet Cache either, after going crazy trying to determine the scenarios causing the issue, I submitted this here and there for hopes of some resolution.  I at least know the team here is very responsive which gives me some glimmer of hope.

Seeing now-multiple threads on how iThemes Security seems to essentially ignore and/or pass the blame on 50

[2016-05-05 13:07] benoitchantre opened #758 "mysqli_query(): Error reading result set's header in wp-db.php"
When I turn enable Comet Cache, I can see a lot of these warnings in the server logs
When I turn disable Comet Cache, I see no new warnings like these.

I think they started to happen after the upgrade to WordPress 4.5

[code]

[code]

[2016-05-05 14:35] KTS915 commented on #757
@MarioKnight: I'll be honest; I'm not a fan of iThemes as a company, because I have found all their products to be over-hyped and underperforming. So I would say that what you're seeing is what I'd expect.

For replacements, I'd start by suggesting Jeff Starr's 6G Firewall: https://perishablepress.com/6g/ That's free, but he also sells a plugin if you would prefer.

For easy management of xml-rpc,

[2016-05-05 15:31] MarioKnight commented on #757
@KTS915 If you have code for either `functions.php` or as a `mu-plugin`, that would definitely be greatly appreciated.  This just happened on one of my sites again to one of my friends helping run it, so it's safe for me to "hotshot" alternatives there currently.  (Plus it's supposed to start doing some sales next week so I really can't have this behavior)

[2016-05-05 15:38] KTS915 commented on #757
@MarioKnight: Sure! This is what I use in my `functions.php` file on several sites to redirect the login page to `nameofsite.com/login/`

Just edit `'/login/'`as necessary (or delete it altogether if you want to login from the home page).

[code]

[2016-05-06 14:31] raamdev opened #759 "Decrease size of cache on disk"
I'm opening this GitHub issue to explore ways that we might be able to decrease the overall size of the cache that Comet Cache generates and stores on the disk. I've seen several complaints over the past few years about the size of the cache being rather large, especially when compared to the disk space allocated by the site itself.

Part of this may need to be education: Why is the cache the size

[2016-05-07 20:44] raamdev commented on #756
@KTS915 That certainly sounds doable to me.

@jaswsinc Any comments on this? We could easily add a filter [in `autoClearUserCache()`](https://github.com/websharks/comet-cache-pro/blob/160417/src/includes/traits/Plugin/WcpUserUtils.php#L29) that allows a site owner to disable that call in certain scenarios.

[2016-05-07 20:57] raamdev commented on #758
@benoitchantre I did some research and it appears that this is not specific to Comet Cache: there has been an increase in reports of that error by lots of WordPress site owners after upgrading to WP 4.5. It just so happens that, in your case, Comet Cache is what's triggering the issue. The issue has to do with your MySQL server configuration.

I suggest contacting your web hosting company to see i

[2016-05-07 21:11] raamdev commented on #757
@MarioKnight The "500 Internal Server Error" is generally caused by problems with `.htaccess` files (including file permissions for that file that the web server doesn't like), or something pushing over the PHP memory limit.

I don't want to "pass the blame" but this does seem more like an iThemes Security issue, namely because Comet Cache has never had any consistent reports of 500 errors that I

[2016-05-09 13:26] MarioKnight commented on #757
@KTS915 I apparently forgot to thank you for the code, so thank you for that as well as your recommendations.  =)

@raamdev I agree, my initial post here was mostly a copy and paste from my submission to them as I was in a rush.  I was moreso hoping for the very slim chance that something could be identified here and potentially make some sort of fix that they cannot.  It's been crazy trying to ge

[2016-05-09 13:26] #757 closed, assigned to nobody

[2016-05-09 19:17] raamdev commented on #757
Thanks for the update and for closing this, @MarioKnight. :-) I also wanted to say +1 for Wordfence. They seem like a great company who stays on top of things, which is exactly what you'd want to see from a security-focused business.

[2016-05-10 10:44] jaswrks commented on #756
Sounds fine to me. However, I wouldn't put the filter in `autoClearUserCache()`.

I would put it [here](https://github.com/websharks/comet-cache-pro/blob/160417/src/includes/traits/Ac/PostloadUtils.php#L157); i.e., after that line...

[code]

Used in the following way...

[code]

[2016-05-10 10:56] jaswrks commented on #608
I agree that we should support aliased domains in CC. This is going to be something that needs to lay on top of (and/or together with) the existing functionality in CC that covers multisite domain mapping, because in the use case you mentioned with WPML we are talking about each individual site (whether it be in a network or not) being accessible over multiple domain variations.

So yeah, we would

[2016-05-10 16:39] KTS915 commented on #756
This sounds really good. Unfortunately, in my testing, I can't get it to work. View Page Source shows that the cache is being rebuilt after logging in. Am I missing something?

[2016-05-10 17:31] VR51 commented on #608
A suggestion to speed this up a little bit. A temp. fix would be to add a 'Delete Cache Directory' button to the Comet Cache menu when aliased domains are in use. This way affected users won't need to manually delete the cache directory via FTP.

[2016-05-10 17:38] raamdev commented on #740
Next Release Changelog:
- **Bug Fix**: When the PHP OPCache extension is active, the OPCache is now cleared when a WordPress plugin is upgraded, activated, or deactivated. This works around an issue that could produce a fatal error when the PHP OPCache contains cached PHP code that conflicts with new PHP code introduced by an update. See [Issue #740](https://github.com/websharks/comet-cache/issues

[2016-05-10 17:38] #740 closed, assigned to raamdev

[2016-05-10 18:44] raamdev commented on #690
Noting that [the existing code that disables the admin bar](https://github.com/websharks/comet-cache-pro/blob/160227/src/includes/classes/Plugin.php#L535) only checks if `$this->options['when_logged_in'] === '1'`, even though `1` is no longer an option (that option was hidden a while back when decided to stop offering the option to enable user caching but not maintain a separate cache; see [these

[2016-05-11 16:58] raamdev commented on #752
Next Release Changelog:
- **Bug Fix**: Fixed a bug that, in some scenarios, resulted in "PHP Fatal error: Undefined class constant 'CACHE_PATH_NO_PATH_INDEX'". This also affected the Cache Statistics feature, resulting in a blank panel when hovering over the Cache Stats button in the menu bar. See [Issue #752](https://github.com/websharks/comet-cache/issues/752).

[2016-05-11 16:58] #752 closed, assigned to nobody

[2016-05-11 17:27] gwfc opened #760 "Cache Stats not working on subsites or Multisite network"
Hey folks,

See here http://screencast.com/t/EywzSYzwf65b

Since the last update, the cache stats never load FYI.

In case it matters, I have comet cache on a multisite.

Please let me know how to fix.

:)

https://wordpress.org/plugins/comet-cache/

[2016-05-11 17:41] raamdev commented on #760
@gwfc Thank you for the report. This bug has been fixed (see https://github.com/websharks/comet-cache/issues/752) and will go out with the next release (occurring within the next week or so).

_Note: If you're interested in testing a beta release of Comet Cache before the next version comes out, please sign-up to be a beta tester [here](http://cometcache.com/beta-testers/) or see **Comet Cache → P

[2016-05-11 17:41] #760 closed, assigned to nobody

[2016-05-11 17:58] raamdev commented on #703
Reviewed all instances of `trim()`, `rtrim()` and `ltrim()`; not seeing anything that needs to be changed.

[2016-05-11 18:13] raamdev commented on #703
@jaswsinc writes in https://github.com/websharks/comet-cache/issues/703#issuecomment-192048622...

I reviewed occurrences of `str_ireplace()` and `substr_replace()` in the codebase and none seemed to require Multibyte replacements.

I think the work to add support for multibyte strings is complete except for the analysis of any other areas where we might need polyfills. Would you mind taking a loo

[2016-05-11 18:56] raamdev opened #761 "Logged-In User Caching does not generate cache files"
_Tested with Comet Cache Pro v160417._
## Steps to reproduce
1. Install Comet Cache Pro v160417, activate, enable, and turn on Logged-In User Caching
2. Visit the front-end of the site as a logged-in user and browse to several pages to generate some user-specific cache files
## Expected behavior

The HTML Notes in the source of each page should indicate that the page is cached, and when viewing th

[2016-05-11 19:28] raamdev commented on #756
@KTS915 I discovered a bug that appears to affect all Logged-In User Caching and is probably why the above is not working for you; see https://github.com/websharks/comet-cache/issues/761.

[2016-05-11 19:32] raamdev commented on #476
Referencing draft for related KB Article: https://github.com/websharks/comet-cache-kb/issues/105

[2016-05-11 21:06] benoitchantre commented on #758
@raamdev For information, the host said the connexion with mysql is closed after 30 seconds when it doesn't receive any request. If I want to remove the warnings, I can either ping the server frequently or to test if the connexion still exist and if not to reconnect. I think it will be patched in WordPress.

[2016-05-11 21:09] raamdev commented on #758
@benoitchantre Great! Thank you for the update. I'll go ahead and close this issue here then since this doesn't appear to be specific to Comet Cache. :-)

[2016-05-11 21:09] #758 closed, assigned to nobody

[2016-05-11 21:28] KTS915 commented on #756
@raamdev Thanks! Well found!

[2016-05-11 21:28] raamdev commented on #761
I was able to track this issue down to the theme I was using (my own Independent Publisher theme), which calls [`set_user_setting()`](https://developer.wordpress.org/reference/functions/set_user_setting) in the setup routine attached to `after_setup_theme`. (It does this to set max width of full screen visual editor to match content width.) As a result, on every page load Comet Cache was detecting

[2016-05-11 21:28] #761 closed, assigned to nobody

[2016-05-11 21:34] KTS915 commented on #756
@raamdev I see you've decided that's not a bug on #761. Well, I've now taken a look at what happens on my test site, and I can see that logging OUT causes the cache files to be cleared. So that appears to be why the filter is not working for me.

What I don't know yet is whether that's a bug in Comet Cache or an issue caused by something else on my test site. I'll try running some tests this eveni

[2016-05-11 21:39] raamdev commented on #756
Ha, yes, I just saw the same thing on my own test site while trying to test the filter above. That said, the filter still isn't working because I tried creating a user cache and then just returning to the login page (_without_ logging out first) and logging back in results in the cache being cleared.

I'm thinking it might have something to do with the conditional in that filter. Still testing.

[2016-05-11 22:18] raamdev commented on #756
@jaswsinc Putting the filter only in `maybeInvalidateWhenLoggedInPostload()` doesn't fix the issue here because [`autoClearUserCacheA2()` is attached to `updated_user_meta`](https://github.com/websharks/comet-cache-pro/blob/160417/src/includes/classes/Plugin.php#L560), which gets fired when logging in and causes the user cache to get cleared after login.

If we put the filter in `autoClearUserCach

[2016-05-12 00:03] KTS915 commented on #756
@raamdev, @jaswsinc: Raam's code might well make the filter work as expected, but I still find that logging out clears the cache, which certainly should not be happening.

[2016-05-12 01:39] jaswrks commented on #690
Yes, I can confirm that is a bug. I'd change it to look for any non-empty value like this:

[code]

[2016-05-12 10:25] jaswrks commented on #756
@raamdev writes...

I totally forgot about that. Makes sense.

Ah yes. The `login` action is the default action. That makes sense also.

---

Here's an attempt at improving this a bit further; based on your work.

[code]

---

Copy that. Sorry for any confusion here. These hacks won't work as expected yet, because some of the filters they attach to don't actually exist in the official copy just ye

[2016-05-12 10:43] jaswrks opened #762 "Update WP PHP RV Dependency"
There have been two new releases of the WP PHP RV module.
https://github.com/websharks/wp-php-rv/releases

We can update Comet Cache to v160504 here:
https://github.com/websharks/comet-cache-pro/blob/160417/composer.json#L33

---

_**WPSC Note:** The upcoming release of the WPSC will attempt to take advantage of the newer features in the latest release of WP PHP RV. If those are not available the

[2016-05-12 10:45] jaswrks commented on #762
@renzms This is one that could tackle if you'd like, and then submit a PR. We just need to bump the version defined here to the latest release of WP PHP RV and let Raam review.

See: https://github.com/websharks/comet-cache-pro/blob/160417/composer.json#L33

[2016-05-12 11:54] raamdev commented on #753
@magnoliaman I just installed the latest version of Contact Form 7 (v4.4.2) and Comet Cache (v160417), on a test site running WordPress v4.5.2 and the TwentyFifteen theme.

I created a Contact Form with the `[recaptcha]` placeholder to enable the captcha, placed it on a test page, and then logged out and viewed the page. It showed up as expected (and Comet Cache reported in the HTML Notes that it

[2016-05-12 12:29] raamdev opened #763 "Improve fatal error handling for known scenarios"
If Comet Cache encounters a scenario where it cannot work as expected, it should always fail in a way that doesn't break the site, whenever possible. For example, as of v160417 if there are permissions issues that prevent cache locking from working as expected, a fatal error is produced:

That fatal error breaks the front-end of the site, which is entirely unnecessary (the proper result should be

[2016-05-12 13:16] jaswrks opened #764 "`.htaccess` Tweaks: Automatic GZIP Compression"
## Next Actions
- **1.** New file in [this directory](https://github.com/websharks/comet-cache-pro/tree/160417/src/includes/templates/htaccess) with the name: `gzip-enable.txt`

  **Note:** This requires Apache v2.1+

[code]

  Referencing: [WUBS config file](https://github.com/websharks/ubuntu-bootstrap/blob/160501/src/apache/.conf#L65-L81).

---
- **2.** After [this line](https://github.com/webs

[2016-05-12 13:25] jaswrks opened #765 "`.htaccess` Tweaks: Leverage Browser Caching"
## Next Actions (referencing https://github.com/websharks/comet-cache/issues/134)
- **1.** New file in [this directory](https://github.com/websharks/comet-cache-pro/tree/160417/src/includes/templates/htaccess) with the name: `client-side-cache-enable.txt`

  **Note:** This requires Apache v2.1+

[code]

  Referencing: [WUBS config file](https://github.com/websharks/ubuntu-bootstrap/blob/160501/src

[2016-05-12 13:46] jaswrks commented on #754
## Next Actions
- Before [this line](https://github.com/websharks/comet-cache-pro/blob/160417/src/includes/classes/Plugin.php#L365) add the following:

[code]
- Before [this line](https://github.com/websharks/comet-cache-pro/blob/160417/src/includes/traits/Plugin/InstallUtils.php#L312) add the following:

[code]
- Before [this block of code](https://github.com/websharks/comet-cache-pro/blob/160417

[2016-05-12 14:31] jaswrks commented on #728
## Next Actions
- Change [this line](https://github.com/websharks/comet-cache-pro/blob/160417/src/includes/traits/Shared/TokenUtils.php#L41) to the following:

[code]
- Same thing on [this line](https://github.com/websharks/comet-cache-pro/blob/160417/src/includes/traits/Shared/TokenUtils.php#L46).
- Same thing on [this line](https://github.com/websharks/comet-cache-pro/blob/160417/src/includes/tr

[2016-05-12 14:40] jaswrks commented on #764
Noting that the UI panel should be titled, **Apache Optimization**. See: https://github.com/websharks/comet-cache/issues/554#issuecomment-150065142

[2016-05-12 14:40] jaswrks commented on #765
Noting that the UI panel should be titled, **Apache Optimization**. See: https://github.com/websharks/comet-cache/issues/554#issuecomment-150065142

[2016-05-12 14:46] KTS915 commented on #756
@jaswsinc: I understand that these filters aren't yet in the published copy of Comet Cache. My point was that I have inserted them in what I think are the right places, and then used first Raam's and then your code as an mu-plugin, but the cache is still clearing when I logout.

[2016-05-12 14:48] raamdev commented on #756
@KTS915 writes...

It did not clear when logging out during my tests in a clean environment. Are you testing with no other plugins enabled and with the default Twenty Fifteen theme active?

[2016-05-12 14:49] raamdev commented on #756
@KTS915 Also, Jason has a bug in his original code; see https://github.com/websharks/comet-cache-pro/pull/247#issuecomment-218731790

[2016-05-12 14:49] KTS915 commented on #756
@raamdev: No, I'm not. If it's working for you, then I'll do precisely that and see what I find. Thanks.

[2016-05-12 14:54] jaswrks commented on #554
## Next Actions
- **1.** New file in [this directory](https://github.com/websharks/comet-cache-pro/tree/160417/src/includes/templates/htaccess) with the name: `permalink-structure-ts-enable.txt`

  **Note:** This requires Apache v2.1+

[code]
- **2.** New file in [this directory](https://github.com/websharks/comet-cache-pro/tree/160417/src/includes/templates/htaccess) with the name: `permalink-str

[2016-05-12 15:08] KTS915 commented on #756
@raamdev: I have now tried running just Comet Cache Pro with just the 2015 theme, and the cache still clears on logging out.

I have just remembered, though, that I have some mu-plugins, so I'll try it with them commented out too. But that will have to wait till this evening, I'm afraid!

[2016-05-12 16:07] raamdev opened #766 "Nginx Optimization"
It would be nice to have a panel for **Nginx Optimization** that provides Apache-equivalents for the `.htaccess` tweaks provided in the upcoming Apache Optimization panel.

Since we can't auto-insert things into the Nginx configuration files, this should simply be a list of configuration samples organized by type of optimization (GZIP, Leverage Browser Caching, etc.).

This panel should always be

[2016-05-12 16:11] raamdev commented on #756
@KTS915 Did you see my earlier comment about Jason's original code having a bug in it?

[2016-05-12 20:11] raamdev commented on #756
@jaswsinc This line in your updated filter example isn't used for anything; was it meant to be?

[code]

I just tested that filter with the Comet Cache Pro `feature/756` branch after [the last two commits I pushed](https://github.com/websharks/comet-cache-pro/pull/247#commits-pushed-abeec75) and it's working as expected: The user cache does not get cleared upon login or logout. However, if I do so

[2016-05-12 20:13] raamdev commented on #762
Closed by https://github.com/websharks/comet-cache-pro/issues/249.

[2016-05-12 20:13] #762 closed, assigned to nobody

[2016-05-12 20:33] raamdev commented on #528
@jaswsinc This is another one related to HTML Notes that could be fleshed out a bit more.

[2016-05-12 22:27] KTS915 commented on #756
@raamdev writes:

Yes, I did, thanks. Unfortunately, now I've got back to this and eliminated the mu-plugins too, I still find that the cache is being cleared when I log out.

I'm going to try a different test site in case something is remaining operative from a theme or plugin that is nominally deactivated.

[2016-05-12 22:32] raamdev commented on #756
@KTS915 Can you also let me know the exact steps you're using to test this, including where you're logging in (`wp-login.php`?) and how you're logging out ('Logout' link from the Admin Bar in the Dashboard?).

[2016-05-12 22:43] KTS915 commented on #756
@raamdev With the 2015 theme set and all plugins turned off other than Comet Cache Pro, I am using the regular wp-login.php to login, and then browsing several regular posts. I can see that a cache is being built with files called 148.html (with 148 being the user ID). I am then logging out using the logout link in the adminbar. Immediately, I can see that the 148.html files are cleared.

I have j

[2016-05-12 22:46] raamdev commented on #756
@KTS915 Ah, that very well may be the issue. I had specifically turned off the admin bar for the user I was testing with so that I would avoid the `nonce` issue and allow the pages to be cached, and was then manually visiting `/wp-admin/` to access the logout link.

Let me run a few more tests with `COMET_CACHE_CACHE_NONCE_VALUES_WHEN_LOGGED_IN`.

[2016-05-12 22:50] raamdev commented on #756
@KTS915 I just did another test, this time with `define('COMET_CACHE_CACHE_NONCE_VALUES_WHEN_LOGGED_IN', TRUE);` set in `wp-config.php`. I re-enabled the toolbar for the user I was testing with and confirmed that Comet Cache cached pages with the `nonce` values. I then logged out and confirmed the cache files _did not_ get cleared. I logged back in, and once again confirmed that the cache files _d

[2016-05-12 22:54] KTS915 commented on #756
@raamdev I'll take a look.

[2016-05-12 22:58] KTS915 commented on #756
@raamdev Yes, I have the filters (spelled correctly) in the right places in both files.

Might it make a difference that I am running PHP7?

[2016-05-13 01:35] jaswrks commented on #554
Noting that we also need to set `RewriteBase` dynamically (i.e., it's not always `RewriteBase /`) before applying the above snippets. See examples here of how WP core handles this itself: https://github.com/WordPress/WordPress/search?utf8=%E2%9C%93&q=rewritebase

[2016-05-13 01:58] KTS915 commented on #756
@raamdev I just tried testing the filters and mu-plugin on a live server instead of localhost, and it apparently made no difference. Then I looked a little closer.

In fact, on the site on the live server, there seem to be two distinct pattens of behavior. This site, just like the first localhost site, has Comet Cache set to cache GET requests. This enables posts to be cached when they are reached

[2016-05-13 02:12] KTS915 commented on #756
@raamdev Hmm, I think my interpretation of what was happening on the live server was wrong. I think it was just a latency issue, so it took longer for the changes to show in some cases rather than others. All the caches were still being cleared on logout. Sorry!

[2016-05-13 02:55] jaswrks commented on #754
It's also worth noting that URI Exclusion patterns that already exist in Comet Cache can be used to exclude certain child sites if the network uses sub-directories instead of sub-domains.

A MS Network installation can be configured in one of two ways:
- main.com`/child-blog/`
- `child-blog`.main.com

## Via URI Exclusion

[code]

## Via Host Exclusion (Coming Soon)

[code]

[2016-05-13 07:33] renzms opened #767 "Feature Request: Ability to control visibility of Clear Cache options based on Role / Capability"
It would be nice to be able to choose which options would be available for other user roles when allowing others roles to clear the cache from their Admin Bar.

This way you could limit the use of the main `Clear Cache` button, and provide other roles specific options to clear the cache:
- Home Page Only
- Current URL
- Specific URL

---

Referencing Internal Ticket : https://websharks.zendesk.com

[2016-05-13 22:27] raamdev commented on #690
Next Release Changelog:
- **Enhancement** (Pro): It's now possible to disable the WordPress Admin Toolbar when Logged-In User Caching is enabled with a new option in _Comet Cache → Plugin Options → Logged-In Users → Disable the Admin Toolbar for Logged-In Users & Comment Authors?_ Props @renzms and @KTS915. See [Issue #690](https://github.com/websharks/comet-cache/issues/690).

[2016-05-13 22:36] raamdev commented on #756
@KTS915 writes...

Nope, I've been running all of my tests so far on PHP7.

I tested with GET Request caching enabled—no change; the filter works as expected and the user cache does not get cleared when logged in or out.

---

I'm really not sure what else to suggest testing. Everything seems to be working just fine for me. I'm hoping to publish an Release Candidate shortly, so maybe you can try t

[2016-05-13 23:26] raamdev commented on #756
Next Release Changelog:
- **Enhancement** (Pro): A new filter allows overriding the default behavior to clear the user cache upon login and logout when caching for Logged-In Users is enabled. See [this article](https://cometcache.com/r/kb-article-how-can-i-prevent-the-user-cache-from-being-cleared-upon-login-or-logout/) for details. Props @KTS915. See [Issue #756](https://github.com/websharks/come

[2016-05-13 23:26] #756 closed, assigned to renzms

[2016-05-13 23:32] raamdev commented on #767
<del>This is a duplicate. We have two GitHub issues already open that cover this: https://github.com/websharks/comet-cache/issues/713 and https://github.com/websharks/comet-cache/issues/627</del>

While this very closely related to https://github.com/websharks/comet-cache/issues/713, I'm going to leave this open as a separate issue, since it specifically addresses controlling access to specific Cl

[2016-05-13 23:32] raamdev commented on #627
Related: https://github.com/websharks/comet-cache/issues/767

[2016-05-13 23:36] raamdev commented on #713
Closely related to https://github.com/websharks/comet-cache/issues/767

[2016-05-14 00:12] raamdev commented on #756
@KTS915 Release Candidate is available for testing here: https://cometcache.com/blog/comet-cache-v160514-rc-release-candidate/

[2016-05-14 02:03] KTS915 commented on #756
@raamdev Thanks! I'll give it a whirl.

[2016-05-14 02:25] KTS915 commented on #756
@raamdev That RC is behaving oddly. It disabled my adminbar completely, even though I was logging in as an admin and would never want it disabled for me. So I found the setting, which was apparently enabled by default, to leave the adminbar on. But when I saved that option, it sent the whole Comet Cache Options page haywire. Suddenly it was all monotone, with no drop-down boxes.

I think there mus

[2016-05-14 03:02] jaswrks commented on #765
Noting that I changed my mind about the default value for this option. Raam is here to make the final call, but my suggestion would be to leave this (and other `.htaccess` options like it) off by default. That way we are not writing to the `.htaccess` file without the site owner knowing about it. Currently, these changes are not absolutely required for effective caching. They are highly recommende

[2016-05-14 17:33] raamdev opened #768 "Improve Logged-In Users panel"
When Logged-In Users caching is disabled (the default), everything else in that panel (other than the option to enable Logged-In Users caching) should be greyed out, as none of the other options are applicable unless Logged-In Users caching is enabled. (This should work the same way the HTML Compressor panel works.)

![2016-05-14_13-30-34](https://cloud.githubusercontent.com/assets/53005/15269780/

[2016-05-14 17:47] raamdev commented on #765
I agree 100%. I'd rather not write to the `.htaccess` without the site owner knowing that's what's happening.

[2016-05-14 18:00] raamdev opened #769 "v160514-RC: Admin Toolbar disabled on front-end for Admin Users"
_This GitHub issue started with the title **Admin Toolbar disabled on front-end for Admin Users** to discuss whether or not the Admin Toolbar should be disabled for Administrators on the front-end, however the discussion [forked](https://github.com/websharks/comet-cache/issues/769#issuecomment-219267050) into one about Nonce caching and whether or not we should allow Nonce's to be cached._

_It wa

[2016-05-14 18:00] raamdev commented on #756
@KTS915 I think you have a corrupted download. I just downloaded the v160514-RC zip and unzipped it; here's what's inside:

[code]

I'm not able to reproduce that at all. I've tested the RC on several sites now and it's working as expected.

Hmm, yep, that's actually intentional, but I can see how it might be unwanted. I've opened another GitHub issue to discuss this and I'd love your feedback her

[2016-05-14 18:46] KTS915 commented on #756
@raamdev I have tried downloading this twice yesterday, and now again today, and I still get the same results.

I'm using Linux Mint 17.3. Trying to extract the comet-cache-pro folder manually from the zip file results in this error message: "An error occurred while extracting files." (I have no such problems with previous versions of Comet Cache Pro.) But installing via zip works.

On the other h

[2016-05-14 18:50] raamdev commented on #756
@KTS915 The ZIP file for the latest RC release was built exactly the same way as it has been for previous releases. I've also tested unzipping it (using the `unzip` utility on my Mac: `UnZip 5.52 of 28 February 2005, by Info-ZIP.  Maintained by C. Spieler.`) and I have no problem. I also just tested unzipping using the `unzip` utility on Linux CentOS 6 (`UnZip 6.00 of 20 April 2009, by Info-ZIP.

[2016-05-14 18:59] KTS915 commented on #769
@raamdev My first preference is that this just shouldn't be handled by Comet Cache at all. It seems to me that this is an issue that goes to heart of different user roles, and that is something that is beyond the scope of a caching plugin.

If it were to be included in a WebSharks plugin, then I'd have thought that s2Member would be more appropriate. But I'm doubtful even then. There's a very good

[2016-05-14 19:02] KTS915 commented on #756
@raamdev Yes, I have now compared the zips from past releases with this one, and I see that the strange (to me) 0b folder called . was there too. So that's not the issue. And I have said throughout that unzipping works.

What doesn't work for me is manually extracting the comet-cache-pro folder, i.e. dragging and dropping it into another folder. That's when I get the error message: "An error occur

[2016-05-14 19:52] raamdev commented on #769
The problem with not including the ability to disable the toolbar is that the Logged-In Users caching feature becomes useless, unless you install another plugin (that can disable the toolbar bar) or unless you manually disable the toolbar on each of your users profiles.

So while I'm all for keeping unrelated functionality out of Comet Cache, my feeling is that if we're going to support Logged-In

[2016-05-14 20:01] KTS915 commented on #769
@raamdev I see. Yes, that is a problem.

Another suggestion, then, for you and @jaswsinc perhaps to consider, is keeping this as it is, but defaulting to leaving the adminbar enabled. You could then add an explanatory message as to why the setting might need to be changed to disable the adminbar.

As it is, if someone, like me, already has something already activated to deal with this, then it com

[2016-05-14 20:05] raamdev commented on #769
@KTS915 I agree. If defaulting the Admin Bar to disabled in Comet Cache is conflicting with other plugins like Clean Login, then I would rather err on the safe side and leave it enabled, with a new message that appears in the HTML Notes when User Caching is enabled but an Admin Bar is preventing it from being cached.

[2016-05-15 05:20] jaswrks commented on #769
I was just giving Nonce ticks some more thought. I also reviewed [this article](https://cometcache.com/kb-article/what-are-wordpress-nonces-and-why-are-they-not-cache-compatible/) again, because the article came about as a result of our last conversation about Nonces and caching in WordPress.

It seems to me that this part of the article is at the heart of what this issue addresses, because the re

[2016-05-15 05:28] jaswrks commented on #769
... thoughts continued ...

If we go that route, we should also do another full security review of the Comet Cache plugin and the architecture behind user-specific caching in general. From a security standpoint, I don't _like_ putting Nonce values into a cache file and storing them. However, this is a case where it does seem more practical for us to do that. So if we do decide to take this approac

[2016-05-15 14:10] KTS915 commented on #769
@jaswsinc If that would mean, as I think it would, that user-specific cache files could not be older than 12 hours, then I'd find that very disappointing. I have sites where members will revisit posts regularly over several months. The posts don't change at all over that time unless a comment is made, in which case the cache would be flushed automatically anyway.

The way that caching of posts wit

[2016-05-15 14:44] jaswrks commented on #769
I see. Hmm, well one thing we could do, if that route becomes something Raam wants to explore, is to enforce that 12-hour maximum only on cache files that are known to contain Nonce values. That way it won't impact user-specific caching in such a broad way.

The unfortunate circumstance is that any cache file that contains an Nonce _must_ either: a) not be cached to begin with; or b) expire after

[2016-05-15 15:25] KTS915 commented on #769
I am not sure that would help much because if a site has a logout link on every post and page (as mine does) then there will also be a nonce there.

Thanks for posting to the article. But what I don't understand from that is why it matters if a nonce is cached in a cache created for that specific user. That means, after all, that there's no chance of getting users mixed up.

[2016-05-15 18:20] kristineds commented on #751
@jaswsinc Does this mean I won't be working on submitting a Comet Cache PR for this? :)

[2016-05-16 15:28] patdumond opened #770 "v160514-RC: Comet Cache Not Caching Logged-In Users Due to _wpnonce ..."
Trying to test clearing the cache for Logged-In Users when logging out, but Comet Cache is not caching logged-in users on either of my test sites even with the Admin Bar disabled. Both sites are reporting the following:

[code]

My WebSharks test site has other plugins on it (not Akismet though), but on my personal test site I have disabled all plugins except Comet Cache and s2Member (There's only

[2016-05-16 15:47] raamdev commented on #770
@patdumond If your site includes a widget that includes a Logout link, the logout link will include a `nonce` value, which will prevent Comet Cache from caching the page. When you do View Source on your page, simply do a search for "nonce" and you'll find the part of the source code that contains the `nonce` value; that will tell you which thing on your site is preventing Comet Cache from caching

[2016-05-16 15:47] #770 closed, assigned to nobody

[2016-05-16 22:54] jaswrks commented on #756
Ah.. good catch. That's a minor bug in my code. It _should_ be used, like this:

[code]

[2016-05-16 22:54] raamdev commented on #769
I agree this needs some more thought. If we can cache Nonce values safely, that sounds like the best route.

We're in the middle of a Release Candidate, so I'd rather not try to change things too drastically at this point.

**Here's what I'm going to do to get the next release out:** I'm going to change the default for this new setting so that it doesn't touch the Admin Toolbar by default. If a si

[2016-05-16 23:07] jaswrks commented on #756
@KTS915 writes...

@raamdev writes...

---

I haven't been able to reproduce this yet either.

[2016-05-16 23:21] raamdev commented on #690
Noting that the default behavior of this new option was changed during the RC period for this release. The default is now to leave the Admin Bar untouched, i.e., not disable the Admin Bar by default when Logged-In Users caching is enabled. See https://github.com/websharks/comet-cache-pro/commit/e0994236b6d2a44d6330ed378aeffcd19adb537c.

@raamdev writes in https://github.com/websharks/comet-cache/i

[2016-05-16 23:21] #690 closed, assigned to renzms

[2016-05-17 00:00] raamdev commented on #768
Noting that this is complicated by the `when_logged_in` option having one of three possible values: `0`, `1`, and `postload`. (The ability to choose the value of `1` was dropped a long time ago and only exists for backwards-compatibility.) [The JavaScript](https://github.com/websharks/comet-cache-pro/blob/160417/src/client-s/js/menu-pages.js#L78) that is used by the HTML Compressor panel to fade o

[2016-05-17 14:34] raamdev commented on #756
@KTS915 FYI, we've had three more people test the filter in v160514-RC and confirm that it is working as expected, preventing Comet Cache from auto-clearing the user cache when Logged-In Users caching was being used.

[2016-05-17 14:49] jaswrks commented on #768
### Working Around This Issue
- In [the select tag](https://github.com/websharks/comet-cache-pro/blob/160417/src/includes/classes/MenuPageOptions.php#L597) add `data-enabled-strings="1,postload"`
- Replace [these lines](https://github.com/websharks/comet-cache-pro/blob/160417/src/client-s/js/menu-pages.js#L74-L78) with the following:

[code]

[2016-05-17 15:05] jaswrks commented on #751
@kristineds You can still give this a shot if you'd like. You can start by filling the repo for the WRegx project and then adding a `composer.json` file. I'm creating a repo here: https://github.com/websharks/wregx

You can use the `wregx_convert()` function I posted here.
https://github.com/websharks/team/issues/60

[2016-05-17 15:12] jaswrks commented on #627
Noting these [five filters](https://github.com/websharks/comet-cache-pro/blob/160417/src/includes/classes/Plugin.php#L463-L469) that exist in the `Plugin` class.

[2016-05-17 15:13] jaswrks commented on #767
Noting [these five filters](https://github.com/websharks/comet-cache-pro/blob/160417/src/includes/classes/Plugin.php#L463-L469) that also impact the admin bar.

[2016-05-17 17:14] raamdev commented on #768
@jaswsinc Thanks! :-)

You have a couple of bugs in that outline:
- "Replace these lines with the following"; doing that breaks the rest of the JavaScript below that section because [these lines](https://github.com/websharks/comet-cache-pro/blob/160417/src/client-s/js/menu-pages.js#L80-L89) are part of the previous `var` statement.
- The outline does not completely solve the problem, because [this

[2016-05-17 18:11] renzms commented on #768
@raamdev

Hi Raam, are there things that need to be addressed first before I start working on this?

[2016-05-17 18:31] jaswrks commented on #768
Copy. I missed that, sorry :-)

We could alter the select so that it includes an explicit attempt to include the enable/disable functionality on a given `<select>` tag. So for instance, we can change [this line](https://github.com/websharks/comet-cache-pro/blob/160417/src/client-s/js/menu-pages.js#L25) to the following:

[code]

and then on the `<select>` tag add the following attributes [here](ht

[2016-05-17 18:38] raamdev commented on #768
@renzms writes...

I've assigned this to myself and already submitted a PR, so I'll take care of this one. :-)

[2016-05-17 18:48] raamdev commented on #768
@jaswsinc writes...

Ah, brilliant! Nice. I'm loving those data attributes.

Your suggestions above (see https://github.com/websharks/comet-cache-pro/commit/93d37f7d0c2cb6148759e93ba386408fd63ad2ed) fixed the issue and now toggle works as expected. Woohoo! Thanks. :-)

[2016-05-17 18:52] jaswrks commented on #768
Awesome :-) One last thing I just noticed is that we might need to include `2` here also. Not sure about that, but I'm guessing you will know more since you're working closely with that at the moment.

I'm thinking maybe:

[code]

[2016-05-17 18:59] raamdev commented on #768
No, the possible values for `when_logged_in` are `0|1|postload`; see [this line](https://github.com/websharks/comet-cache-pro/blob/160417/src/includes/classes/Plugin.php#L356).

[2016-05-17 19:00] jaswrks commented on #768
Ah, OK.

[2016-05-17 19:31] jaswrks commented on #756
@raamdev @KTS915 I tested [this version](https://github.com/websharks/comet-cache/issues/756#issuecomment-219572507) against the latest RC and it's working as expected. Nice!

[2016-05-17 19:51] jaswrks commented on #703
Outstanding! I just reviewed the changes that you introduced and those all look great to me. In particular, I think that [this line](https://github.com/websharks/comet-cache-pro/pull/225/files#diff-eefc7d67c4b583b13d432c9dd467d40fR205) is going to be a _very_ important fix that will prevent corruption of the `wp-config.php` file in certain cases where it contains UTF-8 chars. I've seen that report

[2016-05-17 20:02] jaswrks commented on #763
Agree 👍  ~ We should probably have a Shared Trait that is specifically designed to handle what would ordinarily be a fatal error or exception when running in `WP_DEBUG` mode, but instead fail in a more graceful way as you noted. Something like `maybeThrow($Exception, $notice)`.

Then, we'll need to be sure that code which calls upon this can `return;` instead of depending on `throw new Exception()

[2016-05-17 20:04] jaswrks commented on #769
Sounds like a plan. Thanks for reviewing.

[2016-05-17 20:45] benoitchantre commented on #758
There's now a [ticket on trac](https://core.trac.wordpress.org/ticket/36869).

[2016-05-17 20:50] jaswrks commented on #758
@benoitchantre I have seen that same sort of behavior myself in rare instances where some other plugin delays reading/writing to an open MySQL connection. In those cases, I had my hosting company resolve the problem by adjusting the MySQL `wait_timeout` config option. See: http://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_wait_timeout

[2016-05-17 20:50] KTS915 commented on #756
@raamdev @jaswsinc The problem I'm having must be specific to my sites, then -- and, it seems, not an issue with WP so much as with the servers. I am slowly working through everything I can think of!

Thanks very much to you both!

[2016-05-17 20:57] jaswrks commented on #758
Note that `wait_timeout` impacts the following
scenario that can occur all in a single process lifecycle.
- WordPress loads initially.
- WordPress connects to MySQL initially w/o issue.
- Another plugin runs and does something that takes X number of seconds longer than expected.
- The plugin is done now, and WordPress continues doing it's thing.
- WordPress, now able to continue, attempts to perfo

[2016-05-17 21:16] benoitchantre commented on #758
@jaswsinc Thanks for the details about this issue.
I have added `@ini_set('mysql.connect_timeout', 300);` to my wp-config.php to see if the warnings disappear. The default timeout set by the host is 30 seconds.

[2016-05-17 21:24] jaswrks commented on #758
Copy that. I hope that resolves the problem for you.

However, my feeling is that it won't, because the error that you reported was, "_MySQL server has gone away_". That specific error is an indication that the connection succeeded, but then MySQL went away; i.e., broke the connection due to `wait_timeout`. Altering `connect_timeout` is not likely to resolve this, because if connections were faili

[2016-05-17 21:29] jaswrks commented on #758
The combination of things that you've reported confirms my suspicion that this is due to MySQL `wait_timeout`. However, since you also pinpointed Comet Cache as a factor that impacts this behavior, that suggests that Comet Cache is the plugin taking longer than expected in the [lifecycle I mentioned previously](https://github.com/websharks/comet-cache/issues/758#issuecomment-219851485).

For that

[2016-05-17 21:36] jaswrks commented on #758
Also, the HTML Compressor can cause this too, as it takes much longer to run than Comet Cache running on it's own. If you currently have the HTML Compressor running, try turning that off and see if it makes any difference. If you currently have the HTML Compressor running and you're seeing "MySQL server has gone away", I'd call that the most obvious culprit.

[2016-05-18 02:00] KTS915 commented on #756
@raamdev @jaswsinc Woohoo! I have finally got this working!

The problem seems to have been having mod pagespeed installed on the server. Even ensuring that there was nothing in the .htaccess file about it made no difference. Only when the module was completely uninstalled did everything work as expected.

The bad news is that I only noticed mod pagespeed because I compared the modules on the live

[2016-05-18 04:39] benoitchantre commented on #758
You are right ; my test with `@ini_set('mysql.connect_timeout', 300);` didn't solved the issue.
I have removed it.

The issue is probably not related to slow disk writes :
- the cache directory is set to wp-content/cache/comet-cache (default)
- there's only 550 Mo used 100 Go available
- hard drives have been replaced by SSDs by the host at the end of last year

Here are some values from Query Mon

[2016-05-18 06:14] benoitchantre commented on #758
With Auto-Cache disabled, I have no more warnings.
Now, I'm trying different values for Auto-Cache Delay Timer. With a value of `2000`, I see warnings again.

Maybe the delay timer parameter doesn't work properly: I have tested with a value of `5000`, and when I manually refresh the stats/charts multiple times in 5 seconds, I can see that many news files are cached.

With a value of `10000`, I see

[2016-05-19 13:50] raamdev commented on #769
Relevant changes coming to the Admin Toolbar on the front-end in WP v4.6: https://make.wordpress.org/core/?p=18245

I think this means we'll need to be even more careful if we decide to allow caching the Toolbar.

[2016-05-20 11:52] benoitchantre commented on #758
@raamdev it seems there's a bug with the Auto-Cache Engine.

[2016-05-20 18:29] raamdev commented on #758
@benoitchantre This does not look like a problem with Comet Cache but a problem with your MySQL server configuration.

[code]

That error is related to database communication. The Auto-Cache Engine does not even make database queries—its sole job is to read your XML Sitemap URL and then make HTTP connections to each URL in the sitemap (so that each URL can be cached by Comet Cache).

[2016-05-20 18:50] jaswrks commented on #758
I agree with @raamdev. That looks more like a MySQL load/performance issue. Generally speaking, if you're seeing that error (especially if you think it's somehow associated with the Auto-Cache Engine), then it could be an indication that your MySQL server is working too hard. Or, it could be that you have a rogue plugin making very large database queries; i.e., with very large packets.

#### Some

[2016-05-20 22:44] raamdev commented on #758
As a follow-up to Jason's last point, here's a good article to review: [Testing Comet Cache in a Clean WordPress Installation](https://cometcache.com/kb-article/testing-comet-cache-in-a-clean-wordpress-installation/)

[2016-05-21 00:05] raamdev commented on #752
#### **Comet Cache v160521** has been released and includes changes from this GitHub Issue. See the [v160521 announcement](https://cometcache.com/blog/comet-cache-v160521-now-available/) for further details.

---

This issue will now be locked to further updates. If you have something to add related to this GitHub Issue, please open a new GitHub Issue and reference this one (#752).